[2017-10-28 18:38] dependabot[bot] opened #112 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current Javascript dependencies. It had expected to find one at the path: `/helpers/javascript/package.json`.

If this isn't a Javascript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://dependabot.com).

You can mention @de

[2017-10-28 18:40] hmarr commented on #112
Good point – updated. Thanks @dependabot!

[2017-10-28 18:40] #112 closed

[2017-11-17 14:49] irconan opened #134 "Abstract github specifics to allow support for gitlab, bitbucket, etc"
Would be nice to make the repository provider modular to allow support for other options (eg. gitlab or bitbucket)
I think it shouldn't be too difficult to make a generic "git repo client" class which presents the required features for dependabot-core on all of the above.

[2017-11-17 15:04] greysteil commented on #134
Agreed! If anyone wants to take this on, the best approach would be to go concern by concern:
- I would start with the `MetadataFinders` base class, because this is already close to being provider-agnostic (it just needs to start receiving a credentials hash, rather than a GitHub client, and use that hash when instantiating clients)
- After that, I'd give the same treatment to `GitCommitChecker`
-

[2017-11-20 15:56] irconan commented on #134
As far as I can tell there is a difference between the way `MetadataFinders` interacts with a git repo and all of the other classes since `MetadataFinders` is interacting with the repo of the dependency where the rest are interacting with the repo of the target project.

I am mainly interested in dealing with target projects on gitlab for the time being (but ultimately it's best if everything is a

[2017-11-20 18:54] greysteil commented on #134
Yeah, exactly - `MetadataFinders` have needed to know how to interact with other providers for ages. I've just cleaned them up to not treat GitHub any differently to any other provider, though - https://github.com/dependabot/dependabot-core/commit/801a58210dc8e85e327a14d7aa0e3a9d72c425e4.

[2017-12-05 13:19] tijmenb opened #151 "Pull in changelog for Rails"
The method to show changelogs apparently doesn't work for Rails (example: https://github.com/alphagov/policy-publisher/pull/172). They would be particularly useful there.

[2017-12-05 13:57] greysteil commented on #151
Yeah, I'd really like to do this, but Rails doesn't keep a changelog for the master gem, only for the constituent parts. I might be able to persuade them to start doing GitHub releases, though - which would make things a lot better. Let me try...

[2017-12-05 14:50] tijmenb commented on #151
Have you considered including the changelog of the transitive dependencies as well? If it worked like that, you'd get the changelogs for activemodel, actionview, etc. Could be a generic solution for this particular problem.

[2017-12-05 15:15] greysteil commented on #151
Yeah, we don't add much detail of the sub-dependencies that get updated alongside the main one at the moment, but I'd be quite keen on doing so. The changes required to this repo would be to store the sub-dependencies that change in the `UpdateChecker` and then use those details in the `PullRequestCreator` class. (The alternative would be comparing diffs in the `PullRequestCreator` class to get th

[2017-12-06 21:11] greysteil opened #156 "HELP WANTED! PHP updates misbehaving in containers"
Dependabot has been having trouble updating large PHP repos, and I've been unable to debug it. I'm not an expert on PHP, or on containerisation, and would love your help.

All of the details should be present in [this repo](https://github.com/dependabot/mini-updater), which has instructions on how to replicate. If you can help fix the bug you will have my gratitude forever, as I'm pulling my hair

[2017-12-07 00:35] #156 closed

[2017-12-07 10:57] RoryMacDonald opened #158 "Changelog within PR"
We're running a trial of dependabot on some of the GOV.UK repos at the moment. Would you be open to us creating a PR for `dependabot-core` which pulls the dependancy changes into the PR creator, rather than linking out to the changesets?

It's something that we feel would be a better experience for PR reviewers and also addresses a risk around the changesets being edited in dependant repositories.

[2017-12-07 11:13] greysteil commented on #158
Hey @RoryMacDonald - totally up for that. We think the Dependabot PR text is currently "quite good" but could definitely be better.

One thing to keep in mind (may or may not be relevant here): the `PullRequestCreator` and `MetadataFinder` classes must be safe to run in a non-isolated environment. That means you can't make calls to the `FileFetcher`, `FileParser`, `UpdateChecker` and `FileUpdater`

[2017-12-07 19:20] nesl247 commented on #134
Definitely interested in seeing this as my company is preparing to move to GitLab. Wasn't in the plan when we looked at Dependabot, but it is now.

[2017-12-08 07:24] OskarStark opened #159 "Question about the commit message"
Why do you start the commit message with:
`chore(dependencies): ...`

Is there a specific reason or could you make it configurable?

[2017-12-08 08:13] greysteil commented on #159
We made it semantic after [this issue](https://github.com/dependabot/feedback/issues/50), and I didn't think anyone would feel strongly enough about having it as anything else for it to warrant a setting. Is there a different convention you'd like us to follow?

[2017-12-08 08:24] OskarStark commented on #159
Hey @greysteil , thanks for the feedback!

To be honest I've never heard about it and it looks strange to me and I'm not a big fan of using the git history as a Changelog.

I prefer the name of the commit before you applied this change.

Maybe not a Config of the Prefix, but "Shall use semantic commit messages?" as true/false ?

Anyway, I use Squash merge on github.com and remove the prefix manual

[2017-12-08 08:32] OskarStark opened #160 "Which Mailaddress do you use?"
![screenshot 2017-12-08 09 30 31](https://user-images.githubusercontent.com/995707/33757452-80dea84c-dbfa-11e7-8b08-40045007f845.png)

Which Mailaddress do you use for the commits? Could you associate it which the Bot-Account to get the avatar?

[2017-12-08 09:05] greysteil commented on #159
Awesome, thanks for the feedback. To be honest, I think I prefer the non-semantic version, too.

I'll update Dependabot to read through the last few commits on the branch it's targeting and decide whether to use semantic commits automatically.

[2017-12-08 09:05] OskarStark commented on #159
sounds like a smart idea 👍

[2017-12-08 09:48] greysteil commented on #160
I think this one needs to be fixed on the GitHub side. Would be amazing if you could give the team a prod [here](https://platform.github.community/t/commit-avatars-for-bots/2332) - I've been trying for months...

[2017-12-08 10:51] OskarStark opened #161 "Wrong version"
This is written down in my `composer.json`

`"sensio/framework-extra-bundle": "^3.0.2",`

this means, that everything below `3.1` is allowed. Why do I get a PR like this?
![screenshot 2017-12-08 11 50 45](https://user-images.githubusercontent.com/995707/33762762-0c0af930-dc0e-11e7-8f64-de9cc241bf4c.png)

[2017-12-08 10:51] greysteil commented on #160
Gravatar hack works! All Dependabot PRs will now have the email address `support@dependabot.com` and appear with an avatar. Thanks for the tip @OskarStark.

[2017-12-08 10:51] #160 closed

[2017-12-08 11:01] OskarStark commented on #161
It could create many version PR's ofc, like:

- `3.0.36` -> `3.0.37` (_just an example, don't know yet if this version exists_)
- `3.0.36` -> `4.0.0`
- `3.0.36` -> `5.0.21`

to see if the tests fail or not

[2017-12-08 12:08] greysteil commented on #159
Updated in https://github.com/dependabot/dependabot-core/commit/77bd3b823d740c65d3a89f1e7027a3ca4fbf09e9 which is being deployed on Dependabot now. 🎉

[2017-12-08 12:08] #159 closed

[2017-12-08 12:29] greysteil commented on #161
Here's the thinking on this one:
- Dependabot creates PRs to get you to the latest version that your `composer.json` can resolve to.
- It **doesn't** honour the specified requirements in your `composer.json` for a couple of reasons:
  - people specify constraints in very different ways (some tightly, some loosely), often without thinking through the consequences in great detail. In many cases, the

[2017-12-08 12:29] #161 closed

[2017-12-08 12:30] OskarStark commented on #161
Thank you for the detailed feedback 👍

[2017-12-15 06:33] OskarStark opened #175 "2 dependencies should be updated"
Hey @greysteil

I manually bumped my repo but I got no PR.

locally I got this:
![screenshot 2017-12-15 07 32 06](https://user-images.githubusercontent.com/995707/34029681-138b9b5e-e16a-11e7-88d7-e980995a0d48.png)

Can you please check this?

[2017-12-15 06:35] OskarStark commented on #175
I added my composer.json/.lock as a gist here:

https://gist.github.com/OskarStark/715cd909576b5ce4a2ee2971ee196f53

[2017-12-15 08:29] greysteil commented on #175
Thanks @OskarStark. Can you let me know the name of your repo, so I can take a look at Dependabot's logs? If you don't want to put it here then you can ping me on support@dependabot.com.

[2017-12-15 08:51] OskarStark commented on #175
its called `OskarStark/acd`

[2017-12-15 09:26] greysteil commented on #175
OK, I can replicate. Digging into this now. Thanks for the report!

[2017-12-15 09:28] OskarStark commented on #175
Thank you for the great support 👍

[2017-12-15 09:45] greysteil commented on #175
Fixed in https://github.com/dependabot/dependabot-core/commit/77406d5d220ce7c61c7d68d1bacb8b8fadf59277, which I'm deploying now. Thanks again for the heads up!

[2017-12-15 09:45] #175 closed

[2017-12-15 10:18] OskarStark commented on #175
Works like a charme, I already got the first PR 😄

[2017-12-15 10:29] greysteil commented on #175
FYI, it looks like the `symfony/phpunit-bridge` issue is actually a separate one, which I'm fixing now.

[2017-12-15 11:12] greysteil commented on #175
And that issue is fixed now too. 🎉

[2017-12-18 07:16] OskarStark opened #178 "you need to take care of semantic versioning"
Hi @greysteil

lets take this picture as base of the conversation:
![screenshot 2017-12-18 07 49 54](https://user-images.githubusercontent.com/995707/34093831-c2b879a0-e3ca-11e7-960b-0918eb3a3a9c.png)

I defined `^2.5` in my `composer.json` to allow the following versions:

2.5.1
...
2.99.99 etc.

I am totally fine by upgrading to `2.5.14` in my `composer.lock` but not by changing the constraint i

[2017-12-18 14:38] greysteil commented on #178
Hey @OskarStark,

Thanks for reporting this - I totally rely on feedback like this to keep making Dependabot better.

I've just pushed [this change](https://github.com/dependabot/dependabot-core/commit/1fb9ff9047d4ac88b30d246682b45460ea1b0a6f) that partly addresses the above - Dependabot will now keep the same digit length. In the case listed above, that would mean Dependabot wouldn't have updated

[2017-12-18 14:50] OskarStark commented on #178
Hey @greysteil glad to hear that feedback from you 👍

ofc I will test it as soon as I can. And yes I want to upgrade from to 2.6 and 2.7 if `^2.5` is specified.
But I don't want to go to up to 3.x in this case ;-)

I will provide feedback here!

[2017-12-18 14:53] greysteil commented on #178
Awesome. If you haven't merged the duff PR, and have made any changes to its target branch (normally master) since it was created, then commenting `@dependabot rebase?` on it should update the `composer.json` changes.

[2017-12-18 23:43] StephanBijzitter opened #180 "Invalid JSON in package.json results in Dependabot closing pull requests"
I was foolish enough to commit directly to master and i accidentally typed part of the commit message into `package.json`. Needless to say, this meant the JSON was invalid. The result: Dependabot closed the one pull request that was still open, stating it detected that the dependency is now up to date and the PR is no longer needed.

So this seems to be a small bug which occurs when it tries to pa

[2017-12-18 23:50] StephanBijzitter commented on #178
This is also something that we will soon need, although for yarn.

We're going to open source some of our tooling we've been using internally and to provide smaller download sizes (and bundles in case it's meant for the browser), we want to keep the ranges as open as possible for our users, leveraging yarn's deduping.

For example, this means we'd like to keep our `package.json` at `^1.0.0` for a

[2017-12-18 23:53] StephanBijzitter opened #181 "Feature request: only update yarn.lock or package-lock.json if the version is within range"
We're going to open source some of our tooling we've been using internally and to provide smaller download sizes (and bundles in case it's meant for the browser), we want to keep the ranges as open as possible for our users, leveraging yarn's deduping.

For example, this means we'd like to keep our `package.json` at `^1.0.0` for a dependency while our `yarn.lock` could already lock to `1.2.3`.

Th

[2017-12-18 23:59] StephanBijzitter commented on #181
Seems this issue and #178 have a lot in common. I'll close this one (if that's a mistake feel free to re-open it).

[2017-12-18 23:59] #181 closed

[2017-12-19 00:02] StephanBijzitter commented on #181
Actually, this is probably a bad idea. This means we'll be able to add features added in `1.2.0` yet we still require `^1.0.0`, which may resolve to `1.0.0` if another dependency locks it. Ouch, food for thought...

[2017-12-19 06:23] OskarStark commented on #178
Hey @greysteil I closed the branches and me and/or dependabot closed some of these branches, so I could not reopen anymore :(

[2017-12-19 16:35] greysteil commented on #180
Definitely a bug! Fixed, and with a regression spec to ensure it can't happen again. Thanks for reporting.

[2017-12-19 16:35] #180 closed

[2017-12-19 17:31] greysteil commented on #181
My hunch here is that libraries need something more than just Dependabot, and I'm not 100% sure how Dependabot should it in.

Off the top of my head, the setup I think a great library should have is:
1. comprehensive build matrix for each major version of its sub-dependencies (realistically this is likely to be one framework-like dependency) which tests again
  - the *lowest* possible sub-version

[2017-12-19 20:07] greysteil commented on #178
Ah, OK. I've regenerated a few of those PRs for you with the new setup - let me know if that's any better!

[2017-12-20 07:59] OskarStark commented on #178
I received a PR, but with the old (wrong) logic I guess:
![screenshot 2017-12-20 08 58 44](https://user-images.githubusercontent.com/995707/34196819-0cf30400-e564-11e7-9746-bfeffcec50e4.png)

[2017-12-21 21:43] greysteil commented on #178
OK, I've updated our logic to not update the `composer.json` for PHP if the range is allowable, and will keep it that way unless I start hearing users asking for updates that look like the ones above. I've also kicked off another set of updates for the bad PRs on your repos - if you have any bad PRs that are open there just close them and Dependabot will re-generate them using the new logic the fo

[2017-12-21 21:43] #178 closed

[2017-12-22 08:14] OskarStark opened #189 "I got 2 comments back"
Hey @greysteil

I closed a PR like this:
![screenshot 2017-12-22 09 13 27](https://user-images.githubusercontent.com/995707/34290568-756757da-e6f8-11e7-80e7-8d006632ecdb.png)

But I got 2 comments afterwards, maybe one is too much?
![screenshot 2017-12-22 09 13 33](https://user-images.githubusercontent.com/995707/34290575-824e6042-e6f8-11e7-9725-377da63a9449.png)

Cheers, Oskar

[2017-12-22 09:07] SebastiaanNijland opened #190 "Dependabot opened a PR with no files changed"
We currently have an open pr with an empty commit by dependabot. I'm not sure why it happened (the commit message etc seems to be fine). There are two other PRs open in which only the lock file was updated, not the package.json - but I was told this has to do with carets (^) before our versions and an opt-in feature of dependabot. I'm not aware of any changes on our end, so this might be a bug as

[2017-12-22 09:15] greysteil commented on #190
Thanks. This is definitely a bug on our end and I’m looking into it now

[2017-12-22 09:55] greysteil commented on #190
This should be fixed - can you confirm?

[2017-12-22 09:56] SebastiaanNijland commented on #190
Yes, it's fixed for both cases! Thanks 👍

[2017-12-22 09:56] #190 closed

[2017-12-22 10:12] greysteil commented on #189
Sounds sensible - we'll now only give those close instructions once per PR.

[2017-12-22 10:12] #189 closed

[2017-12-22 10:32] OskarStark commented on #189
Super, thank you for the fast feedback 👍

[2017-12-23 22:44] felixfbecker opened #191 "Does dependabot support updating transitive dependencies in lockfiles?"
I couldn't find this on the features page.

[2017-12-23 22:46] felixfbecker opened #192 "Does dependabot support making conventional commits when updating?"
I couldn't find this on the docs page.
I.e. when the update was a semver-patch update, prefix the commit message with `fix: `, if it was a semver-minor update, prefix the commit message with `feat: `, if it was a semver-major update use `chore: `. That allows automatic semantic releases of the depending module

https://conventionalcommits.org/

[2017-12-23 22:47] greysteil commented on #191
We'll automatically update a dependency's sub-dependencies whenever we update the main dependency, but we don't create PRs if it's just the sub-dependencies that need updating.

In future, I'd like to create updates for sub-dependencies if there are security alerts for them ([see this issue](https://github.com/dependabot/feedback/issues/53)). I'm waiting on GitHub for an API for their security ale

[2017-12-23 22:47] #191 closed

[2017-12-23 22:50] greysteil commented on #192
Interesting. We create [semantic commit messages](https://seesparkbox.com/foundry/semantic_commit_messages) for those who use them (see https://github.com/wireapp/wire-web-packages/pull/142 for an example). Would that work?

If not, I could update Dependabot to detect the above style and use it if appropriate.

[2017-12-23 22:50] felixfbecker commented on #191
Thanks for the reply. That's too bad, would you take this as a feature request? Take this dependency for example:
- editor depends on language service
  - language server depends on parser

If there was a bug fix in the parser, that directly impacts the editor, but it won't cause a new release in the language server. Because the editor is bundling all its dependencies, we need a PR to update the l

[2017-12-23 22:53] greysteil commented on #191
Happy to think on it. There are a couple of open issues around this (https://github.com/dependabot/feedback/issues/22 is the most relevant), so it's already on my radar - I'll update you here if/when I get to it.

[2017-12-23 22:55] felixfbecker commented on #192
`chore` unfortunately doesn't trigger a new release with semantic-release. Taking my example from #191:

- editor extension depends on language service

The editor extension needs to get a new feature release with all the dependencies zipped if the language server gets a new feature. If the language server gets a bug fix, the editor extension needs to get a bug fix release.

[2017-12-23 23:10] greysteil commented on #192
Interesting. Looks like there's some non-trivial thinking to be done on this one - Angular themselves use `chore` for all their [package updates](https://github.com/angular/angular.js/commits/master/package.json), for example...

My hunch is that Dependabot is best off staying neutral on this, but do you want to port the issue over to https://github.com/dependabot/feedback and see if anyone else c

[2017-12-23 23:14] felixfbecker commented on #192
Yeah, a library like Angular doesn't need to (and shouldn't) do this, because when I `npm install angular` npm will install the latest version of transitive dependencies. But at some point you always have to bundle your dependencies, for application deployments, building installers, building a Docker image, bundling+minification, or in my example for the VS Code marketplace.

[2017-12-23 23:15] felixfbecker commented on #192
This issue was moved to dependabot/feedback#67

[2017-12-23 23:15] #192 closed

[2017-12-23 23:21] greysteil commented on #192
Awesome, thanks!

[2017-12-28 07:42] OskarStark opened #199 "bumped manually, but no PR"
locally I got an update for this package:
[code]

but no PR by dependabot. Maybe thats because it is not a direct dependency?

For Debugging, this is my composer.json|.lock:
https://gist.github.com/OskarStark/21ad0cb2c0001f417833f52f5ecd4bb0

[2017-12-28 10:41] greysteil commented on #199
That's definitely going to be because it's not a direct dependency - at the moment, Dependabot will only update the dependencies listed in your `composer.json`.

There's a bit more discussion about this one [here](https://github.com/dependabot/feedback/issues/22) and [here](https://github.com/dependabot/feedback/issues/53) - current status is that I'm waiting on GitHub for access to their security

[2017-12-28 10:41] #199 closed

[2017-12-28 11:18] OskarStark commented on #199
Thanks for your feedback 👍

[2018-01-01 01:56] LeoColomb opened #201 "Archived repositories should be excluded"
Since [GitHub let archiving repos](https://github.com/blog/2460-archiving-repositories) (and GitLab too), dependabot should take care of [the _archived_ property](https://developer.github.com/v3/repos/#response-3) to:
* Avoid listing archived repo when creating a new dependabot project.
* Kill any attempt to bump dependencies on an archived repo.

🌈

[2018-01-01 10:22] greysteil commented on #201
Great feedback - just saw an error on our side from this.

I'll get this done today. Thanks!

[2018-01-01 13:56] greysteil commented on #201
Done and deployed. Thanks again!

[2018-01-01 13:56] #201 closed

[2018-01-04 18:39] deinok opened #203 "Add support for C# / NetStandard"
Hi Guys, nice job with this.
Are you thinking about adding support for C# projects?

[2018-01-05 10:41] greysteil commented on #203
Thanks @deinok!

We'd love to add C# support, but are currently blocked by our own expertise on it. If you'd like to help out I'd be totally up for working on it with you, but otherwise it's likely to be a bit of a wait.

There's an issue tracking this (and Java support, which I really need to get over the line...) at https://github.com/dependabot/feedback/issues/33, so I'm going to close this.

[2018-01-05 10:41] #203 closed

[2018-01-05 11:13] deinok commented on #203
@greysteil Well, I can give with how to conceptualy do it but I don't think I can send a PR (Im dont know Ruby).

So I can writte the algorithm of how to check everything and you can "port" it to Ruby if you want.
Let me know it ;)

[2018-01-05 13:02] greysteil commented on #203
Sounds good to me! Let me get the Java beta out and I'll hit you up with some questions / bits that need to be written in C#. :octocat:

[2018-01-05 14:06] deinok commented on #203
Okey, tag me when you start working on it and i will give you a hand

[2018-01-06 11:30] evenh opened #205 "Repo not getting scanned?"
Hi!

I've tried setting up [evenh/coffeebot](https://github.com/evenh/coffeebot) for dependency bumping, but it seems like it is never getting scanned (just stuck in a queue)?

[2018-01-06 11:33] greysteil commented on #205
Just saw an exception for it. I’m out but will get it fixed this afternoon

[2018-01-06 11:36] evenh commented on #205
No hurry! Since the Java support is early alpha I suggest you enjoy your Saturday :-)

[2018-01-06 15:31] greysteil commented on #205
Fixed by https://github.com/dependabot/dependabot-core/commit/bb6fa7c4fa910a509436117b51b69816f54e29c4, which I'm pretty sure is right. I've also added a spec for it [here](https://github.com/dependabot/dependabot-core/commit/af2f537c77f304136c062aa2261c9cf12e428e70).

[2018-01-06 15:31] #205 closed

[2018-01-15 09:25] evenh opened #222 "Support multi-module Maven projects"
In a lot of (open source and enterprise) projects it is very common to create [Maven multi-module](https://maven.apache.org/guides/mini/guide-multiple-modules.html) projects. One can for example have a module for only domain classes, utils or interfaces meant for public consumption.

Dependencies (code dependencies, plugins etc) can be attached to any module, optionally overriding dependencies hig

[2018-01-19 14:11] Kristinita opened #237 "[Feature request] Automatically upgrade dependencies, not only version number"
### 1. Request

It would be nice, if would be possible upgrade dependencies, not only version numbers in requirements file.

For example, it would be nice add an option, that bot will run command after each version changing in requirements file.

### 2. Steps to reproduce

I develop plugins for Sublime Text, written on Python. By technical reasons I need add dependencies to my repository.

In my [

[2018-01-20 17:31] greysteil commented on #237
Thanks for the feedback @Kristinita. Would you mind moving this over to https://github.com/dependabot/feedback and making the title "Support vendoring for Python"?

It's a totally legit request, but might be tricky for us given the way we currently do Python updates.

[2018-01-20 17:31] #237 closed

[2018-01-22 12:04] StephanBijzitter opened #243 "yarn.lock as generated by Dependabot is not optimal"
<img width="1297" alt="screen shot 2018-01-22 at 13 01 06" src="https://user-images.githubusercontent.com/1649903/35219845-762ec59c-ff74-11e7-87ed-e1447211d381.png">
This is part of a pull request created by Dependabot, and while this installs perfectly fine, I would expect `doctrine@^2.0.0, doctrine@^2.0.2:` to change into `doctrine@^2.0.0, doctrine@^2.1.0:`, so that only 2.1.0 is installed, inst

[2018-01-23 11:39] greysteil commented on #243
Thanks for the feedback @StephanBijzitter.

I'm not sure there's an easy way to fix this on Dependabot's side - we lean heavily on Yarn's internals for lockfile generation, and if Yarn doesn't behave perfectly (as it hasn't above) then there's not a lot we can do.

There's an issue open over at the [yarn repo](https://github.com/yarnpkg/yarn/issues/3778), but it hasn't has as much love as I'd like

[2018-01-23 12:28] StephanBijzitter commented on #243
Alright, that issue indeed seems to be exactly what I saw in one of our(/dependabot's) PRs. Hopefully they'll be able to resolve it soon. As for this issue, I'll leave it to you to close it if wanted, I've got my answer :-)

[2018-01-23 12:30] greysteil commented on #243
👍 . I'm going to close but add a personal TODO to look into creating a `yarn-tools`-like PR into Yarn. The core team there are brilliant, but they've got a lot on their plate!

[2018-01-23 12:30] #243 closed

[2018-01-23 20:44] scinos commented on #243
@greysteil happy to help with that PR

[2018-01-31 15:03] MiniDigger opened #245 "Support Gradle Projects"
things to consider here:
* map style notation: compile group: 'com.google.code.guice', name: 'guice', version: '1.0'
* short notation: compile 'commons-lang:commons-lang:2.6'
* different quotation marks (both " and ' are allowed)
* multi module projects

[2018-01-31 15:51] greysteil commented on #245
Totally 👍  on adding this. I'm going to be off the grid for the next two weeks, but please don't take that as a lack of enthusiasm!

[2018-02-01 12:43] JamieMagee opened #246 "Use AngularJS commit message conventions"
Using [AngularJS commit message conventions](https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#-git-commit-guidelines) for dependabot would allow for automatic changelog creation using [coventional-changelog](https://github.com/conventional-changelog/conventional-changelog) (and other associated tools).

For dependabot commits, this would look something like

[code]

I am able to mak

[2018-02-01 15:48] greysteil commented on #246
Thanks for the feedback. Is the problem that Dependabot is creating `build: ...` commit messages for you rather than `chore...` ones, or is it not creating semantic commits at all?

[2018-02-01 16:07] JamieMagee commented on #246
The issue is more that it's not creating semantic commits at all. The AngularJS commit message conventions show what form a semantic commit message should take:

[code]

The current dependabot commit messages don't conform to this standard.

I think that following these conventions would allow projects that already follow them to make use of dependabot, without extra manual intervention for commit

[2018-02-02 21:08] greysteil commented on #246
Hmmm, that’s odd - Dependabot should be autodetecting this. Can you ping me the full name of the repo it’s not doing so on? support@dependabot.com <mailto:support@dependabot.com> if you don’t want to put the name here.

(I’m on a boat in the middle of the pacific, so won’t be able to debug this as fast as normal. Also, my emails / comments might lack the most recent context, as I’m only able to do

[2018-02-04 12:33] JamieMagee commented on #246
Sure, the repo is https://github.com/JamieMagee/hashflags-node. I just had another look at the code in `message_builder.rb`, and I can see that it checks if there are any recent commits with semantic prefixes. I recently switched over to using semantic prefixes in this repo, so maybe there was some issue/caching with getting the latest commit messages?

I'm in no hurry, enjoy your trip!

[2018-02-05 21:44] nesl247 commented on #134
@greysteil Is this on the roadmap at all for you guys? We're actually in the process of migrating, and will be finishing up this week.

[2018-02-06 16:44] greysteil commented on #134
Looks like the information on this has ended up being split between two issues - sorry about that. On GitLab support, I wrote up our position [here](https://github.com/dependabot/feedback/issues/75) a couple of weeks ago - the TL;DR is that it's not on the short-term roadmap. I'd love to be able to, but I just can't justify the work required on it financially at the moment :-(

[2018-02-06 18:00] nesl247 commented on #134
Thanks for the update. If I have any comments I'll keep it to the other issue to leave this one about the code changes specifically.

[2018-02-07 19:20] evenh commented on #222
I've updated this issue with a better description :-)

[2018-02-09 20:58] greysteil commented on #246
I’ve just pushed a small change that should make Dependabot a bit quicker to switch over when you change to using semantic prefixes - it now excludes its own commits when analysing what conventions a repo is using.

I’m pretty sure that the above will fix the issue for you, and mean #254 (which would affect users who aren’t using semantic commit messages) isn’t required. Can you let me know based

[2018-02-11 18:25] JamieMagee commented on #246
I took a closer look at one of the [PR failures](https://travis-ci.org/JamieMagee/hashflags-node/jobs/339007862#L497) and the failure message is:

[code]

It's [this rule](https://github.com/marionebl/commitlint/tree/master/@commitlint/config-angular#subject-case) from commitlint that's failing it. My PR #254 would fix it, but as you mentioned, it would also affect users not using semantic commit

[2018-02-12 07:33] godban opened #257 "Update Peer dependencies"
Hey guys,
we are using dependabot for some time, thx for nice service. But we are missing one feature. Dependabot doesn't updates peer dependencies and we need to do it manually each time.

<img width="400" src="https://user-images.githubusercontent.com/2461970/36086802-a65409ac-0fce-11e8-9e31-3329b5ac5f6e.png"/>

Does it make sense to add support of it?

Thx

[2018-02-12 07:36] greysteil commented on #246
Thanks for the detailed debug info! I've implemented (2) [here](https://github.com/dependabot/dependabot-core/commit/d969cf91429567e578896ed885fc62ba6318aeca) and just released it - all future semantic commit message PRs will use that convention. 🎉

(I ended up going for (2) rather than merging your PR on (1) because I really care about Dependabot doing things as close to perfectly as possible, at

[2018-02-12 07:36] #246 closed

[2018-02-12 07:39] greysteil commented on #257
It definitely does! I'm on holiday for the next week, so can't dig into this, but I'll try to get to it when I'm back. Totally agree Dependabot should handle peer dependencies, though :-)

[2018-02-12 07:40] greysteil commented on #257
Would you mind porting this issue over to https://github.com/dependabot/feedback so it doesn't get lost?

[2018-02-12 08:08] godban commented on #257
@greysteil sure

[2018-02-12 08:08] #257 closed

[2018-02-12 08:09] greysteil commented on #257
❤️

[2018-02-12 09:15] JamieMagee commented on #246
Thanks for the update. Glad I could help :smile:

[2018-02-20 11:15] JamieMagee opened #262 "Add dependabot badge"
Other services use a badge to show that the service is enabled for a certain GitHub repository. It might be a good way to increase awareness of dependabot by adding badges, showing that dependabot is enabled for a repo.

It could just be something as simple as a static badge like

[![Dependabot badge](https://img.shields.io/badge/Dependabot-enabled-blue.svg)](https://dependabot.com/)

When first e

[2018-02-20 11:21] greysteil commented on #262
Super up for this. There's an issue tracking it over at https://github.com/dependabot/feedback/issues/49 and I've been slow to implement it, but I'll try to get it done in the next couple of weeks. Higher priority now that Gemnasium are shutting down.

Closing in favour of https://github.com/dependabot/feedback/issues/49, but thanks for the feedback / support!

[2018-02-20 11:21] #262 closed

[2018-03-07 01:46] sfdye commented on #158
+1

[2018-03-13 01:13] greysteil commented on #158
FYI, I'm working on this today and tomorrow. You'll start seeing commit and release note details embedded in some Dependabot PRs tomorrow morning, and changelogs will be embedded the morning after.

Thanks for the feedback!

[2018-03-13 01:13] sfdye commented on #158
@greysteil Awesome news!

[2018-03-14 01:24] greysteil commented on #158
This is done! 🎉

[2018-03-14 01:24] #158 closed

[2018-03-14 01:26] sfdye commented on #158
Is it live? I take it will only take effect for new PRs?

[2018-03-14 01:27] greysteil commented on #158
Yep, and will only take effect for new PRs.

[2018-03-14 07:31] sfdye commented on #158
@greysteil Unfortunately I think there is a bug, the `commits` and compatibility badge are also collapsed inside the `changelog`.

[2018-03-14 07:45] greysteil commented on #158
Can you send over a link? Doesn't look like that's happening on all PRs.

[2018-03-14 07:47] sfdye commented on #158
@greysteil I can't, it's our private repo 😞

But interestingly it's only happening for this PR, other PRs are not affected.

[2018-03-14 07:48] greysteil commented on #158
Thanks - that should be enough for me to take a look at what's happening in Vue's changelog that could cause this!

[2018-03-14 15:33] greysteil commented on #158
FYI, I hunted down that bug and squashed it. Was a bug in the way GitHub sanitize \<template> tags within blockquotes, which we're now working around.

[2018-03-14 23:18] greysteil commented on #243
FYI, this made it into Dependabot a few weeks ago - we now de-dup the `yarn.lock` for the dependency we're updating, based on some custom logic (inspired by `yarn-tools`). 🎉

[2018-03-15 08:51] severen opened #310 "Not updating package.json"
In a recent PR I merged from Dependabot I've noticed that it has only updated my Yarn lockfile, not my package.json. Is this a bug or new behaviour?

If it is new behaviour, it would be nice to at least be able to opt into the old behaviour.

[2018-03-15 10:21] greysteil commented on #310
We haven't changed this for quite a while, but the logic is non-trivial, so it might just be that you're hitting a different path.

For apps (which we identify by checking they're not listed on npm) we update the requirement in the `package.json` unless the requirement is a range that is still satisfied. (If you're setting ranges in your `package.json` then we think it's unlikely you want them upd

[2018-03-16 08:40] severen commented on #310
[This](https://shrike.me/severen/disposition )is the repository.

The last commit from Dependabot to update `package.json` was severen/disposition@e950db75c3f5cd02985791c93c780727b631a125. So it seems this behavior has been going on for a while now and I've just not noticed. Either way it would be nice if there was an option for it.

[2018-03-16 09:15] greysteil commented on #310
Thanks for the link - looks like Dependabot is definitely picking that up as a library, hence the update behaviour.

Can you give me a bit more detail on why you'd like updates to always affect the `package.json`? I can look into adding a setting for this, but it would really help to know why it would be useful.

[2018-03-20 00:03] exequiel09 opened #317 "Grouped PR for packages that are released simultaneously"
Hi i have an interesting proposal, I have recently used dependabot for managing my dependencies and i have this some sort of problem in scoped packages like `@angular/*` packages having multiple PRs wherein they are all released at the same time.

Hopefully you'll take time considering this since updating Angular with multiple PRs results in many queued CI tasks and too many PRs that needs to merg

[2018-03-20 11:37] greysteil commented on #317
Thanks for getting in touch. I'm keen to do something about this - it's next on my list.

In particular, when there are updates that need to be done together I'd like to bundle them into a single PR. We already do that for Ruby and Java, and I don't see any reason why we shouldn't for JS when all of your Angular / React packages are updated in lock-step.

[2018-03-29 06:49] SevastyanDark commented on #245
@greysteil Any news?

[2018-03-29 07:10] greysteil commented on #245
Not yet, sorry! I'm going to be pushing on Rust and adding private repo support to Maven today, but will have a look at this immediately after. Would love to support Gradle projects, and will start a template PR in the next couple of days.

[2018-03-29 08:56] SevastyanDark commented on #245
Thanks, i'm waiting!

[2018-04-13 09:30] ncoden opened #343 "[Question] Why so many versions ?"
I took a look at https://github.com/dependabot/dependabot-core/blob/master/CHANGELOG.md and noticed that there is sometimes 10 versions a day. At [Foundation](https://github.com/zurb/foundation-sites) we release a new version every 1 to 6 months (I admit this is not better).

So I wonder: is there any benefits for this release process ? Are you deploying dependabot 10 times a day ?

Thanks.

[2018-04-13 09:40] greysteil commented on #343
We deploy a bit more than 10 times a day. The structure of Dependabot is as follows:
- Dependabot Core (this repo) contains the business logic for checking for updates and creating PRs
- Dependabot Backend (private) is a web app that exposes an API to our dashboard, talks to GitHub, kicks off update runs, and creates PRs. It uses Dependabot Core for the PR creation bit
- Dependabot Updater (privat

[2018-04-13 09:40] #343 closed

[2018-04-13 09:41] greysteil commented on #343
Also worth saying that I think the many-releases approach above is sensible for Dependabot because it's only really got one user (Dependabot). I wouldn't recommend it for Foundation!

[2018-04-16 10:16] Incognito opened #347 "yarn major/minor/patch upgrade flags"
Could be interesting to add support for this yarn feature:
https://github.com/yarnpkg/yarn/commit/1522cdeee64f7eebfc4a0e4c3596158654f21692

I think some of the teams here might use it.

[2018-04-16 10:43] greysteil commented on #347
Interesting - thanks for the heads up. I'll have a think about how we could incorporate it.

[2018-04-18 08:13] albuch opened #352 "Support sbt projects"
Hey,
it would be awesome to support sbt dependencies and plugin dependencies as well.

https://www.scala-sbt.org/1.x/docs/Library-Dependencies.html
https://www.scala-sbt.org/1.x/docs/Using-Plugins.html

Multi-projects are supported in sbt as well and is a common use case so that should be considered as well: https://www.scala-sbt.org/1.x/docs/Multi-Project.html

[2018-04-19 11:15] greysteil commented on #347
I'm going to close this for now and come back to it if/when Dependabot ever decides to expand it's tool suite for library authors. Thanks for the heads up on it, though!

[2018-04-19 11:15] #347 closed

[2018-04-19 11:40] #310 closed

[2018-04-19 11:59] greysteil commented on #222
Thanks for creating this @evenh. Here's my plan for implementing - am I missing anything?

**File fetching**
- Dependabot fetches the root `pom.xml` (i.e., the one that is in the directory specified by the user, which by default is the root directory of the git repo)
- Dependabot reads the `<modules>` from that `pom.xml` and looks in each of those directories for a `pom.xml`
  - If any directory s

[2018-04-19 12:52] evenh commented on #222
Your proposal looks sane to me. Regarding your question, yes - that's a possibility (unfortunately)

[2018-04-19 16:41] christopherthielen opened #353 "[question] ignore package names or wildcards"
Some packages I want to keep at a specific version.  I'd rather not receive PRs for these packages.  Is it currently possible?

[2018-04-19 16:42] greysteil commented on #353
Absolutely - if you comment `@dependabot ignore this dependency` then Dependabot will close the PR and not bother you about that dependency again (unless you update it yourself). Will that work for you?

[2018-04-19 16:42] christopherthielen commented on #353
Moved to https://github.com/dependabot/feedback/issues/133

[2018-04-19 16:42] #353 closed

[2018-04-19 16:43] christopherthielen commented on #353
oh wow, you're fast @greysteil
:)

[2018-04-19 16:43] greysteil commented on #353
Haha, just slightly too slow, though! 😉

[2018-04-19 17:16] greysteil commented on #222
Cool. FYI, the PR tracking this is https://github.com/dependabot/dependabot-core/pull/354. Should have it done tomorrow. 🎉

[2018-04-20 17:27] #222 closed

[2018-04-20 17:38] greysteil commented on #222
https://github.com/greysteil/maven-multimodule-sample/pulls

🔥 🔥 🔥

I'll blog about this and release it on Monday. @evenh - if you have any repos you'd like to try it on before then I'd be much obliged. There are bound to be a few bugs hiding in there.

Thanks so much for your advice and encouragement on this one!

[2018-04-22 16:59] evenh commented on #222
That's just awesome @greysteil - good (and quick) work 😀 I've just updated https://github.com/evenh/maven-multimodule-sample/commit/4035b8862f1911b982be583242ce6ca89e4257b3 and was expecting two pull requests with 1 file each or one pull request with 2 files after pushing that last commit.

[2018-04-22 17:27] greysteil commented on #222
Ah, Dependabot won't create that because it remembers that it's previously created a PR to `24.1-jre`. I can make it "forget" it from console though - one moment...

[2018-04-22 17:28] greysteil commented on #222
And in other news, I've just added support for custom repositories 🎉

[2018-04-25 12:20] Strikerrr opened #358 "Authentication Error"
Tried to sign in with github and it said it fails

[2018-04-25 12:25] greysteil commented on #358
It would also be great to get full details of the flow you went though - if you can replicate and provide screenshots that would be fantastic.

[2018-04-25 12:27] Strikerrr commented on #358
Of course, it's no problem. I'll do it and write down each step

[2018-04-25 12:29] Strikerrr commented on #358
Okay so, I went to the dependabot.com website and clicked sign up then it redirected to the sign in with github page. I clicked the button, then it opened up Fasthub's in-built chrome and then it tells me authentication error.

[2018-04-25 12:30] Strikerrr commented on #358
[](https://i.imgur.com/p8svSIH.jpg)

[2018-04-25 12:30] Strikerrr commented on #358
Did the image appear?

[2018-04-25 12:31] Strikerrr commented on #358
![Image](https://i.imgur.com/JoFjILM.jpg)

[2018-04-25 12:31] greysteil commented on #358
Afraid not

[2018-04-25 12:31] Strikerrr commented on #358
There, should be there now

[2018-04-25 12:32] Strikerrr commented on #358
Thanks, I found this project and was quite interested because I make some node modules and I'd like to have this to keep our deps up to date.

[2018-04-25 12:34] greysteil commented on #358
Well hopefully we can help you with that! I've never seen this error before, and we've got a few thousand people using Dependabot. Is there a chance that it's an issue that's specific to FastHub? Would you mind checking the flow in another browser?

[2018-04-25 12:39] greysteil commented on #358
Looking through the frontend code we're using session storage to handle the OAuth redirect flow - this error is coming from that, and never touching the backend. Hence my suspicion it's FastHub.

[2018-04-25 12:42] Strikerrr commented on #358
Indeed it was fasthub. Would you suggest I open an issue to their repo as this can be an issue for a lot more oauth apps?

[2018-04-25 12:45] greysteil commented on #358
Yes - I don't think this one has anything to do with Dependabot. We've got the following in our frontend codebase, which looks entirely reasonable to me, if you want to include it in the issue:

[code]

Thanks for your help debugging this one, and let me know how you get on with Dependabot!

[2018-04-25 12:45] #358 closed

[2018-04-25 12:51] Strikerrr commented on #358
Alright, I'll get on to Fasthub now and report this. Cheers for the fast response, and I got it working in the end and it's already doing its job ;)

[2018-04-27 15:41] greysteil opened #360 "< version specifiers"
_From @Floppy on May 31, 2017 9:41_

(I've filed this via email but I thought I'd christen the new issue tracker too)

I’ve got a few old repos where we were locking `foreman` at `< 0.64`. As it turns out, this isn’t necessary any more but dependabot is changing that to the current version, but still with the `<` specifier. So the update says `0.84`, but the Gemfile now says `< 0.84` (i.e. `0.83`)

[2018-04-27 15:41] greysteil commented on #360
Thanks @Floppy. We'll have a think about this one - not totally obvious to me when we'd want to keep the matcher and when we'd want to remove it, but it's definitely a bit weird in the case you've outlined!

[2018-04-27 15:41] greysteil commented on #360
_From @Floppy on May 31, 2017 9:46_

There will be similar issues with rake actually, which will probably hit more people - rake 12 doesn't work with rails < 5 (or 4, I forget), but bundler doesn't work that out, so we'll have to pin a few repos using `<` until we can update the major rails version.

[2018-04-27 15:41] greysteil commented on #360
_From @Floppy on May 31, 2017 9:48_

I *think* that `<` is the sort of very definite version specifier that means it shouldn't be automatically changed, but I'm not 100% sure. It's the sort of thing people would only use for good reason.

[2018-04-27 15:41] greysteil commented on #360
_From @hmarr on May 31, 2017 9:54_

Yeah - that's a good example. While we're clear that leaving the `<` in is definitely a bad idea, we'll need to have a think about what the right solution is. Silently ignoring dependencies that use `<` could also be confusing for new users.

One possibility we're considering is changing it to `~>`, and adding the ability to pin dependencies to a max version wit

[2018-04-27 15:41] greysteil commented on #360
_From @Floppy on May 31, 2017 10:2_

Yeah, that might work. It's handy to be reminded that those bad smells are there, certainly. I've thrown a load of them away already that aren't necessary any more because of @dependabot, so that's good :)

[2018-04-27 15:41] greysteil commented on #360
I've updated Dependabot to replace `<` matchers with a `~>` which, at the very least, is better behaviour than before.

Interested to hear more feedback on pinning Dependencies within Dependabot, especially if Rake or other gems are missing a `required_ruby_version`specification which makes using the `<` matcher necessary. Optimistically closing for now, though...

Thanks again for the feedback @F

[2018-04-27 15:41] greysteil opened #361 "Allow weekly updates"
_From @pezholio on May 31, 2017 9:50_

For some, a daily update might be a bit too noisy and distracting. It might be nice to offer a weekly update frequency, then users can schedule a time every week to check over and merge dependency updates.

_Copied from original issue: dependabot/feedback#2_

[2018-04-27 15:41] greysteil commented on #361
_From @hmarr on May 31, 2017 10:0_

Agreed - we'll get this implemented and update this ticket once it's shipped!

[2018-04-27 15:41] greysteil commented on #361
_From @hmarr on May 31, 2017 16:54_

Done. You can now select daily or weekly bumping. Weekly bumping occurs on Monday mornings (and no, that is not configurable 😉).

[2018-04-27 15:41] greysteil opened #362 "Update Ruby versions"
_From @Floppy on May 31, 2017 9:52_

Some repos will have ruby version specified in the `Gemfile`, `travis.yml`, or `.ruby-version` (and there are probably others). It would be dead handy to have dependabot update these at least with patch or minor versions, so we don't miss a new release :)

_Copied from original issue: dependabot/feedback#3_

[2018-04-27 15:42] #360 closed

[2018-04-27 15:42] #361 closed

[2018-04-27 15:42] #362 closed

[2018-04-27 15:42] greysteil opened #363 "Git submodules"
_From @Floppy on May 31, 2017 9:58_

Probably a low priority niche use case, but a new "language" for updating git submodule versions would be incredibly useful (at least for me).

I have a number of Jekyll sites that include content from other repositories via submodules: https://github.com/SomethingNewUK/somethingnewuk.github.io/ is probably the most complex of those, with about 4 submodules in

[2018-04-27 15:42] greysteil commented on #363
_From @hmarr on May 31, 2017 10:13_

In theory, I'm 👍 - it'd be a nice feature to support, and the implementation shouldn't be too tricky.

We'll update this issue when we have a more concrete plan.

[2018-04-27 15:42] greysteil commented on #363
Just added support for these. @Floppy - if you run it on the repo you mentioned you'll get a resolution error, because the branch you specify for `_data/popolo-data` has been deleted. We could do better on the error message, but it'll do for now :)

🎉

[2018-04-27 15:42] greysteil commented on #363
_From @Floppy on September 9, 2017 8:42_

holy crap - I'm gonna try this *right now*. :D

[2018-04-27 15:42] greysteil commented on #363
_From @Floppy on September 11, 2017 9:6_

Not sure it's working, unless there's still something wrong on my repo. I've fixed the missing branch (thanks for spotting that!) so I think it should work now on https://github.com/SomethingNewUK/somethingnewuk.github.io.

However, while there are two submodules that need updating (`_data/finances` and `_data/popolo_data`) there, no PRs are appearing, whe

[2018-04-27 15:42] greysteil commented on #363
_From @Floppy on September 11, 2017 9:8_

Ignore me! I just realised I need to add it as another language! I'll report back with results.

[2018-04-27 15:42] greysteil commented on #363
_From @Floppy on September 11, 2017 9:8_

BOOM 💥

It works - I love you guys :D

[2018-04-27 15:42] greysteil commented on #363
🎉

@deivid-rodriguez - I saw you got an error bumping submodules. At the moment it can't handle anything other than GitHub ones, but I'll hook it into the git internal transfer protocols this evening and get that fixed.

[2018-04-27 15:42] greysteil opened #364 "Handle upgrades that require upgrading multiple dependencies at once"
_From @greysteil on May 31, 2017 10:0_

On a lot of old repos, we see Gemfiles with something like the below:

[code]

To upgrade either of the dependencies in the above Gemfile, we need to update both, because `sass-rails` version 5 depends on the `rails` version being 5.

The right way to handle the above is to put in a PR upgrading both of the above, with clear details of both updates.

_Copied

[2018-04-27 15:42] greysteil commented on #364
_From @gerrywastaken on October 28, 2017 23:10_

For now I'd just be happy with just the addition of a separate PR explaining the issue and listing the gems that are currently blocked from being updated. You can also point out that you hope to address this in the future. However currently this issue is just hidden from most users and they may think they are up to to date when they are actually not

[2018-04-27 15:42] greysteil commented on #364
This is really close now - should have a working implementation of multi-dependency PRs tomorrow. Will only be for cases where multiple dependencies need to be updated at the same time, at least at first (but could be extended to allow people to opt into combining PRs, as mentioned in #52).

[2018-04-27 15:42] greysteil commented on #364
_From @gerrywastaken on November 24, 2017 1:10_

Impressive work! I can't wait.

Does that still mean some cases would be hidden?

[2018-04-27 15:42] greysteil commented on #364
The only case that would be hidden is where an update to the latest version isn't possible at all given your dependencies (e.g., where a new release is required from one of your dependencies to make it compatible with some of your other ones). Creating issues is probably the only way for us to address that case, but I want to see how common it is before committing to that solution.

Basically, Dep

[2018-04-27 15:42] greysteil commented on #364
_From @gerrywastaken on November 26, 2017 6:39_

That's awesome. Yeah creating issues would be something that I would certainly like over not having any awareness that certain gems are stuck because another gem is blocking it. This way I can completely depend on dependabot. :)

[2018-04-27 15:42] greysteil commented on #364
This is shipped! Example PR [here](https://github.com/greysteil/ruby-test/pull/3).

It needed a *lot* of changes to our architecture, so I'm going to be on standby looking for bugs over the next few days - if you see any, let me know!

[2018-04-27 15:42] greysteil opened #365 "Conflict resolution updates can be a bit noisy"
_From @Floppy on June 1, 2017 10:29_

I'm updating a lot of stuff in one go, so this might be irrelevant for most users, but I find the conflict resolution comment to be unnecessarily noisy. Github already warns me that there are conflicts and won't let me merge, and dependabot is usually only a couple of minutes behind, so I'm not sure I really need a comment (lovely and polite though it is). I'm

[2018-04-27 15:42] greysteil commented on #365
I think we could probably get away without that comment - we mention it in the PR description anyway. I'll disable it and keep track of whether people are doing the rebases manually when they could just be waiting for Dependabot.

[2018-04-27 15:42] greysteil commented on #365
Resolved! We'll now only comment in for the case where you re-open an old Dependabot pull request that's fallen behind master (which is unlikely to happen in bulk, so shouldn't be noisy).

If we see a lot of people doing rebases themselves manually I'll have another look. One option would be for us to edit the PR description during updating, which avoids sending an email.

[2018-04-27 15:43] greysteil opened #366 "21-hour old conflict resolution not happened yet"
_From @Floppy on June 1, 2017 10:35_

Just found a dependabot notification comment from 21 hours ago which hasn't yet resolved the conflict.

Not sure if it's because I linked it to another issue (#1 here), so perhaps dependabot thinks I've changed it and has stopped updating it?

https://github.com/theodi/static/pull/237

_Copied from original issue: dependabot/feedback#7_

[2018-04-27 15:43] greysteil commented on #366
Ack, that one's almost certainly because of the downtime GitHub had yesterday - we saw a lot of 500s from them. Need to implement a backoff strategy there - I'll get on it.

[2018-04-27 15:43] greysteil commented on #366
_From @Floppy on June 1, 2017 10:37_

Ah, yes, of course, forgot about that!

[2018-04-27 15:43] greysteil commented on #366
OK, I've moved as many of our interactions with GitHub into async processes, which means we can retry them automatically and this shouldn't happen again. I've also cleaned up all of the bad data from GitHub's outage yesterday, so theodi/static#237 is fixed up, along with a few other PRs that had got into that state.

Thanks for the bug report!

[2018-04-27 15:43] greysteil opened #367 "Include old version in PR titles"
_From @Floppy on June 2, 2017 13:1_

It would be handy, when looking at a big list of PRs, to get a quick flavour of which updates are small and simple, and which are potentially complex. Including the old version number as well as the new one in the title would help with that. Pretty much exactly the text in the first line of the PR, in fact, would be great.

_Copied from original issue: dependab

[2018-04-27 15:43] greysteil commented on #367
Good idea - done!

[2018-04-27 15:43] greysteil opened #368 "Allow JavaScript projects without a lockfile"
_From @nblackburn on June 6, 2017 15:34_

As it stands, Yarn is required but i feel it should be optional just as yarn is.

_Copied from original issue: dependabot/feedback#9_

[2018-04-27 15:43] greysteil commented on #368
Hey @nblackburn, we'd love to build out JS support further. Next on the list there is supporting npm5 - are you suggesting also supporting projects without a shrinkwrap / lockfile?

[2018-04-27 15:43] greysteil commented on #368
_From @nblackburn on June 7, 2017 14:33_

@greysteil yes, while i agree with the purposes of lockfiles i still consider flexibility to be important enough to allow for both (you could even detect this without the need for an additional option).

[2018-04-27 15:43] greysteil commented on #368
We've just announced [support for npm](https://dependabot.com/blog/dependabot-now-supports-npm), so I'm renaming this to focus on supporting JS projects without a lockfile.

[2018-04-27 15:43] greysteil commented on #368
This is now live, although slightly in stealth mode. If you try adding a repo without a `package-lock.json` when specifying the language `JavaScript (npm)` then everything should just work. 🎉

I'm going to tidy up Yarn support so it does the same and then blog about it.

Thanks for the feedback!

[2018-04-27 15:43] greysteil commented on #368
_From @styfle on December 2, 2017 23:28_

@greysteil I'm curious, what are the pros/cons of using dependabot with a lockfile? I'm a little surprised that it was only working with lockfiles up until now.

[2018-04-27 15:43] greysteil commented on #368
_From @simondel on December 3, 2017 9:44_

@greysteil Awesome! It works 🥇
![image](https://user-images.githubusercontent.com/4221997/33524102-836fa152-d816-11e7-8fed-b12b02afb3a1.png)

Is there a way to increase the maximum amount of languages (or in my case packages) in a single project?

[2018-04-27 15:44] #364 closed

[2018-04-27 15:44] #365 closed

[2018-04-27 15:44] #366 closed

[2018-04-27 15:44] #367 closed

[2018-04-27 15:44] #368 closed

[2018-04-27 15:44] greysteil opened #369 "Option for single pull request per update"
_From @zach-taylor on June 20, 2017 18:37_

We use deppbot (https://www.deppbot.com) at the moment and we like the idea of a single pull request for each update rather than a pull request for each gem update. The main reason we like this is we have a lot of dependencies, and it can get noisy and slow to perform a build for each one and the way our branch protections are set up.

Thanks for the con

[2018-04-27 15:44] greysteil commented on #369
Thanks Zach. We might add a setting for this at some point, but it's not on our roadmap right now - we prefer the multiple PRs approach as it makes them easier to test and merge. That said, we can see a world where we open a single PR for several dependency updates we know are backwards compatible.

In the meantime, [Deppbot](https://www.deppbot.com) are the guys to use if you want a single PR wit

[2018-04-27 15:44] greysteil commented on #369
_From @zach-taylor on June 21, 2017 18:55_

Sounds good 👍 I figured I would put it out there and explain our reasoning.

[2018-04-27 15:44] greysteil commented on #369
Quick update: we'd still love to do this (group non-breaking updates), but it's going to need us to have lots of data to do it well (we need to know which changes are breaking). One for the future - don't worry, it won't fall off our roadmap.

[2018-04-27 15:44] greysteil commented on #369
_From @ad-m on October 1, 2017 12:19_

In my opinion it is not a problem that many changes will be under one pull request. Many CIs test each commit separately, so you can continue to accurately identify the defective dependency.

[2018-04-27 15:44] greysteil commented on #369
_From @elamperti on November 5, 2017 2:32_

+1 to this request. Having a weekly/monthly update of all my npm packages would allow me to check quickly if they break something. If that's the case, I can analyze it and fix it manually, but otherwise it's faster than the time and resource consuming alternative of bumping versions for each package. I want to focus on the code, not on updates, and one P

[2018-04-27 15:44] greysteil commented on #369
_From @shusson on November 20, 2017 5:59_

@greysteil any news on this? I would like to be able to bump with one PR, if it breaks, bump with multiple PRs. The hope being that the original PR doesn't break often and thus we get the best of both flows.

[2018-04-27 15:44] greysteil commented on #369
We're still a way off, but should get closer in the next few weeks. Basically, I need to do a lot of refactoring because everywhere in the update process it expects to be dealing with a single dependency. I should be able to get to that pretty soon, and this isn't the only thing waiting on it. Once that's done, the changes to make this possible are a *lot* more straightforward.

In the meantime, I

[2018-04-27 15:44] greysteil commented on #369
_From @styfle on December 9, 2017 17:1_

This was pretty painful for my Electron project to build the PR and then build the build `master` after merging. https://github.com/styfle/magnemite

I think the big problem is that after accepting 1 PR, all the other PRs need to be rebased and rebuilt again. So for 6 deps that need to be updated, you have to wait for 21 builds to complete. At 5 minutes per

[2018-04-27 15:45] greysteil opened #370 "Support vendoring for Ruby"
_From @biow0lf on August 11, 2017 8:47_

Hello,

I am using vendored gems in vendor/cache/. So, dependabot update gem in Gemfile.lock, but leave old gem file in vendor/cache/. Plus, not put new gem to vendor/cache/.

So, I think, run `bundle pack` and add changed files will enough.

_Copied from original issue: dependabot/feedback#15_

[2018-04-27 15:45] greysteil commented on #370
Hmmm, at the moment Dependabot doesn't support vendoring. It would be nice to add it, but I think it's going to be hard to do so performantly - downloading all those dependencies using `bundle package` would take a lot of time on our end. We currently avoid actually doing any installs for Ruby, which keeps things fast (take a look at [dependabot/dependabot-core](https://github.com/dependabot/depen

[2018-04-27 15:45] greysteil opened #371 "Does not propose updates for dependent gems?"
_From @rdunlop on September 21, 2017 15:54_

In my project, I have `capybara` in my Gemfile, which depends upon `nokogiri >= 1.3.3`.

Currently, I have `nokogiri (1.8.0)` installed.

Why hasn't dependabot prompted me to install nokogiri 1.8.1?

Doing `bundle update nokogiri` locally does succeed in creating a new Gemfile.lock` with an updated version of `nokogiri` and `mini_portile2`

_Copied from

[2018-04-27 15:45] greysteil commented on #371
Hey @rdunlop,

I've been wondering when this was going to come up! At the moment, Dependabot doesn't bump sub-dependencies, except when bumping the parent dependency (which means #21 is the other side of this issue).

We decided to start out with the above approach because we were worried about the sheer number of PRs we'd be creating when bumping sub-dependencies. By their nature, they're things

[2018-04-27 15:45] greysteil commented on #371
_From @rdunlop on September 22, 2017 12:7_

Hi @greysteil,

I do like the idea of having ALL of my gems updated to the latest version, all the time. If I installed a gem fresh, all of its sub-dependencies would be "latest"...which is my goal for my projects...so I think that this is a good feature.

I currently really like the fact that each PR only contains a single gem in it. If you're proposing

[2018-04-27 15:45] greysteil commented on #371
Makes sense. I want to keep thinking on this one, so I'm not going to ship anything immediately, but it's really high up my list of problems to solve.

FWIW, we've tried to avoid having a configuration page because we quite like the interface for Dependabot to be entirely pull request based. That won't necessarily last forever, but I don't want to add a configuration page / file before thinking th

[2018-04-27 15:45] greysteil commented on #371
_From @rdunlop on September 25, 2017 10:49_

@greysteil Please take your time to think through this one. We have other means to track sub-dependencies right now, so this is not pressing...just would be really nice to have.

I can understand your desire to avoid a configuration page. I'll keep thinking about it too.

[2018-04-27 15:45] greysteil commented on #371
_From @rdunlop on September 28, 2017 13:10_

Hi @greysteil I may be seeing a related (or unrelated) issue. I would like your opinion on whether it's the same issue, or a new bug.

Basically, it was my understanding that dependabot was doing the equivalent to `bundle update <gem>` for each of the gems specified in my Gemfile...and if it succeeded in resolving a gem update, it would open a PR. Is th

[2018-04-27 15:45] greysteil commented on #371
@rdunlop that's definitely related. You're right that Dependabot does the equivalent of `bundle update <gem>`, but it also has some logic to check whether the version of the dependency it's updating changes. If it doesn't (e.g., in this case), it doesn't generate a pull request, so you'll never get a "Bump sub-dependency of carrierwave-aws" pull request.

Having a general strategy for dealing with

[2018-04-27 15:45] greysteil commented on #371
_From @rdunlop on September 28, 2017 14:1_

@greysteil I knew you'd have an explanation for it.

I'm looking at the `Gemfile.lock` changes that I posted above....and I'm now seeing that it doesn't say what I thought it said. Oops.

You're right, this is totally explainable by #21.

I've seen people put `gem "rails", "~> 4"` recently.... 🤷‍♂️

[2018-04-27 15:45] greysteil commented on #371
_From @jalada on January 15, 2018 9:46_

Ruby 2.5.0 introduced some bugs in our code that required sub-dependent gems to be updated (specifically around `ruby_parser`) but because `haml-rails` is the dependency, dependabot didn't notify us of them.

Just an extra datapoint for this feature; I think it would definitely be valuable.

[2018-04-27 15:45] greysteil commented on #371
_From @regentgal on January 31, 2018 18:16_

I would expect sub-dependent gems to be updated with the parent. The strict 1 gem per PR rule is nice for isolating changes but updating a gem without updating **_its_** explicitly stated dependencies (and theirs), you end up with the issues listed here by @rdunlop and @jalada. I think moving to a 1 parent gem and its sub-dependencies per PR rule would

[2018-04-27 15:45] greysteil commented on #371
Hey @regentgal, Dependabot *does* update sub-dependencies when it's updating a top-level dependency 🎉 . The issues above are because Dependabot never creates PRs for sub-dependencies on their own - in @jalada's case, for example, Dependabot would have included a `ruby_parser` update if it was updating `haml-rails`, it's just that `haml-rails` didn't need an update.

Hope that helps clarify!

[2018-04-27 15:45] greysteil commented on #371
_From @rdunlop on January 31, 2018 19:45_

@greysteil If `haml-rails` doesn't need an update, but its dependent gem `ruby_parser` does need an update, I think that it would be great if we had a PR opened which was something like:
[code]

Which is the result when you run `bundle update haml-rails`. Even though `haml-rails` itself doesn't end up being changed, some other gems in my `Gemfile.lock` ar

[2018-04-27 15:45] greysteil commented on #371
Interesting, thanks @rdunlop. Might see some movement on this one in the next couple of weeks as I’m hoping for some progress on #53 (meeting GutHub about it next week)

[2018-04-27 15:45] greysteil commented on #371
_From @rdunlop on March 27, 2018 14:9_

@greysteil #53 appears to be focusing on updating sub-gems which have security alerts from github.

I agree that that's valuable work, but I still would like to have other sub-gems updated through automatic means if possible.

If we were to concentrate on security warnings as the goal for doing gem updates, here's some thoughts:
- Keeping gems updated, means

[2018-04-27 15:45] greysteil commented on #371
👍. At this point it would be really straightforward for me to add a setting for this, so I'll do that this week.

[2018-04-27 15:45] greysteil commented on #371
@rdunlop - I've just shipped the backend for this. If you ping me an email on support@dependabot.com with the repos you'd like it set up on I'll do that now (same goes for anyone else who would like to receive individual PRs for sub-dependencies.

Assuming all goes well I'll add a front-end for this available to everyone in the next couple of weeks.

[2018-04-27 15:46] #363 closed

[2018-04-27 15:46] #369 closed

[2018-04-27 15:46] #371 closed

[2018-04-27 15:46] greysteil opened #372 "Add support for C#"
_From @evenh on October 28, 2017 15:26_

This seems like a great product for the company I work at, but almost all our projects are written in Java (Maven) or C#/.NET. Is there any plans to support this? :-)

_Copied from original issue: dependabot/feedback#33_

[2018-04-27 15:46] greysteil commented on #372
_From @evenh on October 30, 2017 14:0_

I just realized that [dependabot/dependabot-core](https://github.com/dependabot/dependabot-core) is a thing. I'm not a Rubyist, but I might try to add some Java + Maven support.

[2018-04-27 15:46] greysteil commented on #372
That would be amazing! Happy to help guide you through it. There is a readme for each of the different helper classes that should help, too.

(And yes, we'd absolutely love to have support for Java and C#/.NET, but I don't know enough of either to add it myself and there's some polish we want to add to Python and PHP before I can spend my time digging into a new language.)

Cc @hmarr, who knows en

[2018-04-27 15:46] greysteil commented on #372
Added a starter PR for you: https://github.com/dependabot/dependabot-core/pull/116

[2018-04-27 15:46] greysteil commented on #372
_From @evenh on January 6, 2018 15:48_

@asbjornu Are you up for trying to add C#/.NET support? :)

[2018-04-27 15:46] greysteil commented on #372
_From @asbjornu on January 9, 2018 15:41_

@evenh: Sure! I just don't know where to start. If @greysteil could kickstart the process with a template of some sort (as he did for Maven), that would be awesome!

[2018-04-27 15:46] greysteil commented on #372
Very, very initial starter kit [here](https://github.com/dependabot/dependabot-core/pull/212). I can do a bit more on it, but the first decision is already clear: what package manager should we be supporting here...

(Let's move the discussion over to that PR.)

[2018-04-27 15:47] greysteil opened #373 "Lerna support"
_From @sobolevn on November 10, 2017 5:49_

Seems like right now all files inside `packages` are ignored.

Each folder inside `packages` could contain its own `package.json`.
It would be really nice to have it updated.

For the reference: https://github.com/wemake-services/remark-lint-are-links-valid

_Copied from original issue: dependabot/feedback#37_

[2018-04-27 15:47] greysteil commented on #373
_From @bennyn on November 13, 2017 11:41_

It would be great if **dependabot** would support a mono-repository structure! Basically, all you would have to do is to evaluate package.json files recursively.

[2018-04-27 15:47] greysteil commented on #373
We should definitely be supporting mono-repos - in the backend we actually have support for adding multiple directories for the same project/language, but never added it to the frontend because we couldn't figure out the design. I'll have a think.

@sobolevn - I'll look at Lerna, but it might have to wait a while.

[2018-04-27 15:47] greysteil commented on #373
In the meantime, if anyone has a monorepo that they want to try Dependabot on, let me know and I can add the directories in the repo manually in the backend.

[2018-04-27 15:47] greysteil commented on #373
_From @bennyn on November 15, 2017 11:6_

@greysteil We are using a Lerna monorepository at: https://github.com/wireapp/wire-web-packages - Can you enable monorepo support for us (we already installed Dependabot for this repository)?

[2018-04-27 15:47] greysteil commented on #373
Uh oh, it looks like I've over-reached a little here. I didn't fully understand how Lerna works with Yarn, but can see now that there's more work here to be done on the Dependabot side.

@bennyn - since your repo uses Yarn workspaces I can't get it up-and-running manually (since workspaces mean you've got a single `yarn.lock` shared across many `package.json` files). I'll have a look at adding sup

[2018-04-27 15:47] greysteil commented on #373
_From @bennyn on November 15, 2017 13:56_

@greysteil Can you do the following?
1. Update all dependencies in the `package.json` files of every package inside the [packages](https://github.com/wireapp/wire-web-packages/tree/master/packages) folder (and forget about their `yarn.lock` files)
2. Go to the root folder (containing the "packages" folder) and update dependencies in the [package.json](htt

[2018-04-27 15:47] greysteil commented on #373
Sadly not - Dependabot hacks around with the internals or Yarn (and Bundler, Composer and Pip) in order to avoid performing installs (and a bunch of other reasons). As a result, in situations like this there's normally quite a bit of work to get everything up and running. We also don't clone your repos, instead preferring to fetch only the files we need.

I've made a start on this in https://githu

[2018-04-27 15:47] greysteil commented on #373
_From @simondel on November 17, 2017 10:45_

This would be awesome for us as well! We don't use yarn or the package.lock.json or anything. Our use case would be:

- Update `**/package.json`
- Create a PR to run the CI

I tried using Greenkeeper earlier today but unfortunately they don't seem to support this setup yet.

Our repo for reference: https://github.com/stryker-mutator/stryker

[2018-04-27 15:47] greysteil commented on #373
OK, quick update on this:
- ~~We're *nearly* there on Yarn workspaces support. There's a bug in it right now, but I'm hoping to have that cleaned up today. If you're using Yarn and Lerna, that's probably what you want. ([More detail.](https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/))~~ Yarn workspaces support is now live! 🎉
- Once that's done, I'll look into Lerna support more broadly.

[2018-04-27 15:47] greysteil commented on #373
Another update: Dependabot can now support mono-repo structures. If you've got a mono-repo with many directories, each of which have their own `package.json` and `package-lock.json` (or `yarn.lock`) you can now add the same language multiple times in the Dependabot dashboard, specifying a different directory each time. Dependabot will treat the updates completely independently, so you don't have t

[2018-04-27 15:47] greysteil commented on #373
_From @exactlyaron on February 13, 2018 16:3_

Hi all.

We have a [monorepo](https://github.com/wmfs/tymly) and looking for something to keep everything up to date that supports Lerna, so we're very happy to see you're working on support for it! 😄

I had a little test of Dependabot and in the dashboard when I've added a couple of directories located in the 'packages' directory of our repo it is sh

[2018-04-27 15:47] greysteil commented on #373
_From @bennyn on February 13, 2018 16:9_

@AronM28: At [Wire](https://wire.com/) we are using **Dependabot** with a mono-repository managed by **Lerna**:
- https://github.com/wireapp/wire-web-packages

As you can see in our merged PRs, it works really well 🌞:
- https://github.com/wireapp/wire-web-packages/pulls?q=is%3Apr+is%3Aclosed+author%3Aapp%2Fdependabot

[2018-04-27 15:47] greysteil commented on #373
If there’s an error bumping any of your dependencies you’ll see that status (and I’ll get an error report on my side). I’ve been away for the last week (I’ll be back from holiday on Friday), so am a little behind on digging into those errors - sorry!

[2018-04-27 15:47] greysteil commented on #373
And thanks @bennyn!

[2018-04-27 15:47] greysteil commented on #373
_From @exactlyaron on February 15, 2018 8:22_

After overloading Travis initially, I redone everything in a more patient manner and it looks good!   😄

Great work @greysteil !

[2018-04-27 15:47] greysteil commented on #373
@AronM28 - FYI, I got back from holiday today and hunted down that bug. It was caused by `hl-pg-client` being listed in the dependencies for [address-matcher](https://github.com/wmfs/tymly/blob/master/packages/address-matcher/package.json#L14) but not published on the [registry](http://registry.npmjs.org/hl-pg-client). Presumably this works locally because Lerna takes care of it.

The fix (in http

[2018-04-27 15:47] greysteil commented on #373
_From @exactlyaron on February 15, 2018 20:20_

@greysteil  Brilliant thanks a lot for the help! 👍   I had a feeling it was probably down to an unpublished package.   There's a few more which probably came about for that same reason.

It is something that has been noted on some other things, another pro for publishing all the things.

[2018-04-27 15:47] greysteil commented on #373
_From @exactlyaron on April 16, 2018 8:50_

Probably a long term nice to have but the ability to update package.json settings en masse would be nice.

For example, so with our monorepo I think there is 28 packages, so you'd need to manually change every setting for each individual one.  It would be nice to be able select all in the repo to set bump frequency or auto merge setting.   👍

[2018-04-27 15:47] greysteil opened #374 "Add badges"
_From @sobolevn on November 17, 2017 9:16_

I want to inform my users, that dependencies are up-to-date.

The easiest way to do it, as for me, is a badge. Something similar to:

![dependencies](https://img.shields.io/david/expressjs/express.svg)
![dev](https://img.shields.io/david/dev/expressjs/express.svg)

Do you have any plans to support this feature?

_Copied from original issue: dependabot/fe

[2018-04-27 15:47] greysteil commented on #374
Yes, we'd be really keen to support that. I want to wait a month to see how GitHub's dependency graph support shakes out (it might well make more sense to power a badge with that), but if there's a role for Dependabot to play here we'll do it. Would be free publicity for us, after all!

[2018-04-27 15:47] greysteil commented on #374
_From @StephanBijzitter on November 20, 2017 12:58_

Don't forget to throw in a badge that is used only to advertise :-)
https://img.shields.io/badge/Dependabot-active-brightgreen.svg
![Example shield](https://img.shields.io/badge/Dependabot-active-brightgreen.svg)

[2018-04-27 15:47] greysteil commented on #374
_From @mydearxym on March 21, 2018 3:42_

+1

[2018-04-27 15:48] greysteil opened #375 "Support multiple gemfiles"
_From @deivid-rodriguez on November 19, 2017 18:44_

Some projects use multiple gemfiles. The main use case I know for this is to be able to test libraries against different major versions of dependencies.

Does dependabot support this kind of setups?

_Copied from original issue: dependabot/feedback#51_

[2018-04-27 15:48] greysteil commented on #375
Slightly absurdly, the answer is "yes on the backend, no on the frontend". We've never figured out a good way to display information about which directory (or files) within a project an update setup is targeting, so while the backend supports have multiple update setups of the same language for the same project, there's no way to add them in the frontend.

If you've got a particular repo in mind,

[2018-04-27 15:48] greysteil commented on #375
_From @deivid-rodriguez on November 21, 2017 0:5_

I think mentioning the specific gemfile being updated in the description & body of PR's could be enough? Like "Bump <gem_name> from <old_version> to <new_version> in <path_to_gemfile>"?

Yes, this one: https://github.com/activeadmin/activeadmin!

Dependabot would need to open PR's to keep the `gemfiles/rails_{42,50,21}.gemfile` up to date automati

[2018-04-27 15:48] greysteil commented on #375
OK, that links in with the work I'm doing on https://github.com/dependabot/feedback/issues/27 and https://github.com/dependabot/dependabot-core/pull/135 - will take a few days but I'll have something for you relatively soon. And I'd love to have Dependabot running on https://github.com/activeadmin/activeadmin so doubly motivated to get it done!

[2018-04-27 15:48] greysteil commented on #375
_From @deivid-rodriguez on November 21, 2017 0:17_

Thanks @greysteil, let me know if you need anything from our side! :heart:

[2018-04-27 15:48] greysteil commented on #375
@deivid-rodriguez - I've been thinking about this one for a bit:
- I **don't** yet have a good solution for Dependabot updating each of the `gemfiles/rails_{42,50,21}.gemfile` files. Fundamentally, the problem is that Dependabot doesn't have a way of saying "only update the dependency within this range", which is what you'd want for those. I feel like a good solution is tantalisingly close, but I'

[2018-04-27 15:48] greysteil commented on #375
_From @deivid-rodriguez on November 30, 2017 14:54_

:wave: @greysteil!

So if I'm understanding this right, connecting @dependabot at this point would mean getting automatic updates for `Gemfile` and `activeadmin.gemspec`, but not yet for `gemfiles/rails_{42,50,51}`, right? If so, sounds like a start! :)

[2018-04-27 15:48] greysteil commented on #375
Yep, that's exactly right 🙂

[2018-04-27 15:48] greysteil commented on #375
_From @deivid-rodriguez on November 30, 2017 15:1_

Nice! I'll propose it to the team then. Definitely a :+1: from me! :)

[2018-04-27 15:48] greysteil commented on #375
_From @deivid-rodriguez on January 25, 2018 1:2_

@greysteil Sorry I never updated this. The other activeadmin collaborators (who are more actively collaborating than me) had no interest on adding this, so that's why we didn't add it.

Hopefully the changes you added will be useful to other projects, and I'll be able to convince AA folks one day :)

[2018-04-27 15:48] greysteil commented on #375
No worries - it was useful feedback regardless!

[2018-04-27 15:48] greysteil opened #376 "Support grouping of pull requests"
_From @StephanBijzitter on November 20, 2017 12:19_

Currently Dependabot creates one pull request per updated dependency, and while this is generally awesome, it is not always preferred.

For example, I would like to update React and React-DOM at the same time, but right now that means I have to merge Dependabot's pull request into another pull request by Dependabot.

I'd like to propose a mechan

[2018-04-27 15:48] greysteil commented on #376
That's a really nice idea - I'm totally behind that as a UI solution for this.

It'll need quite a bit of work on our backend (which currently assumes PR are for one dependency only) but we need to do that work anyway. Once it's done, I'll look at implementing this.

Thanks masses for the suggestion!

[2018-04-27 15:48] greysteil commented on #376
_From @StephanBijzitter on November 20, 2017 13:3_

Going to link a few issues together here:

This would resolve #5: _Handle upgrades that require upgrading multiple dependencies at once_

And would very likely lay the groundwork for #11: _Option for single pull request per update_ (or that request lays the groundwork for this request, whichever you do first I guess)

[2018-04-27 15:48] greysteil opened #377 "Create PRs for sub-dependencies when there is a security vulnerability"
_From @johnnagro on November 20, 2017 22:42_

github recently alerted us to a downstream dep (in the gemfile.lock brought in from some other dep higher up) security issue, and suggested we make a change to the gemfile to force a newer version of the downstream dep. your bot didn't suggest such a change, but it would be sweet if it did.

happy to provide more context

![selection_191](https://user-

[2018-04-27 15:48] greysteil commented on #377
Love that new feature from GitHub!

I'll have a think about what we could do here - I totally agree it would be good for Dependabot to create PRs for security issue in sub-dependencies.

[2018-04-27 15:48] greysteil commented on #377
_From @StephanBijzitter on November 21, 2017 10:35_

Currently there's three ways to resolve these, as far as I know:

1) Update the dependency if possible and hope that the subdependency's version range is wide enough to have that updated too. Definitely the easiest.
2) Update the yarn.lock (`yarn upgrade`), updating all dependencies (and their subs) to their latest versions within the version ra

[2018-04-27 15:48] greysteil commented on #377
Dependabot can't handle yarn resolutions yet 😢 . They're definitely the way forward, though - we'll be adding them once @hmarr is back from holiday! 💪

[2018-04-27 15:48] greysteil commented on #377
_From @johnnagro on November 21, 2017 19:57_

I recognize that this could be tricky and maybe impossible to resolve automatically. For example, this specific issue is hard for us to resolve because an upstream package is forcing the bad downstream dependency version. No newer version of the upstream is available as of yet - although alternatives do exist.

So, maybe a PR isn't possible, but maybe

[2018-04-27 15:48] greysteil commented on #377
That one differs language-by-language - in Ruby, Bundler are mooting an option to be able to force a sub-dependency version, for example.

I'm not hugely keen on Dependabot creating issues for security vulnerabilities - as I understand it, GitHub are planning to do that themselves, so I think we should probably leave it to them. They're unlikely to start creating PRs for you, though (famous last w

[2018-04-27 15:48] greysteil commented on #377
Update: GitHub have told me that they *are* planning to launch an API for their [security alerts](https://github.com/blog/2470-introducing-security-alerts-on-github). I'll do my best to make Dependabot a beta tester for it, and get this implemented as soon as possible. Watch this space! 🕵️

[2018-04-27 15:48] greysteil commented on #377
This is done! 🎉 https://dependabot.com/blog/automatically-respond-to-security-advisories

[2018-04-27 15:48] greysteil opened #378 "Add Freeform text to pullrequests"
_From @markijbema on November 21, 2017 12:35_

We would be very helped with the option to define some text in dependabot to always add to a pullrequest. Specifically, our jenkins checks the description of the PR for extra hints for which tests to run.

So in our case we would like to add "extratests:: cat == Documents", but I could imagine this also to be useful to include links to corporate upgra

[2018-04-27 15:48] greysteil commented on #378
Interesting. I can't think of a way to do this cleanly in the app UI, and since it's the first time I've heard it suggested my default is not to add potential complexity for others. Is there any way you can change your jenkins setup to instead special-case Dependabot's user?

[2018-04-27 15:48] greysteil commented on #378
_From @markijbema on November 21, 2017 14:25_

I wouldn't want to special case on the user though; I do want to run this for my git-submodules, but not for my yarn-updates. A label would be fine as well, but this seems simpler: a text-box in the advanced settings still seems quite clean?

[2018-04-27 15:48] greysteil commented on #378
Sorry for the delay getting back to you on this one. For now, I don't want to add this to Dependabot - sorry! I'm generally erring on the side of being really cautious about introducing any settings because Dependabot is a tiny team (me and one other person) and already deals with a lot of complicated logic. I totally appreciate that this particular change wouldn't be large on our side, but it's a

[2018-04-27 15:48] greysteil commented on #378
_From @markijbema on November 27, 2017 12:43_

Sure, I totaly respect your decision :)

[2018-04-27 15:48] greysteil opened #379 "Feedback after our two-week trial"
_From @StephanBijzitter on November 24, 2017 12:30_

Hello!

We've been using Dependabot for almost two weeks now, and it has become time (because it will run out during the weekend) to decide whether we want to continue or not. Whatever our choice will be, it's always good to leave feedback. Here we go!

## Greenkeeper
We started using Greenkeeper many months ago and it suited our needs at the ti

[2018-04-27 15:48] greysteil commented on #379
This is really helpful feedback - thanks @StephanBijzitter.

FYI, I've spent the last week working on #5, which will fix the "grouping of pull requests" issue for Ruby (where the resolution logic tells us when dependencies need to be updated together), which should lay the groundwork for #52 and potentially #11.

I'm also committed to adding Lerna support, once I've had a chance to look into how i

[2018-04-27 15:48] greysteil commented on #379
Also, on those non-rebasing PRs, can you let me know next time you see one, and *don't* fix it up yourself? I want to dig into what's causing it, but haven't been able to replicate.

[2018-04-27 15:49] greysteil commented on #379
_From @StephanBijzitter on November 24, 2017 20:8_

Will pass it on to my team, I'm going on vacation today. I have a theory in my head, but as I've not been able to test it yet, I didn't want to mention it. Often when I merge a pull request by Dependabot, I hit the delete branch out of habit. Perhaps this can provide an edge case where Dependabot fails to rebase. But again, I have not been able t

[2018-04-27 15:49] greysteil commented on #379
FYI, I think I might have found the cause of the rebasing problem. For repos with a large number of open Dependabot PRs, merging one of the PRs can trigger all of the others to rebase at the same time. That meant Dependabot suddenly made a lot of calls to GitHub, and would sometimes hit an abuse detection threshold. If/when that happened, Dependabot would fail to rebase the PRs, and sometimes leav

[2018-04-27 15:49] greysteil commented on #379
_From @StephanBijzitter on November 28, 2017 11:52_

That makes sense. I merged one pull request a few hours ago and Dependabot deleted the branch.  Out of the six that are still open, one has been rebased. I'll merge another one and see what happens with the remaining five.

[2018-04-27 15:49] greysteil commented on #379
Awesome. Ping me the PR number and repo name, either here or on support@dependabot.com, and I'll take a look at it from my side if anything's wrong.

[2018-04-27 15:49] greysteil commented on #379
Another update on this: Dependabot can now support mono-repo structures. If you've got a mono-repo with many directories, each of which have their own `package.json` and `package-lock.json` (or `yarn.lock`) you can now add the same language multiple times, specifying a different directory each time. Dependabot will treat the updates completely independently, so you don't have to merge an update to

[2018-04-27 15:49] greysteil commented on #379
_From @StephanBijzitter on November 30, 2017 21:48_

Nice! That's definitely a very good step already! We can use that already since it's basically the exact same as we do manually right now.

As for the rebasing issue (for anyone else reading this), this was largely based on a misunderstanding/miscommunication. We thought Dependabot would always rebase automatically when the branch falls behind m

[2018-04-27 15:49] greysteil commented on #379
@StephanBijzitter - I've done a bunch of work on PHP support over the last couple of days and it looks like Dependabot is now producing PRs on your main PHP repo. 🎉

Please do let me know if there's anything amiss with those PRs - PHP support in Dependabot is very new, so may well need some fine-tuning.

[2018-04-27 15:49] greysteil commented on #379
_From @StephanBijzitter on December 7, 2017 14:19_

We noticed the pull requests coming in indeed! We expect none of them to be merged within the next few days, because we have some required status checks that currently cannot pass because of the branch names, leaving the tests pending indefinitely. It's an old repository and we're going to have to be very careful changing the flow, but we'll work

[2018-04-27 15:49] greysteil commented on #379
_From @StephanBijzitter on December 18, 2017 23:43_

@greysteil All dependencies in our PHP project have been updated, although using different pull requests to accommodate for the changes we needed to make (so that may skew your metrics a bit).

However in another project I did notice something strange, which I have reported here:
https://github.com/dependabot/dependabot-core/issues/180

[2018-04-27 15:49] greysteil commented on #379
Awesome! I've fixed up that issue, too (thanks for reporting).

[2018-04-27 15:49] greysteil commented on #379
I'm going to close this as it's tracked in other issues. Thanks again for the detailed feedback @StephanBijzitter!

[2018-04-27 15:49] greysteil opened #380 "Please don't open dependabot PRs during working hours"
_From @rdunlop on November 27, 2017 16:44_

Usually, dependabot opens PRs for my projects between 2-3am, which is great, because no one is working. My CI system has enough capacity/time to work through the PRs at its leisure.

A few times (today being one of them), the PRs were opened starting around 10:30am. This is very problematic because there are now developers doing development work, and the

[2018-04-27 15:49] greysteil commented on #380
_From @rdunlop on November 27, 2017 16:45_

Was there a dependabot issue this morning? (or is another developer in my organization clicking "run now" on all my repos?)

[2018-04-27 15:49] greysteil commented on #380
Understood, thanks @rdunlop - this was a manual run (on my side) to make up for a couple of missed updates this morning, but in future I'll wait until the following day. I'm also thinking about making Dependabot more timezone aware, so that it can be more considerate of CI capacity wherever teams are based.

And sorry! :octocat:

[2018-04-27 15:49] greysteil opened #381 ""Manage plan" takes me to 404 page"
_From @lipis on November 28, 2017 16:29_

https://github.com/marketplace/dependabot/upgrade/null/5231014

_Copied from original issue: dependabot/feedback#57_

[2018-04-27 15:49] greysteil commented on #381
Hmmm, that `null` looks deeply suspicious, doesn't it?! I'll get on it.

[2018-04-27 15:49] greysteil commented on #381
Fixed! Sorry about that.

[2018-04-27 15:49] greysteil commented on #381
_From @lipis on November 28, 2017 16:41_

No problemas.. :) That was fast.. 🍻 🍺

[2018-04-27 15:49] greysteil opened #382 "What about combining updates into one?"
_From @lipis on December 1, 2017 14:4_

So we have this case: https://github.com/wireapp/wire-desktop/pulls?q=is%3Apr+is%3Aopen+label%3Adependencies

<img width="629" alt="screen shot 2017-12-01 at 15 02 01" src="https://user-images.githubusercontent.com/125676/33485988-b7fa0684-d6a8-11e7-9a67-543564e41a2c.png">

But because travis takes a lot of time to build after each merge.. what about asking

[2018-04-27 15:49] greysteil commented on #382
_From @gregor on December 1, 2017 14:9_

@lipis Not a big fan of a solution like this. With our semantic commit messages we can clearly see which dependecies we have updates with each sqaush merge and can detect faulty ones at ease. Combining them into a single PR would no longer allow us to do this.

[2018-04-27 15:49] greysteil commented on #382
I'm going to close this as a dup of #52, but I'm thinking about how we solve two problems here:
1) Too many CI runs for Dependabot pull requests. This may mean I need to revert the recent change to keep Dependabot PRs fully up-to-date for repos that have a protected branch.
2) How to handle PRs that need to be merged at the same time (e.g., React and React Dom)

[2018-04-27 15:49] greysteil opened #383 "Bower support"
_From @Chronyms on December 5, 2017 21:5_

I would like tho have bower support.
This should have some similliarity to npm and yarn, just with different file-names.

Tank you

_Copied from original issue: dependabot/feedback#59_

[2018-04-27 15:49] greysteil commented on #383
Thanks for the feedback!

We've held back on adding Bower support since [Adam  himself is recommending users switch to Yarn](https://bower.io/blog/2017/how-to-migrate-away-from-bower/). Whilst we could do it, realistically it's not likely to be a high priority in the near future, unless I'm missing something?

[2018-04-27 15:49] greysteil commented on #383
_From @ChristophWurst on December 13, 2017 8:11_

FYI bower has been deprecated for a while now: https://bower.io/blog/2017/how-to-migrate-away-from-bower/

[2018-04-27 15:49] greysteil opened #384 "Why didn't a project get a gem update last night?"
_From @rdunlop on December 8, 2017 13:38_

Hi folks,

Yesterday, the `eye-patch` gem released a new 0.4.2 version of the gem.
Most of our projects depend on this gem.

I got dependabot PRs for many projects, but not for all. Why not?

For example https://github.com/tablexi/women-on-call only received a single PR https://github.com/tablexi/women-on-call/pull/789 (which is for the `Faker` gem).

I w

[2018-04-27 15:49] greysteil commented on #384
Interesting - I'll look into this. Are you OK for me to manually re-trigger the request on women-on-call?

[2018-04-27 15:49] greysteil commented on #384
_From @rdunlop on December 8, 2017 13:43_

Yes.

[2018-04-27 15:49] greysteil commented on #384
_From @rdunlop on December 8, 2017 13:48_

I'm seeing this missing on other projects too. Like:
https://github.com/rdunlop/unicycling-registration
https://github.com/tablexi/idc-application

In case that's helpful. You can trigger against unicycling-registration as much as you want too.

[2018-04-27 15:49] greysteil commented on #384
Awesome. I'm talking the logs on our side now, and can see that this is todo with the speed Dependabot can resolve your Gemfile. For women-on-call each update check (which has to do a full resolution) is taking a long time, which is going to lead to the job timing out before all dependencies have been checked. We randomise the order that dependencies are checked to ensure you'll get the update eve

[2018-04-27 15:49] greysteil commented on #384
_From @rdunlop on December 8, 2017 13:57_

Thanks @greysteil . I appreciate you looking into it. If your "random" choice tries to un-pin the rails version, I can definitely see the task timing out.

[2018-04-27 15:49] greysteil commented on #384
This was a bug on our side which was causing *very* slow resolutions. It's fixed in https://github.com/dependabot/dependabot-core/commit/bb92e1d9582c9c9cb76d885fdc5fd96cf5065129 (which basically makes Dependabot smarter about when it should give up on trying to unlock dependencies in a Gemfile in order to update to the latest version).

Thanks for reporting it! If you see situations like this agai

[2018-04-27 15:50] greysteil opened #385 "More sophisticated detection of whether a codebase is a library or an app"
_From @holvonixAdvay on December 11, 2017 20:4_

We've been testing out dependabot and greenkeeper simultaneously on some simple open-source repos.  Dependabot's compat scores and full integration with yarn lockfiles, without needing a secondary run of a script, means we can use --frozen-lockfile, so we'd like to switch to dependabot alone, but its handling of semver is confusing me.

We have a de

[2018-04-27 15:50] greysteil commented on #385
Thanks for trying Dependabot!

Hmmm, that behaviour is intentional but perhaps it's not what you'd expect in JavaScript. Basically, our thinking is that whilst the `package.json` update isn't required we're doing an update anyway and having the same version in your lockfile and `package.json` reduces the scope for confusion. (I've seen a couple of issues created where people think Dependabot has g

[2018-04-27 15:50] greysteil commented on #385
_From @holvonixAdvay on December 11, 2017 22:25_

Keep up the great work, Dependabot has been a breeze to use.  Things just work, even when we're putting Travis through the paces with complex configurations :)

Sorry, I misspoke earlier - I'd rather _nothing_ get updated if a new, in semver range, dependency is published which also passes tests.  Patches are pushed constantly and we don't need to

[2018-04-27 15:50] greysteil commented on #385
_From @holvonixAdvay on December 11, 2017 23:8_

Something to consider:  transitive dependencies (in yarn.lock) get updated all the time (i.e. within the semver range of one's direct dependencies).     At least for yarn users it would be consistent  to always propose a full `yarn upgrade-interactive` OR `yarn upgrade-interactive --latest`. It seems dependabot prefers the latter (which updates pack

[2018-04-27 15:50] greysteil commented on #385
Ah, interesting, thanks for clarifying.

I hadn't realised we were talking about updates to a library here (rather than an application). Given that, my thoughts are very different!

For a library, I agree completely with the flow you described, at least as far as updates to your `package.json` go - you want to be keeping the requirements there loose so that anyone using `--flat` has the widest ran

[2018-04-27 15:50] greysteil commented on #385
_From @holvonixAdvay on December 12, 2017 0:1_

Ah got it - I wasn't considering the application case!  I guess there's no standard way of saying 'I'm a leaf' or no one may depend on me.  Given that, what you said makes sense.  Right now I'm using a combination of dependabot, greenkeeper, and snyk to see when to update things, as each does an important but distinct thing.  We'll see what happens w

[2018-04-27 15:50] greysteil commented on #385
One of the great things about working on Dependabot has been seeing how different languages do it. PHP libraries explicitly declare that they're libraries in their `package.json` equivalent, and Ruby libraries are the only ones to have a `*.gemspec` file. Looks like with JS we need to be a bit cleverer, but that's entirely do-able.

[2018-04-27 15:50] greysteil commented on #385
Just figured out a robust way to do this for JS and pushed it in https://github.com/dependabot/dependabot-core/commit/127f3409a1ae5e83a4cc3b9d6c54cb784c521b25. Dependabot will now reliably identify whether a JS repo is an application or a library, and adjust its requirements accordingly (i.e., keep them loose for libraries and tight for applications).

🎉

[2018-04-27 15:50] greysteil opened #386 "Support vendoring for PHP"
_From @ChristophWurst on December 13, 2017 11:47_

Hi there,

I just wanted to give dependabot a test run for [Nextcloud's 3rdparty libs](https://github.com/nextcloud/3rdparty/issues/36#issuecomment-351308076) and I've encountered a problem. Instead of pulling dependencies every time, we do commit them in our git repo. However, dependabot seems to only update the `composer.json` and `composer.lock

[2018-04-27 15:50] greysteil commented on #386
Ah, interesting. Dependabot doesn't support vendoring for any of the languages it updates at the moment, but it's on the list of things I'd like to support. ~~I'm going to extend the title of #15 to include PHP, since the work to do so will essentially be the same.~~ (Decided to change the title here instead, since the work is similar but not identical.)

This is quite a big project (probably a co

[2018-04-27 15:50] greysteil commented on #386
_From @ChristophWurst on December 13, 2017 12:2_

Thanks a lot, @greysteil!

[2018-04-27 15:50] greysteil opened #387 "Multiple requirements files"
_From @sobolevn on December 14, 2017 15:12_

I have two `Pipfile`s in the same project. Because it is a template. https://github.com/wemake-services/wemake-django-template

But I can not enable both files to be updated. Is it possible?

The same goes for `package.json` as well (I have not tried any other tools).

_Copied from original issue: dependabot/feedback#63_

[2018-04-27 15:50] greysteil commented on #387
This should be fine - you just need to click `add language` a second time, and then select the directory of the second Pipfile in the `advanced options` section. Is that not working for you? Same should go for `package.json`.

Let me know if I'm missing something!

[2018-04-27 15:50] greysteil commented on #387
_From @sobolevn on December 14, 2017 15:16_

Sorry, it was just not clear to me.

[2018-04-27 15:50] greysteil commented on #387
🎉

(Also yeah, we could definitely make this clearer - frontend needs some design love!)

[2018-04-27 15:51] greysteil opened #388 "Run on multiple branches"
_From @DeepDiver1975 on December 20, 2017 10:29_

Hi,

we have multiple release branches within our repo and I'd like to run dependencybot on all our release branches.

This is the error I'm getting - or am I miss understanding this .... THX a lot

![bildschirmfoto von 2017-12-20 11-29-03](https://user-images.githubusercontent.com/1005065/34202756-011c6a94-e579-11e7-8991-5f88b437fef6.png)

_Copied

[2018-04-27 15:51] greysteil commented on #388
Interesting - not a use case I’d thought of but easy for us to support. I’ll make the change later today and close this when it’s done.

[2018-04-27 15:51] greysteil commented on #388
_From @DeepDiver1975 on December 20, 2017 10:33_

Thanks for your fast feedback - much appreciated!

[2018-04-27 15:51] greysteil commented on #388
Fix is deploying now. 🎉

[2018-04-27 15:51] greysteil commented on #388
_From @DeepDiver1975 on January 8, 2018 8:3_

Thanks a lot! Setting it up now!

[2018-04-27 15:51] greysteil opened #389 "Private pypi servers"
_From @khornberg on December 22, 2017 13:56_

Are there plans to enable private pypi servers?

_Copied from original issue: dependabot/feedback#65_

[2018-04-27 15:51] greysteil commented on #389
Yes! I need to do a bit of work to enable it first, but should be able to ship something today or on Sunday.

[2018-04-27 15:51] greysteil commented on #389
Private PyPI servers should be working now! Dependabot will read your `pip.conf` and/or your `requirements.txt` to find them.

Let me know if you have any trouble - it's a brand new features so may not be perfect, but I've tested internally.

🍸

[2018-04-27 15:51] greysteil opened #390 "Support for Docker compose files"
_From @armin-joellenbeck on December 23, 2017 9:21_

Knowing when new Docker images are published would be helpful when the are used in a Docker compose file too.

Just like #20, with the file `docker-compose.yml` instead of `Dockerfile`.

_Copied from original issue: dependabot/feedback#66_

[2018-04-27 15:51] greysteil commented on #390
👍  for this, and should be relatively straightforward. A couple of things I want to get to first, but I'm definitely game for adding this to Dependabot at some point!

[2018-04-27 15:51] greysteil opened #391 "Use conventional commits when updating apps"
_From @felixfbecker on December 23, 2017 23:15_

_From @felixfbecker on December 23, 2017 22:46_

I couldn't find this on the docs page.
I.e. when the update was a semver-patch update, prefix the commit message with `fix: `, if it was a semver-minor update, prefix the commit message with `feat: `, if it was a semver-major update use `chore: `. That allows automatic semantic releases of the dependi

[2018-04-27 15:51] greysteil commented on #391
_From @felixfbecker on December 23, 2017 23:15_

_From @greysteil on December 23, 2017 22:50_

Interesting. We create [semantic commit messages](https://seesparkbox.com/foundry/semantic_commit_messages) for those who use them, which means all dependency updates go in a `chore(dependencies)` (see https://github.com/wireapp/wire-web-packages/pull/142 for an example). Would that work?

If not, I coul

[2018-04-27 15:51] greysteil commented on #391
_From @felixfbecker on December 23, 2017 23:15_

`chore` unfortunately doesn't trigger a new release with [semantic-release](https://github.com/semantic-release/semantic-release).
Taking my example from #191:

- editor extension depends on language service

The editor extension needs to get a new feature release with all the dependencies zipped if the language server gets a new feature. If the lan

[2018-04-27 15:51] greysteil commented on #391
_From @felixfbecker on December 23, 2017 23:15_

_From @greysteil on December 23, 2017 23:10_

Interesting. Looks like there's some non-trivial thinking to be done on this one - Angular themselves use `chore` for all their [package updates](https://github.com/angular/angular.js/commits/master/package.json), for example...

My hunch is that Dependabot is best off staying neutral on this, but do you

[2018-04-27 15:51] greysteil commented on #391
_From @felixfbecker on December 23, 2017 23:15_

Yeah, a library like Angular doesn't need to (and shouldn't) do this, because when I `npm install angular` npm will install the latest version of transitive dependencies. But at some point you always have to bundle your dependencies, for application deployments, building installers, building a Docker image, bundling+minification, or in my example fo

[2018-04-27 15:51] greysteil opened #392 "Possible bug in dockerfile support"
_From @sobolevn on December 24, 2017 8:58_

I have an outdated `3.6.3` `patch` version of `python` in my `Dockerfile`, while the most recent one is `3.6.4`.

So, my question is: why does `dependabot` ignore this update?

Here are some links to investigate this issue:
- My `Dockerfile`: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/docke

[2018-04-27 15:51] greysteil commented on #392
Dependabot should be able to handle the `3.6.3-alpine3.6` -> `3.6.4-alpine3.6` update just fine. I'll have a dig.

[2018-04-27 15:51] greysteil commented on #392
_From @sobolevn on December 24, 2017 10:10_

Thanks! And what about `python:3.6.4-alpine3.6 -> python:3.6.4-alpine3.7`?

[2018-04-27 15:51] greysteil commented on #392
I don't think it will do that, and that *might* be what's confusing it. Will take a look when I'm not with family.

[2018-04-27 15:51] greysteil commented on #392
Fixed - that was indeed what was causing the problem. In cases like this, where there's a version in the suffix, Dependabot will only suggest updates to the first version. I think doing anything else might get too complicated...

[2018-04-27 15:51] greysteil commented on #392
_From @sobolevn on December 24, 2017 21:25_

Yeap, that's working now: https://github.com/wemake-services/wemake-django-template/pull/96

[2018-04-27 15:51] greysteil opened #393 "Support private pip server+index as a Config Variable"
_From @skylerbunny on December 27, 2017 0:23_

In the same way that 'Manage config variables' allows a user to add a private gem server or private docker registry, you'll probably want to allow the use of private PyPI libraries. For instance, one can be created with the https://github.com/devpi/devpi Devpi project.

If setting this up, the functional use of this variable would be to provide up to

[2018-04-27 15:51] greysteil commented on #393
Awesome - been waiting for someone to ask for this, and the above is really clear. I'll get something implemented in the next couple of days.

Thanks masses for the feedback, and for describing what's needed so thoroughly.

[2018-04-27 15:51] greysteil commented on #393
Just shipped a first version of this - take a look and let me know what you think! I want to put a bunch more validations in there to help people out, but it *should* be working as-is. 🎉

[2018-04-27 15:51] greysteil commented on #393
_From @skylerbunny on December 27, 2017 18:37_

(Sorry, I'm realizing I don't have a lot of time to explain this Right Now because I'm discovering that finding the perfect answers isn't in easy reach for the moment):

You may wish to do trivial checks at submit time of the Config Variable as to the validity of an index, even if the index is empty (which it can be). That being said, what defines a

[2018-04-27 15:51] greysteil opened #394 "PHP platform requirements ignored"
_From @ChristophWurst on January 8, 2018 8:40_

Hi,

dependabot created a PR to update one of our composer libraries in https://github.com/nextcloud/twofactor_totp/pull/218. This, however, does not work on our supported platforms (php5.6 to 7.2) as the newest version pulled is only compatible with php => 7.1.

To prevent composer from installing incompatible versions on my dev instance (I'm on php

[2018-04-27 15:52] greysteil commented on #394
Thanks for the detailed bug report @ChristophWurst. I'll see what I can do.

[2018-04-27 15:52] greysteil commented on #394
Digging into this, I think things are a little more complicated:
- Specifying a `platform` in your `composer.json` tricks composer into thinking you have the specified version of PHP installed on your machine
- ~~It *doesn't*, however affect resolution. There's not much in the way of documentation out there ([here](https://getcomposer.org/doc/06-config.md#platform))~~

~~You can replicate the abov

[2018-04-27 15:52] greysteil commented on #394
OK, after a bunch of digging I've got a failing spec for this and a couple of leads on how to fix it. I need to work on some other stuff now, but will come back to this when I can. I'd also welcome any help from anyone who knows PHP better than I do.

[2018-04-27 15:52] greysteil opened #395 "JS: Handle versions specified as GitHub URLs"
_From @DeepDiver1975 on January 9, 2018 13:32_

see https://github.com/owncloud/dep-graph-issue/blob/db6098e260f7d5c6413fca808b060df3c99baba1/package.json#L13-L15

[code]
tapmodo/Jcrop and jashkenas/backbone have higher versions available but none of them are updated.

THX a lot

_Copied from original issue: dependabot/feedback#71_

[2018-04-27 15:52] greysteil commented on #395
Thanks for the feedback. I'll take a look into it.

[2018-04-27 15:52] greysteil commented on #395
FYI, I've started work on this over at https://github.com/dependabot/dependabot-core/pull/221.

[2018-04-27 15:52] greysteil commented on #395
This is all working now - the repo you linked to doesn't have a `package-json.lock`, and the new versions for `tapmodo/Jcrop` and `jashkenas/backbone` are within the permitted range in your `package.json`, so Dependabot hasn't generated PRs for you, but the update logic is running fine.

Thanks for the feature request!

[2018-04-27 15:52] greysteil commented on #395
_From @DeepDiver1975 on January 15, 2018 7:32_

Thanks a lot @greysteil

[2018-04-27 15:52] greysteil commented on #395
_From @DeepDiver1975 on January 15, 2018 9:57_

is package-lock required or should this work with yarn.lock as well?
I just added yarn.lock with one dep being outdated and I see no PR being created.

But maybe I'm just doing it wrong ;-)

[2018-04-27 15:52] greysteil commented on #395
_From @DeepDiver1975 on January 15, 2018 10:31_

the yarn guys are working on this - the next version should support semver on the git url
https://github.com/yarnpkg/yarn/pull/5140

[2018-04-27 15:53] greysteil opened #396 "Provide option to configure format of branch name"
_From @edkellena on January 9, 2018 15:40_

Hey,
It would be super awesome if we could specify some format for the branch name created.

Use-case:
Our CI system sees a PR raised and will run through a build process that generates a Docker image and tags it with the branch name.  Unfortunately Docker tags have more limited scope than Git branches...
`A tag name must be valid ASCII and may contain l

[2018-04-27 15:53] greysteil commented on #396
Thanks for the feedback @edkellena.

It's a totally legit request, but I'm not keen on changing things on Dependabot's side for a couple of reasons:
- branch name generation is already [quite complicated](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/branch_namer.rb) and I don't want to add more considerations to it
- there's no obvious place to put

[2018-04-27 15:53] greysteil commented on #396
_From @edkellena on January 9, 2018 22:12_

Fair enough 👍 I did wonder whether it would be a fruitless ask!   Would be happy to attempt a PR for the generation, but without the UI setting available, that would be a bit pointless.

I do have some very hacky workaround at the moment, which I'll try to unhack soon.  Cheers though!

[2018-04-27 15:53] greysteil commented on #396
Always worth asking! Thanks for understanding 🙂 .

[2018-04-27 15:53] greysteil opened #397 "PR assignment + Reviewers"
_From @olivierbuffon on January 11, 2018 15:10_

It would be very nice to be able to automatically assign one or many people on the created PR.
In our case, a part of our team is responsible of the dependencies maintenance and it would be nice to automatically assign those people to the created PR.
IMO this should be a setting available per language (e.g: our frontend team manages the javascript d

[2018-04-27 15:53] greysteil commented on #397
👍 . I'm thinking of adding this in a similar way to how PR labelling works (i.e., have Dependabot learn from your choices). How many people you'd want to assign (is it one person per PR, or many)?

[2018-04-27 15:53] greysteil commented on #397
_From @olivierbuffon on January 11, 2018 15:51_

<img width="1014" alt="screen shot 2018-01-11 at 10 46 00 am" src="https://user-images.githubusercontent.com/112219/34833136-b704255a-f6bc-11e7-8074-93786522cb67.png">

Here is the perfect example on how we're currently using your system. For now here is the operation I do manually:
- Assign the three people of my team in charge of the backend depen

[2018-04-27 15:53] greysteil commented on #397
Super helpful. I'll have a think about making that flow perfect. I'm bogged down with getting Elixir working for the next day or so, but will get to this. :octocat:

[2018-04-27 15:53] greysteil commented on #397
Apologies for the long silence on this one. I spent a bit of time thinking about it but didn't come up with anything great.

Then, today, I saw [this](https://blog.github.com/2017-07-06-introducing-code-owners/?utm_content=buffer3e3ed&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer). Does using the GitHub code owners feature fix this problem even better?

[2018-04-27 15:53] greysteil commented on #397
_From @olivierbuffon on March 26, 2018 15:38_

Sorry for the delay! Yeah you're absolutely right, it works perfectly in my case! Thanks :)

[2018-04-27 15:53] greysteil opened #398 "Label per language"
_From @olivierbuffon on January 11, 2018 15:15_

You already create new PRs with the `dependencies` label, which is nice! But in addition I would suggest to add another label that would match the language behind those dependencies (e.g: ruby, javascript).
This would really help us to differentiate every PR (for now we're doing this operation manually which is a bit painful)

_Copied from original

[2018-04-27 15:53] greysteil commented on #398
@olivierbuffon - apologies for the slow reply on this one. Have you already tried removing the `dependencies` label that Dependabot places on PRs and replacing it with your own (e.g., `dependendencies:ruby`)? If you do that then Dependabot will ask you if it should always use that label for the associated language (for the given repo).

We don't currently support doing the above for handling addit

[2018-04-27 15:53] greysteil commented on #398
_From @olivierbuffon on January 16, 2018 12:44_

@greysteil that's smart but unfortunately not covering my case here since we're using multiple languages in the same repo (monolithic app ruby + javascript) so this mean I'll need multiple labels. Am I wrong?

[2018-04-27 15:53] greysteil commented on #398
Dependabot will only adjust the label for PRs of the same language, so it should automatically start labelling Ruby updates and JS updates differently (for example).

[2018-04-27 15:53] greysteil commented on #398
_From @olivierbuffon on January 16, 2018 12:46_

Oh ok nice, well I'll give it a try! Thanks for your help :)

[2018-04-27 15:53] greysteil commented on #398
Just updated the logic so Dependabot can handle creating multiple labels for you by default. If you say `@dependabot use these labels` on a PR with multiple labels then it will start using them in future for PRs to that repo, for that language.

Thanks for the feedback!

[2018-04-27 15:53] greysteil commented on #398
_From @olivierbuffon on January 22, 2018 17:9_

Amazing thx @greysteil ! :)

[2018-04-27 15:53] greysteil opened #399 "Gitlab support"
_From @sobolevn on January 14, 2018 9:56_

This is a big feature. Right now you only support GitHub, which is the biggest open-source community out there. But a lot of developers are using GitLab for private projects.

## Motivation

We ([wemake.services](https://github.com/wemake-services)) host all our open-source project on GitHub. But, most of our software projects are private and hosted on Gi

[2018-04-27 15:53] greysteil commented on #399
Thanks for the request. This is, indeed, a big one!

I'd love Dependabot to support GitLab (and Bitbucket). Doing so would require:
- Changes to `dependabot-core` to make all classes host-provider agnostic. This should be relatively straightforward - I estimate ~ 1 day's work
- Changes to `dependabot-frontend` (private) to handle auth for GitLab (and Bitbucket), which is ~ 1 day's work
- Changes t

[2018-04-27 15:53] greysteil commented on #399
_From @cafferata on March 31, 2018 19:57_

Hi @greysteil, I think the concept of Dependabot is very good. I have not come across it before and I wanted to get started right away. Until I came to the conclusion that there is no Gitlab integration. The consequence? I can not actually test it properly.

I've read your above reaction (and the Indie Hackers blog post), and asked myself: _what would @gr

[2018-04-27 15:53] greysteil commented on #399
Thanks for these extremely motivating words @cafferata, and apologies for the delay getting back to you.

I've been spending a bit more time on Dependabot over the last few weeks, and adding GitLab support is rising up my priority list. There are a couple of things ahead of it (getting Java support out of beta and fleshing out our security advisory sources), but I should be able to prioritise this

[2018-04-27 15:53] greysteil commented on #399
_From @cafferata on April 5, 2018 18:59_

@JCID will start with the first 5 projects and I expect that this is soon too small for our organization, after which we will go to the unlimited account. So, who is next? 👍

[2018-04-27 15:53] greysteil commented on #399
_From @codisart on April 9, 2018 21:22_

@greysteil I am also very interested to see this integrated with gitlab. But except the technical part (get the files from the repo, create the commit etc...) it seems to me that there others things to clarify on the integration with gitlab. Do you have an idea of the way you would get the credentials needed for the repo and of the way to pay for dependabot

[2018-04-27 15:53] greysteil commented on #399
There are certainly some open questions on how GitLab will work, but high level I'm thinking:
- Ask for an API key, rather than using OAuth2
   - It doesn't cause problems if individuals leave a team
   - As far as I know it's how other applications do this
- Handle billing from within Dependabot
   - I've asked GitLab previously whether they have any intention to build a marketplace and they've s

[2018-04-27 15:54] greysteil opened #400 "Support vendoring for Python"
_From @Kristinita on January 21, 2018 4:6_

### 1. Request

It would be nice, if would be possible upgrade dependencies, not only version numbers in requirements file.

For example, it would be nice add an option, that bot will run command after each version changing in requirements file.

### 2. Steps to reproduce

I develop plugins for Sublime Text, written on Python. By technical reasons I need

[2018-04-27 15:54] greysteil commented on #400
Thanks for the feedback @Kristinita. This one will require quite a bit of work on our side, given the way we currently update Python files (it's using regexes, not shelling out to Python). I'd like to do it in future, though, so will keep it here as a reminder.

[2018-04-27 15:54] greysteil opened #401 "Github Commit Profile Image Missing"
_From @RohanNagar on January 24, 2018 19:47_

I know this is a small thing, but I was wondering if this was a bug. If you see [here](https://github.com/RohanNagar/thunder/commits/master) the profile image of dependabot is the default Github image, and not the bot image.

Perhaps this is a side effect of doing the "Squash and Merge"?

_Copied from original issue: dependabot/feedback#77_

[2018-04-27 15:54] greysteil commented on #401
Thanks for the feedback @RohanNagar.

@sbarnekow - one for someone from GitHub?

[2018-04-27 15:54] greysteil commented on #401
_From @sbarnekow on January 30, 2018 1:2_

Thanks for the ping @greysteil 😄  Could you pass that on to support@github.com so it can get routed to people working on it?

[2018-04-27 15:54] greysteil commented on #401
Thanks @sbarnekow. Looks like this might be fixed now, though! 🎉

[2018-04-27 15:54] greysteil opened #402 "Add custom commits to dependabot PRs"
_From @deivid-rodriguez on January 25, 2018 16:6_

Not sure if this is feasible, or whether it belongs in dependabot's scope, but I've missed something like this a few times so I thought I might propose it.

Many times I want to manually edit dependabot PR's. For example:

* If dependabot managed our `yarn.lock` file in [decidim](https://github.com/decidim/decidim), we would need to edit every PR

[2018-04-27 15:54] greysteil commented on #402
Sorry for the slow reply on this one - I've been mulling it over.

I think doing the above as a pipeline of commands to be run is definitely the way forward, but the way Dependabot is currently set up means it can't support them. In particular, because we pull down only the dependency files, rather than cloning repos, running any scripts and committing the results is likely to cause problems. It's

[2018-04-27 15:54] greysteil commented on #402
_From @deivid-rodriguez on January 31, 2018 15:41_

Thanks!

[2018-04-27 15:54] greysteil opened #403 "Missing PR for deps updating from 0.x to 1.x"
_From @swelham on January 31, 2018 9:44_

We just added dependabot to an Elixir project that hasn't had an update for a while and we didn't get PR's for some of the outdated deps.

It looks like it only effect deps updating from 0.x to a 1.x. So for example we have `{:guardian, "~> 0.14.4"}` specified and we were expecting a PR to guardian 1.0

_Copied from original issue: dependabot/feedback#79_

[2018-04-27 15:54] greysteil commented on #403
Thanks for the feedback. Can you let me know which repo? support@dependabot.com if you don't want to put the name in here.

(This could be due to Dependabot starting you out with only 5 PRs per update run, or it could be because other dependencies are blocking the update of `guardian`.)

[2018-04-27 15:54] greysteil commented on #403
_From @swelham on January 31, 2018 9:55_

Ok, I will email the details over to you.

I didn't realise there was a PR limit per run. That would explain why we were a bit confused that after a couple of days use we were still getting PR's for deps that were update several days before.

Is this a temporary limit?

[2018-04-27 15:54] greysteil commented on #403
_From @swelham on January 31, 2018 10:4_

Cool, that makes sense and I totally missed that info when looking at the website.

It would definitely be good to indicate when the PRs are being rate limited 👍

I have emailed you the repo details, would you like me to try bumping the via the dashboard and see if the dep comes through?

[2018-04-27 15:54] greysteil commented on #403
Go for it! I'm going to close this, but I just dropped you an email with details of a future Elixir improvement that *might* be the issue here (basically, Dependabot can't create PRs like [this one](https://github.com/alphagov/static/pull/1277) for Elixir yet).

[2018-04-27 15:55] greysteil opened #404 "Ignore behavior question"
_From @regentgal on January 31, 2018 18:23_

If dependabot submits a PR to move a gem from 1.1.1 to 2.0.0 and we decide to ignore that major version, will we still get another PR if the maintainers issue 1.2.0 or 1.1.2?

We're looking into using and have a number of older gem versions that we won't be able to update straight away for various reasons. But we still usually want the minor or patch up

[2018-04-27 15:55] #404 closed, assigned to nobody

[2018-04-27 16:34] greysteil opened #405 "Support for AWS ECR"
_From @edkellena on February 1, 2018 9:21_

Dependabot is complaining that it can't authenticate to our ECR docker registry and we should add the login details to the dashboard.  However AWS works differently and you need to run their CLI to generate your login creds (which are time-limited).
Something like `${aws ecr get-login --no-include-email --region $REGION}`

An interesting problem for you

[2018-04-27 16:34] greysteil opened #406 "Please allow us to modify the commit message format"
_From @StephanBijzitter on February 1, 2018 9:58_

After this pull request: https://github.com/dependabot/dependabot-core/pull/244

Our commitlint started to fail, since we do have it set up to expect `chore(dependencies): `. It's nice that you cater to the Angular project, but this is a breaking change for us. Now we can modify the commit message when squash merging, but that still leaves every p

[2018-04-27 16:34] greysteil opened #407 "How can we schedule when the daily runs will be started?"
_From @rdunlop on February 1, 2018 14:19_

Recently (in the past ~2 weeks?) it appears that most of my repos are now being checked for new updates around 7am local time.

They used to be checked around 2am local time.

This is affecting my workflow because when I start work around 8am, my CI system is sometimes still busy working through all of the PRs (this was especially true today, because some

[2018-04-27 16:34] greysteil commented on #407
_From @rdunlop on February 1, 2018 15:53_

Thanks @greysteil . Enjoy your holiday.

[2018-04-27 16:34] greysteil commented on #407
Change made! 🎉

[2018-04-27 16:34] greysteil commented on #407
_From @toshimaru on February 14, 2018 9:16_

@greysteil I've understood Dependabot is timezone aware based on profile location timezone, but how about the repositories associated with organization?

Today, I added some organization repositories, but I'm not sure what the timezone is and when the update begins.

ref. https://twitter.com/dependabot/status/954057401468116993

[2018-04-27 16:34] greysteil commented on #407
If you don’t have a location set for the organisation then Dependabot will default to assuming you live in London (like me) and do the update at 5am GMT. If you have something weird like “The World” as your location then you’ll get whatever timezone the lat/lng returned by google for that location is in 🤷‍♂️.

I could probably make the above clearer / configurable if lots of people want it...!

[2018-04-27 16:34] greysteil opened #408 "User 0897726477 showing up as making commits"
_From @RohanNagar on February 6, 2018 18:37_

I noticed today that all of dependabot's commits have changed to be from this user: https://github.com/0897726477.

This includes pull requests that have already been merged.

See for example https://github.com/RohanNagar/thunder/pull/59.

Thanks for all your work!

_Copied from original issue: dependabot/feedback#84_

[2018-04-27 16:34] greysteil opened #409 "Multiple PRs for same version"
_From @RohanNagar on February 9, 2018 19:25_

Hi, I wanted to first say thank you for being so responsive to issues and for your active development. I work mainly with Java (Maven) and dependabot is the only dependency management that I have found that works with Java, which is awesome.

The way my project is set up is I have properties for each of my dependency versions. For example, I pull in a

[2018-04-27 16:34] greysteil commented on #409
Thanks for the feedback! I think that’s a super legitimate point, and I’m especially grateful for Java feedback while it’s in early testing.

Implementing this is likely to be a little tricky (because the other languages Dependabot supports generally don’t use properties) but should be totally doable. I’m on holiday for the next week, but will have a look at this when I next get a moment.

[2018-04-27 16:34] greysteil commented on #409
_From @RohanNagar on February 17, 2018 7:12_

Wow thanks for the quick turnaround @greysteil! Just tested it and it worked perfectly in RohanNagar/thunder#86!

[2018-04-27 16:34] greysteil commented on #409
Awesome! Just updated Dependabot's Java support to beta off the back of this - https://dependabot.com/blog/java-support-is-getting-better. 🎉

[2018-04-27 16:34] greysteil opened #410 "JS: Peer dependencies"
_From @godban on February 12, 2018 8:8_

Hey guys,
we are using dependabot for some time, thx for nice service. But we are missing one feature. Dependabot doesn't updates peer dependencies and we need to do it manually each time.

<img width="400" src="https://user-images.githubusercontent.com/2461970/36086802-a65409ac-0fce-11e8-9e31-3329b5ac5f6e.png"/>

Original issue https://github.com/dependabo

[2018-04-27 16:35] greysteil opened #411 "Ruby: error when using a gem from a branch."
_From @davidwessman on February 13, 2018 7:19_

I first got a PR which bumped [Rails from 226406 to b2dbea](https://github.com/pensionsupplysning/web/pull/116) and when I merged this there was a new PR, bumping [Rails from 226406 to f763b2 ](https://github.com/pensionsupplysning/web/pull/118).

After merging the first PR I got conflicts in the second. When asking Dependabot to rebase it said that

[2018-04-27 16:35] greysteil commented on #411
Thanks for the feedback. This definitely sounds like a bug - I’ll look into it as soon as I’m back from holiday (Friday). In the meantime, really glad to hear you’re enjoying Dependabot!

[2018-04-27 16:35] greysteil opened #412 "Update time support"
_From @toshimaru on February 15, 2018 0:2_

Following https://github.com/dependabot/feedback/issues/83#issuecomment-365683003

We can’t know when the update job will be started on the UI. It’d be great if we could see update time and the time is configurable.

I’m using dependabot for update and CircleCI for CI. The repos are private, so the CI container is limited. However, dependabot creates man

[2018-04-27 16:35] greysteil commented on #412
_From @toshimaru on February 23, 2018 7:43_

@greysteil
Thanks :)
I've sent time change request to the support email address( support@dependabot.com ).

[2018-04-27 16:35] greysteil commented on #412
Great - I've manually updated your account.

[2018-04-27 16:35] greysteil opened #413 "Throttle PR submission"
_From @mtsmfm on February 19, 2018 8:2_

Hi dependabot team,

We're using premium plan and we really love dependabot ❤️
It really helps us a lot!

However, we're facing CI queue congestion problem because dependabot sends a lot of PR at once.
Could you throttle PR submission?

_Copied from original issue: dependabot/feedback#89_

[2018-04-27 16:35] greysteil opened #414 "Multi branch support not properly working"
_From @DeepDiver1975 on February 20, 2018 13:59_

THX a lot for adding https://github.com/dependabot/feedback/issues/64

After some weeks of working with it I have the feeling that some updates are only applied to one branch and not to all.

Example:
This PR properly bumped the version of on dependency on the branch stable10 - https://github.com/owncloud/core/pull/30212

We never did see this chan

[2018-04-27 16:35] greysteil commented on #414
This is definitely bust - it's a problem with the way Dependabot creates PRs (it exits early if the branch name already exists, which it will if you're doing the same update for two different branches). I'm going to take a look at getting it fixed up today.

[2018-04-27 16:35] greysteil commented on #414
OK, this should all be working now, courtesy of https://github.com/dependabot/dependabot-core/commit/422822b6dfcfea02123f184273ad09ae67bdda25. Let me know if you run into any issues - it's well tested, but you're the only folks using it and I can imagine other areas it might interact with (I just fixed up Dependabot's branch-deleting logic to take it into account, for example).

Thanks for reporti

[2018-04-27 16:35] greysteil opened #415 "An API"
_From @WyriHaximus on February 20, 2018 21:59_

An API to add/list/delete repositories. I have a ton of open source packages I like to bulk add them though an API instead of doing 100+ packages through the webUI :zipper_mouth_face: .

_Copied from original issue: dependabot/feedback#91_

[2018-04-27 16:35] greysteil commented on #415
_From @WyriHaximus on February 21, 2018 21:15_

I'll compile and list and email it to the support email address later today 👍 .

[2018-04-27 16:36] greysteil opened #416 "CocoaPods support"
_From @RohanNagar on February 20, 2018 22:9_

Hi there! I know the Dependabot team is pretty swamped with existing issues, but I was wondering if Swift support (using CocoaPods) is something that you would like to eventually support.

I would love to try to help implement this if there is interest.

Thanks!

_Copied from original issue: dependabot/feedback#92_

[2018-04-27 16:36] greysteil commented on #416
Well, there's this ancient PR I wrote which pretty much works, but has a few teething issues: https://github.com/dependabot/dependabot-core/pull/24.

I'd want [this line](https://github.com/CocoaPods/CocoaPods/blob/master/cocoapods.gemspec#L44) removed from CocoaPods before resurrecting that PR (which will happen eventually - once few enough users are using old Ruby version). I also have some conc

[2018-04-27 16:36] greysteil opened #417 "Make auto-rebasing a setting, set at account level (to reduce CI load)"
_From @toshimaru on February 26, 2018 3:2_

Once a Dependabot Pull-Request is merged, another Dependabot PRs are automatically rebased.
Can I disable the auto-rebase feature?

_Copied from original issue: dependabot/feedback#93_

[2018-04-27 16:36] greysteil commented on #417
Interesting. We try to be as careful as possible to only do the rebases when they're needed, but it's not perfect and I can definitely see the case for making this a setting. I'll have a think about where it can fit into our UI and add it this week.

[2018-04-27 16:36] greysteil commented on #417
_From @DeividasK on February 27, 2018 11:15_

@greysteil we are having this issue as well. To give you more context, I've had 14 PRs opened for dep upgrades in 2 days. If I merge a single PR, almost all of the PRs get rebased and I get 13 extra builds. This is annoying everyone on the team to the point where they are saying that they don't want dependabot 💔

Hoewever, I'm really ❤️ this project, s

[2018-04-27 16:36] greysteil commented on #417
OK, give me a couple of days and I'll get a setting for that. I think an option to auto-merge patch releases that the specs pass on might be a solution for some people, too, so will work on that next.

[2018-04-27 16:36] greysteil commented on #417
OK, backend for this is deployed, and I've updated both of your accounts to have automatic rebases switched off (you'll still be able to trigger them manually, of course). Frontend should go live today, but is waiting on review.

I'm going to close this, but if anyone sees it before the frontend is deployed and wants rebases switched off on their account just comment.

Thanks again for the feedbac

[2018-04-27 16:36] greysteil commented on #417
_From @DeividasK on February 28, 2018 9:44_

@greysteil thanks for the quick update!

[2018-04-27 16:36] greysteil opened #418 "Wrong "Changelog" link"
_From @sobolevn on February 26, 2018 7:45_

Today I have received this PR from dependabot: https://github.com/wemake-services/wemake-django-template/pull/220

Everything is fine except the `Changelog` link. It links to the https://github.com/zheller/flake8-quotes/blob/master/release.sh for some reason.

_Copied from original issue: dependabot/feedback#94_

[2018-04-27 16:36] greysteil opened #419 "sign-up: How do I choose GitHub Organization?"
_From @olleolleolle on February 26, 2018 11:53_

I'm a GitHub user connected to several GitHub Organizations.

When I clicked "Join" I got placed in one of the orgs without any interstitial choice step.

Now, the org picked for me was not the one I need to use.

- Can I change it?
- Can I get to choose which one to connect my account to?
- Can I have more than one?

_Copied from original issue: de

[2018-04-27 16:36] greysteil opened #420 "exclude alpha/beta (Maven?)"
_From @plata on February 26, 2018 18:6_

Is it possible to configure dependabot such that only updates to stable versions are show? If not, would be great to have that option.

We have a suggested update to beta here: PhoenicisOrg/POL-POM-5#1178

_Copied from original issue: dependabot/feedback#96_

[2018-04-27 16:37] greysteil opened #421 "Sign off commits"
_From @vmarkovtsev on March 1, 2018 13:23_

Would be nice to have the submitted Git commits to be [signed off](https://stackoverflow.com/questions/1962094/what-is-the-sign-off-feature-in-git-for). Some projects require PRs to be signed off and this feature would allow Dependabot's commits to pass that check.

_Copied from original issue: dependabot/feedback#97_

[2018-04-27 16:37] greysteil opened #422 "Sign commits with GPG"
_From @shaneog on March 1, 2018 22:14_

I want to enforce GitHub's new [Require signed commits](https://help.github.com/articles/enabling-required-commit-signing/) but Dependabot does not sign its commits.

It would be great to implement this feature!

_Copied from original issue: dependabot/feedback#98_

[2018-04-27 16:37] greysteil opened #423 "Sometimes - Does not resolve conflict on Gemfile.lock"
_From @rdunlop on March 3, 2018 19:54_

I have a PR which has been open for a few months, and recently I merged a big change, which caused conflicts with this PR.

Now, this PR is not updating successfully.

https://github.com/tablexi/pechakucha-website/pull/277

I have said `"@dependabot rebase"` multiple times, I see it update the PR description to say it's doing so, but when it's done, it still

[2018-04-27 16:37] greysteil commented on #423
Thanks for the heads up - I’ll take a look.

[2018-04-27 16:37] greysteil commented on #423
It looks like Dependabot is getting in a muddle because there is now a new version of capybara available (2.18.0). When you ask for a rebase of this PR it notices that new version and tries to create a new PR for it, which would cause this PR to be closed. However, for some reason, it’s not creating that new PR. I’ll keep digging...

[2018-04-27 16:37] greysteil commented on #423
Found the bug! Looks like Dependabot tried to create a PR for 2.18.0 on your repo at some point, but errored out during the process. As a result, you have a `dependabot/bundler/capybara-2.18.0` branch, but no Dependabot PR for that version.

I'm going to update [this logic](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/github.rb#L35-L36) to fix that

[2018-04-27 16:37] greysteil commented on #423
Fixed. 🎉

[2018-04-27 16:39] greysteil opened #424 "Batch add project"
_From @tristanbes on March 5, 2018 15:0_

Hello,

I got 200 private repository, and 180 of them has the same pattern (= they are js project).

I don't want to spend 2 days manually enable dependabot for each repositories. Would you please provide an UI option to batch enable dependabot for multiple repositories please ?

_Copied from original issue: dependabot/feedback#101_

[2018-04-27 16:39] greysteil commented on #424
Super up for this, but it'll take me a while. In the meantime, if you email me the repo names I’ll add them from a console on my side.

[2018-04-27 16:39] greysteil opened #425 "Custom label"
_From @geonu on March 13, 2018 2:31_

We want adding our custom label by rule. like [this](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63)

_Copied from original issue: dependabot/feedback#102_

[2018-04-27 16:39] greysteil opened #426 "Dependabot doesn't create correct diff of yarn.lock"
_From @banyan on March 13, 2018 6:38_

We've been using dependabot in one of a project and it doesn't create a correct diff for yarn.lock.
This is the PR from dependabot. It creates huge diff.

![image](https://user-images.githubusercontent.com/19625/37321733-02410224-26bd-11e8-904a-4d059fdc5bb1.png)

Using `yarn upgrade @types/enzyme` or `yarn add @types/enzyme` in local works as below. (expected

[2018-04-27 16:39] greysteil commented on #426
Thanks for the feedback - I was wondering if anyone would get in touch about this.

Dependabot is doing an additional de-duping run on your `yarn.lock`, to compensate for Yarn itself not doing it. That will be speeding up your `yarn install` and meaning your packages take up less space, but it's slightly unexpected.

I'll update the behaviour on our side so it only de-dupes the individual dependen

[2018-04-27 16:39] greysteil commented on #426
Fix is deploying now. Thanks again.

[2018-04-27 16:39] greysteil commented on #426
_From @banyan on March 13, 2018 9:3_

Thanks for the quick fix and also explanation of the background!

[2018-04-27 16:39] greysteil opened #427 "Escape @-mentions in release notes and commit summaries"
_From @novemberborn on March 13, 2018 9:22_

Many projects mention contributors in their release notes, some even in commit summaries. Since they're included in the pull requests this means these contributors are notified by GitHub, which is rather annoying. Could you escape these so they do link to the GitHub profile, but GitHub won't send notifications?

Example: https://github.com/y1ngyang/bigf

[2018-04-27 16:40] greysteil opened #428 "Support for non-standard Dockerfile names"
_From @bsedat on March 15, 2018 18:33_

We build a few flavors of a docker image from a single repository using multiple Dockerfiles, so it would be nice to be able to customize the name of the Dockerfile that should be updated.

_Copied from original issue: dependabot/feedback#105_

[2018-04-27 16:40] greysteil opened #429 "Auto-merge minor and Patch"
_From @Incognito on March 16, 2018 6:43_

For some know stable and commonly used projects we merge once it's green in ci.

For example, typescript types, lodash, awssdk, etc...

However I run dependant on nearly 20 repos and my day usually includes a stage where I just merge all of these things because they updated so often

Can I whitelist deps that can auto-merge? Not sure what to do with regard

[2018-04-27 16:40] greysteil opened #430 "Support for Hex.pm private packages"
_From @fertapric on March 16, 2018 8:26_

Dependabot seems to not work when the `mix.exs` file of an Elixir project contains private packages (i.e. `{:my_private_package, "~> 1.0", organization: "acme"}`). [Private packages have been officially released quite recently (after some months of beta)](https://hex.pm/blog/organizations-going-live). It would be nice if an organization key could be config

[2018-04-27 16:40] greysteil commented on #430
_From @fertapric on April 17, 2018 10:48_

Awesome! Thanks @greysteil!

[2018-04-27 16:40] greysteil commented on #430
You're welcome - keen to see Dependabot's Elixir support continue to improve. 🙂

[2018-04-27 16:40] greysteil opened #431 "PRs and issues are getting polluted with long list of references."
_From @IvanGoncharov on March 21, 2018 15:36_

--------------------
Every PR or issue which was mentioned under `Commits` or `Release notes` is getting polluted with a long list of references. For example here is my PR to `graphql-js`:
https://github.com/graphql/graphql-js/pull/1267
![image](https://user-images.githubusercontent.com/8336157/37719460-b96c7c14-2d2d-11e8-86c4-7127c8c7e90b.png)

-----

[2018-04-27 16:40] greysteil opened #432 "Testing cross-referencing"
_From @greysteil on March 21, 2018 16:44_

<a href="#">Testing</a>

_Copied from original issue: dependabot/feedback#109_

[2018-04-27 16:41] greysteil opened #433 "Testing cross-referencing again"
_From @greysteil on March 21, 2018 16:46_

<a href="https://github.com/dependabot/dependabot-core/pull/314#no-ref">Hello</a>

_Copied from original issue: dependabot/feedback#110_

[2018-04-27 16:41] greysteil opened #434 "Even more testing"
_From @greysteil on March 21, 2018 16:47_

<a href="https://github.com/dependabot/dependabot-core/pull/314" rel="nofollow">Testing</a>

_Copied from original issue: dependabot/feedback#111_

[2018-04-27 16:42] greysteil opened #435 "Testing some more"
_From @greysteil on March 21, 2018 16:49_

<a href="https://github.com/dependabot/dependabot-core/pull/314#1231">More testing</a>

_Copied from original issue: dependabot/feedback#112_

[2018-04-27 16:42] greysteil opened #436 "Auto maintainance of package-lock.json"
_From @ybiquitous on March 29, 2018 7:49_

Hi.

Running the `npm install` command after merging several pull requests may cause `package-lock.json` to be updated.

For example , this is a diff in pull request to bump `@types/react` package.

`package-lock.json`:

[code]

Then, `npm install` run:

[code]

Can you such `package-lock.json` updates automatically by dependabot?

For example, run `npm i

[2018-04-27 16:42] greysteil commented on #436
_From @ybiquitous on March 29, 2018 7:52_

Versions:

- `npm`: `5.8.0`
- `node`: `9.10.0`

Thanks a quick response!

[2018-04-27 16:42] greysteil commented on #436
👍, and don't thank me until I've fixed it! 😉

[2018-04-27 16:42] greysteil commented on #436
I think this should now be fixed 🎉. Please let me know if you see it again, though.

[2018-04-27 16:42] greysteil opened #437 "Fail with install_if in Gemfile"
_From @SuperSandro2000 on March 31, 2018 10:24_

Dependabot fails with ``install_if`` in your Gemfile.
Example:
[code]
It would be quite convenient if Dependabot would understand that basic bundler code or just ignore it instead of failing.

_Copied from original issue: dependabot/feedback#114_

[2018-04-27 16:42] greysteil commented on #437
Thanks for the feedback, I’ll take a look.

[2018-04-27 16:42] greysteil opened #438 "Limit the amount of open PRs"
_From @bustikiller on April 2, 2018 12:23_

It would be great if I could configure a maximum number of open PRs by Dependabot in a project. For example, if I have configured weekly updates and I have still 5 PRs to review, I would like to say "wait until I have reviewed (merged / closed) these PRs before opening new ones".

_Copied from original issue: dependabot/feedback#115_

[2018-04-27 16:42] greysteil opened #439 "PR closed when it shouldn't have been?"
_From @RohanNagar on April 2, 2018 17:9_

Hello,

I was going through Dependabot's PRs this morning and something weird happened. The first PR I merged was RohanNagar/thunder#114, which updated a bunch of dependencies that share the same version number.

Once I merged that, I looked at RohanNagar/thunder#116 and found that Dependabot closed this without rebasing, saying "Looks like these dependenc

[2018-04-27 16:42] greysteil commented on #439
Hmmm, this does look like a bug. I'll look into it - thanks for reporting.

[2018-04-27 16:42] greysteil commented on #439
_From @RohanNagar on April 9, 2018 16:54_

Bug was reproduced this morning: I just merged RohanNagar/thunder#125, and dependabot closed RohanNagar/thunder#124 with the same message, though those dependencies have not been updated on the master branch yet.

Maybe of note: I merged the first PR using the "squash and merge" option, which I don't normally do for Dependabot pull requests. I did this fo

[2018-04-27 16:42] greysteil opened #440 "Customize merge method"
_From @gsmendoza on April 4, 2018 3:1_

Hi Dependabot!

It would be nice if we can customize the merge method when automatically merging PRs. GitHub offers three merge methods:

1. Create a merge commit
2. Squash and merge
3. Rebase and merge

For our team, we prefer to use "Rebase and merge" since it makes commits easy to follow.

Thanks for the great app!

_Copied from original issue: dependabot

[2018-04-27 16:43] greysteil opened #441 "Support for Cargo Workspaces for Rust"
_From @kirushik on April 4, 2018 12:52_

We at Parity use [Cargo Workspaces](https://doc.rust-lang.org/book/second-edition/ch14-03-cargo-workspaces.html) a lot.

So when we've added Dependabot to our [paritytech/jsonrpc](https://github.com/paritytech/jsonrpc/) repo, it turned out almost useless for us — since we can only select one of subprojects to check for dependencies update, and we want to ha

[2018-04-27 16:43] greysteil commented on #441
Dependabot should already be doing that - did you try this today? I added support a couple of days after the initial Rust release.

[2018-04-27 16:43] greysteil commented on #441
These are the PRs I get on my fork, with Rust added at the root level: https://github.com/greysteil/jsonrpc/pulls

I think we should add an error at repo-adding time if you try to add a leaf of a workspace (rather than the root) - would help avoid confusion like this, which is clearly my fault!

[2018-04-27 16:43] greysteil commented on #441
_From @kirushik on April 4, 2018 14:51_

Oh, sorry, looks like I underestimate the gap between me clicking on the "Bump now" button in the Dependabot and the PRs appearing in the [paritytech/jsonrpc](https://github.com/paritytech/jsonrpc/pulls).

Everything works fine then, I'm closing this.

Thanks a ton!

[2018-04-27 16:43] greysteil opened #442 "Removing and recreating an update config doesn't change behaviour of existing PRs"
_From @Turbo87 on April 4, 2018 14:35_

I am a little confused right now. We have setup dependabot for https://github.com/ember-template-lint/ember-cli-template-lint/ and it created a bunch of PRs. I've then told the bot to `@dependabot rebase` after fixing our broken CI, and after the rebase passed it started merging PRs automatically (e.g. https://github.com/ember-template-lint/ember-cli-templat

[2018-04-27 16:43] greysteil opened #443 "Adding new dependencies to PR for Major version bump [PHP]"
_From @tobybellwood on April 5, 2018 11:27_

Hi - thanks for the work on Dependabot, we've been putting it through it's paces over the last couple of weeks.

One behaviour I'm keen to understand is how a new Major version that introduces a brand new dependency would get PR'd

in https://github.com/tobybellwood/govcms-composer-test/blob/master/composer.json I currently have

The 3.0 release of this

[2018-04-27 16:43] greysteil commented on #443
_From @tobybellwood on April 5, 2018 11:37_

Wow - quick on the reply! I've tried bumping the repo (sorry!!), but can't get it to generate a PR for that module to demo.  This could be because b) is happening, or because I used ignore major on another version of the repo in my account - and the ignore has persisted for my username, not the repo? (https://github.com/tobybellwood/govcms-composer/pull

[2018-04-27 16:43] greysteil commented on #443
It won't be the other ignore condition, but it could be that the new version won't resolve for some reason. Does the update work locally? If so I'll need to take a look at Dependabot's PHP resolution logic and check if it's missing something...

[2018-04-27 16:43] greysteil commented on #443
_From @tobybellwood on April 5, 2018 11:53_

Thanks, it looks like the PRs have started flowing again. I'll keep an eye out, and try a dry-run in the morning.

[2018-04-27 16:43] greysteil commented on #443
👍

FYI, Dependbot is a bit slow at generating PHP pull requests (from clicking bump now to first PR) because resolution requires that it clones down all the dependencies. (Other package managers do the resolution based solely on metadata from the registry, but Composer doesn't work that way.)

[2018-04-27 16:43] greysteil commented on #443
_From @tobybellwood on April 6, 2018 23:20_

ok - so it was my bad!

I hadn't specified   `"minimum-stability": "dev"` so composer wouldn't introduce a non-stable dependency, and as drafty is _still_ at 1.0.0-rc1, it would never resolve to it.

Confirmed correct behaviour in 1.0.0-rc1 https://github.com/tobybellwood/govcms-composer-test/pull/54/files#diff-1da2c7edc898c70e5a79a9997c98cecc - drafty

[2018-04-27 16:43] greysteil opened #444 "Why does dependabot remove patches from composer.lock [php]"
_From @tobybellwood on April 5, 2018 11:32_

Our project applies a number of patches (using cweagans/composer-patches)

When dependabot submits the PR, the composer.lock file has been stripped of the patches applied - is this a known behaviour?

e.g. can be observed in https://github.com/tobybellwood/govcms-composer-test/pull/2/files

_Copied from original issue: dependabot/feedback#121_

[2018-04-27 16:43] greysteil commented on #444
_From @tobybellwood on April 7, 2018 0:41_

I've knocked one up at https://github.com/tobybellwood/patch-test (it's got an old release, and a couple of patches to apply).

Confirmed that Dependabot sees the 1.0.5 update and scrubs patches from the PR https://github.com/tobybellwood/patch-test/pull/1/files

[2018-04-27 16:43] greysteil commented on #444
Awesome - I'll get this fixed an deployed this evening / tomorrow.

[2018-04-27 16:43] greysteil commented on #444
OK, this should be fixed in [this commit](https://github.com/dependabot/dependabot-core/commit/cd57947dc3916cc7346f20ae4c2cf0e1d1ab8204). It's a little ugly (when I dug into it `composer-patches` was running scripts, which I can't allow on the Dependabot backend) but should do the job.

Can you look out for any accidental formatting changes to your `composer.lock` files in the next few PRs? I thin

[2018-04-27 16:43] greysteil opened #445 "PHP composer: dependabot wrongly proposed a downgrade"
_From @tsufeki on April 5, 2018 21:30_

Hi, I've got this PR: https://github.com/tsufeki/kayo-json-mapper/pull/1/files where dependabot suggests I should *downgrade* a requirement `^4.3 -> ^2.0`. I don't think this should happen.

Thank you.

_Copied from original issue: dependabot/feedback#122_

[2018-04-27 16:43] greysteil commented on #445
It definitely shouldn't be doing that!

Dependabot finds things a bit harder when you don't have a lockfile committed, as it's trickier for it to figure out what versions you're using. It can definitely do better than this, though - I'll take a look.

[2018-04-27 16:45] #408 closed

[2018-04-27 16:45] #409 closed

[2018-04-27 16:45] #411 closed

[2018-04-27 16:45] #412 closed

[2018-04-27 16:45] #414 closed

[2018-04-27 16:45] #415 closed

[2018-04-27 16:45] #417 closed

[2018-04-27 16:45] #418 closed

[2018-04-27 16:45] #419 closed

[2018-04-27 16:45] #420 closed

[2018-04-27 16:45] #421 closed

[2018-04-27 16:45] #422 closed, assigned to nobody

[2018-04-27 16:45] #423 closed

[2018-04-27 16:45] #425 closed

[2018-04-27 16:45] #426 closed

[2018-04-27 16:45] #427 closed

[2018-04-27 16:45] #429 closed

[2018-04-27 16:45] #430 closed

[2018-04-27 16:45] #431 closed

[2018-04-27 16:45] #432 closed

[2018-04-27 16:47] #434 closed

[2018-04-27 16:47] #435 closed, assigned to nobody

[2018-04-27 16:47] #436 closed

[2018-04-27 16:47] #437 closed

[2018-04-27 16:47] #439 closed

[2018-04-27 16:47] #440 closed

[2018-04-27 16:47] #441 closed

[2018-04-27 16:47] #443 closed

[2018-04-27 16:47] #444 closed

[2018-04-27 16:47] #445 closed

[2018-04-27 16:48] #406 closed, assigned to nobody

[2018-04-27 16:48] #407 closed, assigned to nobody

[2018-04-27 16:53] greysteil opened #446 "Pull in changelogs for updated sub-dependencies"
Probably hidden away in a `details` tab.

[2018-04-27 16:53] greysteil commented on #151
Closing in favour of https://github.com/dependabot/dependabot-core/issues/446. Good suggestion @tijmenb!

[2018-04-27 16:53] #151 closed

[2018-04-27 16:57] lipis commented on #381
it's alright.. don't worry about it.. :)

[2018-04-27 17:14] greysteil opened #447 "Use Github Releases to infer Changelog"
_From @christos on April 6, 2018 8:14_

I am testing dependabot and it just created a bump for `chartmogul-ruby` and the Changelog details came from the (rather outdated)`changelog.md` file.

The `chartmogul-ruby` gem actually has proper Github Releases with changes: https://github.com/chartmogul/chartmogul-ruby/releases

Releases should probably have priority over Changelog, or at least the bit s

[2018-04-27 17:14] greysteil opened #448 "Use of composer outdated to shortlist packages for update?"
_From @tobybellwood on April 8, 2018 7:4_

I've been double checking how good dependabot has been at identifying our dependencies over at https://github.com/tobybellwood/govcms-composer-test and tracking it against what I was expecting on my local install using `composer outdated -D`(https://getcomposer.org/doc/03-cli.md#outdated).

For the record:

module|installed|latest|description
-----|-----|

[2018-04-27 17:14] greysteil opened #449 "Golang support"
_From @jbreitbart on April 8, 2018 12:14_

Do you have any plans to support golang with dependabot? I know it is probably not the ideal time with dep / vgo thing going around, but maybe once this is sorted out?

_Copied from original issue: dependabot/feedback#125_

[2018-04-27 17:14] greysteil opened #450 "dependabot trying to downgrade gemspec dependency"
_From @JacobEvelyn on April 11, 2018 11:30_

Hi there. Looks like I've got a similar issue to #122 but for a Ruby gem—see [this dependabot PR](https://github.com/JacobEvelyn/friends/pull/195/files). Let me know what I can do to help!

_Copied from original issue: dependabot/feedback#126_

[2018-04-27 17:14] greysteil opened #451 "Python: Use pip-compile to determine latest resolvable version (unless using Pipfile)"
_From @dschep on April 11, 2018 17:26_

I have `flake8` and `pycodestyle` in my `requirements.txt` (generated from a `requirements.in` containing `flake8` but not `pycodestyle` using `pip-compile`)

Dependabot creates a PR (dschep/dependabot-test#1) for `pycodestyle==2.4.0` but flake8 depends on `pycodestyle >= 2.3.0, < 2.4.0`, so flake8 doesn't work after installing the new requirements.

Is ther

[2018-04-27 17:15] greysteil opened #452 "Compare Docker image digests before bumping"
_From @haphut on April 12, 2018 11:15_

Currently Dependabot seems to assume that e.g. [`node-9.11.1-alpine` is more recent than `node-9-alpine`](https://github.com/haphut/bessersmith/pull/18). I think it would be more useful if Dependabot would compare the Docker image digests of both the current and the suggested Docker tag before opening a pull request. If the digests are equal, the pull reques

[2018-04-27 17:15] greysteil opened #453 "Display the number of outdated dependencies"
_From @bustikiller on April 13, 2018 9:45_

When a user has configured Dependabot to bump dependencies on a timely basis, there is no way to know how many dependency updates are left. I think it would be useful to know this number so that you can estimate when you will have everything up to date.

_Copied from original issue: dependabot/feedback#129_

[2018-04-27 17:15] greysteil opened #454 "Markdown formatting breaking"
_From @davidwessman on April 16, 2018 5:28_

Hello, thank you for a great project!

When Bulma was update to 0.7.0 the release notes broke Dependabots own text.
Might be because Bulma did some bad things with their table and perhaps there is no way for Dependabot to handle that.

https://github.com/pensionsupplysning/web/pull/213

<img width="810" alt="screen shot 2018-04-16 at 07 28 11" src="http

[2018-04-27 17:16] greysteil opened #455 "Dependabot automerge doesn't work for some updates"
_From @drewpterry on April 17, 2018 10:9_

I enabled auto-merge functionality on all of my repos with the "all patches" or "minor updates" option selected.

Currently, it works some updates are merged automatically but some that I think should be merged automatically are not.

For example Dependabot threw a PR for:
`Bumps pry-doc from 0.13.3 to 0.13.4.`
with 100% compatibility and all tests passin

[2018-04-27 17:16] greysteil opened #456 "Make it clearer when automerge fails (due to branch permissions)"
_From @drewpterry on April 17, 2018 10:26_

Thank you for this feature by the way I think it will be really useful.

Anyways, I have auto-merge functionality set on all my repos some with "all patches", some with "minor updates". However, only some of my repos actually have the proper dependencies PR's merged. For the remaining of them, auto-merge functionality doesn't seem to have any effect.

Ma

[2018-04-27 17:16] greysteil opened #457 "[question] ignore package names or wildcards"
_From @christopherthielen on April 19, 2018 16:42_

Some packages I want to keep at a specific version. I'd rather not receive PRs for these packages. Is it currently possible?

_Copied from original issue: dependabot/feedback#133_

[2018-04-27 17:16] greysteil opened #458 "API error on signup"
_From @wajeeha-khalid on April 20, 2018 9:19_

I faced API error after i signed up via my github account.

<img width="1159" alt="screen shot 2018-04-20 at 2 18 20 pm" src="https://user-images.githubusercontent.com/6745069/39043042-cec43d10-44a5-11e8-9d85-dece0d80f360.png">

_Copied from original issue: dependabot/feedback#134_

[2018-04-27 17:16] greysteil opened #459 "Python: unrecognised options in requirements.txt cause unknown error"
_From @wajeeha-khalid on April 24, 2018 6:51_

Bumping on dependabot does not create Pull Request for my repo.
How to i check status and also reason for why it is happening?

_Copied from original issue: dependabot/feedback#135_

[2018-04-27 17:19] #447 closed

[2018-04-27 17:19] #448 closed

[2018-04-27 17:19] #450 closed

[2018-04-27 17:19] #454 closed

[2018-04-27 17:19] #455 closed

[2018-04-27 17:19] #457 closed

[2018-04-27 17:19] #458 closed

[2018-04-27 18:40] #459 closed

[2018-04-27 18:42] #413 closed, assigned to nobody

[2018-04-27 18:42] greysteil commented on #372
Closing, as we have a starter PR for this.

[2018-04-27 18:42] #372 closed

[2018-04-27 18:44] #433 closed, assigned to nobody

[2018-04-27 18:51] greysteil commented on #373
Closing in favour of the PR at https://github.com/dependabot/dependabot-core/pull/197.

[2018-04-27 18:51] #373 closed

[2018-04-27 19:35] #456 closed

[2018-04-27 19:35] greysteil commented on #456
I've updated Dependabot to comment on the PR with details of why automerging failed, if it fails 🙂

[2018-04-27 20:11] greysteil opened #2266 "Display details of updates remaining"
When a user has configured Dependabot to bump dependencies on a timely basis, there is no way to know how many dependency updates are left. I think it would be useful to know this number so that you can estimate when you will have everything up to date.

[2018-04-27 20:12] greysteil commented on #453
I'm sorry, I messed up. I thought it would be better to have feedback live on this repo, but I was wrong. I'm moving this back to a feedback repo, over at https://github.com/dependabot/feedback/issues/1. Sorry for the comment spam.

[2018-04-27 20:12] #453 closed

[2018-04-27 20:13] greysteil commented on #442
I'm sorry, I messed up. I thought it would be better to have feedback live on this repo, but I was wrong. I'm moving this back to a feedback repo! Sorry for the comment spam.

[2018-04-27 20:13] #442 closed

[2018-04-27 20:16] greysteil commented on #438
I'm sorry, I messed up. I thought it would be better to have feedback live on this repo, but I was wrong. I'm moving this back to a feedback repo, over at https://github.com/dependabot/feedback/issues/3. Sorry for the comment spam.

[2018-04-27 20:16] #438 closed

[2018-04-27 20:17] greysteil commented on #424
I'm sorry, I messed up. I thought it would be better to have feedback live on this repo, but I was wrong. I'm moving this back to a feedback repo, over at https://github.com/dependabot/feedback/issues. Sorry for the comment spam.

[2018-04-27 20:17] #424 closed

[2018-04-27 20:18] greysteil commented on #376
I'm sorry, I messed up. I thought it would be better to have feedback live on this repo, but I was wrong. I'm moving this back to a feedback repo, over at https://github.com/dependabot/feedback/issues. Sorry for the comment spam.

[2018-04-27 20:18] #376 closed

[2018-04-27 20:19] greysteil opened #2265 "Support grouping of pull requests"
See https://github.com/dependabot/dependabot-core/issues/376 for more detail.

[2018-04-28 19:48] coreyja opened #461 "Better Support for GitHub Protected Branches"
I love the new auto-merging feature, but I wish it could be a little more aware of the GitHub protected branch settings I have in place in my repositories. The two relevant settings that I use are:

- `Require status checks to pass before merging`
- `Require branches to be up to date before merging`

Dependabot is aware of the CI status so it doesn't have any problems with the first one! But it ki

[2018-04-28 20:03] greysteil commented on #461
Thanks for the feedback Corey. We can definitely do better than this - I’ll take a look tomorrow morning 🙂

[2018-04-29 12:01] greysteil commented on #461
I've just pushed a fix for this - basically, Dependabot's merge logic wasn't handling the case where GitHub tells it that a PR is "mergeable" but "behind", which is what happens when a branch is requires PRs to be up to date before merging. It does now.

Corey - looking through the PRs that had an "automerge failed" comment on your repo, I've manually set your automerge preferences for that repo f

[2018-04-29 12:01] #461 closed

[2018-04-29 12:01] greysteil commented on #461
And FYI, you were exactly right on the diagnosis of the problem!

[2018-04-29 12:16] greysteil opened #462 "Support vendoring for JS (specifically yarn-offline-mirror)"
Yarn has an option (specified in the `.yarnrc`) to create an offline mirror, that will allow offline installs:

[code]

This is essentially vendoring, and it would be nice for Dependabot to support it.

See https://github.com/dependabot/feedback/issues/7 for original issue.

[2018-04-29 15:05] coreyja commented on #461
Wow! Thanks for getting to this so fast that's awesome!

I'll double check my settings, thanks for the heads up!

[2018-04-30 16:06] greysteil commented on #245
@MiniDigger, OK, I'm going to get started on this this week. Any pointers on docs / a (simple) example repo that I can use as a fixture?

[2018-04-30 16:35] MiniDigger commented on #245
I guess you could use this project, it has a bunch of dependencies
 https://github.com/VoxelGamesLib/dependencies/blob/master/build.gradle
Not sure what docs could help you, this one gives a good overview
https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.dsl.DependencyHandler.html

Gradle is a bit more flexible than maven, so there are countless ways to declare dependencies. For the sta

[2018-04-30 16:39] MiniDigger commented on #245
Here is another good example as this highlights that a dependencies block doesn't need to be in the root of the file but can be nested in a buildscript or subprojects or a project('a') block.

https://github.com/MiniDigger/CryptoClicker/blob/master/build.gradle

[2018-04-30 17:50] maracuja-juice commented on #245
An example for a gradle file used in an Android project: https://github.com/Samourai-Wallet/samourai-wallet-android/blob/develop/app/build.gradle

[2018-05-01 07:12] DanielMartinus commented on #245
As mentioned earlier by @MiniDigger there are many ways to declare your dependencies in a gradle file. If only a file scan is done on a project it would be nice to take **ExtraPropertiesExtensions** into account. These are mainly used to manage dependency versions across different modules.

It would for example look like:

Some other gradle file, f.e.: `dependencies.gradle`
[code]

Module 1 `build

[2018-05-01 13:49] MiniDigger commented on #245
I have no idea how the parsing works in the Backend, but looking at all the edge cases, maybe it's easier to just clone the repo and run gradle together with a special task to check dependencies?
This plugin creates a json file with all versions of all dependencies and checks if there are newer versions available https://github.com/ben-manes/gradle-versions-plugin
Just something to consider, as th

[2018-05-01 14:38] bkeepers commented on #431
Thanks for the feedback. We're currently advocating for giving apps more control over timeline events. I'll make sure your use case is documented.

cc @wilhelmklopp @jmilas

[2018-05-01 15:11] greysteil commented on #245
👍 - I've started the work over at https://github.com/dependabot/dependabot-core/pull/464.

[2018-05-01 18:58] chrisjohnson opened #465 "After enabling dependabot on my dotfiles repo, configuring it for git submodules, it complains of missing syntax-highlighting"
Here's the issue it generated: https://github.com/chrisjohnson/home/issues/1

This error gives me 0 results on google, and I can't find anything in dependabot-core related to syntax-highlighting. I'm not really sure what is expected here?

[2018-05-01 19:13] greysteil commented on #465
That doesn’t sound right - sorry about that! I’m out of the office but will take a look tonight.

[2018-05-02 09:40] greysteil commented on #245
Initial PRs: https://github.com/greysteil/dependencies/pulls.

Still a long way to go on this, but it kinda works already!

[2018-05-02 15:25] greysteil commented on #465
No need - it's next on my list today so will be fixed pretty soon.

FYI, the error that's stopping Dependabot creating PRs for you now is super niche - apparently git branch names can't include `/.` in them, and Dependabot names its branches based on the names of your submodules. Fix incoming.

[2018-05-02 15:52] greysteil commented on #465
FYI, the error text will now read:

[code]

Should be much clearer for the next person to run into this - thanks for the feedback!

[2018-05-02 16:54] RohanNagar opened #468 "[JS] No change to package.json"
In RohanNagar/thunder-client-js#9 dependabot is trying to bump a dependency but is only making changes to `package-lock.json`. However, I don't have the "Only lockfile updates" option selected for this repo, so it should modify `package.json` too, correct?

[2018-05-02 16:58] greysteil commented on #468
In this case it looks Dependabot is trying to make a distinction between libraries and applications, and has identified that `thunder-client-js` is a library. As a result, it thinks that it's best for it to keep the versions ranges as wide as possible, so it doesn't update the package.json.

Wrong thing to do?

[2018-05-02 17:01] RohanNagar commented on #468
Ah I see, I didn't realize there was different logic for libraries and applications. `thunder-client-js` is a library, so that makes sense. Thanks!

[2018-05-02 17:01] #468 closed

[2018-05-04 15:50] greysteil commented on #245
Hey team, I've just released this! If you do a hard refresh on your Dependabot dashboards you should be able to add Gradle projects (by selecting `Java - Gradle` as the language).

A few known deficiencies:
1. It can't handle Kotlin files yet
2. It can't do multi-module support yet. It will only operate on the `build.gradle` file in the repo you specify
3. It can't handle custom repositories yet (

[2018-05-04 15:57] eriwen commented on #245
💯 🌈 🌟

[2018-05-05 14:58] SevastyanDark commented on #245
@greysteil You can temponarly scan repo for `*.gradle` files and index them.

[2018-05-07 05:36] dependabot[bot] opened #470 "Dependabot couldn't find a build.gradle for this project"
Dependabot couldn't find a build.gradle for this project.

Dependabot requires a build.gradle to evaluate your project's current Java dependencies. It had expected to find one at the path: `/helpers/gradle/build.gradle`.

If this isn't a Java project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in

[2018-05-07 09:40] #470 closed

[2018-05-09 11:58] snowblink commented on #370
Why not make it a feature of a paid tier?

[2018-05-09 15:16] greysteil commented on #370
Thinking about this one a bit more, I'm going to revise what I said about about why this is hard. The below isn't a particularly "good" reason, but it's what's making this more than a few hours work.

Dependabot has to evaluate code it gets from the internet (your Gemfile, for example), so the creation of each PR works as follows:
1. Dependabot's main backend kicks off an update run by sending a j

[2018-05-10 09:58] davidgoate opened #2263 "Per repo daily bump scan time setting rather than global"
If the org has a large number of repos and all the bumps happen at the same time (e.g. 05:00 UTC) then the CI such as jenkins gets immediately hit with a large number of PR's which causes the executors to get very busy. Would be good to stagger them, perhaps per repo or some delay between opening PR's.

[2018-05-13 10:34] xRahul opened #2262 "Android Gradle Update Not updating Properties"
https://github.com/xRahul/Android-Logs/pull/1

com.android.tools.build:gradle from 2.2.3 to 2.3.3
requires

[2018-05-16 07:32] whiskeysierra opened #482 "Version properties defined in maven profiles are not updated"
See https://github.com/zalando/logbook/blob/master/pom.xml#L567

[code]

[2018-05-16 07:45] greysteil commented on #482
Thanks for the bug report.

Can you be a bit more specific here? It looks like Dependabot created [this PR](https://github.com/zalando/logbook/pull/241) to try to update `spring-boot` - what could it have done better?

[2018-05-16 07:47] whiskeysierra commented on #482
Nevermind. The problem is that I only want the version in the profile to be updated. But that's nothing the bot should be doing.

[2018-05-16 07:47] #482 closed

[2018-05-18 08:39] greysteil opened #485 "Support vendoring for Maven"
See https://github.com/dependabot/feedback/issues/23 for more details. Will require the same work as other vendoring projects - the best details of what will be required are in https://github.com/dependabot/dependabot-core/issues/370.

Thanks for the feedback @davidgoate.

[2018-05-18 12:20] #451 closed, assigned to nobody

[2018-05-19 18:41] mueller-ma commented on #245
@greysteil Looks good so far, but I have some suggestions/bugs:

1. Can you have a look at https://github.com/openhab/openhab-android/pull/886 ?
When I try the update locally I get the following error:
[code]

Google is deprecating its GCM in favor of FCM (Firebase cloud messaging). The PR is about updating the Google Maps package, but it seems to be related to this deprecation.

2. When using htt

[2018-05-19 19:38] greysteil commented on #245
Thanks for the feedback @mueller-ma! Gradle support is super alpha at the moment, but I should have some time over the next couple of weeks to start improving it. I'll definitely be referring to the above when I do!

[2018-05-21 12:50] dschep commented on #451
Awesome. Thank you!

[2018-05-22 11:15] Incognito opened #489 "Use same user"
Low priority but it looks like there's a different user for the committer and author of a commit when dependabot runs:

<img width="276" alt="screen shot 2018-05-22 at 13 13 29" src="https://user-images.githubusercontent.com/379322/40359173-0cb4c358-5dc2-11e8-94c8-2bc2eb5bb75a.png">

This also has caused some of my repos to have the bot listed twice as a contributor. Not really a big issue, but it

[2018-05-22 11:16] greysteil commented on #489
Thanks for the heads up. We use that second user for commit signing, because it's not (currently) possible for apps to sign commits themselves (they're not treated as first class users). As soon as that restriction gets lifted I'll switch to using a single user.

[2018-05-22 11:16] #489 closed

[2018-05-23 09:32] bittner opened #491 "Add a proper license"
To solve your license uncertainties I would suggest you put the code in this repository under either [MIT](https://opensource.org/licenses/MIT) (popular, but allows closed-source development) or the [GPL v3](https://www.gnu.org/licenses/gpl-3.0.en.html) license (preferred, requires public development). This way you make sure your software remains free to use and extend for everyone forever.

From

[2018-05-23 11:18] greysteil commented on #491
Thanks for getting in touch - always good to talk these issues through.

Perhaps it would help to give some context? Dependabot Core is the key logic behind the Dependabot hosted service, which has a few thousand customers, a couple of hundred of whom pay. I develop it full time, on my own, without a salary. I don't *think* anyone else uses it (Dependabot Core), although I'm super positive about t

[2018-05-23 11:39] bittner commented on #491
If you're happy with it, totally fine.

I can't recommend your software in my projects, although I feel it may be a compelling alternative to, say, [pyup](https://github.com/pyupio/pyup) and others. Because it's not possible to use it as free software ("free" as in "freedom", not free beer). In my opinion, companies and individuals should decide to pay for a service because they see a real benefit

[2018-05-23 11:50] greysteil commented on #491
👍, and sorry you won't be able to recommend Dependabot. Best of luck with @painless-software!

[2018-05-23 11:50] #491 closed

[2018-05-24 15:23] swegner opened #2261 "Show details from timed-out update runs"
I just tried integrating dependabot on a personal repo ([swegner/beam](https://github.com/swegner/beam)) using Gradle. I see that dependabot "bumped" an hour ago, but I don't see any output. No pull requests are open, and I can't tell whether I have it properly configured.

It'd be nice if dependabot gave some output about what happened in its last run. On a successful run, this could include:

1.

[2018-05-25 09:13] vorburger opened #496 "Support new SCM: Gerrit"
in an ideal world, direct support for raising changes on Gerrit instances instead of GitHub PRs.

in the meantime, just :robot: https://github.com/vorburger/vorburger-dotfiles-bin-etc/blob/master/bin/github2gerrit.sh works pretty well for me... :smiley:

[2018-05-25 09:16] greysteil commented on #161
@OskarStark - there are actually a couple of improvements on this one since it was originally opened:
- You can now ask Dependabot not to update your `composer.json` in the update config settings in your account dashboard (click the down arrow next to "Bump now").
- For some languages (Java and Python) Dependabot will still give you updates to previous major version lines if you've asked to ignore

[2018-05-25 09:19] greysteil commented on #496
Interesting, thanks for the request. Adding support for new SCMs is a little way off (we're working on GitHub Enterprise right now as a starting point), but once we got from 1 to 2 I don't see why we shouldn't be able to add others relatively straightforwardly.

[2018-05-25 13:49] greysteil commented on #161
👍 - if I get lots of requests to do that I'll switch over. I've also implemented the ability for Dependabot to respect ignore conditions (specified by commenting `@dependabot ignore this major version`) when generating updates in [this PR](https://github.com/dependabot/dependabot-core/pull/497), which should be good to deploy today.

Thanks for the feedback, as ever! 😄

[2018-05-28 08:56] vorburger opened #503 "set Maven repository URL config variable per project instead of globally"
I work on Java open source projects, some of which build with Maven central and some requiring building against https://nexus.opendaylight.org. Ideally, I don't want to set nexus.opendaylight.org as the global Maven repository URL config variable - because that mirror is slow enough as it is... :smile:

In an ideal world, I'd there like to be able to set Maven repository URL config variable per pr

[2018-05-28 08:57] vorburger opened #504 "Provide more context in case of Error bumping dependencies"
It could be helpful if there as a file and line number in an error messages such as: _"Error bumping dependencies: Dependabot couldn't parse the Property not found: karaf.version found at Property not found: karaf.version."_ which I am getting from that little red triangle on my https://app.dependabot.com/accounts/vorburger/repos for https://github.com/vorburger/infrautils.

That error in this cas

[2018-05-28 10:11] greysteil commented on #503
Interesting. What's the reason you don't include `https://nexus.opendaylight.org` as a repository in the top-level POM for those repos? Does it have credentials in the URL?

If you add a Maven repository URL as a Dependabot config variable then Dependabot will look at that repo as well as at the Central Repository (the relevant code is [here](https://github.com/dependabot/dependabot-core/blob/mast

[2018-05-28 10:11] greysteil commented on #504
Sounds like it's definitely going to be #503 related, but I agree the error message could be better here - I'll take a look.

[2018-05-28 10:41] greysteil commented on #504
OK, I've updated the error message so it will read:

[code]

Hopefully that's a little clearer! At the moment it will stop the update process entirely, but an alternative would be for Dependabot to just ignore dependencies that use a property version that it can't find. Would that be better?

(I've stopped short of including line numbers because I think grepping for the property name is probably t

[2018-05-28 11:03] vorburger commented on #504
actually I think that would be great! Best still show a warning though, not just completely silently ignore?

[2018-05-28 13:57] greysteil commented on #504
Done! You'll still get an error if *all* of your dependencies rely on properties that Dependabot can't reach, but won't do otherwise.

Unfortunately it's not easy for Dependabot to show a warning in the partial case without it being kind of annoying (it will create a GitHub issue for you each time), so I've left that out for now. I'll have a think about how it could be done better, but in the case

[2018-05-28 13:57] #504 closed

[2018-05-28 17:12] vorburger opened #505 "Maven repository config variables must specify a username and password"
https://nexus.opendaylight.org/content/repositories/public/ and http://nexus.opendaylight.org/content/repositories/opendaylight.snapshot/ are examples of Nexus Maven repositories which host artifacts from a (large) particular open source community, but which does not require authentication.

Currently, setting the Maven repository URL config variable on https://app.dependabot.com/accounts/vorburge

[2018-05-28 17:15] vorburger commented on #503
opinions about how good an idea that really is vary widely... :smile_cat:

It can be a PITA, for example, if you have corp internal maven repo mirrors of FLOSS code.

In this particular case, the "top-level" POM where this would have to do, even if we wanted to do it (which the community that this code is from, not personal project, most likely will not want to anyway), it would not actually help

[2018-05-28 23:50] greysteil commented on #505
Sorry about that. I'll get this fixed tomorrow morning - it's a bank holiday here today. 🙂

[2018-05-29 09:31] vorburger commented on #504
Cool - it works: https://github.com/vorburger/infrautils/pulls - thank you!

[2018-05-29 22:01] greysteil commented on #505
This should now be fixed. Can you let me know if you have any problems?

[2018-05-29 22:01] #505 closed

[2018-05-29 22:02] greysteil commented on #503
👍, thanks for the explanation. I've just pushed a fix for #505 which *should* fix things for this case - please let me know if it doesn't!

[2018-05-30 09:40] vorburger commented on #505
I've just been able to set `https://nexus.opendaylight.org/content/repositories/opendaylight.snapshot/` as Maven repository URL config variable on https://app.dependabot.com/accounts/vorburger/repos without username and password, so it looks like this works.

[2018-05-30 15:20] dwieeb opened #511 "Dependabot not ignoring dependency as requested"
This started just a couple days ago. A while ago I asked dependabot to ignore a dependency: https://github.com/ionic-team/ionic-cli/pull/3145. Two days ago, it opened a PR for an older version: https://github.com/ionic-team/ionic-cli/pull/3247. I asked it to ignore it again. This morning it's still opening PRs: https://github.com/ionic-team/ionic-cli/pull/3273

[2018-05-30 16:08] greysteil commented on #511
👍 - I'll take a look. We changed the logic for this recently (see [this blog post](https://dependabot.com/blog/updating-older-versions)).

[2018-05-30 16:50] dwieeb commented on #511
Oh, awesome! That will be helpful when there are updates to 6.*

Is there an undo feature if I've completely ignored a dependency?

[2018-05-30 17:08] greysteil commented on #511
Yep - reopen the PR that you ignored it in, or bump it yourself. I’m travelling right now but going to dig into the bug that caused those PRs tonight.

[2018-05-30 22:29] greysteil commented on #511
This was absolutely a bug - sorry about that. We weren't handling ignore conditions correctly for repos that don't commit a lockfile where a dependency was fully ignored (as it this case). I've fixed that, and if you close ionic-team/ionic-cli#3273 with `@dependabot ignore this version` then Dependabot won't bother you about it again unless you upgrade. Sorry about that one!

[2018-05-30 22:29] #511 closed

[2018-05-30 22:38] dwieeb commented on #511
@greysteil Thanks! No worries.

And I gotta say how awesome Dependabot is. 💪 You're crushing it!

[2018-05-31 10:38] davidgoate opened #2260 "Feature suggestion for Java source files"
We have uses cases where we reference docker image tags inside java source files. the main usecase for this is in integration tests as we use docker junit and a file might look like:

[code]

I'd be great if `.java` files could be scanned - I understand that it could be tricky to look for docker image tags inside strings of source files and perhaps costly.

What if there were either a source reten

[2018-06-04 08:24] OskarStark opened #522 "add comment to PR after rebase"
Hey,

it would be cool if the PR could pop up again in the notifications after a rebase, so instead of updating the PR header it should add a comment:

- when executing the reabse

and

- when the rebase is finished.
In this case i get notified again, but to not bother anyone, a setting could be nice!

[2018-06-04 09:05] greysteil commented on #522
Interesting. This one would definitely need to be a setting, as I think a lot of people wouldn't want the noise. I have a couple of bugs I need to crush first, and want to add settings for auto-merging first, but will get to this. I'm also going to delay it a little in case GitHub implement a better notification flow (there's talk of apps being able to insert items into a PR's timeline, which woul

[2018-06-04 09:05] #522 closed

[2018-06-04 09:06] greysteil opened #2259 "Feature: Option to receive notification when a PR rebase finishes"
See https://github.com/dependabot/dependabot-core/issues/522 for details.

[2018-06-04 12:18] OskarStark commented on #522
Thank you 👍

[2018-06-07 12:57] rullzer commented on #394
I made a start in https://github.com/dependabot/dependabot-core/pull/527

[2018-06-07 21:44] #394 closed

[2018-06-11 22:32] kinggoesgaming opened #533 "Customizable commit message format"
As per my [discussion on Twitter](https://twitter.com/kinggoesgaming/status/1006282375267880960), dependabot tries to automatically detect the format of the commit messages based on the commit history of the repository.

However in my case, (uuid-rs/uuid), we are transitioning from a freestyle formatting to a [conventional commit format](https://github.com/conventional-changelog/conventional-chang

[2018-06-11 23:05] greysteil commented on #533
Thanks for creating this @kinggoesgaming.

OK, so the current setup is that Dependabot will automatically detect that you're using angular-style commits as soon as 30% of your last 30 commits use it (excluding merge commits and Dependabot's own commits). Are you saying that it will cause a problem for Dependabot to be doing the wrong thing during the transition?

FYI, the code for this is [here](h

[2018-06-11 23:32] kinggoesgaming commented on #533
hmm wasnt aware of the 30% ratio.... I might enforce this on dependabot last then (ignoring dependabot PRs in the meanwhile)

However configurable commit messages might be usable for people anyways, so rest is your call

[2018-06-11 23:35] greysteil commented on #533
👍 - in that case I'm going to close, as I've only ever hear people ask for "angular-style commit messages" or "not angular style commit messages".

If you're reading this and want something different, please do open a new issue for it and I'm very happy to discuss!

[2018-06-11 23:35] #533 closed

[2018-06-12 09:42] duncdrum opened #534 "Feature request / question expath dependencies"
Hello dependabot team,

I would like to add [expath](http://expath.org) dependency checking to dependabot, with the immediate use case of leveraging it for [exist-db](https://github.com/eXist-db/exist) application packages.
I have looked through your contribution guidelines, and examples, and am pretty much ready to start. Before I do so I'd just like to feel the waters about any reservations your

[2018-06-12 10:40] greysteil commented on #534
Totally up for adding support. I’m on my phone so can’t dig in too much, but take a look at the open PR with a .NET template for an idea of how adding a new language / package manager works. Might make sense for me to put together a template for you?

[2018-06-12 14:02] duncdrum commented on #534
@greysteil thanks for the swift response. I think your documentation has enough to get me going (my ruby might be a bit rusty). I ll see how far I get, and come back here with more questions should I get stuck.

[2018-06-13 19:00] peterdemin opened #536 "Support pip-compile-multi"
Hi guys, check out this PR: https://github.com/peterdemin/pip-compile-multi/pull/17/files

It clearly didn't just bump the dependency version. I guess it's because I mix hard-pins with references to other requirements files.

[2018-06-13 23:46] greysteil commented on #536
Sorry about that! I’ll take a look and get this fixed.

[2018-06-14 21:21] styfle opened #2258 "Feature: show change in npm install size"
I really like dependabot, and I use it regularly with [Package Phobia](https://github.com/styfle/packagephobia/pulls?q=is%3Apr+sort%3Aupdated-desc+is%3Aclosed).

I think it would be cool to use data from Package Phobia when submitting the PR to update an npm dependency.

Maybe something like, "an increase of x MB" or "a decrease of x kB".

## Mockup

![mockup](https://user-images.githubusercontent

[2018-06-20 14:22] welkie opened #540 "Funding with OpenCollective"
I saw an issue for GitLab support and noticed some messages indicating funding is low right now, preventing a lot of time being spent on this to add features.

I suggest having the project join [OpenCollective](https://opencollective.com/). It's gaining a lot of prominence in funding open source projects. It offers more transparency and is more community-oriented than Patreon.

EDIT:

Did some mor

[2018-06-20 16:44] deinok opened #541 ".NET - Production Ready"
# This is a meta issue.
This issue is facing a general discussion about the future of .NET support of dependabot.

So, true issues related to .NET should be added by its own.

# Things to discuss:
- [x] SLN support.
- [x] Remote repositories.
- [x] Packages.config
- [x] `<Import Project=""/>` aka `*.props`
- [x] Handle property updates
   - [x] Handle properties that affect a single dependency

[2018-06-21 03:50] greysteil commented on #541
Thanks for this @deinok!

- `packages.config` support should already be working - see https://github.com/greysteil/fsharp/pulls for some examples
- `<Import Project=""/>` should be working too, although I don't have an example to test on. Any ideas?
- Similarly remote repositories - I'm pretty confident this is working 👌, even for private repos.

[2018-06-21 07:56] deinok commented on #541
`<Import />` To take a look see this -> https://github.com/graphql-dotnet/graphql-client/blob/master/tests/tests.props

All the projects inside the tests folder import tests.props, and tests.props also imports root.props.
(Notice that tests.props have all the package reference for run tests)

[2018-06-21 12:41] rdunlop opened #2257 "Feature: Be able to subscribe to notices about new features"
Yesterday I read through the dependabot blog again (I try to do this every month...), and I noticed that there's a new feature which allows limiting the number of dependabot PRs to 10.

I decided that I didn't want this feature, so I went and disabled it. This morning I woke up to about a
hundred dependabot PRs. (I'm happy about this). Until now, I didn't know that my projects were getting out of

[2018-06-21 17:57] will-swu commented on #449
waiting for go before we adopt this service.

[2018-06-21 18:00] greysteil commented on #449
@will-swu - using Dep or something else?

[2018-06-21 18:23] greysteil commented on #541
OK, just ran on https://github.com/greysteil/graphql-client and it's pulling down everything correctly (imports and all). It also generated a PR for a project file it found in the .sln - https://github.com/greysteil/graphql-client/pull/1.

A couple of things I've seen that I'm still not sure about:
- `<ProjectReference Include="..\..\src\GraphQL.Client\GraphQL.Client.csproj" />`. What's the deal w

[2018-06-21 18:45] will-swu commented on #449
Yep, we use Dep.

[2018-06-21 20:14] greysteil commented on #540
Hey @welkie,

Thanks for getting in touch with this! I hadn't thought about putting Dependabot on OpenCollective before, and had just been focussing on SaaS revenue, but it's an interesting idea. I need to think about it a little more, and I'm hopefully that SaaS revenue will keep growing quickly and that asking for donations won't be necessary, but I'll keep this in mind 🙂

[2018-06-21 20:14] #540 closed

[2018-06-22 00:30] skeggse commented on #262
Hm I think that issue isn't quite linked correctly :grin:

[2018-06-22 00:58] greysteil commented on #262
Oops! That should have been https://github.com/dependabot/feedback/issues/6!

[2018-06-22 23:17] RohanNagar commented on #541
`ProjectReference Include="..." />` is saying that the listed `.csproj` file is a dependency of the current project. So, `<ProjectReference Include="..\..\src\GraphQL.Client\GraphQL.Client.csproj" />` means that the current project depends on the `GraphQL.Client` project. When building, the `GraphQL.Client` project will be built first so that the current project can use those binaries when buildin