[2018-06-25 21:55] nesl247 opened #552 "Use another label for security updates"
It would be great to have another label for security updates. Maybe `critical-dependencies` or `security-dependencies` or just a `security` label, not sure.

The purpose is to be able to see all the PRs in the organization that have a specific label that need to be looked at immediately.

[2018-06-26 16:33] greysteil commented on #552
👍 on this. I've done all of the prep work in https://github.com/dependabot/dependabot-core/commit/642c374303b9d2221f38f22a4416cdf05f0c5c18.

I'm leaning towards just a `security` label. Will be relatively straightforward to change later if there's a better option.

[2018-06-26 17:19] nesl247 commented on #552
Sounds good to me. Thanks for the fast work!

[2018-06-26 17:32] greysteil commented on #552
Great - done in https://github.com/dependabot/dependabot-core/commit/dd460e15ea23d0120732a1aa1888bf973b65d911, which is deploying now. Thanks for the feedback, and great to have you using Dependabot again! 🎉

[2018-06-26 17:32] #552 closed

[2018-06-26 18:26] nesl247 opened #2256 "Composer's require-dev dependencies do not need "permit version" updates"
Updates that say "Updates the requirements on phpunit/phpunit to permit the latest version." with a title for something like "Update phpunit/phpunit requirement to ^6.4|^7.0" are not needed, at least in any case I can think of.

Dev dependencies should be the same for all users of the app, so that the same version of phpunit for example is used to run the tests.

Are there other scenarios that I a

[2018-06-27 11:43] kefzce opened #556 "Ability to select the project folder"
I have a similar project structure

[code]

and my composer.json file under the application folder, so @dependabot-bot can't bump my dependencies, i don't really like move composer.json from application to /, so think
possibility to choose project folder in  https://app.dependabot.com/accounts/username/repos will be great idea

[2018-06-27 11:48] greysteil commented on #556
Thanks for getting in touch @kefzce. You can select the directory you want Dependabot to operate on when you add a project:

![image](https://user-images.githubusercontent.com/1144873/41972011-7348fc3c-79de-11e8-8542-11e863f33e11.png)

Hopefully that solves your problem?

[2018-06-27 11:54] kefzce commented on #556
@greysteil  Many thanks, it's true, I somehow missed it, but I did not see the possibility in the already created project to choose a directory, so if i create project first, create project on app.dependabot.com and after this dockerize project, move all project files into application folder, i should delete project from site, and recreate it to
specify new directory e.g application, instead of be

[2018-06-27 11:56] greysteil commented on #556
Yes, exactly - unfortunately you've got to delete it and then recreate it, rather than editing. (I'd like to add editing of directory at some point soon!)

Great that that gives you what you need, though! 🎉

[2018-06-27 11:56] #556 closed

[2018-06-27 16:37] richardowen opened #2255 "Way to view all currently applied ignored dependencies / versions"
The ability to ignore dependencies or certain versions of dependencies is great if you can't upgrade to a certain version right now. However they then get lost.

It would be great if there was a way to see (perhaps in the Dependabot dashboard) the currently-ignored dependencies so they can be reviewed and ignore rules removed as required.

[2018-06-28 03:54] greysteil commented on #541
👍 - OK, `<Project Reference Include="..." />` tags work now. I think the next biggest improvement would be supporting variables that use `$(...)` syntax. Anyone have any experience with them?

[2018-06-29 00:48] squirly opened #560 "Make semantic-release commit messages compatible with @commitlint/config-conventional"
One of the more popular commit linters for semantic-release, `@commitlint/config-conventional` following the [`Conventional Commits Guideline`](https://conventionalcommits.org/), enforces that scopes be lowercase.
https://github.com/marionebl/commitlint/blob/d636811b4537904231c483a05e91aaf96deb7f6e/%40commitlint/config-conventional/index.js#L6

### Error in My Project, [`@squirly/di`](https://gith

[2018-06-29 01:29] greysteil commented on #560
Thanks for the fix!

[2018-06-29 01:29] #560 closed

[2018-06-29 01:32] greysteil commented on #560
FYI, fix is deploying now. Thanks again for this, and sorry for the break.

[2018-07-02 16:51] connorshea opened #2253 "Opt-out of compatibility scores"
I actually don't want this for privacy reasons, but because one of my projects, [ouija-bot](https://github.com/connorshea/ouija-bot), doesn't really have any test suite to speak of due to Discord bots not really being very easy to test. If it passes the CI, that just means rubocop is still passing. I don't want to add useless data to the compatibility score, so I'd like to be able to opt-out.

I d

[2018-07-03 16:03] cbautista1002 opened #568 "Add option to not create PRs when a new repo is added"
My company just signed up for the unlimited plan. We'd like to add all of the repos at once but if we do then 5 PRs will be created for every single repo which will be overwhelming. Is there a way to select "All repositories" but not have PRs automatically created until someone explicitly bumps a repo?

We have dozens of repos and are slowly introducing Dependabot to the repos that makes sense. Bu

[2018-07-03 16:07] greysteil commented on #568
Hi @cbautista1002,

Thanks for using Dependabot, and for getting in touch.

You can grant Dependabot access to all of your repos on GitHub without it kicking off bumping runs for them - you do that from the configure button [here](https://github.com/apps/dependabot). For Dependabot to actually start creating PRs against a repo that repo needs to be added manually in the Dependabot dashboard ([here

[2018-07-03 17:14] connorshea opened #2252 "Auto-merge updates based on compatibility score"
This might be too complicated to be worth implementing, but I was thinking about how to handle dependency updates for something like [ouija-bot](https://github.com/connorshea/ouija-bot). The problem is that there's not really a good way to write tests for Discord bots because no one has made a proper scaffold for the whole of Discord's API and something like VCR to replay API requests would probab

[2018-07-03 17:55] cbautista1002 commented on #568
Thanks @greysteil! I see what you mean and I think I'm good to go! I need to work with one of my co-workers who has GH admin rights to be sure. With tomorrow's holiday it's going to take a couple of days, but I'll post here as soon as I have a more definitive answer. Thanks again.

[2018-07-03 17:56] greysteil commented on #568
Great! Have a fantastic July 4th!

[2018-07-04 04:05] key commented on #449
We use Dep too. Waiting for golang support :)

[2018-07-04 08:40] franktopel opened #569 "How to setup dependabot to take care of the dependencies of a specific branch?"
I have a private repository which has a long-living branch which the main development takes place on. I have setup dependabot to work on that repository - and it does so very nicely, but it works on the master branch. How do I configure dependabot to work on an additional/different branch?

[2018-07-04 08:47] paschelino commented on #416
The support of CocoaPods would be awesome.

[2018-07-04 15:46] greysteil commented on #569
Hey @franktopel,

When you add an update config to a repo you can select the branch of Dependabot to target under "advanced options". It will then open PRs against that branch. Unfortunately you'll have to do the change as a delete-and-add, because we don't support updating the target branch on an update config at the moment (I should change that).

Hope that clears things up, and thanks for using

[2018-07-04 15:46] #569 closed

[2018-07-04 15:48] greysteil commented on #416
Thanks for the 👍 @paschelino. I looked at this before and bailed on it because my understanding was that there was a lot of vendoring with CocoaPods, and that updating just the `Podfile` and `Podfile.lock` wouldn't be enough - what other files would normally get updated when bumping a pod?

[2018-07-04 15:54] greysteil commented on #541
Just noticed lots of `<Reference ...>` tags in [this file](https://github.com/ektooo/TuyaLocalNET/blob/master/TuyaLocal/TuyaLocal.csproj). Should we be updating those, too?

[2018-07-04 16:09] deinok commented on #541
That is the old csproj format. I can take a look at how to handle that

[2018-07-04 16:21] greysteil commented on #541
👍. I think handling variables (the `$(...)` syntax I've seen) is probably more important to start with?

[2018-07-04 16:27] greysteil opened #572 "Clojure support"
Originally suggested in https://github.com/dependabot/feedback/issues/76.

[2018-07-04 17:08] deinok commented on #541
Important, yes. But supporting old csproj will be more easy

[2018-07-04 17:44] greysteil commented on #541
Haha, yeah, make sense. Well if the only syntax is straightforward to handle then no reason not to add it 🙂

[2018-07-04 21:44] fubarhouse commented on #449
I use dep & vgo, and I'd be interested in seeing support here.

[2018-07-05 06:29] franktopel commented on #569
@greysteil Delete-and-add won't help me, I need dependabot on both the master and the specific, long-living dev branch within the same repository.

[2018-07-05 11:15] greysteil commented on #569
Ah, sorry, in that case you can just add a second update config for the same repo, but with the different target branch. If you click `add language` on that repo in your Dependabot dashboard then you can add the same language again, as long as you set s different target branch in the advanced options.

Let me know if that doesn't work for you. There aren't many people using Dependabot with that se

[2018-07-05 12:18] franktopel commented on #569
What is the dependabot dashboard? Is it the page I find under https://github.com/settings/installations/XXXXX ? If yes, I cannot find an "Add language" function/button/whatever there.

[2018-07-05 12:18] greysteil commented on #569
It's [here](https://app.dependabot.com).

[2018-07-09 22:16] RohanNagar commented on #541
for the `$(...)` syntax, I'm pretty sure that those are reference variables in a `PropertyGroup` section, either within the same csproj file or in a parent csproj file.

Example:

[code]

Output:
[code]

For dependencies, I think using a property as part of the path is common, and I don't see why you wouldn't be able to use it for the version number too.

[2018-07-10 15:14] jvdlaar opened #2251 "Feature request: docker-compose support"
Are there any plans to support docker-compose and version numbers inside the docker-compose.yml file?

Up till now we created a Dockerfile for each image we used, just for dependabot.

This is the format:
[code]
So for cli how we currently do it with Dockerfiles and deptrac with the version direct in the docker-compose.yml

[2018-07-11 18:07] hairyhenderson commented on #449
Using `dep` over here too, would love to see support!

[2018-07-12 11:51] codisart opened #584 "[Gitlab] : Pull request messages are not formatted"
Since dependabot use github flavored markdown, the messages are not correctly formatted when displayed on a gitlab Merge request.

[2018-07-12 12:06] greysteil commented on #584
Is there an example PR you can link to? Would help with fixing!

[2018-07-12 12:44] codisart commented on #584
Do you have a login on gitlab ?

[2018-07-12 12:45] greysteil commented on #584
Yep - I'm @greysteil there, too.

[2018-07-12 13:17] codisart commented on #584
I gave you access

[2018-07-12 13:48] greysteil commented on #584
Ah, I see, looks like this is specific to the markdown in the `<details>` tags. Annoying that GitLab doesn't support that! Wouldn't be too hard to convert it all to html, though.

[2018-07-16 16:10] codisart opened #589 "[Composer] Dependabot replace repository type by vcs"
When running Dependabot for a composer project with the "repositories" param, it replaces `type="git"` by `type="vcs"`.

Since composer has to intepret the url given to know what client to use, it seems more optimal to use git. So I think this modification by dependabot is wrong when the type is already done.

[2018-07-16 16:46] greysteil commented on #589
Frustratingly, I think this is required. From memory (and the comment I put on the code) if `git` is used then Composer doesn't use its auth credentials - the relevant code is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/file_updaters/php/composer.rb#L127-L131).

That said, since I wrote that I added the ability for Dependabot to use git's underlying auth, which

[2018-07-17 17:21] nesl247 opened #2249 "Use a "status" on PRs to block merging when rebasing"
When dependabot detects a rebase is needed, it only updates the PR description with the message. Unfortunately, this can mean that `composer.lock` for example is outdated when doing multiple merges, as the `content-hash` is different. Dependabot doesn't detect the PRs need a rebase quick enough, so a status update while it is being determined and or rebased would be great.

[2018-07-17 21:33] #568 closed

[2018-07-18 18:57] greysteil commented on #449
PR to add Go support (just a placeholder) is [here](https://github.com/dependabot/dependabot-core/pull/592). Any comments / advice appreciated.

[2018-07-18 21:57] RohanNagar commented on #416
The source code from the dependencies is _often_ checked in to the repo as well, so you're right there is a lot of vendoring. In some cases developers choose to not check in the `Pods/` directory, in which case simply updating the `Podfile` and `Podfile.lock` would be enough. But it wouldn't cover the case where the `Pods/` is checked in.

[2018-07-19 12:12] codisart opened #593 "[Composer] constraint on php 7.1"
I see that the composer.json in the php helpers has a constraint on php 7.1.
Is it a deliberate choice ?

Could it be possible to have the choice between 7.0, 7.1 and 7.2 ?

[2018-07-19 12:16] greysteil commented on #593
Not really - it’s `^7.1`, and I think may need 7+, but Dependabot runs the update process in a container that uses 7.2. Why?

[2018-07-19 13:12] codisart commented on #593
Because this constraint block the version usable on the container that runs dependabot and the version on the container has a influence on the computation on version compatibility of composer dependencies. So some tests will always fail on some project on 7.1 because the computation was made with 7.2.

[2018-07-19 14:09] greysteil commented on #593
But that won't be the case if the user specifies their PHP version as a platform configuration, and if they set it as a requirement in their `composer.json` then Dependabot will error with a helpful message (asking them to add it as a platform requirement). Did you see [this issue](https://github.com/dependabot/dependabot-core/issues/394)?

I don't think that relaxing the version in Dependabot's o

[2018-07-20 14:18] nesl247 opened #2248 "Don't allow manual additions/changes to use unqualified releases"
I'm not sure if this is something Dependabot would ever want to do, but the name itself doesn't imply it couldn't be done.

What I am thinking is to have Dependabot check all PRs for changes to a package manager's config file, like `composer.json`, and stop a PR from being merged if it uses unqualified releases like `dev-master`.

It's highly unrecommended to use versions like that, and unless it'

[2018-07-23 14:56] mueller-ma commented on #245
@greysteil Can you have a look at https://github.com/openhab/openhab-android/pull/958?
The build fails, because the bumped dependency cannot be found on a remote server:
[code]

How does @dependabot-bot know that there is a new version?

[2018-07-23 15:07] mueller-ma opened #597 "Link to PR in release note doesn't use github-redirect.dependabot.com"
See first PR (`#392`) in https://github.com/openhab/openhab-android/pull/963

[2018-07-23 15:45] connorshea opened #2246 "Dependabot bumped a subdependency from 8.x to 9.0 when updating a gem"
Dependabot updated bootstrap from 4.1.1 to 4.1.2, but in the process also updated autoprefixer-rails from 8.6.5 to 9.0.0.

https://github.com/connorshea/mdn-compat-data-explorer/pull/117

I think this just might be a limitation of bundler (IIRC it updates the subdependencies of any gems that are updated, not sure if there's a flag you can pass to stop this?). But I feel like this isn't the ideal b

[2018-07-23 16:03] audkar commented on #245
If this is still true, then this is reason why it fails :)

google services artifact is in custom repository `http://maven.google.com`

[2018-07-23 16:03] greysteil commented on #597
Good catch! Fixing now.

[2018-07-23 16:15] mueller-ma commented on #245
@audkar Thanks for the tip, but it didn't help:
[code]

[2018-07-23 16:15] greysteil commented on #245
Let me take a look into this one - I'll get back to you.

[2018-07-23 16:20] greysteil commented on #597
Fixed by https://github.com/dependabot/dependabot-core/commit/b66c7b725e4d37c2df2778ad955310f7234f5b64 🙈.

[2018-07-23 16:20] #597 closed

[2018-07-23 16:38] greysteil commented on #593
Closing as I think this is answered. Happy to continue the conversation, though.

[2018-07-23 16:38] #593 closed

[2018-07-23 18:16] mueller-ma commented on #245
@greysteil When bumping an annotation processor two lines need to be changed: https://github.com/openhab/openhab-android/pull/964/files#diff-267b4136e002edb2e31e096623801166L129 and the line below.

[2018-07-23 18:57] douglasrlee opened #2245 "Slack Integration"
I might have missed this somewhere but it would be awesome if you could get dependabot to notify you of PRs created via slack.

[2018-07-24 13:51] codebycliff opened #2244 "Project specific configuration for "Automatic PR rebases""
I would like to turn on "Automatic PR rebases" for specific projects, not at the global level. Automatic rebasing fits some of our project workflows, but not all. Because of that, we have it disable across the board. I would really like to be able to enable this at the project level.

[2018-07-25 15:55] omnibs opened #600 "When is `requirements_to_unlock: :all` used?"
Just did a search for `requirements_to_unlock` in the codebase and only found `:all` being passed in `maven` tests. It's also not mentioned in the `dependabot-script`.

I'm also confused with the whole flow between `:own`, `:none` and `:all`.

`:none` seems to be used only in `can_update?` and only when the dependency doesn't `appears_in_a_lockfile?`. It doesn't propagate it outwards, so I don't u

[2018-07-25 16:05] greysteil commented on #600
Hey @omnibs,

This is something of an implementation detail, but here's the thinking on `requirements_to_update`.
- It's there to determine what the latest version you can update to _in the context of all your other dependency versions_ is. For languages that have a resolver with the concept of version conflicts that won't always be the latest version.
- It therefore only really applies to Ruby, P

[2018-07-25 17:55] omnibs commented on #600
It helps a bit. I'm thinking I might need `:all`, but I'll try to talk through my scenario, if you have time I'd love advice:

I'm working on Elm support, and Elm has an `elm-package.json` and an `exact-dependencies.json`. The latter sounds like a lock-file, but isn't. It reports what `elm-package install` actually did and is not supposed to be kept in version control.

The `elm-package.json` file

[2018-07-25 19:42] omnibs commented on #600
Investigating some more, I see b) won't work. If I don't receive `:all` I'll only be able to update 1 dependency ([here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/update_checkers/base.rb#L89) or [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/update_checkers/base.rb#L100)).

I'll change to a simpler question:

How do I make sure my `Up

[2018-07-25 19:54] greysteil commented on #600
Hey, sorry for the slow reply, was crunching on getting Go support out (now done 🎉).

Elm support would be awesome! Thanks for looking at it!

In the main Dependabot updater script, we have the following:

[code]

(The `job.lockfile_only?` comes from our database for whether this user wants their manifest updating - you can ignore that bit.)

As a result, if you proceed with the approach suggested

[2018-07-25 20:42] omnibs commented on #600
No way, this is super fast =D

I know rite?!?

It doesn't support multiple versions of the same dependency. I don't really know why `elm-package` behaves this way. Evan errs on the side of lacking features unless he has comprehensive use-case study to back them, this might be one case of that.

This is super helpful! 😻

It's a little complicated with Elm. There's nothing like `--package-lock-only`

[2018-07-25 20:48] greysteil commented on #600
Forking elm-package sounds really grizzly - we definitely don't want to do that! Have you looked into any way to hack into its innards? Take a look at what we do for [yarn](https://github.com/dependabot/dependabot-core/blob/master/helpers/yarn/lib/updater.js) and [composer](https://github.com/dependabot/dependabot-core/blob/master/helpers/php/bin/run.php) for example. It can get pretty ugly, mind.

[2018-07-26 05:27] simlu opened #602 "Feature Request: Automerge with delay"
I love the auto merge feature and it is extremely useful for me as I maintain a lot of repos.

However after the recent [eslint fiasco](https://github.com/npm/npm/issues/21202), I'm a little hesitant wrt auto merging. Ideally there would be an option to only auto merge prs that are open for longer than x hours/days.

What are your thoughts on this?

[2018-07-26 05:33] simlu commented on #374
@greysteil You should really update the repo description in that case. It currently says that this is the place for feedback :)

[2018-07-26 05:33] simlu opened #2243 "Feature Request: Automerge with delay"
I love the auto merge feature and it is extremely useful for me as I maintain a lot of repos.

However after the recent [eslint fiasco](https://github.com/npm/npm/issues/21202), I'm a little hesitant wrt auto merging. Ideally there would be an option to only auto merge prs that are open for longer than x hours/days.

What are your thoughts on this?

[2018-07-26 05:34] simlu commented on #602
Closing this in favor of https://github.com/dependabot/feedback/issues/108 since this is apparently not the right place to post.

[2018-07-26 05:34] #602 closed

[2018-07-26 10:33] greysteil commented on #449
Dependabot now supports `dep`! 🎉

https://dependabot.com/blog/go-support

Would love your feedback. (And I appreciate updating to `dep` v0.5.0 on the day it comes out, and before it's on homebrew, is a pain - sorry!)

I'm going to close this because I'm feeling triumphant, but that doesn't mean I've forgotten about vgo.

[2018-07-26 10:33] #449 closed

[2018-07-26 11:50] fubarhouse commented on #449
@greysteil,

I've noticed my first PR only changes my lock file - the toml file remains out of sync. This is not what I would expect - I don't know if this is by design, but I feel I should let you know.

See https://github.com/fubarhouse/drubuild/pull/45 for the full details.

[2018-07-26 12:00] greysteil commented on #449
Thanks Karl - that's helpful feedback.

At the moment Dependabot is treating all Go code as if it was a library, so doesn't want to change the `Gopkg.toml` unless it has to (and if it does, does so by widening the range). I *think* that's the right behaviour for libraries (let me know if I'm wrong), but it's definitely not the right behaviour for apps.

My plan is to make the above configurable, b

[2018-07-26 12:02] fubarhouse commented on #449
Well, by finding package `main`, you can identify an application from a library.

I think that's okay - but if it was configurable that would definitely fit the bill for ever scenario - especially when vgo/module support eventually comes alone. 👍

Good work!

[2018-07-26 12:06] greysteil commented on #449
Ah, good point - I can tell if it's a library just by checking for the presence of a `main.go`! I'll get that changed now. 🎉

[2018-07-26 12:07] fubarhouse commented on #449
You may also come across outliers where `package main` is contained in other files, such as `app.go`.

This however is considerably unlikely.

[2018-07-26 12:58] greysteil commented on #449
Good to know. [This change](https://github.com/dependabot/dependabot-core/commit/beb14f33a84cbf6677ef33e42d4123a79cb8f025) is deploying now and will give more intuitive behaviour. 🎉

[2018-07-26 15:03] omnibs commented on #600
We have one of the largest Elm codebases in the world and our deps take 50s to download from my local machine in Brazil (130ms ping to http://package.elm-lang.org/). I'm imagining that's too much.

The package manager is a Haskell binary and the code for dependency resolution is just in there, I can't see a way to monkey patch that :<

I talked to some colleagues who came up with solutions:
a) Par

[2018-07-26 15:08] greysteil commented on #600
Yep, 50s is too long for Dependabot to spend at the resolution stage (because it has to do it many times over).

Option (a) sounds good to me - sounds like that does exactly what we want, which is curtail `elm-package` after resolution but before install.

@hmarr - any thoughts?

[2018-07-26 15:09] omnibs commented on #600
Another thing about Elm is the release cycle is very long. Elm-package hasn't changed since Nov 2016.

The next version (Elm 0.19) for instance will introduce a new dependency file format, so we don't expect this work to break for anyone ever. We expect to have to re-do this work for 0.19 and probably keep support for both 0.18 and 0.19 in parallel in Dependabot.

[2018-07-26 15:11] greysteil commented on #600
Cool - supporting both versions once 0.19 comes out sounds sensible to me. Super excited about this!

[2018-07-26 20:38] dschep opened #603 "packages defined in subdirectories"
Is it possible to have dependabot manage updates for a sub-directory of a repo?

ie repo looks like
[code]

[2018-07-26 20:41] greysteil commented on #603
Absolutely - if you click "add language" in your dashboard and then "advanced options" then you can select a sub-directory for Dependabot to operate on there. If you use Lerna or Yarn workspaces then it will automatically pick up all of your packages and update them in a single PR (per dependency, rather than multiple PRs for the same dependency).

[2018-07-26 20:41] #603 closed

[2018-07-26 22:06] dschep commented on #603
Awesome. Thanks!

[2018-07-27 11:03] jeremylong opened #605 "PR Submitted for Missing JAR in Central"
Please see https://github.com/jeremylong/DependencyCheck/pull/1381

A PR was submitted for groovy-all-2.5.1. However, if you look in [Central](http://central.maven.org/maven2/org/codehaus/groovy/groovy-all/2.5.1/) - the JAR file itself is missing.

[2018-07-27 11:39] greysteil commented on #605
Ah, sorry, I saw your comment on this but was crunching on adding Go support. That’s done now, and I’m going to spend the next few weeks working on polish - I’ll make sure this gets fixed!

[2018-07-28 12:27] jbreitbart opened #609 "vgo support"
As a followup to #449. `vgo` support would also be great once it gets widely adopted.

Thanks for the dep support 😄, just opening this now to be able to get notified once `vgo` is also available.

[2018-07-28 15:44] greysteil commented on #605
Ah, this is embarrassing - I'd fixed this but had managed to type both the code and the test for it. Fixed in https://github.com/dependabot/dependabot-core/commit/d2ae4bacf8b1cf34ba045b10c1b8a425097b8328.

I'll re-run Dependabot on all existing Maven PRs to close any that shouldn't be open once that's deployed.

[2018-07-28 15:44] #605 closed

[2018-08-02 09:10] drewpterry opened #2241 "Feature Request: Assign a random reviewer from a given list of users or a team"
Currently you can use `@dependabot use these reviewers` to add reviewers automatically for a Dependabot PR.

I'm working on a larger team and don't want to tag a whole bunch of people and have them be bombarded with Dependabot review requests. It would be really great to have a command that would allow me to automatically assign one reviewer from a group automatically forever.

So for example say

[2018-08-06 14:57] greysteil commented on #541
@RohanNagar @deinok I could use a hand with these property versions, and have an example repo with them now: https://github.com/jyotirmaya12/MusicStore

The csproj for that repo is [here](https://github.com/jyotirmaya12/MusicStore/blob/master/samples/MusicStore/MusicStore.csproj),  and I'm not sure how Dependabot could have figured out that the constants are defined [here](https://github.com/jyoti

[2018-08-06 17:46] deinok commented on #541
A fast view dont reveals how are they linking the props with the csproj.
I will take a better look ASAP

[2018-08-06 17:47] greysteil commented on #541
Hero, thanks masses @deinok

[2018-08-07 10:32] KingDGrizzle opened #620 "[Suggestion] Update the current PR instead of superseeding it"
Hello.

One of the more... not annoying but slightly annoying things about dependabot is how it handles certain bumps.

Say we are on version 5.0.0. 5.1.0 gets released, and dependabot makes a PR. then 5.2.0 gets released. dependabot superseeds the old PR and creates a new one instead of editing the existing PR and making a comment saying `Version x.x.x has been released. This PR is now updated fo

[2018-08-07 12:12] #600 closed

[2018-08-07 12:16] greysteil commented on #620
I think this makes a tonne of sense. It's not trivial to implement, but I agree it would be an improvement. There's an issue on dependabot/feedback tracking it [here](https://github.com/dependabot/feedback/issues/14), so I'm going to close this as a dupe, but thanks for raising it.

[2018-08-07 12:16] #620 closed

[2018-08-07 16:16] KingDGrizzle commented on #620
Woops. I forgot to double check all repos before submitting. My bad.

I'll keeo track on the issue there then. :smiley:

[2018-08-08 16:06] Kocal opened #625 "Add support for Symfony Flex"
Hello,

Since [Symfony Flex](https://github.com/symfony/flex) & [Symfony recipes](https://flex.symfony.com/), we have a file `symfony.lock` which is updated whenever a Symfony-related package is updated.

That would be awesome to commit this file aswell with `composer.json` and `composer.lock`, thanks :slightly_smiling_face:

---

- https://twitter.com/Kocal_/status/1027211130203238400

[2018-08-08 17:39] greysteil commented on #625
Just digging into this. I'm having a hard time getting the `symfony.lock` file to update when I can the requirements in the `composer.json` file and call `composer update`. Am I missing something, or is `symfony/flex` still a bit rough around the edges?

[2018-08-08 17:40] greysteil commented on #625
My composer file is:

[code]

Calling `composer install` with that generates me a `symfony.lock`, but then when I update the requirement on `beelab/tag-bundle` to `v1.3.0` and call `composer update` I get an updated `composer.lock` but no change to the `symfony.lock`.

[2018-08-08 18:17] greysteil commented on #625
PR with the beginnings of the work on this is [here](https://github.com/dependabot/dependabot-core/pull/628). My PHP tests are failing locally, but I think it's due to the composer version on my machine being out of date.

Next step is to add a test, likely using the dummy composer file above.

[2018-08-08 18:44] Kocal commented on #625
I had `"phpoffice/phpspreadsheet": "^1.2"` in my `composer.json`.

This package has been updated from `1.3.1` to `1.4.0` by dependabot (only `composer.lock` has been changed).
Some times after, I had to run `composer install` and I saw my `symfony.lock` be updated. I don't know if it's related 🤔

[2018-08-08 23:12] greysteil commented on #625
That definitely sounds related to me. I'm totally on-board with adding `symfony.lock` support, just want to make sure that I do it right.

[2018-08-09 09:27] deinok commented on #541
@greysteil Seems like is using something called KoreBuild https://github.com/aspnet/KoreBuild
I don't see how is it taking the versions.
Seems really complex for its logical simplicity.
Seems more like an edge scenario than a normal case.

[2018-08-09 09:28] greysteil commented on #625
FYI, I've asked the `symfony/flex` team what they recommend Dependabot does here. It's not totally clear to me that Dependabot should be updating the `symfony.lock` file as I don't yet understand its purpose, but I'll get to the bottom of it 🙂

[2018-08-09 09:48] Kocal commented on #625
Nice, good luck! :stuck_out_tongue:

[2018-08-10 12:17] axelrindle commented on #374
For an "advertising" badge one could use [badgen](https://badgen.net) for the moment, which also supports an icon.

[![Dependabot](https://badgen.net/badge/Dependabot/enabled/green?icon=dependabot)](https://dependabot.com/)
[code]

[2018-08-10 12:57] greysteil commented on #374
Thanks @axelrindle! There’s actually another issue for this on https://github.com/dependabot/feedback and we now have a marketing badge, and it does use Badgen! If you comment `@dependabot badge me` on a dependabot PR it will give you the right markdown 😎

[2018-08-10 13:02] axelrindle commented on #374
@greysteil That's great! :+1:

[2018-08-11 21:36] jkniest commented on #134
@greysteil Any updates on this? :-)

[2018-08-12 20:20] timReynolds opened #2240 "Audit log: Log when Dependabot settings/config change"
It would be great to see an audit log or event history in the dashboard allowing users to understand the actions taken by the bot.

[2018-08-13 06:06] ylac commented on #399
Hi @greysteil, I work for a small dev agency (~15 devs) that could really use Dependabot to manage our React/React Native dependencies. We use Gitlab atm so would be very interested in signing up if you add the integration.

[2018-08-13 10:32] greysteil commented on #134
The issue to watch on this one is https://github.com/dependabot/dependabot-core/issues/399.

Unfortunately I didn't get to adding GitLab support when I wanted to - instead I added Go and .NET support, and integrated with GitHub's security alerts.

My next three big things are tools for maintainers, vgo support, and GitLab. It's definitely coming - apologies for the delay.

[2018-08-13 10:37] greysteil commented on #625
OK, having spoken to the folks at symfony/flex I *think* the best approach is for Dependabot to *not* keep the `symfony.lock` up-to-date.

As I understand it, the `symfony.lock` is there to keep track of what post-install scripts have been run, when downloading packages using Composer. Dependabot can't run those scripts for you, as it doesn't clone your repo, so it's better that it leaves the `sym

[2018-08-13 10:37] #625 closed

[2018-08-22 22:34] fernandocarletti commented on #405
Hello. Is there any love for this issue?

[2018-08-22 22:50] greysteil commented on #405
There is and in fact @nesl247 tweeted about it a few hours ago.

I'm keen on this but need to do some research on how it would work.

[2018-08-23 16:06] nesl247 commented on #405
@fernandocarletti and I had just been discussing it prior to this (both work for the same company).

I wonder if a possible quick solution would be to allow the registry configuration in dependabot to be accessible via an API. We could then run a cronjob that calls that API with updated credentials every 11 hours or whatever.

That is until a more permanent solution could come about. Is there an A

[2018-08-23 19:56] nesl247 commented on #405
@greysteil I've configured our dependabot with a username and password that should work with AWS, however, it still doesn't appear to be finding any updates.

How does dependabot check to see what newer tags there are?

[2018-08-23 19:57] nesl247 commented on #428
@greysteil I believe you just implemented this right?

[2018-08-23 19:57] greysteil commented on #428
I did indeed!

[2018-08-23 19:57] #428 closed

[2018-08-23 19:58] greysteil commented on #405
@nesl247 I'm crunching on getting Terraform support out this evening, but am planning to focus on Docker tomorrow. Barring a sea of bugs I'll get this sorted then 🙂

[2018-08-23 20:05] nesl247 commented on #405
So I'm thinking, and hoping I'm wrong, but it may be that AWS does not fully support the registry API. This is hard for me to debug since I don't know how to. I have written a small script that I can execute that will actually connect to api.dependabot.com and provide a docker registry entry with a username and password that should work for pulling.

However, dependabot is not finding any new tags

[2018-08-23 20:07] greysteil commented on #405
Ah, it may be that Dependabot just isn't picking those up because they're not version-like, and it wouldn't have a way to order it.

Have you had a look at [dependabot-script](https://github.com/dependabot/dependabot-script), to step through the logic there? It uses dependabot-core in basically the same way that the main Dependabot updater does, and is what I use to debug these issues if/when I ne

[2018-08-23 20:32] nesl247 commented on #405
I wasn't aware of dependabot-script, good to know.

I'm not sure how we should do our tags then. I was so focused on getting dependabot connected to AWS I wasn't thinking about that. In my head, it was like "well, git knows this is newer than the last..".

[2018-08-23 20:44] nesl247 commented on #405
We're switching to tagged releases. We were moving very fast, and skipped thinking about tagging for dependency docker images for us. So we'll keep this ticket back on track which is the support for ECR.

[2018-08-24 01:33] osterman opened #649 "Support Nested Terraform Code (HCL)"
## what
* Dependabot will not look recursively through directories in repo for `.tf` code
* Want submodules to get updates

## why
* In terraform, it's valid to nest modules in subfolders

## references
* https://github.com/cloudposse/terraform-root-modules

[2018-08-25 07:51] greysteil commented on #405
I was hoping to get to this yesterday but spent the day on a couple of Python issues. It’s top of my list for the next few days.

[2018-08-27 23:55] greysteil commented on #589
Fixed! 🎉

[2018-08-27 23:55] #589 closed

[2018-08-30 13:59] mattwelke opened #2239 "Notify user when an `npm` package dep is deprecated"
DefinitelyTyped deprecates @types packages when their respective package maintainers begin to ship type definition files with the packages. This can be because they took on the responsibility of writing separate type definition files themselves or because they migrated completely over to TypeScript, and so they're taking advantage of the fact that the TypeScript compiler will generate type definit

[2018-09-01 10:31] lorengordon commented on #649
It's a bit of a bear to manually add every directory with terraform configurations into dependabot. Each directory with .tf files is really its own, independent terraform module.

Plus, the way dependabot is now, restructuring the repo would mean needing to also "fix" the dependabot config.

A better workflow to me would be to scan the repo for directories with .tf files, check each for module sou

[2018-09-01 10:36] lorengordon opened #654 "Support terragrunt configurations the same as terraform modules"
[Terragrunt](https://github.com/gruntwork-io/terragrunt) is a wrapper around terraform and uses the same syntax for module `source`. But the specification is in a `terraform.tfvars` file rather than `.tf` file, and it's in a `terragrunt.terraform` dictionary instead of `module`.

Something like this:

[code]

[2018-09-01 14:30] greysteil commented on #649
That makes sense to me. I think what's needed here is a better frontend for Dependabot for selecting multiple directories to apply it to, and an option to "always apply to all directories" or something like that (maybe with a blacklist).

Sounds like you think the backend implementation (separate PRs for each module) is basically correct, though?

[2018-09-01 14:31] greysteil commented on #654
Ah, interesting. Any open-source repos you can point me to that use it, so I've got some fixtures to work with?

[2018-09-01 14:38] lorengordon commented on #649
Separate PRs for each updated "source" is my preference... That way each dependency update gets tested on it's own. If there are interrelated changes between dependencies needed to pass tests, I'd modify the PR myself.

[2018-09-01 14:39] greysteil commented on #649
Great. We're planning to work on the front-end a bunch over the next couple of months, so I should be able to get this sorted then.

[2018-09-01 14:41] lorengordon commented on #654
Here's one of mine, https://github.com/plus3it/wrangler-watchmaker/blob/master/release/salt-yum-defs/terraform.tfvars

Here's one from the gruntwork team, https://github.com/gruntwork-io/terragrunt-infrastructure-live-example

[2018-09-01 22:09] greysteil commented on #654
👍, this looks pretty easy. Working on a PR for it [here](https://github.com/dependabot/dependabot-core/pull/655).

[2018-09-04 00:09] greysteil commented on #452
We do this now! 🎉

[2018-09-04 00:09] #452 closed

[2018-09-08 05:19] JLLeitschuh opened #2238 "Support Kotlin when updating Gradle files"
Trying to add a project like this one: https://github.com/JLLeitschuh/ktlint-gradle

Gives the following error:

The bot should support `build.gradle.kts` files, or even better, supporting `*.gradle.kts` files and `*.gradle` files.

---

More in depth information about this issue can be found here:
 - https://github.com/dependabot/dependabot-core/issues/1164
 - https://github.com/dependabot/feedba

[2018-09-09 15:06] greysteil commented on #654
This is done (I just forgot to close this issue!)

[2018-09-09 15:06] #654 closed

[2018-09-11 14:06] homme commented on #609
The recently released Go 1.11 [includes support](https://github.com/golang/go/wiki/Modules) as an experimental opt in feature. It would be great if this could be supported by dependabot to help in the migration to and experimentation with go modules.

[2018-09-11 14:07] greysteil commented on #609
We're working on it! @hmarr has it on a branch locally, and we should have something for you in the next week or so. 😎

[2018-09-11 19:50] JacobEvelyn opened #2236 "Pull license data?"
There's a good chance that this doesn't make sense as a Dependabot feature, but here goes! 😃

I noticed that Snyk (which works slightly differently but I consider it in the same space as Dependabot) [scans for dependency licenses](https://snyk.io/features/enterprise#licenses) to help ensure an organization uses licenses they know they comply with.

I can't really figure out a good way for Dependab

[2018-09-12 12:19] bartoszmajsak opened #2235 "Better detection of whether a Go repo is an application or a library"
It seems that subsequent bumps of the dependencies in golang projects (using dep) result in updating `Gopkg.lock` [[1]](https://github.com/arquillian/ike-prow-plugins/pull/229) instead of `Gopkg.toml` [[2]](https://github.com/arquillian/ike-prow-plugins/pull/227) as it was initially. Is that intended?

[2018-09-12 14:48] josesimoes commented on #541
Just noticed that the version update on Nugets is not checking the dependencies of the updated package, which will results - inevitably - on a build failure.

Example:
[This repo/project](https://github.com/nanoframework/lib-Windows.Devices.Gpio/blob/develop/source/packages.config) depends on `nanoFramework.CoreLibrary` and `nanoFramework.Runtime.Events`.

After triggering a bump I've received 2 P

[2018-09-12 15:18] cabello opened #2234 "[feature request] Tabular view"
Hi 👋

We have 21 repos added to Dependabot and I feel they would be better presented in table form.

Things I would like to do:
- sort by language
- sort by last checked
- sort by weekly, daily
- turn on/off extra columns like the ones that are hidden behind "Edit button", for example "Only security patches"
- maybe filter/search some of the entries

Thanks for considering it.

[2018-09-12 16:10] deinok commented on #541
Nice to know about the NanoFramework, I mostly work with embeded devices with C# so I'm glad to discover this framework.

Nvm, for what I can see, the actual published version of:
https://www.nuget.org/packages/nanoFramework.Runtime.Events/1.0.0-preview183 is 183 that referenciates
https://www.nuget.org/packages/nanoFramework.CoreLibrary/1.0.0-preview062

So, Its not a big problem.
Also, I see tha

[2018-09-12 16:39] josesimoes commented on #541
Great! I'm sure you'll like it. Head there and give it a try 😉

On the versions you are referring to: that's on Nuget.org. For testing preview versions we are using a [MyGet feed](https://www.myget.org/feed/Packages/nanoframework-dev). There you'll see the versions I'm referring to.

As for the nfproj, I'm aware that this file extension is not being processed now. @greysteil  has been kind enough

[2018-09-12 17:13] deinok commented on #541
@josesimoes Sorry, Im not able to see the feed, is it private?

Can you explain me the diferences between *.nfproj and *.csproj?

[2018-09-12 17:31] deinok commented on #541
So, we can considerate nfproj to be the old school csproj (CsProj and Package.config | No SDK CsProj)?

[2018-09-12 17:36] josesimoes commented on #541
I would say that statement is correct. 😃

[2018-09-12 17:39] deinok commented on #541
@greysteil Could you tell me what is the environment of the Dependabot Servers?

[2018-09-12 22:42] greysteil commented on #541
@deinok of course. It has two components:
1) The main backend, which has a database and keeps track of who is using Dependabot, what PRs have been created, etc.. The main backend kicks of update runs which run in the "updater"
2) The updater, which is essentially a script wrapping Dependabot Core. This run on isolated one-off Heroku dynos (we spin up a new one for each update run). It's Dockerised

[2018-09-13 05:50] dependabot[bot] opened #662 "Dependabot couldn't find a build.gradle for this project"
Dependabot couldn't find a build.gradle for this project.

Dependabot requires a build.gradle to evaluate your project's current Java dependencies. It had expected to find one at the path: `/helpers/gradle/build.gradle`.

If this isn't a Java project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in

[2018-09-13 06:08] #662 closed

[2018-09-13 07:46] deinok commented on #541
Just to referenciate: https://github.com/dependabot/dependabot-core/pull/663

[2018-09-13 07:54] josesimoes commented on #541
@deinok leveraging on nuget executable to do the hard work on finding the updates (which in the process gets the correct dependencies) seems a very cleaver approach. 👏

It shouldn't be that hard to having it process the project(s)/solution(s) and then committing those difs as the bump PR. Actually this can solve several of the issues/suggestions currently open.

[2018-09-13 07:59] greysteil commented on #541
Makes sense to me. We can actually remove Java, Groovy and Gradle from the Dockerfile, so I was planning to cut a new version of it today. I'll do that and get #663 in this morning.

[2018-09-13 08:04] deinok commented on #541
Before merging it let me test a thing related to this:

Let me look what happenz if this aproach is just done with the skeleton with just `*.csproj, *.sln, *nfcsproj, etc...`

[2018-09-13 08:08] deinok commented on #541
@greysteil Also, if you want, I can create something like https://github.com/dependabot/php-dummy-pkg-a but for .NET

[2018-09-13 08:20] greysteil commented on #541
If that causes any problems then hopefully it's possible to create a "mock" application that keeps nuget happy.

[2018-09-13 10:17] mueller-ma commented on #245
@greysteil @dependabot-bot must not treat checksums inside the block `dependencyVerification {}` as version numbers and must not bump them.  `dependencyVerification {}` is created by https://github.com/signalapp/gradle-witness.
https://github.com/openhab/openhab-android/pull/1003

[2018-09-13 10:27] mueller-ma commented on #245
Thanks. Any update on [this](https://github.com/dependabot/dependabot-core/issues/245#issuecomment-407114657)?

[2018-09-13 10:28] greysteil commented on #245
Gotta confess I accidentally let that one drop. I'm doing a push on Gradle today and tomorrow, though, and will try to get that fixed, too.

[2018-09-13 12:43] greysteil commented on #245
@mueller-ma - OK, the SHA issue is fixed in [this commit](https://github.com/dependabot/dependabot-core/commit/7819b483fbe3e2742c8403d603f2a7d24c346e2d) and the version issue is fixed [here](https://github.com/dependabot/dependabot-core/commit/195f26e520b26083ab3ecd464b5cb9059171d945). Thanks for pointing both out!

Deploying now - I'll re-run Dependabot on your repos once done and it should close

[2018-09-15 23:23] #609 closed, assigned to nobody

[2018-09-16 17:57] greysteil commented on #541
FYI, I started work on supporting property updates today. It's very similar to the process we use for Maven, so not too tricky. Dependabot can now update versions stored in properties as long as only a single dependency is affected, and the property isn't inherited from a parent.

[2018-09-17 17:00] ianwremmel opened #2233 "Support batching of Pull Requests"
Similar to dependabot/feedback#5, but far more automated and far less intelligent.

I had to remove lock files from all of my projects because doing a live bump for every lockfile update lead my Circle CI usage to go from 4 hours a month to 60. I'd like to propose the following algorithm for batching PRs when anything other than live bumping is chosen:

1. On whatever schedule the user chooses, do

[2018-09-17 22:03] greysteil opened #670 "Support vendoring for Go"
Moved from https://github.com/dependabot/feedback/issues/187.

This needs a general strategy for supporting vendoring, but is also probably a sensible first language to look at (since vendoring in Go is so common).

[2018-09-19 12:50] vorburger opened #671 "Support Maven Plugin version upgrades (works for some, but misses others)"
I've been using Dependabot on a number of FLOSS projects using Java for a little while now, some Gradle based, most using Maven, and believe that it misses proposing upgrades to Maven plugins (not regular dependencies) some times, but not always.

For example, it did propose https://github.com/vorburger/odlparent/pull/216 (and earlier https://github.com/vorburger/odlparent/pull/46), even recognizi

[2018-09-19 12:52] greysteil commented on #671
Super useful - thanks for filing @vorburger! I wasn't aware of those misses and will take a look.

[2018-09-19 16:49] greysteil commented on #671
OK, just dug into why Dependabot didn't generate m2e-code-quality/m2e-code-quality#138 and it looks like it's because it couldn't find `org.eclipse.tycho:maven-osgi-lifecycle-plugin` on the registry - the dependencies in that group are [here](http://repo.maven.apache.org/maven2/org/eclipse/tycho/). Dependabot has a check when it's updating properties that affect multiple dependencies that all of t

[2018-09-19 16:58] greysteil commented on #671
FYI, I've created https://github.com/dependabot/dependabot-core/pull/674, which would allow Dependabot to still create PRs in the above case. Would love your insight before I consider merging it!

[2018-09-19 19:39] vorburger commented on #671
you had me puzzled there for a moment as well.. I couldn't find a `maven-osgi-lifecycle-plugin` in my `~/.m2` nor on Maven central nor on http://repository.sonatype.org/content/groups/sonatype-public-grid, which is a `<pluginRepository>` used in this project. It's also nowhere to be found in [the Tycho sources](https://github.com/eclipse/tycho).

The reason, I realized after scratching my head, is

[2018-09-19 22:06] greysteil commented on #671
Great, thanks @vorburger. Looking at those separately!

[2018-09-20 09:09] greysteil commented on #671
OK, looking through those other missed dependencies, it looks like they're all `<pluginManagement>` specifications that specified a `<groupId>`. As a result, Dependabot's parsing isn't picking them up.

What should Dependabot be doing here? If a dependency is specified `<pluginManagement>` without a `<groupId>` is it valid?

[2018-09-20 15:02] vorburger commented on #671
Oh! I hadn't noticed the missing `<groupId>` ... AFAIK Maven has a notion of hard-coded backed in default groupId _org.apache.maven.plugins_ for a [bunch of core plugins](https://maven.apache.org/plugins/). Can you just default to that, if there is none?

BTW: This actually isn't really related to `<pluginManagement>` , it would also apply in a simple:

[code]

[2018-09-20 15:46] greysteil commented on #671
You're totally right, and it's invaluable advice, as usual!

[2018-09-20 15:59] vorburger commented on #671
just giving back to a service that provides me real value!

but when you IPO Dependabot via an ICO (ROTFL) you can still throw me some crypto... just joking! :smile_cat:

#openSourceWorks

[2018-09-20 16:29] greysteil commented on #671
Fixed in https://github.com/dependabot/dependabot-core/compare/v0.73.0..v0.73.1, and #674 is merged so I think this is now resolved. Thanks again, and I'll make sure those tokens find their way to you. 🤣

[2018-09-20 16:29] #671 closed

[2018-09-20 17:11] davidgoate opened #2232 "Question: Is it possible to give read only access to organisation or repository settings?"
Is it possible to grant read only access to other users?

# Context
* We have many repositories which are managed and some settings (such as the automatic merging of PR's security vs patch vs minor vs all etc) and JavaScript `package.json` options are defined per repository and not globally.
* Also when new repos are created these settings need to be applied manually individually, which can be eas

[2018-09-23 07:46] vorburger opened #675 "Another missing Maven Plugin version upgrade"
Further to #671 (BTW thanks again for this; I got LOTS of new PRs due to that today!), I thought it was curious that you found https://github.com/vorburger/ch.vorburger.exec/pull/12/files but missed https://github.com/vorburger/MariaDB4j/blob/master/mariaDB4j-pom-lite/pom.xml#L99 (no PR raised for that yet) - or is that just queued and about to come?

[2018-09-23 07:57] vorburger commented on #675
@greysteil

[2018-09-23 13:55] greysteil commented on #541
Update: Dependabot can now update properties that are inherited. There's still a restriction on the property only affecting a single dependency - I'll make it handle properties that handle multiple dependencies later today / tomorrow.

[2018-09-23 20:28] greysteil commented on #675
Just took a look into this, and it's because of the way that `mariaBD4j-pom-lite` is included in the top-level POM:
- It's included as a [parent](https://github.com/vorburger/MariaDB4j/blob/master/pom.xml#L4-L11) rather than a [module](https://github.com/vorburger/MariaDB4j/blob/master/pom.xml#L27-L39)
- As a result, Dependabot *doesn't* update the versions in it

The thinking behind the above is

[2018-09-24 18:47] deivid-rodriguez opened #676 "Handle submodule updates when creating GitLab PRs"
Hi @greysteil!

I'm having a problem when updating submodules, not sure if I'm doing anything wrong. In [this PR](https://gitlab.com/deivid-rodriguez/nipanipa/merge_requests/381/diffs), the submodule is being updated to a commit reference that I don't think it exists in the target repository? The submodule referenced in the diff should match the "target_reference" in the PR title ("Bump <repositor

[2018-09-24 19:05] greysteil commented on #676
That... looks really weird. Let me take a closer look.

[2018-09-24 19:08] deivid-rodriguez commented on #676
Thanks! :heart:

[2018-09-24 19:18] greysteil commented on #676
Ah, this is a problem with GitLab. Their API doesn't support pushing updated submodules (see https://gitlab.com/gitlab-org/gitlab-ce/issues/41213). I'm slightly amazed the script didn't blow up here - there's a note in Dependabot Core that submodules for GitLab are a TODO ([here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/gitlab.rb#L91-L92)) and I

[2018-09-24 19:47] deivid-rodriguez commented on #676
I see! Thanks @greysteil! Watching the Gitlab issue :)

[2018-09-27 20:35] RohanNagar opened #683 "Question/Heads-Up: Travis CI Deprecating Commit Status API"
According to: https://blog.travis-ci.com/2018-09-27-deprecating-github-commit-status-api-for-github-apps-managed-repositories

I'm not sure if you're already using the Github Checks API when determining the compatibility score in Dependabot, but just wanted to give you a heads up in case you're still reliant on the Commit Status API. Since Travis CI is so widely used in OSS, it might mean your com

[2018-09-27 20:42] greysteil commented on #683
Wow, hadn’t realised they were deprecating that aggressively! We already use them :-)

[2018-09-27 20:42] #683 closed

[2018-09-29 17:00] greysteil commented on #405
This is done! Sorry it took a while. That changes are in https://github.com/dependabot/dependabot-core/commit/e92672c2cb10a59e7646583bff60827222ccf099, and to use it you'll need to give Dependabot API keys for you AWS account (scoped using IAM to have read access only to ECR, of course).

I'm going to update the front-end to make it clearer how to add credentials.

Thanks for the feature request!

[2018-09-29 17:00] #405 closed

[2018-10-01 07:37] evenh opened #688 "Related library"
Just wanted to give a tip about [bibliothecary](https://github.com/librariesio/bibliothecary) - might be useful to see how others have done it :-)

[2018-10-01 08:37] greysteil commented on #688
Thanks! The work that Andrew has done on Libraries.io is really cool. Have been trying to arrange a beer with him for ages but our paths *still* haven't crossed.

[2018-10-01 08:37] #688 closed

[2018-10-01 12:40] lorengordon commented on #457
@greysteil 	got a follow up to this one... we have a few projects where we still support Python 2.6, but many packages have deprecated support. We'll often have two lines in a requirements file for this, one that pins the 2.6 version and one that pins the latest version for everything else. For example:

[code]

We've been using pyup, which handles exceptions using comments in the file, as you can

[2018-10-01 13:37] nesl247 commented on #405
Hey that's awesome! I guess we'll wait on the frontend as I am not quite sure how to do it.

[2018-10-01 13:39] greysteil commented on #405
Frontend is added now (well, it's just some additional comments in the description of the fields under "config variables"). Happy to talk you through if not clear.

[2018-10-01 13:40] nesl247 commented on #405
I saw that after I commented and had hoped I got the comment changed in time, guess not 😄 .

[2018-10-01 16:37] greysteil commented on #457
Unfortunately yes - that's the case.

I don't think I have a good answer for this one with Dependabot either - I took a look at a repo with the above setup last week whilst debugging an error and realised the above was going to cause issues. Basically, Dependabot can't handle the idea that you depend on more than one version of a given package at once, which is what the above looks like to it.

I

[2018-10-01 16:47] lorengordon commented on #457
Yes, in our case in the example above we would *want* Dependabot to update the second listed `distro` dep.

I can think of a couple approaches...

1. Do something similar to pyup (and pylint, shellcheck, flake8, etc) and parse a comment-spec to determine whether to ignore a line.
2. Include the pin when a user comments to ignore a dependency. E.g. `distro==1.0.4` in this case...

[2018-10-01 16:51] greysteil commented on #457
Sorry, I don't think I was clear - I meant ignore **only in the case where the marker uses `<` or `<=`**. Would that work?

[2018-10-01 17:02] lorengordon commented on #457
Ohohohoh! My reading comprehension is low! Sorry! Need to pay better attn to the details.

So yes, that would work in this case also. =D

[2018-10-01 18:07] greysteil commented on #457
Awesome - implemented in https://github.com/dependabot/dependabot-core/commit/f75085e508dc96d6657bdbec5c2e6d87b3907a7d, which is deploying now.

[2018-10-01 18:11] lorengordon commented on #457
Very nice! Thanks!

[2018-10-02 21:04] greysteil commented on #405
Looking into it!

[2018-10-03 15:10] nesl247 commented on #405
Unfortunately we have a new issue.

`build(deps): bump docker-php from 7.2-0.3 to 7.2-9658143 in /docker/cart-sync`

This should have used `7.2-0.3.1`. Instead, it's changed to the commit hashes.

[2018-10-03 15:11] nesl247 commented on #405
Thanks for the ECR support, that part is great. I'm not sure if my above comment should be made into a new issue or not. I'm doing a new response since I know how quickly you respond sometimes 😄

[2018-10-03 15:20] greysteil commented on #405
Huh, that one is tricky! Did we just get unlucky here and have a commit sha version that happened to start with 7 digits (no letters)? If so I think the solution might be asking dependabot to ignore that specific version - I’ll make sure that’s possible for Docker now.

[2018-10-03 15:33] nesl247 commented on #405
It's quite possible. Most of our hashes are 7 digits though, so unless this is permanently fixed, we're back to not using dependabot, or we stop using tags, which we started because of our previous discussion.

[2018-10-03 15:37] greysteil commented on #405
That's fine - I can put something in that stops it from switching from more traditional looking versions to 7 digit numbers. I'll do that now.

[2018-10-03 15:48] jaydiablo opened #689 "[Composer] Use double pipe for OR condition?"
We've been experimenting with Dependabot on some of our open source repos, and I noticed something yesterday on a PR that Dependabot made:

https://github.com/diablomedia/doctrine1/pull/44/commits/a6196ed344d9924c50c6c06b2188eb477ed1ddb1

Notice that Dependabot changed the version constraint from `^4.0 || ^5.0` to `^4.0 || ^5.0|^6.0`.  I was  curious if there was a difference between the double pi

[2018-10-03 16:00] nesl247 commented on #405
Sorry, I think I sounded a bit snippy, not my intention.

I think as long as the current tag is a version, the logic should be to not switch to commit hashes, even if it is newer. I would think the only time to switch to commit hashes if it it is currently using latest, or it already uses a hash.

[2018-10-03 16:27] jaydiablo commented on #689
Thanks!

[2018-10-03 17:33] greysteil commented on #405
Oh, hang on, I might be able to do one better. Give me a moment...

[2018-10-03 17:38] greysteil commented on #405
Yep, have made it work without the need to change the prefix to be non-numeric. Deploying now.

[2018-10-03 18:01] nesl247 commented on #405
It's working beautifully. Thank you so much for the fast turnaround.

[2018-10-03 18:03] greysteil commented on #405
No worries - all helps to make Dependabot better! 🎉

[2018-10-03 18:15] nesl247 commented on #405
One quick question, when using the api for updating private deps, do we have to specify `docker-php` for example as the dependency name, or the full namespace of the docker image? For example, `something.something.aws.amazon.com/docker-php`?

[2018-10-03 18:17] greysteil commented on #405
Just `docker-php` (or whatever the name in the PR title you're seeing is `bump <name> from ...`). 🙂

[2018-10-03 18:19] nesl247 commented on #405
Awesome, thanks.

[2018-10-04 04:49] davidwessman opened #2231 "Follow symbolic links for e.g. Gemfile.lock"
Hello!

I have been experimenting a bit with running rails development in Docker and for one thing I tested I put the files required for building in a specific docker directory (to make the Docker build context smaller).

Therefore I put `Gemfile` and `Gemfile.lock` in a folder called `docker`.
I put symbolic links to both files in the app root directory.

However when Dependabot updated my ruby d

[2018-10-08 00:16] matfax commented on #245
Is anyone working on Kotlin DSL yet?

[2018-10-10 09:03] LeoColomb opened #698 "Add a `latest` tag for dependabot docker image"
Would be useful (and more standard compliant) if a `latest` tag is added to the lastest tag for the [dependabot/dependabot-core](https://hub.docker.com/r/dependabot/dependabot-core/) image.

[2018-10-10 11:20] greysteil commented on #698
Good shout - done!

[2018-10-10 11:20] #698 closed

[2018-10-12 11:45] Leh2 opened #2230 "Ip-addresses used to access nuget"
Can we get the ip-addresses that are used to access custom nuget feeds?

[2018-10-15 10:18] michaelglass commented on #436
Howdy. I see that sometimes dependabot commits a lock file that changes when run locally or in CI. E.g. the addition of "optional" flags. Do you know where those come from / how we can keep our lock file moving less?

[2018-10-15 18:57] greysteil commented on #436
@michaelglass - looks like this is the same issue as https://github.com/dependabot/feedback/issues/197, so let's move the discussion there.

The tl;dr, however, is that I think this is an `npm` bug, and I'm not sure there's much we can do about it in Dependabot 😢

[2018-10-16 17:48] TheRedSpy15 opened #2229 "Run `go mod tidy` in Go projects"
This would be awesome to have as a Go developer

Rather than just updating modules, running `go mod tidy` would add and remove them too

[2018-10-17 07:32] tyrcho commented on #352
I ran into this sbt plugin which should help a lot !
https://github.com/rtimush/sbt-updates

You can append `addSbtPlugin("com.timushev.sbt"    % "sbt-updates"         % "0.3.4")` to the end of `project/plugins.sbt` (creating it if not present) and then run `sbt dependencyUpdates` and parse the output in stdout. It looks like that:

[code]

Note that in multi-project build you will have duplicated

[2018-10-17 10:15] bsideup opened #2228 "Add UI for adding many nested projects for a single repo"
Hi!

We have a few modules per repo, and our Dockerfile is usually located in `/app/Dockerfile`, but Dependabot does not detect it automatically :(

Is it possible to make it scan the repo for the Dockerfiles? At least on 1st level :)
Or, alternatively, maybe we can hint the Dependabot (with some `.dependabot.yml` file in the repo) where to look for it (the reason why we prefer a file because we c

[2018-10-18 16:51] feelepxyz commented on #416
_From @leogiertz on October 18, 2018 11:33_

We ❤️ Dependabot and it would be great if we could also let it update our iOS dependencies.

_Copied from original issue: dependabot/feedback#221_

[2018-10-18 18:31] franklinyu commented on #416
I can't provide any statistics, but I have worked in several projects, none of which checks in CocoaPod dependencies. Partial support without vendor is still appreciated.

[2018-10-18 18:45] segiddins commented on #416
If it helps at all, @greysteil, we could probably talk about allowing a subscription to https://github.com/CocoaPods/trunk.cocoapods.org/blob/master/config/init.rb#L51-L60

[2018-10-19 09:17] leogiertz commented on #416
We would also be happy with partial support since none of the projects that I've worked with check in the Pods directory.

[2018-10-21 13:03] jxltom opened #715 "Support arbitrary version of pipenv"
The pipenv is still not stable. It will be nice to support arbitrary version of pipenv or at least some recently major versions.

If it takes too much effort to implement this, just ignore this issue. 😄 Let's hope next release of pipenv will be much better.

[2018-10-21 13:10] jxltom opened #716 "Should Only lockfile updates (ignore updates that require Pipfile changes) be the default option?"
If I pin package with specific version in Pipfile as following, the dependabot will still open PR for updating that.

Will it be better to set only updating lockfile as the default option? since that is the most use cases.

I'm a new user of dependabot which is cool for me. Just to share a few thoughts. :D

[code]

[2018-10-21 13:15] greysteil commented on #716
👋 @jxltom, and thanks for giving Dependabot a try!

A lot of users pin but still want updates, so we update both the `Pipfile` and the `Pipfile.lock` by default. There's a setting to only update the lockfile if you'd rather, or if you'd like Dependabot to ignore a specific dependency you can comment `@dependabot ignore this dependency`.

Keep the feedback coming!

[2018-10-21 13:15] #716 closed

[2018-10-21 13:17] jxltom commented on #716
OK, thanks for the reply. 😄

[2018-10-21 13:28] jxltom commented on #715
Oh I didn't know there are workarounds for pipenv bugs in dependabot. That's perfect!

```2018.10.13``` has a bug with extras which is very annoying. But it is fine since I think there will be a release soon which fixes this.

Supporting latest (or most stable) pipenv version + workaround for bugs (if there are any) satisfies me.
 I'm closing this. 🎉

[2018-10-21 13:28] #715 closed

[2018-10-21 13:29] greysteil commented on #715
Yeah, we tend to notice any bugs pretty early, and try to patch them in Dependabot or Pipenv as quickly as we can. We're far from perfect, but we're doing what we can!

[2018-10-21 13:32] jxltom commented on #715
This is so great. Will continue using dependabot for sure 😄

[2018-10-22 23:43] dpursehouse opened #718 "[java] dependabot is confused by inconsistent version numbering of `com.google.template:soy`"
The latest version of [this artifact](https://search.maven.org/search?q=g:com.google.template%20AND%20a:soy&core=gav) is `2018-03-14`.

Most of the versions follow the same convention (`YYYY-MM-DD`), however there is one version from a couple of years ago with the version `v20160111`.  Dependabot detected that as the latest version and submitted a PR: https://github.com/dpursehouse/java-deps/pull/

[2018-10-22 23:45] greysteil commented on #718
Interesting. Our Java version sorting uses the Macon comparison definitions, but it looks like we might want to special case situations like this more pragmatically. I’ll take a look tomorrow (it’s late here in the U.K.).

[2018-10-23 15:43] nesl247 opened #2226 "Feature: Create issues when a new non-lockfile only update is available"
When a non-lockfile only update is available, it would be great to create an issue for this. This way we can investigate if we want to upgrade. Lockfile only updates are generally done as we don't want to have to deal with breaking changes. However, it would still be good to be notified about these.

I would do it as an issue instead of a PR as it's more of an issue. In a lot of cases, it may not

[2018-10-23 18:13] greysteil commented on #718
Fixed in https://github.com/dependabot/dependabot-core/commit/e00ea5009c718c45c2dca28e55ce80bca02881ca. Thanks for the heads up!

[2018-10-23 18:13] #718 closed

[2018-10-24 00:30] dpursehouse commented on #718
Thanks! 🍻

[2018-10-25 01:59] dstufft opened #2224 "Add option to always rebase PR's when out of date with target branch"
If you have your Github repository setup to require branches to be up to date before merging, that makes it somewhat harder to use dependabot because you have to ask dependabot to rebase the PR before it is able to be merged.

It would be great if there was a setting that would have dependabot keep the PRs up to date with the master branch so that PRs are always ready to be merged. It might make s

[2018-10-26 12:01] mrwilson opened #725 "Commit message formatting"
Hi!

Love this project, we're making heavy use of it on our [WhereDoIVote-Widget](https://github.com/DemocracyClub/WhereDoIVote-Widget) which powers an election-information widget.

I try to style my commit messages like [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0-beta.2/#summary) (also called Angular/Karma/Semantic commits) when I write code.

How easy would it be to opti

[2018-10-26 16:04] greysteil commented on #725
Hey, sorry for the slow reply on this one. Busy day!

Dependabot should automatically detect if you're using conventional commits, and adjust its style accordingly. You'll get PRs like [these ones](https://github.com/pulls?q=is%3Apr+author%3Aapp%2Fdependabot+org%3Awireapp) when it does. The logic it uses to do so is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pu

[2018-10-26 16:04] #725 closed

[2018-10-29 13:45] JamieMagee opened #729 "Azure Devops/VSTS support"
I understand that this is a large feature, but I believe the work done to make dependabot less GitHub specific (Bitbucket & Gitlab support) would make this a little bit easier.

Unfortunately there is no officially supported Ruby client, however VSTS does supply an [OpenAPI spec](https://github.com/MicrosoftDocs/vsts-rest-api-specs) from which you can generate a client SDK, as well as extensive [R

[2018-10-29 15:15] greysteil commented on #729
Hey @JamieMagee, thanks for the feedback.

There's an issue open [here](https://github.com/dependabot/feedback/issues/128) to track adding Azure DevOps support to Dependabot (the hosted service) but I'm going to keep this open here, too, because adding it to Dependabot Core shouldn't be too tricky, and would allow you to use Dependabot Script with Azure DevOps.

I'll take a look through the API do

[2018-10-30 01:51] rahulsom opened #2223 "Add support for updating gradle wrapper"
Hi!

This is an amazing way to manage dependencies.

It would be awesome if it could also send PRs for gradle wrapper updates.
Typically this involves

1. Find the latest version of gradle published at

[code]

2. Run

[code]

3. Send a PR.

Some projects using maven also use a wrapper - https://github.com/takari/maven-wrapper but that can be a separate issue.

[2018-10-30 09:16] greysteil commented on #729
FYI, I made the first step towards this today by adding support for Azure DevOps to `Dependabot::Source`. The next step is to do the FileFetcher, followed by the `PullRequestCreator`, followed by the `PullRequestUpdater`. None of those should be *that* difficult, and I plan to work on this in the evenings this week.

[2018-10-30 10:38] JamieMagee commented on #729
Wow, thanks for the (very) quick update on this!

[2018-10-30 15:04] bustikiller opened #2221 "Opt-out PR closing"
I would like to prevent Dependabot from closing PRs when a newer version of the dependency exists. This PR has sometimes gone through QA processes, and is merged to several branches, so just closing the PR for the old dependency leaves the rest of the branches in an inconsistent status, usually with merge conflicts against the new version of the dependency.

I don't know what would be the ideal fl

[2018-10-31 11:59] gep13 opened #733 "Support for Cake-Build Projects"
Edit from the Dependabot team:  This is the main tracking issue for adding support for Cake.

PR:
https://github.com/dependabot/dependabot-core/pull/958

Related Issues:
https://github.com/dependabot/dependabot-core/issues/733

--------------------------------------------------------------

It would be great if dependabot could support updating dependencies which are defined by people using Cake-B

[2018-10-31 16:21] bbednarek opened #734 "Two different dependencies being updated if version is the same"
Our `build.gradle` looks like this
[code]

Dependabot created PR to update `ca.uhn.hapi.fhir` to version `3.5.0`, but in the same PR `io.rest-assured:rest-assured` got updated to `3.5.0` which doesn't exist.

[2018-11-01 10:39] evenh commented on #416
Looking forward to Cocoapods support :)

[2018-11-01 13:21] Hypnosphi opened #736 "When new version is out, update current PR instate of creating a new one"
At least, I'd like to have it as an option. Often there are some discussions on migrating strategy which are kinda lost when PR is recreated

[2018-11-01 13:21] Hypnosphi opened #2220 "When new version is out, update current PR instate of creating a new one"
At least, I'd like to have it as an option. Often there are some discussions on migrating strategy which are kinda lost when PR is recreated

[2018-11-01 16:45] greysteil commented on #736
I'm 👍 on making this a setting. Needs to be done from `dependabot-backend`, so I'm going to move this issue to the general feedback repo.

[2018-11-02 00:02] #410 closed

[2018-11-02 09:37] greysteil commented on #734
Ooh, that's not good. Can you ping the URL of the bad PR to support@dependabot.com and I'll take a look?

[2018-11-02 09:57] bbednarek commented on #734
This is unfortunately private repo. Screenshots would be sufficient?

[2018-11-02 09:58] greysteil commented on #734
It's OK - I took a look in our DB and we've only done that update for one repo. i'm working through replicating now and will have a fix out in the next hour or so. Apologies for the bug!

[2018-11-02 10:01] bbednarek commented on #734
Thank you very much for such quick help!

[2018-11-02 10:16] greysteil commented on #734
Fixed in https://github.com/dependabot/dependabot-core/commit/87cb62fca83f53a277c1f339dee48d109c5e2083, which is deploying now. Apologies for taking a couple of days to get to this one, and thanks for reporting it!

[2018-11-02 10:16] #734 closed

[2018-11-02 14:06] mrmajik45 opened #740 "^ appears before version number"
![screenshot 2018-11-02 at 10 02 15 am](https://user-images.githubusercontent.com/35823544/47919838-d5473e00-de86-11e8-9c57-53c535f6b57b.png)

A ^ character appears before the version number.

[2018-11-02 14:08] greysteil commented on #740
That's by design as it's updating the requirement (in JS the caret is the SemVer operator). If you have a lockfile then Dependabot will know exactly which version you're using, but without one it can only update the requirement.

[2018-11-02 17:42] #740 closed

[2018-11-02 20:00] mrmajik45 opened #743 "Support for C, C++, C#, etc."
Alot of the github projects I do have mostly C in them. (Idk if C can have dependencies.

[2018-11-02 20:41] RohanNagar commented on #743
C# (.NET) already has beta support: https://dependabot.com/dotnet/

[2018-11-02 21:40] mrmajik45 commented on #743
I mean I mostly use C. But why not get the other ones too.

[2018-11-02 21:49] greysteil commented on #743
As I understand it there's no dominant package manager in C or C++. If folks tell me different and they want Dependabot to work on their repos I'll certainly consider adding it, though 🙂

Thanks for the feedback!

[2018-11-02 21:49] #743 closed

[2018-11-03 11:44] mark-dhl commented on #352
A project by @fthomas already does this. Hope you could maybe setup some sort of collaboration !

https://github.com/fthomas/scala-steward

[2018-11-07 13:02] bustikiller opened #2219 "[Feature request] Opt out minor and patch versions"
For organizations with many projects sometimes it is hard to keep track of all the dependency updates. I would like to get only updates for major & security releases (opt-out from minor and patch versions), configurable per project.

[2018-11-07 15:07] ChristophWurst opened #764 "Do not reply with a comment to `merge` commands unless there is an error"
As discussed at https://github.com/nextcloud/mail/pull/1271#issuecomment-436515487, I'd like to propose that dependabot does not reply with a comment to `merge` commands. My main issue is that github *always* triggers a new notifications for the comment (even if I'm still on the same page and see the comment pop up).

As in https://github.com/nextcloud/mail/pull/1271#issuecomment-436633097, I thin

[2018-11-07 15:15] agrobbin commented on #370
I'd like to also advocate for this support. We are currently large paid users of Dependabot, and are looking to improve our build/CI/deployment times significantly by vendoring our `.gem` packages into the Git repo.

I'm happy to do what I can to support this initiative @greysteil!

[2018-11-07 15:33] greysteil commented on #764
Thanks for porting this across @ChristophWurst

[2018-11-07 16:00] deivid-rodriguez commented on #676
Related gitlab issue got closed, apparently!

[2018-11-07 16:01] greysteil commented on #676
I saw! Looks like they've implemented some entirely separate API for it 🤦‍♂️.

We need to wait for 11.5 to be released, but once that's out we should be able to get this closed 🎉

[2018-11-07 16:44] greysteil commented on #370
Thanks @agrobbin. We're a small team so can't work on too many things at once, but @hmarr is planning to look at vendoring for Go in the near future, which will translate quickly to vendoring for all other languages.

[2018-11-07 20:37] pascalberger opened #2218 ".NET project file not updated"
While `packages.config` file was updated the `csproj` file was not updated in this PR: https://github.com/bbtsoftware/TfsUrlParser/pull/25/files

[2018-11-13 10:06] AndreaGiardini opened #2217 "Update Docker image on kubernetes deployment files"
It would be nice to have the possibility to have the docker image update logic also for Kubernetes deployment files.

Dependabot will have to scan all yml/yaml files, get the `image` field and check for updates of the docker image.

[2018-11-15 22:13] JacobEvelyn opened #2216 "Graphs or statistics!"
We'd find it **enormously** helpful if Dependabot's web UI could give us some insight into some basic statistics for our apps. We're thinking of things like either a graph or just raw stats on:

- the amount of time Dependabot PRs are left open before merging
    - This would be especially useful if we could see it along any of these dimensions:
        - min. time left open, max. time left open,

[2018-11-16 15:35] deivid-rodriguez commented on #375
@greysteil I'm reconsidering this again, and I'm thinking... Since you can currently choose the repository root for your repo... Maybe having a structure like this and having separate checks with a different root for each Gemfile would work?

[code]

[2018-11-17 16:28] paulmelnikow opened #784 "Move "Dependabot is rebasing this PR" to the top of the top comment"
Thanks so much for this incredible tool. We use it in Shields and it's just been fabulous. 🌟

I'm here to suggest a minor tweak that's one of those "little big details." The amount of productivity Dependabot saves me makes me more aware of the times when it's slowing me down. 😉

While I'm waiting for dependabot to rebase a PR, I'm often refreshing the page to see when the banner disappears. It wou

[2018-11-18 14:29] nwtgck opened #2215 "Search input for repositories"
Hi, developers!

Thank you very much for your wonderful project. I'd like to search for repositories by their name. Do you have a plan to create a search form for it?

[2018-11-18 23:05] deivid-rodriguez commented on #375
Tried the idea on my [activeadmin fork](https://github.com/deivid-rodriguez/activeadmin/pulls). It kind of worked, but since the `Gemfile.common` file is shared between all gemfiles, PRs bumping dependencies on that file for a specific gemfile will get it out of sync with the other gemfiles. I guess we could remove the `Gemfile.common` file and repeat all common dependencies on every gemfile.

[2018-11-19 12:35] smithtopher opened #2214 "If target branch gets rebased dependabot will not re-open PRs"
If a target branch gets force pushed to after a dependency has been merged in and that dependency update got lost, is it possible to tell dependabot to reopen PRs for lost updates? Currently it seems to wait for the next version before opening another PR.

[2018-11-19 13:14] leogiertz commented on #245
@greysteil Are you planning on supporting dependency locking?

https://docs.gradle.org/current/userguide/dependency_locking.html

[2018-11-19 13:15] greysteil commented on #245
Yep! Really keen to, but it's going to be quite a big project for us and I don't know exactly when. It's on my list for before we can take Gradle out of beta, though.

[2018-11-19 15:27] deivid-rodriguez opened #786 "Changelog sourced from wrong branch"
I released activeadmin 1.4.0 and I noticed that dependabot sourced master's unreleased changelog section instead of the 1.4.0 changelog from the 1-4-stable master branch. See https://gitlab.com/deivid-rodriguez/nipanipa/merge_requests/515 for an example.

Now I've merged the 1.4.0 changelog [back into master](https://github.com/activeadmin/activeadmin/pull/5576), so I assume PRs from now on will d

[2018-11-21 05:11] dependabot[bot] opened #794 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-21 09:18] #794 closed

[2018-11-21 09:18] dependabot[bot] opened #795 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-21 09:33] dependabot[bot] opened #796 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-21 09:33] #795 closed

[2018-11-21 11:18] #796 closed

[2018-11-21 11:18] dependabot[bot] opened #797 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-21 13:08] #797 closed

[2018-11-22 23:56] greysteil commented on #786
Thanks for the heads up @deivid-rodriguez. I reckon we can do better here - let me have a go at improving our changelog detection to pull in from a branch / tag if it can't find details on master.

[2018-11-23 06:55] deivid-rodriguez commented on #786
Thank you @greysteil!

[2018-11-24 09:57] weiji14 opened #805 "Pipenv updates pinned packages in Pipfile.lock when there is an editable git dependency with unpinned sub-deps"
Hi there,

First off, great work on dependabot, it's really awesome being able to keep my packages up to date easily, and have the changelogs documented in Pull Requests :smile:

Anyways, I'm just reporting a strange issue with how dependabot handles the update of 'dev-packages' for Python pipenv packages. This commit https://github.com/weiji14/deepbedmap/commit/59c7e58121b7d83090572a5997e053ac55b

[2018-11-24 09:59] greysteil commented on #805
Thanks for reporting - that's definitely a bug! I'll take a look now.

[2018-11-24 10:03] weiji14 commented on #805
Cool, I'm gonna manually update those packages for now :)

[2018-11-24 10:06] greysteil commented on #805
👍 , or if you give me 10 minutes I can probably get it fixed and rebase them from my side.

[2018-11-24 10:11] weiji14 commented on #805
No rush, it's close to midnight on my end and I just wanted to kick off some CI builds before bed :smiley:

[2018-11-24 10:17] greysteil commented on #805
Perhaps for the best. I'd assumed this was a bug in the way Dependabot was preparing Pipfiles for updates, but it looks more likely it's a Pipenv issue. I'll get to the bottom of it and get it fixed either way.

[2018-11-24 10:37] greysteil commented on #805
Yeah, this is a Pipenv bug. I'll give the team a heads up and put together a replication case. I think it's struggling with resolution for dependencies that are sub-deps of the git dependency you have in your Pipfile (as well as top-level dependencies).

[2018-11-24 10:55] greysteil commented on #805
FYI, I've replicated and created [this issue](https://github.com/pypa/pipenv/issues/3296). Hopefully we can get it fixed quickly. Thanks for making Dependabot and Pipenv better!

[2018-11-24 22:07] greysteil commented on #786
Done! Turned out to be quite a lot of work, but there are a few other improvements in there too. https://github.com/dependabot/dependabot-core/compare/v0.75.94...v0.75.95.

Thanks for the prod on this one.

[2018-11-24 22:07] #786 closed

[2018-11-24 23:59] weiji14 commented on #805
Ah yes, I think I saw a pipenv issue related to that a little while back, but can't seem to find it anymore. Just noticed it's not restricted to dev-packages, this new `Cython` bump commit https://github.com/weiji14/deepbedmap/pull/60/commits/4cace4f6bfea08d37714c12c7859b718dde4fb74 is also bumping up `numpy` and `netcdf4`. So you're right that it is to do with the git dependency not having pinned

[2018-11-24 23:59] #805 closed

[2018-11-26 10:05] deivid-rodriguez commented on #786
This is great @greysteil, thanks!

[2018-11-26 10:54] LeoColomb commented on #698
@greysteil The `latest` tag disappeared. Normal?

[2018-11-26 10:55] greysteil commented on #698
I.... have no idea how that happened. Let me get it fixed.

[2018-11-26 11:41] greysteil commented on #698
Fixed. Sorry about that!

[2018-11-26 11:45] LeoColomb commented on #698
No worry, thanks a lot! 👍

[2018-11-26 15:48] dwieeb opened #807 "Install dependency via dist-tag"
For npm dependencies, I believe dependabot looks at the `latest` dist-tag for what the latest version is.

It would be nice to have a language-specific command like `@dependabot use dist-tag next`, for example, which sets the dist-tag to use for that dependency when looking for new versions.

Our use case is we'd like to use a `dev` dist-tag in separate repositories to install the latest dev versi

[2018-11-26 15:53] greysteil commented on #807
Interesting, thanks for the feedback.

My hunch is that this is one that we want to fix at the npm level, rather than just for Dependabot. Ideally there would be some way to specify that you want pre-releases for all dependencies in your `package.json`, or something like that.

On Dependabot specifically, we use the `latest` dist-tag version *if you're not already on a pre-release*. So if a depend

[2018-11-26 16:08] dwieeb commented on #807
Yeah, I suppose I've seen this in action, actually. Dependabot does treat prereleases differently. Since our dev releases will be the most common prerelease, this will work 99% of the time for us. 👍

Still, it would be comforting if dependabot could be told to ever only look at a particular dist-tag for a dependency. Here's a hypothetical use case: Take for example someone using the `next` tag to

[2018-11-26 16:16] dwieeb opened #808 "Lerna packages glob pattern seems inaccurate"
Thanks for Lerna support! ❤️

Everything is working great, but I think globbing may be slightly inaccurate.

We use the following config for our lerna packages:
[code]

We have packages within the `packages/` folder, but also within subfolders. It is common to have scoped packages in another level, such as `packages/my-package` and `packages/@my-scope/my-package`.

`lerna ls` shows packages correc

[2018-11-26 16:17] greysteil commented on #807
👍

Wouldn't that person then just specify the `next` tag in their `package.json`, and therefore hit [this logic](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/update_checkers/java_script/npm_and_yarn/latest_version_finder.rb#L86-L108) that means Dependabot will update their lockfile to use the latest version associated with that tag?

Either was Dependabot shouldn't flip

[2018-11-26 17:07] dwieeb commented on #807
Oh, I see. I didn't know how to "tell" dependabot which dist-tag to use. Perhaps my knowledge of dependabot features is extra outdated.

[2018-11-26 17:07] #807 closed

[2018-11-28 04:21] molant opened #809 "Dependabot not detecting yarn workspaces"
Hello,

I've installed dependabot in [this project](https://github.com/molant/hint/) where I'm using yarn workspaces (no lerna) but it has only detected the files in the root:

![image](https://user-images.githubusercontent.com/606594/49128714-799f8300-f281-11e8-8491-e74a57970b76.png)

And that's what's happening with its PRs so far. In https://github.com/molant/hint/commit/d5ab8b48f7f75e3706647d6

[2018-11-28 09:18] greysteil commented on #809
Thanks for the heads up. Looks like Dependabot is getting confused by the `"packages/!(connector-edge)"` specification. Let me take a look at fixing that.

[2018-11-28 11:08] greysteil commented on #808
Thanks for this @dwieeb. I'll take a look into it today.

[2018-11-28 16:16] greysteil commented on #809
This should now be fixed. Thanks again!

[2018-11-28 16:16] #809 closed

[2018-11-28 16:43] molant commented on #809
Thanks a lot!

[2018-11-29 11:46] lipis opened #812 "Rename java_script to javascript"
My OCD hit me, when I was browsing the repo.

Is it too late to rename the folder [`java_script`](https://github.com/dependabot/dependabot-core/tree/master/spec/dependabot/file_fetchers/java_script) to `javascript`? When having the `_` int the snake name means that there is a space.. and there is no space in JavaScript :)

[2018-11-29 11:49] greysteil commented on #812
Haha, we're going to do a *big* move on this repo to namespace everything by language. We'll change it when we do 🙂

[2018-11-29 11:49] #812 closed

[2018-11-29 11:51] lipis commented on #812
thanks

[2018-11-29 11:55] greysteil commented on #812
Well it was my bad insisting we used `java_script` so as Ruby would autoload `JavaScript`. Been taking shit for that for the last 18 months...!

[2018-11-29 11:56] lipis commented on #812
it's never too late to fix it :)

[2018-11-29 15:16] jimcavoli opened #815 "NPM / Yarn FileUpdater LoadError"
I'm getting a strange error when trying to require in 'dependabot/file_updaters' or 'dependabot/update_checkers' which ultimately are throwing the same `LoadError`:
[code]

Bizarrely, this only happens on the first attempt to require, but the second works:
[code]

I'm pretty sure the culprit is the way https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/update_checkers/java_sc

[2018-11-29 15:36] greysteil commented on #815
Sorry about that - fixed in https://github.com/dependabot/dependabot-core/commit/2fac1ad10886553f40bf5f46a73d8b89fb89fb3d, which I'll release today.

[2018-11-29 15:37] jimcavoli commented on #815
Hey, no problem; thanks on the super fast fix 👍 👍

[2018-11-29 15:59] greysteil commented on #815
Released in `v0.75.111`. Thanks for the heads up on this one - weirdly it looks like it was only affecting setups that required the `file_updaters` first.

[2018-11-29 15:59] #815 closed

[2018-11-30 00:10] AraHaan opened #2212 "Dependabot cannot be told to use a certain project for issues and pull requests it opens."
A ``@dependabot use this project`` would be perfect to have.

[2018-11-30 13:24] greysteil opened #820 "Parse Elixir sub-dependencies"
The work for this needs to be done in https://github.com/dependabot/dependabot-core/blob/master/hex/helpers/lib/parse_deps.exs

[2018-11-30 14:05] greysteil commented on #784
Sorry for taking so long to respond to this one @paulmelnikow! I read it a couple of weeks ago and thought "great shout - I'll do that tomorrow morning" only to drown under a sea of bugs for the next few days.

I've just implemented this, and it's deploying now. It's in the backend for the app (which keeps track of state etc.), rather than Dependabot Core, so it's not open source (yet...).

Thanks

[2018-11-30 14:05] #784 closed

[2018-11-30 15:30] paulmelnikow commented on #784
Sweet! Thanks so much!

<img width="1039" alt="screen shot 2018-11-30 at 10 30 28 am" src="https://user-images.githubusercontent.com/1487036/49298286-fcdff500-f48a-11e8-9f18-dd19730cbb9a.png">

[2018-11-30 15:55] greysteil commented on #536
Just looking at this again.

I think the issue here is that `pip-compile-multi` handle requiring in other `.txt` files differently to `pip-compile`, hence Dependabot stripping them out. Perhaps we should rename this issue to be `support pip-comile-multi`?

[2018-11-30 16:09] peterdemin commented on #536
So I look at this again too.

Honestly, I don't think, that Dependabot (or any other service) will be able to support `pip-compile-multi` in its current state. The main reason is that it's impossible to understand (by looking only at requirements files) how exactly they were generated in terms of python runtime, OS and CLI arguments.
But if Dependabot supported some kind of configuration file, it

[2018-11-30 16:13] greysteil commented on #536
Yeah, I agree that's going to be too complicated for Dependabot!

We already have the isolation required to evaluate arbitrary code with Dependabot (we need it to evaluate `setup.py` files, for example) but it would be a significant change for us to position that as a features and support users giving us arbitrary commands. I don't want Dependabot to end up becoming a CI, so I think we might have

[2018-12-03 03:00] weiji14 commented on #805
Just noting that https://github.com/pypa/pipenv/issues/3296 has been closed with https://github.com/pypa/pipenv/pull/3297 and [pipenv v2018.11.26](https://github.com/pypa/pipenv/releases/tag/v2018.11.26) has been released.

[2018-12-03 04:17] connorshea commented on #676
11.5 is out now, fyi

[2018-12-03 04:36] connorshea commented on #584
It looks like this was fixed? e.g. https://gitlab.com/deivid-rodriguez/nipanipa/merge_requests/548

[2018-12-03 06:32] connorshea commented on #399
MR where I add Dependabot to my Jekyll blog: https://gitlab.com/connorshea/connorshea.gitlab.io/merge_requests/5

Credit to @deivid-rodriguez for most of this implementation (in https://gitlab.com/deivid-rodriguez/nipanipa)

I couldn't find anything like this elsewhere, so I figured I'd write it up myself for others to work from. @greysteil tell me if any of this is wrong / if I should delete this

[2018-12-03 06:36] connorshea commented on #399
Side note: It may be a lot easier/better to just copy-paste the [`generic-update-script.rb`](https://github.com/dependabot/dependabot-script/blob/master/generic-update-script.rb) file into your repository, rather than using submodules, and just occasionally check to see if you need to update the script to match the upstream.

Unfortunately `dependabot-script` is unlicensed, so I don't know if ther

[2018-12-03 08:37] codisart commented on #399
@connorshea Very nice documentation, it should really help people.
I used the same process on Gitlab CI but since we work with PHP and node.js at my work, I put dependabot script and all ruby dependencies in a docker container. If anyone needs more details, I can take some time to outline them.

@deivid-rodriguez On my experience, neither in php nor node we had redundancy problems, maybe it is spe

[2018-12-03 10:08] greysteil commented on #584
Excellent news! 🎉

[2018-12-03 10:08] #584 closed

[2018-12-03 10:47] greysteil commented on #399
Thanks for this @connorshea!

Using a submodule is definitely a good shout - in future you'll be able to set Dependabot to keep that submodule up-to-date and it will automatically handle breaking changes for you (there shouldn't be many, but we've got a namespacing change coming down the pipe this week).

On license and top-level dependencies - I'll make those change to Dependabot Script now.

[2018-12-03 10:58] greysteil commented on #805
Yes! Should be working just fine now. https://github.com/pypa/pipenv/pull/3304 will bring even more improvements here as it will stop Dependabot from updating unrelated sub-dependencies. 🎉

[2018-12-03 12:59] peterdemin commented on #536
Actually, I just realized, that I can have `pip-compile-multi` running in CI on schedule and opening PRs when something changes.

[2018-12-03 14:37] connorshea commented on #399
Thanks @greysteil!

The only other major caveats right now are that this won’t update the MRs after creating them as Dependabot core doesn’t support this for GitLab yet, and that there’s no way to automatically have Dependabot merge the MR if CI passes.

The latter should be relatively easy to fix by enabling “Merge when pipeline succeeds” when the MR is created, which I’m fairly certain is possib

[2018-12-03 15:07] connorshea commented on #584
I suspect this is because GitLab now uses common mark for its Markdown rendering, if anyone was wondering how it got fixed :)

[2018-12-03 15:09] greysteil commented on #584
Yeah - I'm guessing so. I didn't do anything on it. Very pleased they're using the same standard as GitHub!

[2018-12-03 15:41] deivid-rodriguez commented on #399
Regarding this bit

[code]

I added this workaround because files were not being cloned with the right permissions. I'm not sure why but I think it's because of  https://gitlab.com/gitlab-org/gitlab-runner/issues/1736.

[2018-12-03 23:06] connorshea commented on #399
I wonder if you could name it `dependabot.rb` and then run `ruby dependabot.rb` to have GitLab let you run the script?

[2018-12-03 23:10] deivid-rodriguez commented on #399
Yeah, that would probably work too.

[2018-12-04 06:19] techalchemy commented on #805
as a related FYI that branch will be kept up with master because I use it all the time...

[2018-12-04 16:27] matthewdeanmartin opened #2210 "Version bumping to something that isn't supported in python 2"
I have a few projects that I am trying to keep 2.x 3.x compatible. Dependabot keeps hitting 3.x only versions and my 2.x build starts to fail. When a release is being dependabot-bumped to a version that used to be 2.x + 3.x and the new version is only 3.x then the requirements file should have the version tag stuff included

e.g.
https://travis-ci.com/matthewdeanmartin/find_known_secrets

I think

[2018-12-05 12:02] konstin opened #2209 "Please auto-merge pre-1.0 rust dependencies"
While semver itself allows any breaking changes in `0.x.y` release, cargo treats `0.x.y` as if `x` was the major version and `y` was the minor version. This means that in the rust ecosystem, `0.5.2` is considered to be compatible to `0.5.1`.

Currently, pre-1.0 rust dependencies are not automatically merged, even though most crates are `0.x.y` versions and behave according to the cargo semver rule

[2018-12-05 16:56] deivid-rodriguez opened #827 "Incorrect PR created by dependabot"
Today dependabot opened this PR (created by a scheduled dependabot-script run as explained in https://github.com/dependabot/dependabot-core/issues/399#issuecomment-443603007).

The PR is the following: https://gitlab.com/deivid-rodriguez/nipanipa/merge_requests/553/diffs.

It bumps the mini-portile2 dependency from 2.3.0 to 2.4.0, but this is incorrect, since `nokogiri 1.8.5` included in the lock

[2018-12-05 17:13] greysteil commented on #827
Oh, that is weird! I really don't know how that could happen - Dependabot uses Bundler to generate the new lockfile, so it shouldn't be possible for it to generate an invalid Gemfile.lock. I'll see if I can replicate.

[2018-12-06 04:03] molant opened #828 "Ignore dependencies via a config file?"
Hello all,

I'm evaluating switching to dependabot from another system and I have 2 questions I hope you can answer:

* Is it possible to tell dependabot to ignore a package ahead of time? We have a few dependencies that should never be updated but right now it seems the only way will have to wait until the PR is open to tell it to ignore. And even in that case I'm not sure if I won't get another

[2018-12-06 05:01] paulmelnikow commented on #828
+1 on ignoring and unignoring dependencies via inspectable, mutable repo state.

[2018-12-06 10:57] deivid-rodriguez commented on #827
Isn't it weird? I don't see how `bundler` would generate that lock file... :thinking:

[2018-12-06 11:34] deivid-rodriguez commented on #827
Actually, this has actually happened on two different PRs. See https://gitlab.com/deivid-rodriguez/nipanipa/merge_requests/555/diffs as well.

[2018-12-06 11:36] greysteil commented on #827
Do you know what version of Bundler Dependabot will be using here (without your CI)?

[2018-12-06 11:44] deivid-rodriguez commented on #827
It should be using 1.17.1. I use [this `bin/dependabot` binstub](https://gitlab.com/deivid-rodriguez/nipanipa/blob/d6426f582a6a4ebf59894939e1286fb2de63ecfc/bin/dependabot)  that loads [this `bundle` binstub](https://gitlab.com/deivid-rodriguez/nipanipa/blob/d6426f582a6a4ebf59894939e1286fb2de63ecfc/bin/bundle)  (I think this is just the standard generated bundler binstub with some style changes to

[2018-12-06 11:52] deivid-rodriguez commented on #827
Ok, I have some ideas.

The dependabot job uses a bundler cache saved in `.bundle` that may have been generated by other jobs. Whereas the dependabot check runs on the default ruby:2.5 docker image, other jobs run under a custom image that's alpine based. This may be tripping `bundler` up, since `mini-portile2` seems like the kind of dependency sensitive to platform stuff.

I'll investigate more,

[2018-12-06 11:54] greysteil commented on #827
Very happy to pitch in on this one - let me know where you get to. In particular, if we need Molinillo changes let me know.

[2018-12-06 11:56] deivid-rodriguez commented on #827
Great, I'll see if I get an easy repro and then we'll see where we get! :+1:

[2018-12-10 04:45] molant commented on #828
Thanks @greysteil for your answer!
Can't wait to see this implemented in the next few weeks 😊

It will be swell if I could have a property in the configuration file similar to:

[code]

What I'd like to have is a configuration file that I can drop in any of my projects and avoid having to set up anything via the user interface or commit messages. Is this in your roadmap?

[2018-12-10 06:49] dependabot[bot] opened #839 "Dependabot couldn't find a Pipfile for this project"
Dependabot couldn't find a Pipfile for this project.

Dependabot requires a Pipfile to evaluate your project's current Python dependencies. It had expected to find one at the path: `/helpers/python/Pipfile`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comment

[2018-12-10 12:15] #839 closed

[2018-12-10 23:23] greysteil commented on #828
Yep! Going to be the next big thing we ship - working on it right now. 🙂

On the commit message, that's pretty close to what you'll get if Dependabot detects you're using capitalised Angular prefixes without a scope. I think right now it will be `Chore: Bump {dep-name} from {old-v} to {new-v}`. Once we have config files that make it easier to write a store settings like fully custom commit message

[2018-12-11 03:54] molant commented on #828
Awesome!

[2018-12-13 00:29] ianwremmel opened #2208 "Lag time before release"
Given the social engineering attacks that we've been hearing about lately, it would be nice to be able to delay an update. maybe something like:

1. open an issue according to current bump schedule rules
2. after 1 week, open pull request

alernatively,

1. open PR according to current bump schedule
2. automerge after delay

[2018-12-13 07:32] deivid-rodriguez opened #846 "Leave the Gemfile unedited if possible"
I like to think of the Gemfile version specifications as informative of the expected version support. For example, if my `nokogiri` dependency is `~> 1.2`, that means that I expect my application to work against any 1.x version higher or equal to 1.2. For example, because I needed a feature released with nokogiri 1.2 when I introduced the dependency.

When `dependabot` updates `nokogiri` to, say,

[2018-12-13 12:52] greysteil commented on #399
FYI, we've been making some changes to the structure of Dependabot Core that will affect anyone pulling it in using a script.

We're creating separate gems for each language, tied together by the `dependabot-omnibus` gem (which will probably be renamed once the transition is complete). For now you probably want to switch references to `dependabot-core` to `dependabot-omnibus` in your Gemfiles. You

[2018-12-14 09:03] tpgxyz opened #847 "Support for RPM spec files"
Hi,

i think it will be a great feature if dependabot could support RPM's spec file.
There are a lot of projects and organizations that keep RPM sources on github, and they can easily benefit from dependabot
Parsing spec file's entries
`Name:`
'Version:'
'Patch*:'
'BuildRequires:'

for name's version, patches (official CVE), versioned buildrequires.

[2018-12-14 16:09] greysteil commented on #847
Totally up for this! Can you add some links to docs and example files, so this is easier to pick up whenever I can prioritise it? 🙂

[2018-12-14 20:45] tpgxyz commented on #847
@greysteil  Here you go:
http://rpm.org/documentation.html
https://rpm-guide.readthedocs.io/en/latest/rpm-guide.html#what-is-a-spec-file

What is most important here is to parse spec file. Based on "main" `Name:` in spec file you can get the name of the software, and then you can solve either there are some CVEs or any specific versioned dependencies.

Here how typical RPM source looks like before

[2018-12-15 16:53] greysteil commented on #846
Since this is already configurable for other languages I've made it configurable for Ruby, too. If you got to the dashboard and click to edit any of your Ruby update configs you should be able to adjust the Gemfile update strategy to `Only increase version if necessary`.

Thanks for the feedback, as always!

[2018-12-15 16:53] #846 closed

[2018-12-16 03:46] connorshea commented on #399
I've updated my comment to take that change into consideration and also to simplify/remove the unnecessary permissions stuff :)

[2018-12-16 21:37] JustArchi opened #2207 ""Live" support for git submodules"
I've set up dependabot today for several of my open-source projects and I'm loving it so far, thank you a lot! ❤️

I'm wondering if it could be possible to ask about potential enhancement to submodules feature by giving it "live" updates if dependabot can receive proper webhooks.

Let me explain my setup, I have a core repo C that includes several submodules:
- reference to wiki of repo C (on GitH

[2018-12-18 21:02] EricByers opened #2206 "Dependency Update Being Missed"
We are using go, and using dep for dependency management.

The package in question is https://github.com/bugsnag/bugsnag-go -- We had version 1.3.1 installed, but did not get notified for 1.3.2 or 1.4.0.

Please let me know if I can provide more information.

[2018-12-23 17:36] LeoColomb commented on #399
@connorshea #857 😽

[2018-12-25 11:09] arnzel opened #862 "Does dependabot check existing maven artifacts or docker images ?"
Hi, we have a project in our company which has dependencies to other projects  which are not public , but developed internally. we use a simpleshell script for updating, which checks if new tags with a version numer are available for a specific service. After updating some tests are run.

the problem with our shell script is that it already updates when specific artifacts of the updated services a

[2018-12-26 00:11] rajivshah3 opened #863 "Dependabot removes gems not explicitly specified in the Gemfile"
We use [fastlane](https://github.com/fastlane/fastlane), a Ruby library to help with Android and iOS app development and deployment. I'm not very familiar with Ruby so I'm not sure if this explanation is correct, but from my understanding fastlane allows you to install plugins which are Ruby gems. The problem is, if you have an update from Dependabot, the PR will remove these plugins from the Gemf

[2018-12-26 01:37] connorshea commented on #863
That’s really weird, I feel like fastlane shouldn’t be handling plugins like this. Jekyll allows plugins without circumventing the Gemfile, for example.

I wonder if there’s a specific reason it works this way.

[2018-12-26 01:53] rajivshah3 commented on #863
Bundler has the ability to “import” another Gemfile using `eval_gemfile`, but it seems like Dependabot isn’t picking that up

[2018-12-26 01:56] greysteil commented on #863
I'm guessing this is because of your setup [here](https://github.com/iotaledger/trinity-wallet/blob/develop/src/mobile/android/Gemfile#L6-L7) - any reason not to just use `eval_gemfile('./fastlane/Pluginfile')`?

[2018-12-26 05:31] rajivshah3 commented on #863
Good catch, that might be why. That was probably put in by fastlane when I first set it up. I’ll try changing it to what you suggested and see if it works

[2018-12-26 15:50] greysteil commented on #863
Closing as I'm now certain that's the issue (and the fix).

[2018-12-26 15:50] #863 closed

[2018-12-26 20:08] connorshea commented on #676
and now it's supported in the `master` branch of the gitlab gem :) https://github.com/NARKOZ/gitlab/pull/450

[2018-12-27 08:50] deiga opened #866 "Add command or option for "merge and delete branch" to PR's"
I don't like to keep merged branches hanging around and thus always have to manually delete PR's branches after merge.

It would be great if I could either set an global option for dependabot to deleter merged PR's branches or if I could say `@dependabot merge and delete` etc to make this happen for me :)

[2018-12-27 08:55] deiga opened #867 "Add global whitelist of dependencies setting"
There are a few dependencies which I always want the newest version of no matter what, because they don't have any settings or code related to them in the repo.

It would be awesome if I could have a global language specific whitelist where I could specify which dependencies get auto-merged

[2018-12-27 09:17] greysteil commented on #866
Thanks for the feedback @deiga. Dependabot will already automatically delete its branches for you as soon as they're merged - it just waits 10 seconds to do so to ensure it doesn't clash with any user actions 🙂

[2018-12-27 09:17] #866 closed

[2018-12-27 09:31] greysteil commented on #867
I'm up for this in principle, but the language-specific nature of it is going to make it quite a complicated setting. Perhaps it would be better solved by using config files, where you can then have a template file used everywhere (or included as a submodule)?

[2018-12-27 10:58] deiga commented on #866
@greysteil Oh, cool! Could that be more prominent in the help dependabot adds to it's PR's?

[2018-12-27 11:43] greysteil commented on #866
We could, but we try to keep the text there as short as possible (otherwise folks don’t read it). If I get lots of reports from others who are confused on this one I’ll change it.

Thanks again for the feedback!

[2018-12-31 15:50] greysteil commented on #676
Fixed in https://github.com/dependabot/dependabot-core/commit/7b5e933097a63660c46cc529c0f54ed8c205a95d 🎉

Thanks for everyone's help on this one. Can one of you verify that everything works as expected? I've just released `v0.86.20`, which includes that commit.

[2018-12-31 15:50] #676 closed

[2018-12-31 16:42] jeremycook commented on #399
We self host GitLab with more than 90 .NET projects. GitLab's dependency scanner does not support NuGet at this time. I like your pull request system, and the idea of being GitLab/GitHub/Team Services agnostic.

[2019-01-01 05:15] dependabot[bot] opened #871 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 05:15] #871 closed

[2019-01-01 05:15] dependabot[bot] opened #872 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:27] dependabot[bot] opened #873 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:50] dependabot[bot] opened #874 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:50] #873 closed

[2019-01-03 15:11] davidgoate opened #2205 "Java Maven Artifact Migration"
When running my build, spotbugs appears to have suggested:

I'm not sure internally how spotbugs knows this, but I think it'd be awesome if dependabot were able to handle this type of PR. We were using:

[code]

and now we can use instead

[code]

[2019-01-04 11:00] Jym77 opened #2204 "Reduce number of auto-rebases when merging"
So, one of my main issues with dependabot so far is when several automergeable updates on the same repo happen to conflict with each other, thus actually preventing automerging… I'm not sure whether I'm doing something wrong in the way I use dependabot and I'm not sure either how to solve this… So I'm open for suggestions :-D

---
The problem I have:
---
dependabot is set on weekly bumps. So, many

[2019-01-04 14:22] GKFX opened #881 "Feature request: open issue when composer.json requires an end-of-life PHP version"
https://github.com/camdram/camdram had `composer.json` set `config.platform.php` to `7.0.30`. Since PHP 7.0 hit end of security support on 3 Dec 2018, I feel like we should have been warned by Dependabot that for the last month we've been running an unsupported version of PHP. I'm not certain what the best way to warn us would have been: perhaps Dependabot should open an issue 60 days before end-o

[2019-01-06 16:33] deivid-rodriguez opened #885 "Bundler updated in gemspec, but not in lock file"
In [this PR](https://github.com/deivid-rodriguez/byebug/pull/525), dependabot updated the bundler development dependency in the gemspec, but not the lock file. I think it should've updated the lock file as well, with a diff like:

[code]

[2019-01-06 21:08] greysteil commented on #885
Interesting. I agree, but we'd need to special case that. From memory there's some special casing around the way Bundler handles itself in the lockfile (and definitely is for the `BUNDLED WITH` line. Leave it with me.

[2019-01-06 21:32] greysteil commented on #885
Hmm, yeah. The special thing appears to be that the locked version doesn't appear in the `GEM` section.

[2019-01-06 21:34] deivid-rodriguez commented on #885
Indeed :+1:.

[2019-01-07 13:55] tomyan opened #2203 "Option to group all updates into a single PR for a repo"
This is similar to dependabot/feedback#5, but would be an option to raise a single PR (or update a PR if there is one open already) whenever there are updates available for a repo. Making this tradeoff for a repo would have the advantage of having fewer PRs to deal with, so less time dealing with dependency updates - particularly if you manage a lot of repos.

[2019-01-09 16:13] greysteil commented on #881
Interesting suggestion! I'd really like to support that, but it would be a bit of a deviation from the way our system works now, and there are a bunch of other PHP improvements I want to focus on first (ensuring update runs don't time out is top of the list).

I'm going to close this for now as I don't think we're going to get to it in the next 6 months, but I'm very happy to revisit it later, and

[2019-01-09 16:13] #881 closed

[2019-01-09 16:14] greysteil commented on #881
Also, a privilege to be helping with Camdram in any way 🙂

[2019-01-10 05:39] dependabot[bot] opened #894 "Dependabot couldn't find a mix.exs for this project"
Dependabot couldn't find a mix.exs for this project.

Dependabot requires a mix.exs to evaluate your project's current Elixir dependencies. It had expected to find one at the path: `/helpers/elixir/mix.exs`.

If this isn't a Elixir project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dependabot in the comments b

[2019-01-10 20:48] greysteil commented on #894
We now enqueue a job to close issues like this one when an update config is deleted/changed in a config file.

[2019-01-10 20:48] #894 closed

[2019-01-11 01:10] iwata opened #2202 "Dump config.yml"
I'm exciting about this announcement!
https://dependabot.com/blog/introducing-config-files/

On the other hand, I want a means to easily switch to `config.yml`. So I want the feature to dump the current configuration as it.

[2019-01-13 14:26] LeoColomb opened #899 "Improve README packages/gems documentation"
As many helpers and languages scripts have been moved during the repo reorganization, I would like to suggest a README edition (bellow).
This change also follow the want to make things generic.

Before opening a PR I need your review on this change first and also your answer regarding helpers:
* What about promoting `[manager]/helper/build`?
  * This would make things more generic and simplify ove

[2019-01-13 17:31] LeoColomb commented on #899
Sure, no problem! 👍

[2019-01-17 02:57] ybiquitous opened #2200 "Better diff for DefinitelyTyped packages"
Could you please make the diff of [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) NPM packages (e.g., `@types/react`) better?

For example, the "compare diff" link in the following PR description points to <https://github.com/DefinitelyTyped/DefinitelyTyped/commits>.
This URL can tell us nothing about what the update changed. 🤷‍♂️

![image](https://user-images.githubuserconte

[2019-01-17 05:12] dependabot[bot] opened #912 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/helpers/yarn/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dependa

[2019-01-17 05:44] dependabot[bot] opened #913 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/helpers/npm/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dependab

[2019-01-17 08:44] waghanza commented on #847
@greysteil Parsing `rpm` is **very** hard (at least because of rpm exists per distribution, I mean that a rpm spec for `fedora` **COULD NOT** be parsed the same way as a rpm spec for `centos`)

A great parser supporting a reasonable amount of rpm spec version could be found here => https://github.com/bkircher/python-rpm-spec

[2019-01-17 09:17] #912 closed

[2019-01-17 09:17] #913 closed

[2019-01-17 18:07] dependabot[bot] opened #914 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:07] dependabot[bot] opened #915 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #916 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #917 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #918 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #919 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #920 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #921 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #922 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #923 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #924 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #925 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #926 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:08] dependabot[bot] opened #927 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-17 18:11] #916 closed

[2019-01-17 18:11] #917 closed

[2019-01-17 18:11] #918 closed

[2019-01-17 18:11] #925 closed

[2019-01-17 18:11] #915 closed

[2019-01-17 18:11] #921 closed

[2019-01-17 18:11] #923 closed

[2019-01-17 18:11] #914 closed

[2019-01-17 18:11] #919 closed

[2019-01-17 18:11] #920 closed

[2019-01-17 18:11] #922 closed

[2019-01-17 18:11] #924 closed

[2019-01-17 18:11] #926 closed

[2019-01-17 18:11] #927 closed

[2019-01-18 16:49] greysteil commented on #867
I'm pretty confident that config files are the way to go here, so am going to close. Shout if you disagree! https://dependabot.com/blog/introducing-config-files/

[2019-01-18 16:49] #867 closed

[2019-01-19 00:30] SethDavenport opened #932 "yarn with github URL: losing the range specifier"
Not sure if this is an issue if I just have things set up wrong.

We're using some URLs in our `package.json` with `yarn`, and specifying that minor versions are ok.

For example:
[code]

note the`^`.  Yarn interprets this using the normal semantic versioning rules, which is great. However when dependapot makes a PR, it drops the `^`:

[code]

Is that expected? Is there some configuration I can us

[2019-01-19 19:27] sterlingwes opened #935 "Dependencies spanning package managers (react native)"
Hello! First of all, we love dependabot at Wealthsimple 🙏

We have unique requirements using React Native in that we have dependencies that require simultaneous updates to our package.json (NPM) and Podfile (Cocoapods) for dependencies that have JS ↔️ native iOS bindings.

A recent example is a dependabot bump to [react-native-image-picker](https://github.com/react-community/react-native-image-pic

[2019-01-20 21:49] greysteil commented on #932
That's definitely a bug! I've fixed it in [this PR](https://github.com/dependabot/dependabot-core/pull/938), which I'll get deployed tonight. Thanks for the heads up!

[2019-01-20 21:49] #932 closed

[2019-01-21 01:56] LeoColomb opened #2198 ".dependabot/config.yml and forks"
[`.dependabot/config.yml`](https://dependabot.com/blog/introducing-config-files/) is a great feature, thanks!

That said, I faced an unwanted behavior.
Considering two accounts with Dependabot enabled, if an account forks a repo of the other one containing a `.dependabot/config.yml` file and with outdated dependencies, Dependabot will be auto-activated and will open pull requests on the forked rep

[2019-01-21 10:00] lenntt opened #942 "Github API hitting rate limit when unauthenticated"
I'm using `dependabot-script` with GitHub Enterprise.
For some public dependencies, dependabot queries public GitHub.
But, GitHub doesn't like being queried without authentication.

Any suggestions, to make it either more robust, do less queries, or workarounds?

[code]

[2019-01-21 10:11] greysteil commented on #942
Hmmm, have you provided the script with an access token for public GitHub? Even one that only has access to public repos will get a *much* more generous rate limit.

[2019-01-21 10:38] lenntt commented on #942
I secretly hoped I didn't need one as none of my sources are on public github, I provided one, expecting to work better now (didn't realize at first credentials was a list)

[2019-01-21 10:38] #942 closed

[2019-01-21 10:40] greysteil commented on #942
Awesome. Do keep pinging me with any GHE issues - want to make the experience as good as possible using the script.

[2019-01-21 11:21] lenntt opened #943 "invalid request to private npm repository"
I'm using a private npm repository for some packages within a specific scope. While public packages seem to work, I get an error for scoped packages, see below.

Note the url at the bottom looks weird (twice https, the second without a colon),
I'set it correctly (afaik).
(I've obfuscated some parts between `<>`)

[code]

[2019-01-21 11:33] greysteil commented on #943
Ah, for private npm registries you need to use the following format:

[code]

Note that the registry URL *doesn't* start with its protocol.

Does it work if you use that format?

[2019-01-21 11:37] lenntt commented on #943
Tried that too, but that fails earlier (at authentication):
[code]

[2019-01-21 11:42] greysteil commented on #943
Hmmm, how are you providing the token? The logic Dependabot uses to convert it into an auth header is [here](https://github.com/dependabot/dependabot-core/blob/master/npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/registry_finder.rb#L73-L81).

Are you able to hit `https://#{registry}/#{dependency_name.gsub("/", "%2F")}` with that header and get an appropriate response?

[2019-01-21 12:55] lenntt commented on #943
providing token like this:
[code]

I removed the `https` from the url and put some `pp` in `auth_headers` and `dependency_url` in `registry_finder.rb`. the url seems fine, but the header is empty. I'll dig in a bit more, pointers are welcome

[2019-01-21 13:04] lenntt commented on #943
With some more digging, I think im onto something

when inspecting `RegistryFinder#auth_token`,
[code]
Any idea where this is coming from?

[2019-01-21 17:23] lenntt opened #945 "NPM latest version finder not working with Artifactory (?)"
(I hacked around #943, by ignoring the portnumber in a comparison.)

My upgradable dependency doesn't get updated. the `@yanked` check gets resolved to `true`, because it tries to retrieve an 'invalid url (404).
The check it does, doesn't seem right, it tries whether: `dependency_url + "/#{version}"` exists.

Enterprise npm repositories, like Artifactory, might return a 404 - the urls dont follow

[2019-01-22 02:42] gitfool commented on #733
@greysteil I’d also love to have this. What’s involved to make it so? Would it be best done by extending the existing NuGet implementation, or would it be a separate implementation? 🤔

[2019-01-22 02:48] gitfool commented on #399
If I understand correctly, the hack above is to add Dependabot support inline to the CI pipeline of a single GitLab project. Is there a recommended way to add Dependabot to a private / internally hosted GitLab site for all projects?

[2019-01-22 02:49] connorshea commented on #399
@gitfool you might be able to abuse GitLab CI YML's import functionality, but generally I'd say no there isn't.

[2019-01-22 07:12] gep13 commented on #733
@gitfool I had an email conversation with @greysteil about this at the time that I created this issue.  Here is what was said...

Sounds like we could add this to Dependabot as a new language. The place we’d need to add it is [here](https://github.com/dependabot/dependabot-core) and there’s an example of a PR that adds a new language [here](https://github.com/dependabot/dependabot-core/pull/648).

[2019-01-22 08:33] LeoColomb commented on #399
@gitfool @connorshea Did you take a look to the [dependabot/dependabot-script](https://github.com/dependabot/dependabot-script)?
You definitely use this repo to check update for many repo, and there is even a `.gitlab-ci.yml` example.
Hack-free, import-free, independent runs. 🎉

[2019-01-22 09:17] lenntt commented on #945
Authentication/generated urls aren't working correctly for me.
When skipping the yanked check, it gets one step further, by failing at updating the lock file. :/

[code]

[2019-01-22 09:22] greysteil commented on #945
Hmmm, I think you mentioned you're using artifactory for your private registry - is that JFrog? The permissions required for JFrog are really surprisingly - unless you're using a token that has `deploy` access it will fail at the lockfile step or before because it won't be able to fetch uncached artifacts. Could it be that?

[2019-01-22 09:52] greysteil commented on #943
Obvious question on this one: does `ENV["DEPENDENCY_REGISTRY"]` have the port number included? If not, does adding it fix this problem?

(I'll update the logic here, too, so that it can match regardless of port.)

[2019-01-22 10:00] lenntt commented on #943
This might be an error on my end (I'm not entirely sure, as I thought I tried all combinations) - I seem to have ended up without protocol and without _port number_.
Added it, and its now failing at the same point as #945.

[2019-01-22 10:00] #943 closed

[2019-01-22 10:04] greysteil commented on #945
OK, given #943 my first guess on this is that it's going to be related to the token permission. Can you take a look at that? If not, I'll dig deeper on our side, but I *think* that the `/{version}` URL is a required part of the `npm` registry spec.

[2019-01-22 10:06] greysteil commented on #945
And as an aside, I'm sorry about these issues. The Dependabot app has lots of validations that make it hard to enter invalid credentials, and serializes the errors Dependabot generates with suggestions (like the above one for JFrog). That logic doesn't like in `dependabot-core`, so this library is trickier to use than it should be with private credentials.

I'll see what I can do about improving t

[2019-01-22 10:31] lenntt commented on #945
With your help, I've outputted the `npmrc_content`. 
With that same content, I seem to be able to update one of my packages in my project repository, which updates the package and lockfile. So I guess authentication should be working fine
(?).

To make it a bit more concrete (perhaps I simply misinterpret things (would be a first time :)):
My package json + lock has my package at `2.1.9`.

The `np

[2019-01-22 11:33] LeoColomb opened #946 "Docker image is huge"
[dependabot/dependabot-core](https://hub.docker.com/r/dependabot/dependabot-core/) image from [Dockerfile](https://github.com/dependabot/dependabot-core/blob/426fff73823cd27c6a65e1f220e936262cd07a96/Dockerfile) is amazing!

But it now exceeds [1 GB](https://hub.docker.com/r/dependabot/dependabot-core/tags), which is starting to be huge. ([why](https://developers.redhat.com/blog/2016/03/09/more-abo

[2019-01-22 12:08] greysteil commented on #945
Ah, interesting! I mean, that is unexpected behaviour from JFrog, but if it's consistent then we should be able to work around it. I'll take a look.

[2019-01-22 12:14] greysteil commented on #945
I'm really surprised that https://github.com/dependabot/dependabot-core/blob/master/npm_and_yarn/lib/dependabot/npm_and_yarn/update_checker/latest_version_finder.rb#L192-L212 is returning `true` in this case. Does JFrog make an exception for `"<repo>/<scope>%2F<package>/latest"`?

[2019-01-22 13:01] greysteil commented on #733
Yep, what @gep13 said! I'm super busy at the moment (a couple of big things coming on Dependabot) but always happy to help out. If enough people want this I'll take it on myself when things calm down, too.

[2019-01-22 14:05] lenntt commented on #945
Whoa, /latest seems to work with the `%2F` separator.

[2019-01-22 14:06] greysteil commented on #945
Haha, those guys are jokers! OK, will get Dependabot Core fixed up to try using slashes if %2F fails this evening / tomorrow morning. Have another big thing on my plate right now and the context switching is killing me! 🙂

[2019-01-23 01:05] Pomax opened #949 "Filing batch PRs"
Would it be possible to add an option to dependabot to file a "batched" PR?

For example, it would be super beneficial to get a single batched PR every Monday that uplifts every python dependency for a project that tangentially relies on Django and for which it's much easier to just accept a single PRs with 10 uplifts, rather than having to approve things one by one, approving a PR, waiting for th

[2019-01-23 09:10] lenntt commented on #945
No rush, thanks for all your help so far.

I've ran a single green thread, by hardcoded patches locally,
I believe only this issue and #951 are in my way to set up a reproducable environment.

[2019-01-23 09:11] greysteil commented on #945
Awesome - we'll get there. Apologies for being a bit slow yesterday (and probably today).

[2019-01-23 14:32] lenntt opened #952 "Can't fetch metadata from hidden repositories"
I've sources on GHE (private) and dependencies in artifactory (private). The pull requests Dependabot generates don't contain the commit logs etc.

Digging a bit further...
it gets into `MetadataFinder#find_source_from_registry`, which calls `latest_version_listing`. This does a request, which fails with a 403.

I think it uses different authentication. I see a response `Bad props auth token: basi

[2019-01-23 15:23] cihati opened #953 "Config file dependency_type"
First of all, great work for launching the config files!

What actually is the `dependency_type` parameter? It is used in https://dependabot.com/blog/introducing-config-files/ quite a bit, but not explained.

[2019-01-23 15:27] lenntt opened #954 "Support for updating existing Pull Requests"
I believe once a PR created by dependabot exists, it doesn't get updated at all.

Use cases:
* New information may get available about the release
* Resolve conflicts, e.g. when someone bumps a minor manually (so the lock file cant be merge automatically anymore).

[2019-01-23 15:39] cihati opened #955 "Dealing with stuck PRs"
How to proceed with PRs like this? FWIW, we are using CircleCI. The yellow icon to the left of "ci/circleci: test" isn't clickable either.

![image](https://user-images.githubusercontent.com/461998/51617831-f323bc80-1f24-11e9-9a2a-97731f8eb679.png)

[2019-01-23 15:44] greysteil commented on #954
The backend app for Dependabot (i.e., the hosted https://dependabot.com service) already handles the above - I'm guessing what you want is for the example update script we've written for using dependabot-core to also do so?

I'd happily accept community contributions to dependabot-script to do the above, but I can't prioritize it from Dependabot's side - it undermines the paid version of Dependabo

[2019-01-23 15:44] #954 closed

[2019-01-23 15:46] greysteil commented on #955
I'm not sure I understand - are you saying that CircleCI isn't running on your Dependabot PRs for some reason, and that the GitHub interface for viewing why isn't working? If there's a way that we can help from the Dependabot side then I'm definitely open to it, but otherwise I think this is a CircleCI / GitHub problem?

[2019-01-23 15:50] greysteil commented on #953
Ah, sorry, I guess we were hoping that would be self-explanatory!

`dependency_type` is meant to mean what category of dependency something is - generally `production` or `development`. So in JS, a dependency declared in `devDependencies` in your `package.json` would have the type `development`, and one declared in `dependencies` would have the type `production`.

Is that clearer?

[2019-01-23 15:54] cihati commented on #955
I do not know exactly where the problem is. It doesn't happen to other dependabot PRs, but just to this. And cannot see anything related to this PR in our CircleCI either. Any pointers on how to progress on this?

[2019-01-23 15:55] greysteil commented on #955
Have you tried using `@dependabot recreate` to get Dependabot to rebase it? Maybe that will kick CircleCI into life.

[2019-01-23 15:55] cihati commented on #953
Yep -- definitely cleaner but I highly suggest documenting it somewhere (in general, the config file documentation should probably not live in a blogpost = )

[2019-01-23 15:56] greysteil commented on #953
Great!

Yes - proper docs coming soon, just wanted to make sure we had something to ship for v1!

[2019-01-23 15:56] #953 closed

[2019-01-23 17:29] cihati opened #956 "config schema errors"
[code]

My config file is:
[code]

Not sure how to resolve these without having an accurate schema spec?

[2019-01-23 17:34] greysteil commented on #956
For the `allowed_updates`, the only allowable `update_type` values are `security` and `all`. There's currently no way to block major updates, which I'm guessing is what you were trying to achieve above.

For the `ignored_updates`, I'm not sure what's going on. I'm guessing if you add `version_requirement: "*"` to those matches they'll work, but they *should* be allowed without that. I'll take a lo

[2019-01-23 17:41] greysteil commented on #956
Ah, on the `ignored_updates` the problem is your indentation (which will also be causing problems under `allowed_updates`). You need to indent the lines under each match slightly further, so that the YAML parses as expected.

[2019-01-23 17:41] greysteil commented on #956
(FYI, I'm not happy with the error messages on this one, and am going to take a look at making them much better!)

[2019-01-23 17:43] greysteil commented on #956
And also, we should publish the schema! Another one for the list, @feelepxyz!

[2019-01-23 19:30] feelepxyz commented on #956
Ugh yeah these errors are not so friendly! Keen to publish the schema but the current one won’t be at all obvious to read.

Will have a look at generating a readable schema for each package manager and publishing these.

[2019-01-24 02:34] gitfool commented on #733
@greysteil FWIW, I'm having a look around and some of the repo file names have colons (`:`) in them which are invalid file name characters on Windows:
[code]
I'd prefer to use Windows Subsystem for Linux (WSL) for the Ruby environment while editing in Windows with Visual Studio Code, but then these file names will still cause me grief.

[2019-01-24 10:58] greysteil commented on #733
I had no idea! Fixed in https://github.com/dependabot/dependabot-core/commit/4db144e884b53db3b386f905249f514e76950237.

[2019-01-24 12:40] cihati commented on #955
yes, it worked!

[2019-01-24 13:04] cihati commented on #956
Okay, got it working now, thanks!

This is quite sad -- when do you think this would be implemented?

[2019-01-24 13:08] greysteil commented on #956
Honestly, you're the second person to ever ask for it. It wouldn't be that hard to implement on our side, but with my product hat on I want to wait and see if there's any more demand before doing so.

[2019-01-24 13:08] #956 closed

[2019-01-24 13:09] greysteil commented on #956
Oh, I also did another quick iteration on schema errors last night, so they should be slightly better now, but there's still a lot we can improve there.

Thanks again for the feedback, and apologies for the difficulties getting set up.

[2019-01-24 13:43] cihati commented on #956
So I agree with avoiding implementing such features in principle. That being said, my intuition about the config was right IMHO, and that the lack of support for what I wanted to achieve shows a problem with how orthogonal the config file is (i.e. `update_type` should behave predictably across different keys)

[2019-01-24 14:42] greysteil commented on #956
Totally with you - do you want to open a separate issue on https://github.com/dependabot/feedback explaining what you'd like on `update_type` possibilities, so others can chime in there and we can gauge demand?

[2019-01-25 11:13] cihati opened #2197 "update_type improvements"
Per https://github.com/dependabot/dependabot-core/issues/956 , I learned that `update_type` can have only `security` and `all` values in `allowed_updates`. But for `automerged_updates`, it can have other values such as `security:patch`, `semver:minor`, `semver:patch`. I think `update_type` should behave predictably to allow for more intuitive use and extra features (e.g. only allowing non-major ve

[2019-01-27 16:47] greysteil commented on #949
Thanks for the feedback! We've got a (sadly long-running) issue tracking this one at https://github.com/dependabot/feedback/issues/5. It's a big improvement we'd love to make, but we're a small team!

[2019-01-27 16:47] #949 closed

[2019-01-28 15:12] gkohen opened #2195 "Branch name generated are breaking SonarCloud scans"
NPM updates such as the one below are breaking NPM scans because of "illegal" branch names.
We need a way to have these dots replaces with another character:

ERROR: 'dependabot/npm_and_yarn/@babel/runtime-7.3.1' is not a valid branch name. It can only contain 'A-Z', 'a-z', '0-9', '-', '_', '.', and '/')

[2019-01-29 04:02] njsmith opened #2194 "Support for bumping docker containers inside azure-pipelines.yml?"
Azure Pipelines has an interesting feature where the azure-pipelines.yml file can name a container to use for running tests: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azdevops&tabs=yaml

It would be neat if dependabot could bump these container tags, like it can `FROM` lines.

From the doc above, there seem to be a few different variants:

[code]

[2019-01-31 15:20] LeoColomb commented on #946
Coming back to this issue (my system regularly complains this is taking too much disk space! 😱).

Actually I wonder if dividing the docker image wouldn't be even cleaner:
* Native helper isolation;
* Much (much) smaller image.

The only downside is that running all managers updaters will not be possible in the same container. (Is this a real downside? Are you used to run multiple manager-type upda

[2019-01-31 15:33] greysteil commented on #946
I know @hmarr has some plans for this - can you share?

[2019-01-31 17:07] hmarr commented on #946
@LeoColomb yes, we're planning exactly that! This is actually one of the main motivations for splitting up each language / package manager into independent top-level gems in dependabot-core. Once that big refactor is finished (we're super close), the next stage is to produce much leaner Docker images for each package manager, and use multi-stage builds to further trim the unnecessary fat.

If we u

[2019-01-31 17:19] hmarr commented on #946
If you're up for helping out, that'd be awesome 🙌. I'll ping you once we're ready to start splitting up the Dockerfiles.

[2019-01-31 21:50] LeoColomb commented on #946
Cool! Sure, I'm up for this! 🎉 👍

[2019-02-02 04:33] rajivshah3 commented on #946
https://github.com/dependabot/dependabot-core/blob/75b5c17130b05f39f411ebcc46d3b7bd20692817/Dockerfile#L73-L80

If we can move the base image to Alpine or Debian, maybe we can also replace this with the [node image](https://hub.docker.com/_/node)?

[2019-02-02 19:21] rajivshah3 commented on #946
@LeoColomb have you already started on the recommendations mentioned in https://github.com/dependabot/dependabot-core/issues/946#issue-401722030? If not I'd be happy to try it

[2019-02-02 20:38] LeoColomb commented on #946
@rajivshah3 Yes, [I have](https://github.com/LeoColomb/dependabot-core/tree/fix/docker-size), but the last two tasks in the checklist are very difficult to implement:
* Languages are sometimes cross-required (eg. npm from Node for ELM) making hard to extract entirely these requirements into stages for builds;
* More than half of the installed languages just can't be extracted since they are requir

[2019-02-03 15:33] hlascelles opened #978 "Add support for Appraisal"
If a ruby project is using [Appraisal](https://github.com/thoughtbot/appraisal), it would be convenient if the necessary lock files were updated.

Essentially, this would involve calling `bundle exec appraisal install`. An example would have been [this PR](https://github.com/hlascelles/que-scheduler/pull/51) that would have resulted in 3 files being changed.

I'm not sure if you would see this as

[2019-02-04 19:31] ocxo opened #2193 "Default org-wide repo settings"
I'd like to be able to set a default "security only" setting for Dependabot. We turned it on for a lot repos this morning and it opened a flood of non-security PRs that we had to go back and close. Caused noise for our teams, put pressure on our build server, and as a side-effect caused us to exceed our GitHub API rate limit.

[2019-02-06 08:16] bhathiya commented on #425
@greysteil A related question. Is it possible to replace a label? For example, if I want to replace `security` label with the `critical` label, is that possible?

[2019-02-06 08:20] bhathiya opened #980 "Opt out security label and vulnarability information from PRs"
First of all, thanks for the great bot.

I have a question. Is the $subject possible with some configuration? I basically want to make sure there is no difference between a security PR and a non-security PR. This is due to security reasons.

Thanks.

[2019-02-06 11:11] greysteil commented on #980
Not that the moment. I think the right solution here might be to have the option to opt-out of security vulnerability details on public repos, probably at the account level. I'll have a think, and if it fits nicely in the UI will get that implemented today.

[2019-02-06 11:38] bhathiya commented on #980
That would be great. Thank you. One more related question.

I need to remove `security` label and `[security]` part from the title as well.

I think the former can be done with `@dependabot use these labels`. Is there a way to configure the latter?

[2019-02-06 12:54] greysteil commented on #980
No, but I think a better solution is to have them connected. I've just added a new toggle at the account level (deploying now). If you switch it off, Dependabot won't mention anything about PRs being security related on public repos:

![image](https://user-images.githubusercontent.com/1144873/52342796-3cd4d280-2a0e-11e9-9892-0fbe1c7f28b5.png)

[2019-02-06 12:54] #980 closed

[2019-02-07 08:59] leogiertz commented on #416
https://github.com/CocoaPods/CocoaPods/releases/tag/1.6.0 😀

https://github.com/CocoaPods/CocoaPods/blob/edadc430e813cb1fba7e0120a00ac4e7dd9763e7/cocoapods.gemspec#L44 😔

[2019-02-08 00:28] olivierlacan opened #983 "Dependabot reporting invalid gemspec metadata incorrectly"
Hi there,

As you can see in https://github.com/olivierlacan/etalon/issues/1#issue-407948239 it seems like Dependabot is choking on dynamic gemspec entries that refer to other gemspec entries. This seems like a bug because gemspecs are Ruby and should be interpreted, not just taken as final data.

[code]

You can find the offending lines here:
https://github.com/olivierlacan/etalon/blob/86b88a6401

[2019-02-08 00:33] greysteil commented on #983
Let me take a look. We do a _lot_ of gemspec sanitizing, because Dependabot doesn't clone your repo, so it will be that that's going wrong...

[2019-02-08 01:07] greysteil commented on #983
Fixed in https://github.com/dependabot/dependabot-core/commit/3776dd4c6f79dc4cbdc5394f433894d64f4397ce, which I'll release and deploy now.

[2019-02-08 01:07] #983 closed

[2019-02-08 01:11] greysteil commented on #983
(And thanks masses for reporting this!)

[2019-02-08 05:13] dependabot[bot] opened #984 "Dependabot couldn't find a Gemfile for this project"
Dependabot couldn't find a Gemfile for this project.

Dependabot requires a Gemfile to evaluate your project's current Ruby dependencies. It had expected to find one at the path: `/Gemfile`.

If this isn't a Ruby project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dependabot in the comments below to contact the

[2019-02-08 10:15] #984 closed

[2019-02-08 10:34] LeoColomb commented on #899
Following #982, what is the status for this?

[2019-02-08 12:35] codisart opened #985 "[Gitlab] : Error when trying to create the dependencies label"
When the bot try to create the dependencies label on gitlab, it query first the list of labels to check if it exists. But the labels endpoint of the gitlab api is paginated.
So if the dependencies label exist but is not on the first page, the bot will believe it doesn't exist and the creation will fail.

[2019-02-08 12:36] greysteil commented on #985
Thanks for the heads up. We handle that for GitHub - sounds like we need to handle it for GitLab too. I'll take a look.

[2019-02-08 15:08] greysteil commented on #985
Fixed in https://github.com/dependabot/dependabot-core/commit/519ae3e3590c4583576b6a2ec86b5d17b13c0848, which is tagged as `0.95.5`. Thanks again for the feedback!

[2019-02-08 15:08] #985 closed

[2019-02-08 15:26] codisart commented on #985
Nice and fast work !! No problem ! It was a fun bug to find.

[2019-02-11 16:01] greysteil commented on #945
Fixed by https://github.com/dependabot/dependabot-core/commit/06868cf8a2d05ccaee7b4619cb44168f1f31b58c.

[2019-02-11 16:01] #945 closed

[2019-02-12 05:57] mathuriga opened #993 "Fail to identify the latest version for the dependencies which are hosted in custom maven repository repository"
I'm using some java third-party dependencies which are hosted in Maven central and some are hosted in custom maven repository [WSO2 Public Maven Repo](http://maven.wso2.org/nexus/content/repositories/public/).

I could observe that Dependabot fails to identify the third party dependencies which are hosted in the above URL. (Note that I have configured this URL in config variable)

Eg: [org.wso2.or

[2019-02-12 06:40] aaronjensen opened #2191 "Support for CircleCI Orbs"
CircleCI orbs are versioned and published to a public repository. It'd be great if dependabot could offer automatic upgrades for them as well.

[2019-02-12 22:31] greysteil commented on #993
Hi @mathuriga,

It looks to me like Dependabot *is* finding that dependency at the URL you've passed as a config variable, it's just that no update is available. Can this be closed?

[2019-02-13 02:20] mathuriga commented on #993
Hi @greysteil ,

I'm have mentioned version 2.6.1.wso2v1 in the pom, but the latest version is 2.6.1.wso2v3 as per [1].

[1]

[2019-02-13 02:20] #993 closed

[2019-02-13 09:57] greysteil commented on #993
Awesome, thanks for using Dependabot, and don't ever hesitate to open issues if it can be better in any way 🙂

[2019-02-18 19:38] connorshea commented on #399
FWIW I'm not sure if my previous instructions still work since dependabot has been significantly refactored in the last few months. Has anyone managed to use my guide to get it working in the last couple weeks or do I need to make adjustments? :)

Sidenote: @LeoColomb is the purpose (or one of the extra benefits) of #986 to support this use case more easily?

[2019-02-18 20:23] LeoColomb commented on #399
Yes, it is. Reduce runner usage, more flexibility and isolation, speed up builds.

[2019-02-19 12:34] webratz opened #1009 "AWS ECR credentials not fetched properly"
Hi,

I just tried out the ECR support and found out that you expect hardcoded AWS credentials.
While that is a valid use case if you are running on-prem and need to access AWS resources, it is considered a bad practice when running on AWS.

https://github.com/dependabot/dependabot-core/blob/master/docker/lib/dependabot/docker/utils/credentials_finder.rb#L39

I'd suggest (to stay backwards compatib

[2019-02-19 21:02] greysteil commented on #1009
Thanks for the feedback @webratz, but I'm not sure I entirely understand what you're suggesting here. Are you using the library for a location where you can't use ENV variables when building the credentials array that you're passing to it?

[2019-02-20 07:15] webratz commented on #1009
Hi,

I can use ENV variables, altough using static credentials is not considered a good practice if you are running within an AWS environment (see https://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html )
The use of those is restricted / prohibited in several corp environments.
By default the AWS SDKs try to retrieve credentials on their own, if they are not set explicit.

[2019-02-21 10:08] webratz opened #1015 "Search for Dockerfiles recursively"
Hey,

I'm aware that there is a directory setting that could be configured. But we have many repos where we have (in this case Dockerfiles) in several sub directories. Adding them all manually is quite error prone.

Is there a setting that i could use to search recursively through the repo for files matching and check all of these?

[2019-02-21 10:11] greysteil commented on #1015
Not at the moment. Because Dependabot never clones your repo it's not easy for us to do this without hitting GitHub a *lot* of times. We're looking into changing that (the git tree API might give us what we need), and serving a list of possible projects for a given repository, but it's a way off for now.

[2019-02-21 10:12] greysteil commented on #1015
(Although if you're using dependabot-core with a script, rather than dependabot directly, hopefully there's nothing stopping you implementing this on your side?)

[2019-02-21 10:31] greysteil commented on #1009
I'm still a bit uncertain on this one.

Our advice for folks using ECR is to create an IAM User with read-only access to ECR and then create access keys for it and give them to Dependabot. This gives Dependabot only the permissions it needs and is long lived (which we require). I think that's the right advice for anyone using dependabot.com.

I'm guessing your use case here is slightly different,

[2019-02-21 10:46] webratz commented on #1015
Yeah, we will most likely implement that search within our probot app then. just wanted to make sure i don't miss a feature thats already there

[2019-02-21 10:48] greysteil commented on #1015
Cool, makes sense! I imagine we will add this, and the logic for it will live in this repo (rather than in the app backend) in the next 3 months or so, but wouldn't want to keep you waiting!

[2019-02-21 10:49] webratz commented on #1009
Indeed, this is only relevant if you run dependabot-core within an AWS environment.
In that case the instance role is taking care of the scoping.
We currently found a workaround with the existing options, but when we need to touch this the next time i'll add a PR

[2019-02-21 10:51] greysteil commented on #1009
Awesome! Have renamed the issue and will keep it open.

[2019-02-24 02:19] connorshea opened #1022 "Incorrect version update in Gemfile"
I just noticed this problem with a change dependabot made to my `Gemfile` when upgrading [webpacker](https://rubygems.org/gems/webpacker). This was almost a month ago, so it may have been fixed since then.

[code]

Admittedly I wasn't right either (the version should've been [4.0.0.rc.5](https://rubygems.org/gems/webpacker/versions/4.0.0.rc.5)), but I expect dependabot to make up for my stupidity

[2019-02-24 09:13] greysteil commented on #1022
Oh, good catch, and thanks for reporting. I'll take a look.

[2019-02-24 12:45] greysteil commented on #1022
Fixed in https://github.com/dependabot/dependabot-core/commit/e19fc1fd61ff63584f52c3017ecddd5815cfbef7.

[2019-02-24 12:45] #1022 closed

[2019-02-24 14:41] connorshea commented on #1022
Thanks for the quick turnaround as always!

[2019-02-27 14:56] etiennebarrie opened #2189 "Limit of open pull requests per repo/language"
Follow-up to dependabot/feedback#3, it would be nice if the limit could be set for the repo/language directly, not at the account level.

[2019-02-27 22:22] waghanza opened #2188 "Splitting config files"
Hi,

As you know https://github.com/the-benchmarker/web-frameworks/blob/master/.dependabot/config.yml is a very huge config files.

It could be helpful to split configuration into multiple files.

If I may, I think of a solution : having a service plugged as a `github ` or `gitlab` **hook** that store the configuration found in repository (so as an issue could be created if configuration is not va

[2019-02-28 09:14] domcleal opened #1029 "GitHub compare link broken for Terraform module with 'v' tag prefix"
Example pull request: https://github.com/domcleal/terragrunt-infrastructure-live-example/pull/1

![image](https://user-images.githubusercontent.com/482089/53555021-fcfa9a00-3b38-11e9-9677-3d340e53b138.png)

The _compare view_ link to GitHub's diff points to:

    https://github.com/gruntwork-io/terragrunt-infrastructure-modules-example/compare/0.0.1...0.0.2

But the 'v' prefix for the tags hasn't

[2019-02-28 09:25] greysteil commented on #1029
Thanks - I'll take a look.

[2019-02-28 10:22] greysteil commented on #1029
Fixed in https://github.com/dependabot/dependabot-core/commit/f22e88c24993582a79fb0f815ab744f3a34e415e.

[2019-02-28 10:22] #1029 closed

[2019-02-28 12:05] domcleal commented on #1029
Thanks @greysteil!

[2019-03-01 08:40] stig opened #1031 "Support for CloudFormation's SolutionStackName"
Would be fantastic if you could find a way to suggest updating SolutionStackName in CloudFormation templates that you may encounter. (I.e. in YAML or JSON files.) This is tedious to update by hand, IMO, so it would help a lot.

One complicating factor is that there's no standard files used to list dependencies / versions for CloudFormation. However, because [the version strings are so long](https:

[2019-03-02 00:24] doughsay opened #1033 "support asdf version manager .tool-versions file"
In many of our projects, we use the [asdf](https://github.com/asdf-vm/asdf) version manager and the associated `.tool-versions` file it creates to indicate what versions of languages the project is tested against and known to be working with.

A sample `.tool-versions` file looks like this:

[code]

It would be great if dependabot could let us know when new language versions are released and bump

[2019-03-03 19:05] olbrich opened #2187 "Add support for Berkshelf"
Please add support for `Berksfile` and `Berksfile.lock` files used by `berkshelf` as used with chef.

[2019-03-03 19:24] chriseyre2000 opened #2186 "Collect feedback on changes needed to resolve a PR"
A centralised pool of feedback on how to resolve problem upgrades would make everyone's life easier if only 1% of users contributed.

[2019-03-04 07:11] greysteil commented on #978
Thanks for this @hlascelles, and sorry for the slow reply.

I'd really like to support Appraisal. I need to look into exactly what happens when appraisal install is called, but can see us working something out here.

[2019-03-04 16:35] greysteil commented on #1033
Thanks for the feedback @doughsay. We'd definitely like to support `asdf` in future. We're focussed on getting support for our current package managers perfect, but I'll add this to the wishlist for when that's done!

[2019-03-06 19:24] hlascelles commented on #978
Wonderful. Thanks very much!

[2019-03-08 05:22] dulanjal commented on #980
How can we configure this through the config.yml [1]?

[1] https://dependabot.com/docs/config-file/

[2019-03-08 21:34] greysteil commented on #980
Not possible at the moment - this is an account level setting, rather than a repo-level one. If you configure it in your account settings at https://app.dependabot.com then it will apply to all your repos.

We'll likely add it at the repo level, and therefore config file level, in the next few weeks.

[2019-03-10 14:37] alexanderkozlenko opened #1044 "Add support for references to NuGet packages in global.json"
Add support for references to [MSBuild project SDKs](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2017#how-project-sdks-are-resolved) NuGet packages in [global.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) for .NET Core solutions.

[code]

[2019-03-11 10:54] dulanjal commented on #980
Thanks @greysteil.

[2019-03-12 08:03] paulz commented on #416
Would love to see Cocoapods support, have several open source projects and it would simplify maintenance. Right now I am using a cron job to run pod update and fail if there are updates.

[2019-03-13 09:03] tobybellwood opened #2184 "how to target multiple composer.json in the same folder"
Hi - we've got two composer.json files in the same folder (named differently obvs)

I know you can target multiple folders per project, but can you specify individual files to target (given that one of them is called composer-somethingelse.json)?

[2019-03-14 09:12] waghanza opened #2181 "Access to some logs"
Hi,

I've a strange behaviour here, https://github.com/the-benchmarker/web-frameworks/issues/1080

I think @dependabot-bot missed something.

Is there any way we have access to some logs, to be able to investigate / be more pro-active ?

Regards,

[2019-03-14 09:12] waghanza opened #2182 "Access to some logs"
Hi,

I've a strange behaviour here, https://github.com/the-benchmarker/web-frameworks/issues/1080

I think @dependabot-bot missed something.

Is there any way we have access to some logs, to be able to investigate / be more pro-active ?

Regards,

[2019-03-14 09:12] waghanza opened #2183 "Access to some logs"
Hi,

I've a strange behaviour here, https://github.com/the-benchmarker/web-frameworks/issues/1080

I think @dependabot-bot missed something.

Is there any way we have access to some logs, to be able to investigate / be more pro-active ?

Regards,

[2019-03-14 17:27] phil-lgr commented on #399
@greysteil

what about changing to 1-5 priv repo max, I'd love to throw $$$$ at you! Dependabot saves me.. what maybe 1-2 hours per week, at my current rate you are making me and my clients save $320-640 per month or more like $3,840-7,680 per year! NO kidding there

[2019-03-16 02:15] greysteil commented on #1044
Sorry for the slow reply. This makes sense to me, and should be easy to implement - I'll try to get it done today!

[2019-03-16 21:51] #1044 closed

[2019-03-19 02:23] connorshea opened #2179 "Update versions in different Dockfiles separately (not together)"
In [this PR](https://github.com/connorshea/ContinueFromCheckpoint/pull/251), Dependabot updates two separate Dockerfiles that use Alpine and Debian base images respectively, but it changes the distro of one of them from Debian to Alpine. (All are from [the official Ruby images](https://hub.docker.com/_/ruby))

`Dockerfile`:

[code]

`Dockerfile.ci`:
[code]

Now, `Dockerfile.ci` intentionally uses

[2019-03-22 18:31] blakemorgan opened #2177 "Recursively Check for poms"
It would help a lot if Dependabot would recursively search for `pom.xml` files in Java Maven projects so we don't have to add them all manually. Is that already possible?

[2019-03-23 09:14] staabm commented on #386
Are there any known plans/timelines to support vendoring in the future?

[2019-03-23 15:44] fisker opened #1065 "any way to update all my config.yml?"
I have several repos using dependabot with `config.yml` settings files.

I found It's hard to change something in all this files.

Do I have to edit those files one by one ? Or is there another way to do this easier ?

If not, Is there a plan to support a extendable config like `renovate` does.

[2019-03-23 15:55] greysteil commented on #1065
Nominate @feelepxyz on future plans, but I’m afraid we don’t have inheritance at the moment.

[2019-03-23 16:00] fisker commented on #1065
Thanks any way.

Should I close this, or leave it as a feature request ?

[2019-03-23 16:04] greysteil commented on #1065
Let’s at least leave until a Phil has a chance to review. 🙂

(Not to pre-empt his thoughts too much, but I think we’re planning to move to allowing configuration in a .github repo that applies organisation wide (in the same way other GitHub settings are configurable).)

Thanks for the feedback on this!

[2019-03-23 22:14] greysteil commented on #386
It's not imminent (next few weeks), but it is on the roadmap - I expect we'll get to vendoring in about 3 months, but we have some big infrastructure changes happening first, partly to help enable it.

Sorry not to have better news, but wouldn't want to overpromise and then disappoint.

[2019-03-25 10:53] feelepxyz commented on #1065
@fisker yes as Grey said, we'll probably allow org wide settings through a org .github folder. We don't have any plans on adding more complex inheritance/overriding functionality so would only work for the simple/default cases.

If you're using exactly the same languages across a bunch of repos you could share the config by adding a `.dependabot` folder as a git submodule and then configuring Depe

[2019-03-25 10:53] #1065 closed

[2019-03-26 08:56] philipmeadows commented on #399
We would be interested in gitlab support.

[2019-03-26 14:59] minhngocd commented on #399
The client I am currently on is also interested in GitLab support

[2019-03-27 06:59] Anoukh commented on #245
Hi, does the latest version support https://github.com/dependabot/dependabot-core/issues/245#issuecomment-385613964 ?

[2019-03-27 12:43] greysteil commented on #245
Yes - should do. I'm going to close this issue now and we can deal with individual Gradle requests separately. 🎉

[2019-03-27 12:43] #245 closed

[2019-03-28 10:19] moimael opened #1069 "Add an option to only create an update PR if dependency is older than X days"
Hi,

It would be great to be able to create an update PR only if the dependency has been published for a set amount of time. This would be particularly useful for auto merge feature to make sure nothing critical breaks if the dependency update has just been released.

Thanks !

[2019-03-29 18:19] mueller-ma opened #2175 "Gradle: Possible to add a folder twice"
Looking at the dashboard, I saw that /mobile (https://github.com/openhab/openhab-android) isn't added:
![grafik](https://user-images.githubusercontent.com/22525368/55253861-bd69bf80-5256-11e9-90d0-81eb49ac0189.png)
So I added Java/Gradle with the directory /mobile, but then I realized, that /mobile is covered by the already existing entry:
![grafik](https://user-images.githubusercontent.com/225253

[2019-04-01 08:33] greysteil commented on #1069
Thanks for the feedback @moimael. We've got an issue tracking this one [here](https://github.com/dependabot/feedback/issues/295), so I'm going to close this but I agree it would be a useful option.

[2019-04-01 08:33] #1069 closed

[2019-04-01 22:54] D4nte opened #2174 "Dependabot to run a "full" `cargo update`"
Hi,

Because our builds are quite lengthy, we are planning to do regular manual `cargo update` for the full lock file and let dependabot handle the `Cargo.toml` updates.

Thinking about it, it would be great if dependabot could do that for us: open 1 PR that does a full `cargo update` (not specific to one dependency). In other words, do all dependencies at once for cargo lock file updates only.

T

[2019-04-02 14:20] osman opened #2173 "Need a better method to validate config variables"
We have had an issue where dependabot is unable to connect to our private ruby gem server.

<img width="507" alt="Screen Shot 2019-04-02 at 10 18 09 AM" src="https://user-images.githubusercontent.com/122702/55409889-db724100-5530-11e9-9aa8-b464d455e4e5.png">

It would be nice to have a validate button on the config variables page to tell us what is wrong with the setting, if anything.

[2019-04-02 16:02] merwok opened #2172 "Support for Docker image references in CircleCI config"
Similar to dependabot/feedback#346 but for CircleCI.  CI pipelines are named workflows and made of jobs + rules (run on branch, run on tag, etc).  A job is a series of commands run within a docker container with a checkout of the code.  People use images provided by CircleCI, regular images or company-specific images (to preinstall tools etc).  When I push new docker tags for my company’s builder

[2019-04-02 16:30] tjwallace opened #2171 "Support custom named Gemfiles"
Our overcommit setup uses a separate gemfile (`.overcommit_gemfile.rb`). It would be great if dependabot allowed the name of the gemfile to be configured. You can use the `BUNDLE_GEMFILE` environment variable.

[2019-04-02 20:33] dependabot[bot] opened #1075 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1076 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1077 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1078 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1079 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1080 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1081 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:33] dependabot[bot] opened #1082 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:34] dependabot[bot] opened #1083 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:35] dependabot[bot] opened #1084 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:37] dependabot[bot] opened #1085 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:38] dependabot[bot] opened #1086 "Dependabot couldn't find a Gemfile for this project"
Dependabot couldn't find a Gemfile for this project.

Dependabot requires a Gemfile to evaluate your project's current Ruby dependencies. It had expected to find one at the path: `/Gemfile`.

If this isn't a Ruby project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dependabot in the comments below to contact the

[2019-04-02 20:39] dependabot[bot] opened #1087 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:40] dependabot[bot] opened #1088 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:41] dependabot[bot] opened #1089 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-04-02 20:55] #1075 closed

[2019-04-02 20:55] #1076 closed

[2019-04-02 20:55] #1078 closed

[2019-04-02 20:55] #1077 closed

[2019-04-02 20:55] #1079 closed

[2019-04-02 20:55] #1081 closed

[2019-04-02 20:55] #1080 closed

[2019-04-02 20:55] #1082 closed

[2019-04-02 20:56] #1083 closed

[2019-04-02 20:56] #1084 closed

[2019-04-02 20:56] #1086 closed

[2019-04-02 20:56] #1089 closed

[2019-04-02 20:56] #1085 closed

[2019-04-02 20:56] #1087 closed

[2019-04-02 20:56] #1088 closed

[2019-04-04 00:23] connorshea opened #2170 "How to avoid security vulnerabilities introduced in packages from compromised accounts"
Given the bootstrap-sass Ruby gem backdoor that was introduced a week ago, I figure it'd be good to talk about ways this kind of attack can be mitigated: https://snyk.io/blog/malicious-remote-code-execution-backdoor-discovered-in-the-popular-bootstrap-sass-ruby-gem/

I'd like to propose a few possible things that would have prevented dependabot from updating anyone to this version:

- The version

[2019-04-04 14:53] cabello opened #2169 "Consuming our countinous integration quota"
Hi 👋

Dependabot is a hard worker! :)

We are having the following issue, we have several repos in our organization and many of them are configured to use Dependabot, we have adjusted org settings like:

![Screen Shot 2019-04-04 at 10 41 09 AM](https://user-images.githubusercontent.com/60936/55564621-4c972d00-56c6-11e9-8021-c162d944d050.png)

And:

![Screen Shot 2019-04-04 at 10 44 02 AM](https://

[2019-04-04 16:31] cabello opened #2168 "Restrict changing settings, config variables, plan to Github admins"
Hi 👋

We just had an incident where someone or something removed the default rate limit from a value to unlimited, in the last 3 days we got 1000+ PRs from dependabot. We don't know what or who did it. Can we at least for the moment, restrict access to these pages: settings, config variables, plan to Organization admins only please?

Thanks 💜

[2019-04-07 19:36] privettoli opened #2166 "Support for Dart/Flutter languages"
I'm developing Flutter Dart app https://flutter.dev/
Are there any plans to support those?
As an example https://github.com/privettoli/socia-reto

Thanks in advance!

[2019-04-08 18:56] RohanNagar opened #2165 "Per dependency bump schedule"
I'm not sure if there is already an open issue/backlog item for this, but it would be nice to be able to set bump schedules on a per-dependency basis.

For example, I typically want daily updates to my repositories so I can get the latest packages asap, except there are a few dependencies that release daily that I don't want to have to review and merge every day. For these few dependencies (usuall

[2019-04-08 19:43] bradleygolden commented on #399
I'm interested in GitLab support as well! I played around with the scripts at [dependabot/dependabot-script](https://github.com/dependabot/dependabot-script) and was able to get merge requests working in GitLab as a toy experiment.

My approach was to create a docker image called `<somename>/dependabot-script` that housed the dependabot scripts. That dockerfile looks like this:

[code]

Run.sh loo

[2019-04-08 20:17] bradleygolden opened #1099 "Can I use this project at work? License question."
I've been going over your license, read your readme, and read this issue #491. I've also [contributed](https://github.com/dependabot/dependabot-core/issues/399#issuecomment-480978407) a tiny amount to your project as well! I'm a little confused about your license and would like to make sure I'm not violating it in any way.

I work at start up with a small handful of engineers. We don't have a ton

[2019-04-08 20:36] greysteil commented on #1099
It’s b) we’re trying to protect ourselves from - you’re very welcome to use it to update your own dependencies! We have a note in our readme trying to make that clear, too, but I understand your caution.

Thanks for using Dependabot Core, and for contributing! :octocat:

[2019-04-08 20:36] #1099 closed

[2019-04-08 20:46] nie7321 opened #1100 "Gradle plugin suggests updates to commented lines"
The (beta) Gradle plugin has suggested updating a commented-out line for updating. From my `build.gradle`:

![Screen Shot 2019-04-08 at 3 43 53 PM](https://user-images.githubusercontent.com/27235866/55755651-37e3cd80-5a15-11e9-8550-7eec66a72ec1.png)

Oddly enough, that's just a Maven command -- not a dependency!

[2019-04-08 21:13] matthewmcgarvey opened #1101 "'+' not accepted in maven version"
The [`ANCHORED_VERSION_PATTERN`](https://github.com/dependabot/dependabot-core/blob/master/maven/lib/dependabot/maven/version.rb#L32) in maven's `Version` class should match `2.1.5+32`.

We recently changed our versioning strategy to use the number after the `+` to represent the build number.  This probably isn't normal but this is keeping us from running dependabot for our internal libraries.

[2019-04-09 16:59] TobiasRoland opened #1103 "Bumping gradle version too"
The [gradle versions plugin](https://github.com/ben-manes/gradle-versions-plugin) informs that there is a new gradle version available - it would be amazing if dependabot similarly could bump the version of gradle in addition to the project dependencies.

I have not looked into how to achieve this in practice, but If projects are based on the [Gradle Wrapper](https://gradle.org/install/#with-the-g

[2019-04-09 17:07] TobiasRoland opened #1104 "Gradle plugin version bumping"
Yesterday when running the [gradle versions plugin](https://github.com/ben-manes/gradle-versions-plugin) I noticed that dependabot does not bump my spring plugin version which was defined in the `build.gradle` plugin block

[code]

Would be great if it dependabot could update this, too

[2019-04-09 17:38] RohanNagar commented on #1103
There is some discussion of this here too: https://github.com/dependabot/feedback/issues/237

[2019-04-10 06:16] Adamsimsy commented on #729
Hey i was wondering if anyone was able to make any progress on this? Would be awesome to get the integration with Azure DevOps.

[2019-04-10 08:46] TobiasRoland commented on #1103
Apologies, I thought I'd searched for it - I will close this

[2019-04-10 08:46] #1103 closed

[2019-04-10 15:49] greysteil commented on #1100
Ha! We do some work to strip out comments before regex-parsing (yes, 😞 I know) the `build.gradle` file. I'll take a look at what went wrong here. Thanks for reporting it!

[2019-04-10 16:10] greysteil commented on #1100
Fixed in https://github.com/dependabot/dependabot-core/commit/47a3013de0ea946190e3fa21cde2cc4e8362e9f7. Thanks for the heads up!

[2019-04-10 16:10] #1100 closed

[2019-04-10 16:37] greysteil commented on #1101
Thanks for this, and for the associated PR. Are you aware of any published packages that use this setup? I'm slightly nervous about including it as there are no details about it in the [docs](https://maven.apache.org/pom.html#Version_Order_Specification).

[2019-04-10 17:44] matthewmcgarvey commented on #1101
I admit that this is slightly unusual.  We are following semantic versioning and including build number in the metadata as specified here: https://semver.org/#spec-item-10 and have found maven to handle it fine.  I don't know if there would be public libraries that use it.  Here's a library that has built handling around metadata https://github.com/zafarkhaja/jsemver#incrementing-versions though.

[2019-04-15 20:46] TravisEz13 opened #2164 "Add detection of when `RuntimeFrameworkVersion` needs to be update"
In our project this is defined in a common file this in included in (almost every file):
https://github.com/PowerShell/PowerShell/blob/23451ac32f789a93d0575413700dbdf3861059e6/PowerShell.Common.props#L96-L97

Line 96, `<TargetFramework>netcoreapp2.1</TargetFramework>` defines what package we use, in this version it means we are using a `2.1` version of:
- https://www.nuget.org/packages/Microsoft.N

[2019-04-23 18:06] simlu opened #2163 "Rate Limit Improvements"
I'm looking at the organization settings. I have set the pr limit per repository to one (see screenshot).

![rate_limit](https://user-images.githubusercontent.com/1539747/56604641-4efaf180-65b7-11e9-8b73-12812dfe9dd5.png)

When enabling live updates I would expect the next pr to be opened automatically directly after an existing one is merged (if there are further ones pending). However that is un

[2019-04-26 12:01] RazerM opened #1127 "gitlab directories don't work"
I'm trying to use dependabot-script. I printed `fetcher.repo_contents` to see why directories weren't being search for requirements files, and I think this is the reason:

[code]

The file_fetcher for Python looks for `type == "dir"`, but the `requirements` directory has `type = "tree"`

I'm not a ruby developer but I guess this is meant to translate the type to what dependabot expects:

https://g

[2019-04-26 12:12] greysteil commented on #1127
Ah, interesting. Using with GitLab?

[2019-04-26 12:12] RazerM commented on #1127
yes

[2019-04-26 12:30] greysteil commented on #1127
Should be fixed in `0.106.17`, which I'm pushing now - will update the script repo.

Thanks for the bug report!

[2019-04-26 12:30] #1127 closed

[2019-04-26 13:26] RazerM commented on #1127
It works, thanks!

[2019-04-26 14:32] JustArchi opened #2162 "Add setting for assigning team members only for PRs that fail"
Hello.

I'd like from dependabot to find out when the PR fails (due to CI checks) and automatically assign the appropriate person to manually verify the PR, and fix it if needed.

I believe this could be very simple boolean checkbox on dependabot website, below "Assignees" with "Assign only when PR can't be merged automatically", or perhaps it could be even built-in automatic feature of not assign

[2019-04-27 02:35] rajivshah3 opened #1130 ""Affected versions" from NPM security advisory not parsed correctly"
We recently received a PR from Dependabot advising us that we were using an insecure version of Electron: https://github.com/iotaledger/trinity-wallet/pull/1388

From the NPM security [advisory](https://github.com/nodejs/security-wg/blob/master/vuln/npm/495.json):

It seems like Dependabot didn't interpret the `||` correctly, because we are currently using 3.1.8, a non-vulnerable version. It sugge

[2019-04-27 11:40] greysteil commented on #1130
Thanks for the heads up. I've updated our logic to prioritise the array of patched versions, although I think node security working group should also update the affected versions array in the above, as it's confusing!

[2019-04-27 11:40] #1130 closed

[2019-04-28 12:39] gencer opened #1133 "Error: Dependabot::DependencyFileNotParseable on npm_and_yarn"
I get following error when  trying to parse a `npm_and_yarn`.
[code]

Related `package.json` and `yarn.lock` is here: https://gist.github.com/gencer/e94d1108c3d077b19f2756ae74dde165

There is no package.lock. Just `json` and `yarn.lock`

[2019-04-28 22:51] greysteil commented on #1133
That error should have a file associated with it - can you call `file_path` on the error?

[2019-04-29 07:48] StephanBijzitter opened #2161 "Limit concurrency of updates for Dependabot"
Hello!

When merging a pull request from dependabot, it automatically rebases all other open pull requests (at least if pull requests must be up to date).

This is awesome! But... we use Codeship and we have a plan with limited concurrency where we can only have so many builds active at one time. When Dependabot updates it could very well rebase 20 to 30 pull requests, most of which end up in a qu

[2019-04-29 13:18] gencer commented on #1133
[code]

**prints:**

[code]

[2019-04-29 14:33] greysteil commented on #1133
Huh. That parses fine on my machine. What eversion of Yarn do you have installed? Can you try running `e.cause.message` (might not work), too?

[2019-04-29 14:42] gencer commented on #1133
`e.cause.message` gives nothing. I am using Node.js **v11.9.0** and Yarn **1.15.2**

[2019-04-29 14:48] gencer commented on #1133
In addition, This is how I installed npm_and_yarn

[code]

Gemfile:

[2019-04-29 14:59] greysteil commented on #1133
I'm not sure how to help you with this one. Your error is coming from [here](https://github.com/dependabot/dependabot-core/blob/master/npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/lockfile_parser.rb#L175-L189) but given that the lockfile parses fine on my machine (and I presume on hosted Dependabot, too, but creating a test repo would be a good way to check) I can only assume something is

[2019-04-29 15:12] gencer commented on #1133
Well, In here: https://github.com/dependabot/dependabot-core/blob/master/npm_and_yarn/lib/dependabot/npm_and_yarn/file_parser/lockfile_parser.rb#L186

I see that, you rescue from `HelperSubprocessFailed`. I also have problems with golang's dep. Dep gives me `HelperSubprocessFailed` error. I was going to report that too.

Now it makes sense. It seems Dependabot cannot find required file (bin) or si

[2019-04-29 15:19] greysteil commented on #1133
The code that does the lookup is [here](https://github.com/dependabot/dependabot-core/blob/master/npm_and_yarn/lib/dependabot/npm_and_yarn/native_helpers.rb). Sounds like we might have the instructions wrong in dependabot-script 😞.

(When I run locally I don't use that setup, so @hmarr or @feelepxyz might be able to better help debug. I run the script using the following Gemfile, and having done t

[2019-04-29 15:36] gencer commented on #1133
I see. README's are mess. Script repository tells something, core says another. npm_and_yarn README says totally another story.

We need a proper README. I would be gladly help on this, however, even above sample you gave me i cannot make it work. I also installed helpers inside gems. Did not helped either.

Kindly, awaiting a response from @hmarr or @feelepxyz.

[2019-04-29 16:04] feelepxyz commented on #1133
@gencer hey sorry for the poor documentation! Setting up from scratch on my machine now and will see if I can figure out what's gone wrong.

[2019-04-29 16:50] feelepxyz commented on #1133
@gencer hey I've updated the readme to install native helpers in the script repo: https://github.com/dependabot/dependabot-script#native-helpers

This is pretty much what we do in the dependabot-core Dockerfile.

Let me know if you run into any issues.

[2019-04-29 16:53] feelepxyz commented on #1133
Just FYI, the readme in core is mostly geared towards development without Docker.

[2019-04-30 07:17] gencer commented on #1133
@feelepxyz Thank you so much for your help. It is fixed now. It just works.

[2019-04-30 08:01] #1133 closed

[2019-05-02 09:35] saschagrunert commented on #670
I would love to see this feature in! I would go for a simple configuration variable to check if vendoring is enabled and then do something like this afterwards:

[code]

[2019-05-04 16:46] rajivshah3 opened #1138 "No longer updatable"
This is kind of like #439 but I'm not sure what the cause is. We received a [PR](https://github.com/iotaledger/trinity-wallet/pull/1336) for an update to `eslint`, but it was later closed with the message "Looks like eslint is no longer updatable, so this is no longer needed.". Is there something we did that impacted the PR?

[2019-05-05 07:55] greysteil commented on #1138
@feelepxyz can you take a look at this one? Looks related to our peer dependency checking logic.

[2019-05-06 15:10] domcleal opened #2160 "Ignore Terraform releases for unchanged subdirectories"
In Terraform, we can reference a module stored in a subdirectory of another Git repo which makes it easy to group together related modules into one repo rather than a large number of repos each containing one module.

When tagging one of these repos, Dependabot updates every dependency on it even if the module source is specifying a path that hasn't been changed between releases. Ideally for us, D

[2019-05-07 08:11] feelepxyz commented on #1138
Yes taking a look!

[2019-05-07 16:05] feelepxyz commented on #1138
@rajivshah3 looks like this was closed due to `eslint-config-airbnb@16.1.0` having a peer requirement on `eslint@^4.9.0` so we can't update this until `eslint-config-airbnb` is updated. Done in this PR: https://github.com/iotaledger/trinity-wallet/pull/1423

Trying to figure out why this PR was opened in the first place as it should have been blocked due to this peer requirement.

[2019-05-08 18:37] rajivshah3 commented on #1138
Ooh, I see. Thanks!

[2019-05-08 22:10] gabemeola commented on #406
@greysteil Are there any plans to support custom commit messages in the future?

My specific use case is including `[ci skip]` in the commit message.
https://gitlab.com/help/ci/yaml/README#skipping-jobs

[2019-05-08 22:14] greysteil commented on #406
It's come up quite a few times, so we almost certainly will in future. It's not imminent, though - won't be before the end of the month.

[2019-05-08 22:14] greysteil commented on #406
With dependabot-script you might be able to hack it and overwrite the branch namer...

[2019-05-08 22:31] gabemeola commented on #406
@greysteil Thanks for the quick response!

Pardon my ruby inexperience, should I be able to pass `pr_message_footer` to `pull_request_creator` class. https://github.com/dependabot/dependabot-core/blob/master/common/lib/dependabot/pull_request_creator.rb#L36

As far as Gitlab is concern this string can be included anywhere in the commit message

[2019-05-09 07:43] davidkarlsen opened #2159 "[feature] Support monitoring of several branches"
It would be good if dependabot could support several branches - today it only monitors the default branch.
It's quite common to have a branch per tag for docker images - for instance `java8`, `java11`, `java12`, or several `release/*` branches.

To avoid scanning all kinds of short-lived branches, you could require a branch regex / set a limit or the likes.

[2019-05-09 09:51] greysteil commented on #406
Great to hear! Yep, we use that footer when passing through all the Dependabot-specific PR text from main Dependabot (commands, compatibility scores, etc.). It's perfect for your use case here 🙂