[2022-10-11 13:51] jurre commented on #1297
@tobiasdiez I can't find anything that explains why you're seeing that "Checking now" in the logs and am a bit puzzled. Do you mind if I manually start a new update job from our end?

[2022-10-11 14:12] tobiasdiez commented on #1297
Seems to be a Schrödinger bug: once you look at it, it disappeared. Now it displayed " Last checked 11 hours ago " (with an error symbol) and the log is
[code]

I didn't start a new run so that you can have a look, but feel free to start a new update if you would like to.

[2022-10-11 14:41] yarinsa opened #5870 "Add support to env variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

**My problem:** dependabot failing to access private npm registry.
**The root cause:** I am relying on env variable on my yarnrc.

My yarn.rc
[code]

In my workflow I am making sure that those variable exist on the env. In depandbot run I cant do that.

Although .yarnrc.yml is a Yarn2+ fea

[2022-10-11 15:38] Kurt-von-Laven commented on #1297
Quoting myself describing what may be the same issue for @jurre’s convenience in case they have circumstances in common:

In the meantime, we remain satisfied with the original explanation that Dependabot was waiting in a queue.

[2022-10-11 16:22] jeffwidman commented on #2504
👍 for adding [OpenTelemetry](https://opentelemetry.io/) support (opentracing was deprecated in favor of opentelemtry).

[2022-10-11 18:33] jeffwidman commented on #5741
Watching our internal metrics now that ☝️ are deployed indicates that the amount of errors attributed to this condition have fallen off pretty sharply so I think we can call this done.

A number of these jobs will still fail for various reasons further down the job pipeline, but they'll be reported as `update_not_possible` rather than "no longer vulnerable".

This is a step in the right direction

[2022-10-11 18:33] #5741 closed

[2022-10-11 19:12] vishiy commented on #4364
+1

[2022-10-11 22:09] jwhitlock commented on #1657
We also have this issue. We store `requirements.txt` and `pyproject.toml` in the root folder, and have a list of bad words (offensive words and trademarks disallowed in user-generated content) in `emails/badwords.txt`. Dependabot processes `badwords.txt` as a requirements file, and searches PyPI for projects with bad words. It's about 250 missing projects and 350 found and processed per dependabot

[2022-10-11 22:51] jeffwidman commented on #5868
Hmm, we recently upgraded `poetry` so we're running latest release: https://github.com/dependabot/dependabot-core/pull/5746

What makes you think this is due to an older version of `poetry`?

Have you tried running the update locally using the `dry-run` script documented on the readme? Add a few `puts` statements and you can probably start to narrow down the source of the issue.

[2022-10-12 00:00] l0b0 commented on #5868
After a bit more investigation, it turns out I had this the wrong way around - the _newer_ versions of Poetry are the ones causing issues because setuptools is no longer excluded from the lock file. I get a workable lock file with current poetry2nix using Poetry 1.1.14. The [fix](https://github.com/nix-community/poetry2nix/pull/736) is actually arriving in poetry2nix, which is now able to deal wit

[2022-10-12 00:00] #5868 closed

[2022-10-12 01:30] jeffwidman commented on #5868
No problem thanks for letting us know

[2022-10-12 07:16] jurre commented on #5870
@yarinsa can you share your dependabot config file?

[2022-10-12 07:23] jurre commented on #5870
@pavera we may need to strip the `npmAuthIdent` out of the yarn config so the proxy can always take over?

[2022-10-12 08:58] rutalreja-deloitte commented on #2178
For TF files, can be modified for any extension
A little late to the party, but finally here

One Liner that I run in a git actions pipeline (remember to give pipeline push permissions) from root of repo
`
if [[ "$(find . -name '*.tf' -not -path '*.terraform*' -printf '%h\n' | sort -u | wc -l)" -lt "200" ]]; then yq -i 'del(.updates.[])' .github/dependabot.yml && for DIR in $(find . -name '*.tf' -

[2022-10-12 10:19] yarinsa commented on #5870
@jurre Thank you for the quick answer!

here is my config:
[code]

I had a similar issue when I was implementing my own actions. I have an action called "setup-yarn".
And there I accept the creds as inputs. Then in my action I do

[code]

[2022-10-12 11:12] deivid-rodriguez commented on #5862
Hei @greschd!

We're adding PEP621 support soon indeed and I'm already subscribed to that ticket in the poetry roadmap, thanks!

Regarding your question, no, I don't think we support updating dependencies with environment markers in any Python format as of now, so I think for now fixing 1 is the easiest, just make sure they are properly ignored.

[2022-10-12 11:47] jurre commented on #1297
I'm starting to lose track of what's happening in this thread, so asking folks to please open a new issue if you're running into things and tag me in it 🙇

[2022-10-12 11:55] deivid-rodriguez commented on #4364
Hei, sorry for the lack of response here.

I think either an option to ignore directories or a `.dependabotignore` file could be possible options for this, but I also wonder whether there's something else going on here.

Is the `directory:` option currently recursive, and that's why this can't be workaround by explicitly defining the folders that you want watched? Does that depend on whether the d

[2022-10-12 11:59] deivid-rodriguez commented on #1657
I think, instead of an option to ignore certain files, it would be better to add a configuration to explicitly define which manifest files you want watched, and when that's defined, don't scan anything other than that.

[2022-10-12 12:38] yarinsa commented on #5870
It did solved the issue.  Now I am getting only 403. Gonna double check my values and will update if there is any change

[code]

[2022-10-12 12:54] jakecoffman commented on #5543
In the logs I see Dependabot is trying to use the credentials provided in dependabot.yml but is getting a 401:

[code]

I suggest removing the registries from dependabot.yml since the registry is publicly accessible: https://nexus.xwiki.org/nexus/content/groups/public-snapshots/org/xwiki/commons/xwiki-commons-pom/14.9-SNAPSHOT/

I tried that locally and got a different result:

[code]

It seems we

[2022-10-12 13:05] yarinsa commented on #5870
@omerzi This is just one out of many issues we had configuring JFrog with different services & Yarn2.
What would be your best practice for this? I could tag you in other few issues we had with other services. \
@boazetsec - One more issue connecting to jFrog... Isn't it. better practice to work with token instead of user&password, would have save days?

[2022-10-12 13:46] tmortagne commented on #5543
Well that was obvious to me too, and it was the first version, but Dependabot was complaining about the required `username` and `password` properties.

[2022-10-12 14:13] jakecoffman commented on #5543
Dependabot will parse the pom.xml and gathers [these registries](https://github.com/xwiki/xwiki-platform/blob/22029e026763ef50d45a3fbca3d3a20562ea6ec0/pom.xml#L1403-L1426) and use them to find the parent pom.

Currently the `dependabot.yml` registries are only used for injecting credentials into the request which is why username and password are required. Even if it is provided with valid credenti

[2022-10-12 14:32] tmortagne commented on #5543
You sure it will ? Those are only defined when a specific profile is enabled.

The only reason why I added those registries in Dependabot configuration is that Dependabot was complaining about missing parent artifacts that were available on those repositories, but I guess that's the resolution bug you were mentioning ?

[2022-10-13 06:41] jurre commented on #5870
Yeah there's no way to configure runners for Dependabot today, as our infrastructure is not shared with Actions, but you can get the IPs via the GitHub API:

[code]

Those IPs should be fairly static, but if they ever change that'll be reflected in the API.

[2022-10-13 06:47] jeffwidman opened #5880 "Incorrect version specified in PR metadata"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

The PR description for https://github.com/dependabot/dependabot-core/pull/5879 says it's bumping to `5.0.1`, but it's actually bumping to `3.0.1` and `4.1.1`.

The string "Updates ansi-regex from 3.0.0 to 5.0.1" should probably say "Updates ansi-regex from 3.0.0 to 3.0.1 and 4.1.0

[2022-10-13 06:52] jeffwidman commented on #4605
I just noticed the check also ran on this PR branch: https://github.com/dependabot/cli/pull/17

And that PR doesn't touch `dependabot.yml` file... BUT, interestingly, this PR that I merged 15 mins before _does change the dependabot file: https://github.com/dependabot/cli/pull/18

[2022-10-13 06:54] #3878 closed

[2022-10-13 10:16] yarinsa commented on #5870
@jurre Even after adding those IP's to our allowlist we are getting 403 :( .
Is there a way to see the response body?

(From my experience with JFrog they describe the problem in the response body. And the error code is not necessarily  reflects the problem

[2022-10-13 10:46] jurre commented on #5870
No unfortunately we don't log that information anywhere. Has this setup ever worked with Dependabot on an older version of yarn, or is this the first time you're setting it up?

[2022-10-13 11:38] yarinsa commented on #5870
@jurre Yes. It's seems like it's working now (IP whitelisting might take some time to update). I appreciate your help a lot. Willing to contribute in order to support Yarn Berry, in case of a need.

[2022-10-13 11:38] #5870 closed

[2022-10-13 12:48] ondrejlerch commented on #2640
Recommendation for other developers who want to analyze maven transitive dependencies via Dependabot and not just direct ones:
[This action](https://github.com/marketplace/actions/maven-dependency-tree-dependency-submission) really does the trick.
Set-up is easy:
[code]
The only issue is that `maven-dependency-submission-action` currently does not support multi-module based projects.
Therefore, se

[2022-10-13 13:59] diguid commented on #5809
Any updates on this? I'm still getting the same error

[2022-10-13 15:05] Omzig commented on #436
Did you ever figure this out?

[2022-10-13 15:13] deivid-rodriguez commented on #4989
Just to clarify, currently `update-types` ignore conditions are only respected for exact requirements or inexact requirements backed by a lock file. I consider this an issue, but not sure when we'll get to it.

However, we now support the `increase-if-necessary` versioning strategy in Python, and in this particular case it should give you the same result I believe.

[2022-10-13 15:25] deivid-rodriguez commented on #436
In the example above, it was because the user had the `increase-if-necessary` versioning strategy enabled, which avoids updating `package.json` unless necessary. So in that PR, only the lockfile was updated. If you never want PRs that only update the lockfile, you should use the `increase` strategy, so you also get the `package.json` file updated.

[2022-10-13 16:00] deivid-rodriguez commented on #5809
I just checked this and you're right, Python 3.7.13 which you are using resolves poetry to 1.1.5 😬.

This code here:

https://github.com/dependabot/dependabot-core/blob/5ae1a8c240a1cdc45545672200ac8f0f80323094/python/lib/dependabot/python/update_checker/poetry_version_resolver.rb#L105-L109

The cleanest solution would be to check the Poetry version (>= 1.2), not the Python version. I did check tha

[2022-10-13 16:44] deivid-rodriguez commented on #5554
@natestemen Can you share a public repository where this can be reproduced? I think normally poetry updates this hash, as the commit you mentioned and some PRs I've seen show, so maybe this is some very specific case, so it'd be nice to look at some manifest files that have the issue.

[2022-10-13 20:11] q0rban commented on #1291
+1

This is possible with Renovate https://docs.renovatebot.com/configuration-options/#draftpr.

[2022-10-13 20:48] scottdickerson opened #5885 "Dependabot is giving a 401 error trying to generate a security update PR from a private scope"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn

### Package manager version

v3

### Language version

_No response_

### Manifest location and content before the Dependabot update

/package.json

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus what you actually

[2022-10-13 20:50] scottdickerson commented on #5885
@jurre I'm not sure if you had enabled the newer version of dependabot in this repo that might be causing this issue:
https://github.com/Contrast-Security-Inc/skeletor

[2022-10-13 21:44] deivid-rodriguez commented on #5758
Hei @lcooper01!

Nice start of the investigation. Your conclusion is correct, `dry-run.rb` does not use ignore conditions by default, although you can pass them in a very cumbersome way, like this

[code]

Happily using your sample repository I was able to identify the problem and I will open a PR shortly 🎉.

[2022-10-14 06:24] jurre commented on #5234
I think these are two separate issues, #4031 describes Dependabot opening a PR that is out of date, but the diff for that outdated PR is correct, whereas this issue talks about the diff being wrong, which I think comes from the fact that the sha used to generate Dependabot's diff did not match the sha used to create the commit for the given PR.

It's been really hard to reliably reproduce the issu

[2022-10-14 08:05] DarkWanderer opened #5887 "Github Actions - allow updating major versions only"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

GitHub Actions follow docker-like tag pattern, where a new version updates 3 tags simultaneously:

- full version: v1.2.3
- minor version: v1.2
- major version: v1

A common practice then is to use a major version tag (`action@v1`) to allow automatic minor version drift, and update major v

[2022-10-14 08:11] DarkWanderer commented on #5887
Note: I am aware of `ignore: update-types:` mechanic, but this is slightly different as `ignore` will still result in dependency being updated to full version spec, i.e. `v1.2.3`

[2022-10-14 09:43] jurre commented on #5885
@scottdickerson yeah it is indeed enabled for that repo, it looks like there's two things you'll need to do to get Dependabot to run smoothly on this repo:

1. Configure Dependabot so that it knows about this private registry, follow [these docs](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#configuration-options-fo

[2022-10-14 11:08] jglick commented on #5234
I will try to remember to post a comment if it _does_ happen again, but unfortunately will surely forget to mention if some months go by and it does _not_ (that I have seen). :grimacing: Thanks!

[2022-10-14 12:51] deivid-rodriguez commented on #5887
Mmmm, this feels like a deja vu... I thought we had already discussed and fixed this. This is what everyone expects, Dependabot should not be proposing an upgrade that uses a different "versioning style", and instead respect what's already there.

I'll have a look at what's going on, thank for letting us now and providing a public repo as a example 🥇.

[2022-10-14 14:17] landfillbaby commented on #1639
idea: if a module in `.gitmodules` has a `dependabot-tags-only = true` line it only sends pull requests for tags

[2022-10-14 14:48] scottdickerson commented on #5885
one interesting thing in the logs, is it seems smart enough to check the public and private registries for the dependency with security vulnerabilities `@xmldom/xmldom`.  But not smart enough to check both registries for this dependency? `ansi-regex`
[code]

[2022-10-14 15:31] scottdickerson commented on #5885
I  also had to remove the `:-bypass` option above from the `.yarnrc.yaml`, because it was breaking my `yarn install` entirely.

https://github.com/Contrast-Security-Inc/skeletor/actions/runs/3251066736/jobs/5335573631

[code]

[2022-10-14 20:36] #4375 closed

[2022-10-14 22:15] bdragon opened #5888 "PR title repeats dependency name"
When multiple versions of a dependency are being updated, the dependency name is repeated in the PR title. Example:
`Bump ansi-regex and ansi-regex in /npm_and_yarn/helpers` in #5879

Proposed change for this example:
`Bump ansi-regex in /npm_and_yarn/helpers`

For PRs in which multiple versions of multiple dependencies are being updated, names should be similarly de-duped:
`Bump foo, bar and bar

[2022-10-15 08:03] jurre commented on #5885
Thanks @scottdickerson, I or @pavera will take a look at this next week! I can't see the Actions logs fwiw, but surprising that just providing a default value would break anything!?

[2022-10-15 11:54] greysteil commented on #2216
Hey @Kaplas85, no near term update, but since Dependabot is now part of GitHub responsibility for this has shifted teams. At the org/enterprise-level, we're looking at building more metrics into the security tab on GitHub (affectionally known as "security overview") as well as the "dependencies" tab under the org-level "insights" tab. At the repo level I don't think there are any near-term plans,

[2022-10-15 17:11] deivid-rodriguez commented on #1639
@landfillbaby I think the suggestion by @hazcod at https://github.com/dependabot/dependabot-core/issues/1639#issuecomment-576721613 is a good idea. Does it not satisfy your use case?

[2022-10-16 10:36] tobiasdiez opened #5889 "Update doesn't respect yarn patch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

yarn v3

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus what you actua

[2022-10-16 12:56] castamir opened #5890 "non-sense dependency updates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn

### Package manager version

1

### Language version

Nodejs 14

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what you actually saw

PR titl

[2022-10-16 13:29] limonte commented on #4715
I would like to bump this thread.

When a vulnerability is introduced to an npm package, it takes at least several days to discover the vulnerability and to report the vulnerable release to security databases (npm, Snyk, dependabot, etc.)

Because of that reason, it would make sense for developers to use 3rd party dependencies with the version that matches these conditions:

- as latest as possibl

[2022-10-16 16:27] deivid-rodriguez commented on #5887
Hei @DarkWanderer!

So I tried this using:

* Our [`dry-run.rb`](https://github.com/dependabot/dependabot-core/blob/2401f2bcd941bec551d9698803d3b60156b5a6c7/bin/dry-run.rb) script.
* Dependabot's [CLI](https://github.com/dependabot/cli).
* A [fork](https://github.com/deivid-rodriguez/ClickHouse.Client/pull/1) of your repo.

All three times Dependabot bumped the dependency from v2 to v3 as expected

[2022-10-16 16:27] #5887 closed

[2022-10-16 17:09] DarkWanderer commented on #5887
No worries. This is an excellent tool and I'll be happy if I can contribute back.

One thing I noticed is that setup-dotnet repo uses manual release scheme, and a separate action to mark 'major tag, e.g.:

- 3.0.0 version was [released manually](https://github.com/actions/setup-dotnet/releases/tag/v3.0.0) at **29 Sep 17:56** CEST
- Additional [workflow](https://github.com/actions/setup-dotnet/acti

[2022-10-16 17:19] deivid-rodriguez commented on #5887
Wow, fantastic investigation! That makes total sense and I'm sure that's the cause of the issue.

Dependabot should always respect the precision chosen by the user, and it already does this in general, except for this normally very small time frame where an action has a release, but no "major tag/branch" pointing to it.

I will fix this.

[2022-10-16 18:18] deivid-rodriguez commented on #5887
Ok I created https://github.com/dependabot/dependabot-core/issues/5891 to fix this. I learnt though that there's a reason for the current behavior, so it will need some team discussion to figure out whether it should be changed or not.

[2022-10-16 22:09] CvX opened #5892 "Incorrect bundler updates after #5581"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

bundler

### Package manager version

2.3.5

### Language version

2.7.6

### Manifest location and content before the Dependabot update

/Gemfile

excerpt:
[code]

### dependabot.yml content

excerpt:

[code]

### Updated dependency

`sassc` updated from the locked version (2.0.1) to 2.4.0

[2022-10-17 06:24] wartingep commented on #2180
did this just got released? I see a lot of PR:s in my buildsrc today :)

[2022-10-17 06:39] castamir commented on #5890
Number of PRs from Dependabot with totally unrelated diff is enourmous.

[2022-10-17 08:15] deivid-rodriguez commented on #5892
Hi @CvX!

 I'm sorry that Dependabot started proposing updates that you didn't want 🙏.

Could you explain a little bit in more detail what you want Dependabot to do? From the PRs you linked to, Dependabot seems to be doing the right thing to me. It's updating only the `Gemfile.lock` file, as requested by the `lockfile-only` versioning strategy.

Since you are mentioning that the updated dependenci

[2022-10-17 08:21] deivid-rodriguez commented on #5890
Hi @castamir!

This must be so confusing 🙈, I'm sorry you're running into these issues.

We recently introduced some changes related to the `lockfile-only` configuration option that you are using, so although I have no idea why, perhaps we have regressed there somehow.

I will check on this and get back to you.

[2022-10-17 08:24] deivid-rodriguez commented on #5890
I guess it's a private repository where you're running into this, correct? Would you be able to extract a subset of your manifest files that can be shared publicly and that still shows this unwanted behavior?

[2022-10-17 08:33] deivid-rodriguez commented on #5892
Oh, actually, the one bumping `active_model_serializers` is definitely a bug, let me look into that!

[2022-10-17 08:35] andreas-venturini commented on #5892
@deivid-rodriguez all three are bugs

It should not update the Gemfile.lock for `oj` and `sassc` because both are locked to a specific version - so there is nothing to update in the Gemfile.lock

[2022-10-17 08:37] CvX commented on #5892
[Dependabot documentation](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#versioning-strategy) says about `lockfile-only` option: "Only create pull requests to update lockfiles. **Ignore any new versions that would require package manifest changes.**"

As I understand it, and how it worked before, is that should upda

[2022-10-17 08:43] deivid-rodriguez commented on #5892
@CvX I'm sorry, I completely missed the full pin on those requirements. You're 100% right, my bad!

I'm looking into this right now, and will fix this ASAP.

[2022-10-17 09:17] jurre commented on #5889
@tobiasdiez it looks like this is just what yarn does by default?

[code]

[2022-10-17 09:47] castamir commented on #5890
@deivid-rodriguez yes, it's a private repo unfortunatelly. And it's also a monorepo.

For example in one of the last PRs we got this:

![image](https://user-images.githubusercontent.com/1245190/196145933-9265678b-efde-4030-8e6b-0b47ef7ae73c.png)
![image](https://user-images.githubusercontent.com/1245190/196145993-987664c7-6d83-498f-91bb-30e0107b837c.png)

our `yarn.lock` has the following content:

[2022-10-17 09:48] landfillbaby commented on #1639
i just wrote an [update-submodules.yml](https://github.com/landfillbaby/png2webp/blob/main/.github/workflows/update-submodules.yml)

[2022-10-17 09:49] castamir commented on #5890
Note that I'm not able to get dependabot log file as it's running permanently since the morning and produces more and more PRs.

[2022-10-17 09:59] castamir commented on #5890
In order to reduce number of PRs that were totally off, we tried to upgrade the settings by adding:

[code]

Looks like it helped in a certain degree - new PRs no longer contain major version bumps and therefore unwanted breaking changes, but the original issue prevails.

[2022-10-17 10:17] lcooper01 commented on #5758
Great news, thanks @deivid-rodriguez

[2022-10-17 10:33] deivid-rodriguez commented on #5890
Is it still happening? I reverted a change that looked suspicious about an hour ago.

[2022-10-17 10:35] #5892 closed

[2022-10-17 10:37] deivid-rodriguez commented on #5890
I just merged the revert I was mentioning. Not really sure it's the culprit although timing and the fact that you're using the `lockfile-only` versioning strategy matches. Let's see if this stops now. If not of course, I'll reopen this.

[2022-10-17 10:46] castamir commented on #5890
@deivid-rodriguez basically all new PRs were closed approx 35 minutes ago, that means 20 minutes before your commit:

![image](https://user-images.githubusercontent.com/1245190/196158350-5af7e995-cac9-40c5-b7bb-354bc081289e.png)
![image](https://user-images.githubusercontent.com/1245190/196158486-64e759f1-8c4d-4ded-bcb4-4f7d9ba3673a.png)

[2022-10-17 11:08] deivid-rodriguez commented on #5890
That makes sense I think, because I deployed the fix a bit earlier than that. Let me know if something unexpected happens from now on.

[2022-10-17 11:16] landfillbaby commented on #2192
https://github.com/dependabot/dependabot-core/issues/1639#issuecomment-1280589582

[2022-10-17 11:41] jurre commented on #5856
@leoamigood could you add a bit more context on what is required to reproduce this issue? There's not much we can do with the current information you've provided. It also looks like you're not using GitHub's hosted version of Dependabot, as those logs look look like ours, could you share a bit more about that as well?

[2022-10-17 11:48] deivid-rodriguez commented on #1639
@landfillbaby Is that the same strategy that was suggested above? If yes, feedback on how that works in practice appreciated :)

Also, I think #2192 a duplicate of this, correct?

[2022-10-17 12:11] leoamigood commented on #5856
@jurre Sure, i am using Dependabot separate from Github hosted version, by just using gems in my app.
I run dependency evaluations against many github repos, and collect logs if any fails happen.
In this case it looks like dependency evaluation failed for [this repo](https://github.com/MasterEx/bean-mapping-benchmark)
causing `SystemStackError: stack level too deep`

Let me know if i can help furt

[2022-10-17 12:17] deivid-rodriguez commented on #5569
I had to revert the fix because it was created problems worse than this bug. Will retry it, hopefully soon.

[2022-10-17 12:18] Bo98 commented on #5569
No worries, thanks for the work you've done so far!

[2022-10-17 13:06] jerbob92 opened #5903 "pip-compile is called twice per dependency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

I noticed some of our Python pip-compile projects taking a long time to be processed by Dependabot (as in 30+ minutes for a cached install). When looking into it I noticed that pip-compile just seems to be slow in general, it will install all dependencies for every dependency to u

[2022-10-17 13:13] deivid-rodriguez commented on #5890
No worries, I will mind your case when I retry this fix.

[2022-10-17 13:32] scottdickerson commented on #5885
Unfortunately not to security concerns @jurre @pavera

[2022-10-17 13:37] jakecoffman commented on #5523
@gianielsevier I just deployed #5884 if you would like to manually trigger a run to see if it is fixed now.

[2022-10-17 14:10] landfillbaby commented on #1639
it works well :) i'm specifically using the latest tag on the head branch, since libpng has beta tags
and #2192 is slightly different since the want specifically github releases rather than just tags

[2022-10-17 14:16] deivid-rodriguez commented on #1639
But Github releases are always backed with a git tag, so I think these should be mostly equivalent? I guess this way could create unexpected updates if tags are pushed that have no corresponding release, but still would be a nice improvement over the current situation and coupling to GitHub releases might not be necessary for most.

[2022-10-17 14:44] leoamigood commented on #5824
@deivid-rodriguez Sure, here is a recent example: for [this repo](https://github.com/acdlite/the-react-way) i execute this line of commands:
[code]

it seems to fail like:
[code]

[2022-10-17 14:52] deivid-rodriguez commented on #5824
Thanks. So I assume those lines above are part of a script that you are running? Can you share a minimal script that I can run to see the issue?

[2022-10-17 15:53] deivid-rodriguez commented on #5903
Thanks for opening an issue about this and starting a potential fix 👏

[2022-10-17 16:22] deivid-rodriguez commented on #5890
@castamir Since you run into this in a private repository and I cannot verify new fixes for myself, I could really use your help to try reproduce this. Would you be willing to install [dependabot CLI](https://github.com/dependabot/cli) and try to reproduce this in the command line? I would be happy to guide you through it.

[2022-10-17 17:16] leoamigood commented on #5824
@deivid-rodriguez it is a part of a activejob and a bugger project, so i can't easily share it, but if you replace `repository.full_name` with `Floby/shi-flo-by` and supply github credentials you should get this error.

fetcher_class is `Dependabot::NpmAndYarn::FileFetcher` and
parser_class is `Dependabot::NpmAndYarn::FileParser`

[2022-10-17 18:03] mwierzchowski commented on #2180
Same here. Looks like "something" was released. Where can we find any details?

[2022-10-17 18:06] mwierzchowski commented on #2180
Alright, found minute after asking a question (so typical...). See: https://github.com/dependabot/dependabot-core/pull/5028

[2022-10-17 19:18] deivid-rodriguez commented on #2180
So.. this can be closed now?? 😮

[2022-10-17 19:22] deivid-rodriguez commented on #5824
Alright, thanks! That sounds like pretty standard usage of our main classes, so I guess this is worth looking into. I'll have a look 👍.

[2022-10-17 20:02] deivid-rodriguez opened #5911 "Revisit how responsibilities are split up between `UpdateChecker` and `Version` in docker ecosystem"
Currently version parsing logic is split between these two classes, and it feels like it should probably be unified into the `Version` class. It should be reviewed at some point.

_Originally posted by @mattt in https://github.com/dependabot/dependabot-core/pull/5886#discussion_r995981733_

[2022-10-17 21:49] renancaraujo opened #5912 "Support mason/Brickhub"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

[Mason](https://pub.dev/packages/mason) is a template file generator that allows people to create and share code templates.

Templates are called bricks and they can be published via [brickhub](https://brickhub.dev).

Bricks from brickhub are specified in a [mason.yaml](https://github.com/

[2022-10-18 00:47] ybiquitous commented on #5789
I also see a similar error about the [oauth2](https://rubygems.org/gems/oauth2) gem. The following is a part of log in my project: ⬇️

[code]

[2022-10-18 05:56] hauntsaninja opened #5914 "Allow disabling dependabot on forks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

This is a duplicate of https://github.com/dependabot/dependabot-core/issues/2804

However, that issue has been linked to well over a thousand times, so it's impossible to see what the actual status of the issue is (without having to click to expand the fold several hundred times). The last

[2022-10-18 06:30] jakirkham commented on #2804
I just tried deleting a fork and recreating it, but the bot came back to open a PR anyways. It would be really helpful to have a fix for this issue (especially as the workaround doesn't seem to work any more)

[2022-10-18 07:39] jerbob92 commented on #5903
I tried to fix it but:
 - It's really hard to get the CI tests running locally apparently (no docs on it?)
 - The code does some pretty odd stuff that's not documented well enough to understand it

[2022-10-18 07:51] jerbob92 commented on #5903
Thanks, I did have the dev shell running, but could not figure out how to run the test suits, I used `bin/ci-test` but the tests always succeeded.

For the odd stuff, it's basically all in the running pip-compile twice to "correct" stuff, but the comments give no real indication of what it fixes. It also writes back the original files with `write_original_manifest_files unless dependency.top_level

[2022-10-18 07:54] deivid-rodriguez commented on #5903
Oh, ok so the odd stuff is precisely what we're trying to fix here 👍.

As per the specs, great. Beware that the python suite is pretty slow at the moment (probably the issue you're trying to fix here contributes to that 😅), so I would recommend focusing on running the test files relevant to the part of the code you are updating.

[2022-10-18 08:23] JarvisCraft commented on #2323
This may become possible with the recent addition of [Merge Queues](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue) to GitHub [^1].

[^1]: currently in limited public beta

[2022-10-18 08:27] jerbob92 commented on #5903
Yeah it helps a lot that you can run a specific spec file and even a specific line in that spec.

So what seems to happen is this:
 - There was a dependency in the original compile txt (`requests==2.18.0`)
 - It was said to be requested by `mock`, but is not needed anymore (in the requested version of mock?)
 - After the update, it's not in the requirements file anymore
 - For some reason a test w

[2022-10-18 09:01] deivid-rodriguez commented on #5903
I think updating a dependency that's not in the `.in` file is actually a supported scenario, which you get by configuring

[code]

in your `dependabot.yml` file.

Does that make sense?

[2022-10-18 09:11] Gakk opened #5916 "Version update on microsoft/setup-msbuild not detected from 1.0.2 to 1.1.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

github-actions

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

Workflow file with multiple steps, where one of them is to setup MS Build:

[code]

### dependabot.yml content

[code]

### Updated

[2022-10-18 09:29] jerbob92 commented on #5903
Yeah I think you are right. It seems to load in all dependencies, so from the .in file and from the .txt file.

When I remove the double pip-compile and the test at https://github.com/dependabot/dependabot-core/blob/main/python/spec/dependabot/python/update_checker/pip_compile_version_resolver_spec.rb#L260 everything passes.

If a requirement is actually not needed anymore, it would just be remove

[2022-10-18 09:37] deivid-rodriguez commented on #5903
If that's the starting point, that would be my expectation, yeah. Worth a try though. What I think is more important, is that a pull/merge request to upgrade dependency "foo" from version A to B, where foo-A depends on "bar", but foo-B no longer depends on "bar", correctly removes "bar" from the `.txt` file.

That would be great and I really want to feature too, but it's not possible yet out of th

[2022-10-18 10:08] deivid-rodriguez commented on #5916
Thanks for the report, I can reproduce it, let me see why this is.

[2022-10-18 10:35] deivid-rodriguez commented on #5916
This action pushes a branch with the same name for every tag, so understandably confuses dependabot 😅, I'll open a PR to fix this now.

[2022-10-18 10:44] thomasnemer opened #5917 "Dependabot removing platform specific gems from Gemfile.lock"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

Bundler

### Package manager version

2.3.14

### Language version

Ruby 3.1.2

### Manifest location and content before the Dependabot update

/Gemfile.lock

[code]

### dependabot.yml content

[code]

### Updated dependency

syntax_tree from 3.6.2 to 3.6.3

### What you expected to see, ve

[2022-10-18 10:44] tobiasdiez commented on #5889
You are right, I've created https://github.com/yarnpkg/berry/issues/4970 to track this upstream.

[2022-10-18 10:53] deivid-rodriguez commented on #5917
Uugggh, this issue keeps chasing me, both upstream and here. I will have a look at this, thanks for reporting!

[2022-10-18 10:56] deivid-rodriguez commented on #5889
Should we close in favor of the upstream issue?

[2022-10-18 11:10] Gakk commented on #5916
I noticed that, and wondered if the equally named branches could have anything to do with this 😇

Thanks, @deivid-rodriguez, for both confirming the issue and working on a fix! 🚀

[2022-10-18 11:11] deivid-rodriguez commented on #5916
No worries! #5918 should hopefully do the trick :)

[2022-10-18 11:59] deivid-rodriguez commented on #5917
@thomasnemer Ok now I remember. So this is due to a recent upstream change (note that Dependabot is already at Bundler 2.3.22).

Basically, your lock file is not resolvable using the "RUBY" platform only (by the "RUBY" platform we mean, using only gems that are not platform specific). The reason is that the lock file includes `sorbet-static`, which does not have any versions that are NOT platform

[2022-10-18 13:17] leoamigood opened #5919 "NPE in FileParser for composer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

composer

### What you expected to see, versus what you actually saw

Looks like there is NPE in FileParser for composer code:
https://github.com/dependabot/dependabot-core/blob/6535db13c37f05f268c7251216fe689ecbb9e346/composer/lib/dependabot/composer/file_parser.rb#L168

[code]

I get this

[2022-10-18 14:33] Nishnha commented on #5903
You might be able to use the `--cache=files` flag on the dry-runner and then modify the cached files locally (which are stored in `/tmp`)

[2022-10-18 15:58] jerbob92 commented on #5903
Ok, so I have tested this locally, it automatically removes the `requests` dependency in every MR it would create:

<details>
<summary>Output without any changes</summary>
=> parsing dependency files
=> updating 5 dependencies: attrs, flaky, mock, pytest-xdist, pytest

=== attrs (17.3.0)
 => checking for updates 1/5
🌍 https://pypi.org/simple/attrs/
 => latest available version is 22.1.0
 => latest

[2022-10-18 16:05] gianielsevier commented on #5523
Hi, @jakecoffman thanks for working on this issue. I'll try to run it again

[2022-10-18 16:25] deivid-rodriguez commented on #5140
For whoever takes this issue. A possible approach here is:

* Fully unlock the dependency in a isolated environment. So in the example given

[code]

* Run `pip-compile` on that temp file:

[code]

* Check the version of the dependency in the upgraded file.

[code]

* That should be the `latest_resolvable_version`.

[2022-10-18 17:35] sjlehn opened #5922 "Update to jest does not pull in required update to ts-jest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

npm 6.14.17

### Language version

nodejs v14.20.1

### Manifest location and content before the Dependabot update

package.json:
[code]

### dependabot.yml content

[code]

### Updated dependency

Updates jest from 26.6.3 to 29.2.0
Updates @types/jest from

[2022-10-18 18:47] mctofu commented on #5880
I happened to be looking at the PR title code and cleaned part of this up in https://github.com/dependabot/dependabot-core/pull/5915

I think if we keep them as their own entries in the PR body then we could show the correct changelog for both? That would be the easiest change assuming we can get the right source/target versions for each one.

[2022-10-18 19:00] jurre commented on #5914
We're actively working on this and a permanent fix should land in the next couple of weeks. We'll share more around the time we''re ready to roll this out

[2022-10-18 19:18] MikeDombo commented on #1666
@deivid-rodriguez when should your change take effect? I just had Dependabot recreate a PR, but it still fails the commitlint due to having lines over 100 characters. ex: https://github.com/aws-greengrass/aws-greengrass-logging-java/pull/131

[2022-10-18 20:14] deivid-rodriguez commented on #1666
The related PR just fixed the commit message case as reported in this issue, there's no change other than that.

[2022-10-18 20:26] MikeDombo opened #5923 "Commitlint: commit body lines must not be longer than 100 characters"
### Is there an existing issue for this?
#2445

- [X] I have searched the existing issues

### Package ecosystem

maven

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus

[2022-10-18 20:28] MikeDombo commented on #5923
https://github.com/dependabot/dependabot-core/issues/2445
This issue was closed in favor of #1666, but the PR which fixed #1666 does not fix this problem.

[2022-10-18 20:57] ankitvgupta commented on #4989
Thanks for the suggestion @deivid-rodriguez.

Could you help clarify how this strategy applies here? The docs say that with the `increase-if-necessary` strategy, it'll open a new PR "only when required by the new version". What exactly does that mean? As in, what is the "new version" that is "requiring" the PR?

[2022-10-18 21:19] deivid-rodriguez commented on #4989
Of course! I think the docs could be improved to say "only when required by the latest version", I think that's easier to understand.

In your case, if you have compatible version pins like this

[code]

and the latest versions are `absl-py-1.0.0`, `aiohttp-3.8.1`, `bokeh-2.4.2`, `boto3-1.21.39`, and `botocore-1.24.39`.

Then with the `increase` strategy (the default), you'll get the following upd

[2022-10-18 21:25] jerbob92 commented on #5903
Thanks, will check tomorrow!
Another question: when the latest version available is already the current version, it still does all the pip-compile logic, would that really be necessary?

[code]

[2022-10-18 21:31] deivid-rodriguez commented on #5903
That's a good point, and I think there may be room for improvement there because the real updater does something similar. And I believe that's an optimization that would apply to more ecosystems and dependency managers, not only python + pip-compile?

[2022-10-18 21:35] jerbob92 commented on #5903
Yeah that's right, it would apply to any ecosystem, but it wouldn't really make any sense for any ecosystem to do more work when it already knows that you are on the latest version.

[2022-10-19 05:37] douglasg14b commented on #4364
Are there particular troubles with implementing a `.dependabotignore` file right away?

[2022-10-19 06:15] Kurt-von-Laven commented on #5234
[Here](https://github.com/ScribeMD/docker-cache/network/updates/486670590) is an example of Dependabot firing automatically immediately upon a Dependabot pull request being merged (with `open-pull-request-limit: 1`). It was not triggered by its schedule, but rather because there was now an available slot to open a pull request in. It failed to run with the following error message:

[code]

This do

[2022-10-19 06:40] osdiab commented on #1297
wondering when this will be generally available - thanks!

[2022-10-19 07:48] rizqirizqi commented on #1297
looks like the MR is already merged and it's just waiting for the next release?

[2022-10-19 08:11] aliculPix4D opened #5925 "Latest version may fail to be detected if manifest list of latest version is missing some architectures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

Docker

### Package manager version

v0.212.0

### Updated dependency
PR example: https://github.com/Pix4D/dependabot-bug-report/pull/1

[code]

### What you expected to see, versus what you actually saw

Short summary of the problem:

Due to a current issue with release process for Python D

[2022-10-19 08:20] jerbob92 commented on #5903
@deivid-rodriguez Is it possible to run this CLI with my changes?

[2022-10-19 10:18] t-tiger opened #5926 "Unrelated libraries are updated with bundler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

Bundler

### Package manager version

bundler `2.2.32`

### Language version

Ruby `2.7.2`

### Manifest location and content before the Dependabot update

/Gemfile

### dependabot.yml content

[code]

### Updated dependency

When updating [warning](https://github.com/jeremyevans/ruby-warnin

[2022-10-19 10:29] deivid-rodriguez commented on #5926
Thanks for reporting.

I guess related to the upgrade of Bundler at https://github.com/dependabot/dependabot-core/pull/5509.

Can you share a public repository that reproduces this?

[2022-10-19 10:31] t-tiger commented on #5926
Thank you for quick response.

Sorry, this case is inside private repository at my work 🙇

[2022-10-19 11:45] deivid-rodriguez commented on #5925
Wow, this is such a nicely written curated report, thanks so much! 💜

I investigated a bit the history of this. We started monkey patching https://github.com/deitch/docker_registry2 at 58b2624866e0f28f9cef9189f2ef9bcbb316844b in order to fix incorrect digest updates reported at https://github.com/dependabot/dependabot-core/issues/2962.

However, it sounds like the monkey patch may not work well fo

[2022-10-19 11:55] joakime commented on #4364
In our use case, we have a repo with support for 3 different major runtimes (java).

We can't use dependabot on it as it tries to keep all 3 directories aligned to the same versions (which doesn't work in java).
So we want the ability to setup 4 different configurations in the dependabot.yml to specify ...

1. root & core updates (ignoring directories for runtimes)
2. updates for runtime 1 directo

[2022-10-19 12:02] deivid-rodriguez commented on #4364
Not particularly, we just want to be sure we have a proper understanding of what's needed before committing to adding any feature. And even if we decided to go with that, it may not be prioritized at all anyways.

So we want the ability to setup 4 different configurations in the dependabot.yml to specify ...

And the `directory:` option does not work for you, right?

[2022-10-19 12:10] deivid-rodriguez commented on #5903
Yes! If you install the CLI and then run the [dependabot script](https://github.com/dependabot/dependabot-core/blob/eaf59fba24777fc015d8ad0888aebd65ca14056e/script/dependabot) in this repo, it will automatically mount your local tree into the CLI container.

[2022-10-19 12:46] joakime commented on #4364
The `directory:` without ignore is not useful on a maven project.
So for configuration 1 (root & core updates), the directory is `/`, so as to get the top level pom.xml and important core level projects.
But we need to exclude / ignore directories like `/runtime-1/*` or `/integration-tests/*` (which contains validation of support for older library versions) from the dependabot execution on that co

[2022-10-19 13:05] jurre commented on #5234
Thanks for checking in!

Yeah it was actually never the intended behavior to _immediately_ open a PR as soon as a slot is available, but that was a side-effect that crept into Dependabot from another feature we'd shipped.

I just released a change that should prevent this retry from happening in the first place, so hopefully you won't see this error'ed run show up anymore 🤞

[2022-10-19 13:52] kachkaev commented on #5830
I wonder if this can be implemented upstream, i.e. in Yarn itself: https://github.com/yarnpkg/berry/issues/4976

[2022-10-19 13:56] kachkaev commented on #1297
Re calling `yarn dedupe`: I created an upstream issue (https://github.com/yarnpkg/berry/issues/4976) – feedback welcome! 🙏

[2022-10-19 14:46] jerbob92 commented on #5903
I have just tested it out with the CLI and it will indeed create an update for `requests`, even though that dependency would be removed in other PR's. My problem with this is that this will only happen if you have superfluous dependencies in your requirement txt file. But those would already be removed by other Dependabot MR's, so it would be pretty weird if you actually have them.

I don't really

[2022-10-19 14:47] deivid-rodriguez commented on #4364
I see, so at least `directory:` works for `/runtime-1` and siblings, but not for root updates, correct?

[2022-10-19 15:20] deivid-rodriguez commented on #5903
Right, thanks for verifying all this.

So indeed we have a decision to make, it seems like a too tiny feature to block speeding up things like this. However, I wonder if we can modify your patch to be zero controversial, like this:

[code]

Namely, only run this extra `pip-compile` when updating indirect dependencies. This way, most project will get this speed up, and we can move the discussion of

[2022-10-19 15:23] deivid-rodriguez commented on #5234
Awesome @jurre 💪! So I'll take my chances and will close this. Of course if everyone hits this again, please open a separate ticket about it!

[2022-10-19 15:23] #5234 closed

[2022-10-19 15:37] joakime commented on #4364
@deivid-rodriguez the `directory: ` configuration works in many simple maven projects.

However, if our `/runtime-1` has it's own `/runtime-1/integration-test/` then the simple `directory: ` configuration wouldn't work without the ability to specify what to skip.

Right now, many of our problematic dependencies (found in `/integration-test/`) are being skipped on a per-dependency basis with the `i

[2022-10-19 16:08] ghjm commented on #4364
My situation is that I have a repo with a gir submodule in it.  I don't have control over what's in the other repo and there's no point having Dependabot scan it.  But I can't use `directory:` because my own go.mod is in the root.  Ignoring the directory via `.dependabotignore` would work fine for my use case.  (Though it would be nice to still get update notifications on the submodule itself.)

[2022-10-19 16:43] jurre commented on #5885
@scottdickerson any other way we could try and reproduce the issue maybe?

Curious also; why do you have the `.npmrc` file checked into that repo? I thought yarn doesn't use it?

[2022-10-19 17:10] Kurt-von-Laven commented on #5830
Yarn has already declined this feature request. They are open to a plugin that does what you propose, but that wouldn't help Dependabot.

[2022-10-19 18:02] billinghamj opened #5927 "Dependabot cannot update to a non-vulnerable version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

Yarn 3.2.0

### Language version

_No response_

### Manifest location and content before the Dependabot update

[js/yarn.lock](https://github.com/wearemojo/mojo/blob/-/js/yarn.lock)

<img width="1512" alt="Screenshot 2022-10-19 at 18 51 44" src="https://use

[2022-10-19 18:03] billinghamj commented on #5927
Important note: the Yarn v2 flag is enabled for our repo ⚠️

@jurre Tagging you [as requested](https://github.com/dependabot/dependabot-core/issues/1297#issuecomment-1276029516) 😊

[2022-10-19 18:20] pavera commented on #5927
I'll take a look at this @billinghamj.  I'm actually setting up a test based on a similar issue from last week.  Hopefully I can run it to ground quickly.

[2022-10-19 18:32] jakecoffman commented on #2305
Sorry for the delay! I think this PR should have fixed the issue: https://github.com/dependabot/dependabot-core/pull/5924

Dependabot didn't know how to look up snapshot URLs, but now it does.

[2022-10-19 19:19] omnipitous commented on #4364
In our case, which from previous comments seems somewhat typical, we can't skip the root of the repo as that is the root of the project and the Maven hierarchy descends from there so sounds like "directory:" wouldn't work unless we were able to use a "directory:" section to *exclude. We have a few subfolders that we do not want scanned and a BIG pile that we do so from a practical standpoint "excl

[2022-10-19 19:50] jerbob92 commented on #5903
@deivid-rodriguez nice, just tested that out, that seems to work! :smile: I have updated the PR and also improved the comment about the second `pip-compile` run.

[2022-10-19 20:12] pavera commented on #5927
I'm able to successfully recreate this by including a private package that isn't available on registry.npmjs.org or registry.yarnpkg.com.  Looking at the logs it appears this is the state your repo is in as well.  I'm now investigating the exact cause of the failure.

[2022-10-19 20:28] jakecoffman commented on #2291
I've improved private registry support with #5924, #5908, #5907, and #5884.

@gianielsevier has a specific issue open for that case

I'm going to close this out, feel free to open a new issue with details if you're still having problems.

Thanks for you patience!

[2022-10-19 20:28] #2291 closed

[2022-10-19 20:46] prplecake commented on #2804
It's impressive this has been an issue for going on two years now.

If this weren't associated with GitHub, I bet this app would've been disabled a long time ago for creating such a large amount of spam.

[2022-10-19 21:06] jakecoffman commented on #3806
`replaces-base` for Maven was implemented in core in https://github.com/dependabot/dependabot-core/pull/5908

Let me know if you have any issues with it.

[2022-10-19 21:06] #3806 closed

[2022-10-19 22:52] deivid-rodriguez commented on #2305
Nice!

@rknj I know this issue is old and you may no longer be interested, but if you are still having issues here feel free to reopen this ticket!

[2022-10-19 22:52] #2305 closed

[2022-10-20 01:02] Twistedsnail opened #5933 "pyproject.toml dependencies not reported or updated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

pip

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

https://github.com/Twistedsnail/pip-dependabot/blob/master/pyproject.toml

### dependabot.yml content

https://github.com/Twistedsnail/pip-dep

[2022-10-20 01:14] t-tiger commented on #5926
I made a public repository that extracts a subset of libraries. As a result, dependabot works as expected 🤔
https://github.com/t-tiger/dependabot-test/pull/1

After I created a PR, I found other repositories in the company don't have the same problem.
One repository which has the most complex dependency shows the issue.

[2022-10-20 01:19] deivid-rodriguez commented on #5933
This is a duplicate of #3290 and will be fixed by #5661!

[2022-10-20 01:22] #5933 closed

[2022-10-20 08:07] deivid-rodriguez commented on #5926
That's too bad. One question, was the PR created with unrelated dependencies up to date with your default branch?

[2022-10-20 13:02] billinghamj commented on #5927
Nice, thank you!

Yeah we have several packages within our monorepo/Yarn workspace

[2022-10-20 13:05] pavera commented on #5927
I've got a fix https://github.com/dependabot/dependabot-core/pull/5930 I'm getting ready to deploy.  It still requires that any private registries be correctly configured or the update will fail, but previously even with correct configuration the update would fail.

[2022-10-20 13:12] deivid-rodriguez commented on #2925
I think we have actually fixed this issue recently though some internal changes. I'm going to tentatively close this, but please reopen if you're still running into this. Thanks!

[2022-10-20 13:12] #2925 closed

[2022-10-20 14:38] pavera commented on #5927
@billinghamj I've deployed the above fix now, could you give it another try and see what the result is?

[2022-10-20 14:46] kachkaev commented on #5830
They haven't closed https://github.com/yarnpkg/berry/issues/4976 yet depsite pointing to an older discussion (https://github.com/yarnpkg/berry/issues/2770). Dependabot is a pretty convincing case to tip the scales IMHO – it’d be great if someone from the team could contribute to the discussion.

[2022-10-20 14:46] billinghamj commented on #5927
@pavera Sorry, we manually updated yesterday as it was a security alert

[2022-10-20 14:55] pavera commented on #5927
In that case, I'll go ahead and close this, feel free to re-open it if another security alert comes up and we fail to provide a PR.

[2022-10-20 14:55] #5927 closed

[2022-10-20 15:02] Nishnha commented on #5880
I think the issue with the PR body is because `ansi-regex` is being parsed as a git registry and pulling the latest version from the registry https://github.com/dependabot/dependabot-core/blob/f28709ac6c59cb0f76c35adf3946719a4aef3f21/common/lib/dependabot/pull_request_creator/labeler.rb#L124-L131

I think we would want to have a special case for security updates?

[2022-10-20 17:12] #4168 closed

[2022-10-20 17:15] jakecoffman commented on #5543
I made a number of improvements to how Dependabot works with Maven. I ran the xwiki update locally with these changes and it seems to be working!

If you see any other issues with this feel free to reopen.

[2022-10-20 17:19] jakecoffman commented on #4168
Sorry for no response for almost a year. I think #5924 and #5931 should have fixed this.

Your report was useful in recreating the issue, so thanks for filing this and linking to the code!

Feel free to reopen if you're still seeing the same problem.

[2022-10-20 18:53] jurre commented on #1297
I'm happy to say that Yarn Berry support is now available on all repositories! 🎉  Thanks to everyone for providing valuable feedback and help with getting this shipped!

If there are any edge-cases that we've missed, please feel free to open up new issues for those and we'll try to fix them, but I'm going to close this issue out ❤️

[2022-10-20 18:53] #1297 closed

[2022-10-20 19:16] kienstra commented on #4146
Hi @jakecoffman,
You're probably really busy, so thanks for any time you might be able to give.

Would it be possible to fix this issue?

If dependabot could [ignore devDependencies](https://github.com/dependabot/dependabot-core/issues/4146#issuecomment-1119006163), it'd be much more useful for npm. Now, we're basically ignoring alerts because almost all are false.

Sorry for the random ping, and

[2022-10-20 19:27] #5916 closed

[2022-10-20 19:33] tduncanjc commented on #4146
If you're facing this issue when trying to get vuln metrics/KPI, you can use the graphql api to add the [scope filter](https://github.blog/changelog/2022-06-23-dependabot-alerts-filter-alerts-by-the-scope-of-the-dependency-runtime-and-development/) to get the correct aggregate of vulns.

something like this:
[code]

Curious if this is the same behavior/attitude towards Rust, PHP, etc. as they have

[2022-10-20 20:34] kylerjensen commented on #1297
Thank you @jurre!

[2022-10-20 20:48] francisdb commented on #4669
For us this issue appeared because in the past we were using our private repo as proxy for the central npm repo, public packages were in `yarn.lock` listed as coming for our private repo. Somehow this made dependabot look for our private packages in the public repo. Possibly also related that we we have the same `@company/...` for our public and private packages.

The (temporary?) solution was rem

[2022-10-20 20:56] jakecoffman commented on #5111
Thanks for the report.

This is sort of a duplicate of https://github.com/dependabot/dependabot-core/issues/5543

The underlying issue was due to Dependabot not being able to lookup parent POMs that are snapshots. Dependabot found the variable `commons.version` in the child POM and failed the job since it couldn't find the value it held.

It's true that Dependabot could have realized that `commons

[2022-10-20 21:23] leoamigood opened #5945 "Infinite loop when resolving npm dependency"
### Package ecosystem

npm

### What you expected to see, versus what you actually saw

Somehow when there is an infinite loop when dependabot tries to resolve [this repo](https://github.com/rodcisal/meteor-react-native-simple-boilerplate) dependencies.

Looks like it's stuck in a loop here:
https://github.com/dependabot/dependabot-core/blob/e7c93f9d89d191cfd75bf0fe4288c51d3010ae13/npm_and_yarn/li

[2022-10-20 21:26] leoamigood commented on #5945
Same issue with [this repo](https://github.com/zhwei820/rnNavExample)

[2022-10-20 21:33] bdragon commented on #4652
As of #5913 we'll now fall back to using the PR title as the commit message if the old commit has been lost. This is an interim solution until we have the capability to recreate the commit message for PR updates ([context](https://github.com/dependabot/dependabot-core/issues/4652#issuecomment-1022732826))

[2022-10-21 00:32] ybiquitous commented on #5789
@deivid-rodriguez Thanks for the quick fix! 👏🏼

[2022-10-21 05:14] tmortagne commented on #5543
Thanks !

[2022-10-21 06:33] ashkulz commented on #5917
@deivid-rodriguez I think this is a known issue, and were going to solve it in a bundler update. Did that not happen with 2.3.22?

[2022-10-21 07:27] tmortagne commented on #5543
@jakecoffman it does not seems like I can reopen but I tried to run dependabot on https://github.com/xwiki/xwiki-platform and it's failing for something else now:

[code]

[2022-10-21 07:44] viniciuspalma commented on #1297
I believe that it's not working with [Zero Installs ](https://yarnpkg.com/features/zero-installs) feature together with --immutable option when running yarn.

Seems that the `.yarn/cache` isn't being included in the commits neither the `pnp.cjs` file what cause `yarn install --immutable --immutable-cache` to fail, since there's change on these folders/files. This command is run before each test jo

[2022-10-21 09:38] oliversalzburg commented on #1297
@viniciuspalma Create a new issue. See https://github.com/dependabot/dependabot-core/issues/1297#issuecomment-1276029516

Please lock the issue before we get a dozen more "Thank you" responses and people attaching new problems to the ticket.

[2022-10-21 09:48] deivid-rodriguez commented on #5789
No problem!

[2022-10-21 09:50] deivid-rodriguez commented on #5917
Which problem are you having, exactly the same? Here Dependabot is behaving as expected, and Bundler is having an issue where it's removing too many platforms. Yet, removing the RUBY one in particular is correct. I plan to move this issue to the Bundler repo.

[2022-10-21 12:40] Snailedlt commented on #2824
Would be neat if directory could take a list or an array of paths too...
maybe something like this?
[code]

[2022-10-21 13:41] jurre commented on #1297
@viniciuspalma that should be supported, but please open up a new issue and describe the issue you're having. Links to repo's where it can be reproduced will make it much easier for us to resolve the issue.

I'm going to lock this issue as suggested, but please do open up new issues for any problems you run into.

[2022-10-21 13:48] scottdickerson commented on #5885
absolutely thank you @pavera

[2022-10-21 14:13] scottdickerson commented on #5885
It appears to still be failing for us @pavera when dependabot checks for upgrades: https://github.com/Contrast-Security-Inc/skeletor/network/updates/489341448
[code]

[2022-10-21 14:29] jakecoffman commented on #5543
That's a bummer. It seems Dependabot is failing to record the large amount of manifests in the XWiki project. Dependabot keeps track of the manifest paths to provide extra functionality like starting a run when a manifest changes to pick up added/removed dependencies.

We also are tracking this internally and figuring out how to solve it without degrading functionality.

[2022-10-21 14:40] #2304 closed

[2022-10-21 14:41] tmortagne commented on #5543
OK, thanks for the debug @jakecoffman !

[2022-10-21 16:13] agrobbin opened #5946 "Yarn v2/v3 zero-install not updating cache files"
As first mentioned by @viniciuspalma in https://github.com/dependabot/dependabot-core/issues/1297#issuecomment-1286586033, dependency updates on Yarn v2/v3 are not including updates to cache files, making `yarn install --immutable --immutable-cache` fail due to outdated cache data.

An example Dependabot run that generated a handful of dependency updates without updating the cache information in o

[2022-10-21 16:30] slawekjaranowski opened #5947 "Dependabot use snapshots repositories for checking released versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

Maven

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus what y

[2022-10-21 16:56] jurre commented on #5946
Could you link to a repo where this reproduces?

The new dependency should be included in the cache, which I can reproduce in test repo's and we also have [tests for](https://github.com/dependabot/dependabot-core/blob/a145284c8fd456926da231e690e843f907a41e5f/npm_and_yarn/spec/dependabot/npm_and_yarn/file_updater_spec.rb#L2995-L3005).

There is an upstream issue on yarn regarding the old entry not

[2022-10-21 16:57] pavera commented on #5946
We currently run yarn with `--mode=update-lockfile`, I believe this prevents us from removing items from the cache though I've certainly seen the cache get new items added.  Since yarn install will probably attempt to remove the extraneous items from the cache I assume the failure is with `--immutable-cache` which will fail if it modifies the cache.

[2022-10-21 17:01] agrobbin commented on #5946
The repo in question is `yassosio/yassos`, a private repo. PR 313 is an example PR that should help debug!

Looking more closely, it might actually be 2 issues, the old cache item not being removed that you mentioned above, as well as `.pnp.cjs` and `.pnp.loader.mjs` not being updated.

[2022-10-21 17:12] jurre commented on #5946
We're actually not able to see any of that 😄

Maybe we need to try and manually do this for now? Seems a bit icky 😞 We could drop `--mode=update-lockfile` for repo's that have a cache folder checked in, but it degrades performance significantly from my testing

Ah, I think this should actually be an easy fix, we just need to track those files as things that need to be updated with the PR. We'll ne

[2022-10-21 17:18] agrobbin commented on #5946
@jurre thanks for the quick response!

Re: `--mode=update-lockfile`, I think your suggestion makes a lot of sense, otherwise the caching behavior as it stands does not have much benefit, as the cache would effectively continue to grow and grow, and the recommendation from Yarn itself of running `--immutable --immutable-cache` in places like CI would not work. I'm not sure what the performance impa

[2022-10-21 17:19] ShockwaveNN commented on #5654
Hi, seems this issue is resolved and I got updates for both of those libraries

Can we close this issue? Is there any commit which fixed it?

[2022-10-21 17:46] deivid-rodriguez commented on #5654
Yes, this was fixed by https://github.com/dependabot/dependabot-core/pull/5929, thanks for letting me know since I had not seen this ticket 👍.

[2022-10-21 17:46] #5654 closed

[2022-10-21 17:50] ShockwaveNN commented on #5654
Yeah thanks for fixing it )

[2022-10-21 17:59] deivid-rodriguez commented on #5128
@AtzeDeVries I'll just close assuming this has been fixed, but if you're still running into this feel free to reopen. Thanks!

[2022-10-21 17:59] #5128 closed

[2022-10-21 18:03] deivid-rodriguez commented on #1644
Sorry @martijnversluis for not replying to this ticket earlier. Are you still having this issue? I have not seen this error for a long time so I believe it's actually fixed!

[2022-10-21 19:42] Kurt-von-Laven commented on #5234
I observe this change working as intended! Thank you!

[2022-10-21 20:37] jeffwidman commented on #5914
I'm going to close as a duplicate of https://github.com/dependabot/dependabot-core/issues/2804. I realize that one is a bit noisy/hard to track, but it's still better for everyone if we keep discussion in one place.

[2022-10-21 20:37] #5914 closed

[2022-10-21 20:43] jeffwidman commented on #5911
I was chatting with @pavera about this last week and he mentioned something that's probably related to this refactoring.

Essentially that many ecosystems do a "find if there's a valid update available"  which then passes to the next stage in the pipeline "yes, we should update"... so then the next step does a "okay, we know we can update, so now go lookup what version we should update to and then

[2022-10-21 22:13] hugovk commented on #2804
Some good news from a [duplicate](https://github.com/dependabot/dependabot-core/issues/5914#issuecomment-1282872261):

👍

[2022-10-22 06:34] zioyero opened #5949 "Replaced dependency which does not exist causes dependabot to fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

gomod

### Package manager version

1.19.2

### Language version

1.19.2

### Manifest location and content before the Dependabot update

[code]

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what you actually saw

If a go mod

[2022-10-22 09:20] deivid-rodriguez commented on #5811
Just checked again against the repo reported by @LeeeeT and poetry groups are simply ignored, `dependency-type` does not seem to play any role here. So I'll update the issue title to reflect this.

[2022-10-22 09:23] deivid-rodriguez commented on #5811
Actually, if this is simply that groups are not supported, which seems the case, this is a duplicate of #5296. So I'll close this ticket in favor of #5296. Please subscribe to that other issue for updates!

[2022-10-22 09:23] #5811 closed

[2022-10-22 09:26] deivid-rodriguez commented on #5766
@jgopel I don't see us parsing poetry groups anywhere so I don't know how `allow: - dependency-type: all` would fix this. My guess is that some transitive dependencies of yours are also included in some of your groups, so you still get updates for them. But it's not because being included on any groups, but because of being indirect dependencies, which the `allow: - dependency-type: all` instruct

[2022-10-22 10:34] PerchunPak commented on #4386
This could be done by adding `update-types` in `allow`, so users will convert

[code]
to
[code]

[2022-10-22 11:01] deivid-rodriguez commented on #5017
I'm pretty sure this was actually fixed by https://github.com/dependabot/dependabot-core/pull/5918. I had forgotten about this issue and opened that in response to a different report 😅.

So I'm closing this as fixed, but if I'm wrong please feel free to reopen!

[2022-10-22 11:03] deivid-rodriguez commented on #5299
I actually checked this using [dependabot's CLI](https://github.com/dependabot/cli) against https://github.com/microsoft/torchgeo/tree/ee6132041b465f39d516c72e8ee0b1338a592459 and got the expected results (no updates proposed for dependencies at `[.github/requirements-min.txt](https://github.com/microsoft/torchgeo/blob/ee6132041b465f39d516c72e8ee0b1338a592459/.github/requirements-min.txt). Maybe s

[2022-10-22 11:09] deivid-rodriguez commented on #5271
I think we did some work to fix this for `npm`, but not sure about `yarn`. Hopefully someone else in the team can confirm.

[2022-10-22 14:15] jwillemsen commented on #5017
Rerun dependabot on https://github.com/DOCGroup/MPC/blob/master/.github/workflows/windows.yml but run-vcpkg is not  detected as to be updated

[2022-10-22 16:46] adamjstewart commented on #5299
Are you able to reproduce this with older versions of dependabot CLI? Just want to make sure your setup indeed reproduces the issue I was seeing for older dependabot before confirming that it's fixed in newer dependabot.

[2022-10-22 16:59] deivid-rodriguez commented on #5017
Then I was indeed wrong, thanks for verifying and providing a public repo that we can use to reproduce this!

[2022-10-22 17:17] deivid-rodriguez commented on #5299
Trying this with every single Dependabot CLI version just to confirm that the bug actually existed at some point seemed a bit too much, so I went ahead, forked your repo, rewinded it back to the commit where you had a `.github/requirements-min.txt` file, and clicked on "Check for updates", and no PR was created and no `.github/requirements-min.txt` file appeared in the list of tracked files in the

[2022-10-22 17:17] #5299 closed

[2022-10-22 17:27] jgopel commented on #5766
I understand what you're saying, but I don't think it aligns with what I'm seeing on my end. Unfortunately, the repo in question is private or I'd send it over for you to take a look at, but I should be able to recreate the general setup in a standalone repository. Would that be helpful?

[2022-10-22 17:54] deivid-rodriguez commented on #5766
It would be super helpful, yeah!

[2022-10-22 19:25] jgopel commented on #5766
This should capture it - https://github.com/jgopel/dependabot-poetry-demo/. You'll note that the main group update landed, but then a `git rebase --root` broke the PR. If a new version of that dep were to come out, I would expect it to work fine. Important to note here is that there are PRs from the main group, the dev group, and the custom group (named foo).

[2022-10-22 19:40] deivid-rodriguez commented on #5299
Just to clarify, because I don't think I worded the above appropriately. I think running a bisection on this would be interesting and doable. We would need to run the CLI as provided in the `script/dependabot` script in this repo, and jump back and forth using `git bisect` running an update against your repo on each step. But it's a bit of work that may not be worth the effort.

[2022-10-22 19:40] deivid-rodriguez commented on #5766
Thank you, I will check that 👍.

[2022-10-22 19:44] jgopel commented on #5766
Of course - thanks for putting time into this. Please let me know if there's any additional context that I can provide.

[2022-10-24 00:06] t-tiger commented on #5926
Sorry for the late response.

Yes.

Currently, I'm trying to find the condition how to reproduce by increasing/decreasing libraries in Gemfile..

[2022-10-24 02:45] pavera commented on #5885
OK, I think I see the issue here.  The `.yarnrc.yml` should look like:
[code]
Apologies for the earlier guidance, this explains why it was breaking locally/in CI because the :-bypass needs to be inside the variable expansion brackets.  You were getting `Actual-access-token:-bypass` with the earlier config.

If you can give it another shot with the above `.yarnrc.yml` we'll see what we get.

[2022-10-24 07:41] deivid-rodriguez opened #5961 "Dependabot reverses the original requirement order in the PR title"
Dependabot reverses the original requirement order in the PR title, we should try fix that.

I'm marking this as `python:pip` but I'm not 100% sure it's ecosystem specific.

_Originally posted by @deivid-rodriguez in https://github.com/dependabot/dependabot-core/issues/5893#issuecomment-1288555047_

[2022-10-24 08:02] zioyero commented on #5949
I noticed while attempting a fix that you actually already filter out non-existent modules, at least I [found a test for it](https://github.com/zioyero/dependabot-core/blob/b6c4784741b8d159b3c19636412c032519371817/go_modules/spec/dependabot/go_modules/file_parser_spec.rb#L157-L166).

Then my more specific issue is that our backend does respond with HTTP 200 when being queried by dependabot, and is

[2022-10-24 09:09] konsalex commented on #1828
For anyone landing here, you can set the `[open-pull-requests-limit](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#open-pull-requests-limit)` to `0` so only security updates PRs will get created

[2022-10-24 10:46] fcheung opened #5962 "Update tapioca definitions when updating gems"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I use sorbet in my rails applications, in conjunction with [tapioca](https://github.com/Shopify/tapioca). Amongst other things, tapioca generates rbi files for all the gems you use, so that sorbet is aware of them. A consequence of this is that when adding/updating gems you need to run

[c

[2022-10-24 10:47] wojtekmaj commented on #5946
Here's a PR that Dependabot has just created in my repo in which .yarn/cache is checked out:

![obraz](https://user-images.githubusercontent.com/5426427/197509078-11c09999-f114-49d3-b432-3f2fde0b33bf.png)

As you can see, clearly, old core_js is no longer used, as it's completely wiped from yarn.lock. However, the binary from `.yarn/cache` has not been removed.

[2022-10-24 12:56] jonaskuske commented on #5946
And `.pnp.data.json`, created through `pnpEnableInlining: false`!
From Yarn 4 it'll always be `.pnp.data.json` (https://github.com/yarnpkg/berry/pull/4773), but prior to that it's configurable via `.yarnrc.yml#pnpDataPath`.

[2022-10-24 13:34] #5903 closed

[2022-10-24 14:18] scottdickerson commented on #5885
it worked, thank you for the help! @pavera

[2022-10-24 14:18] #5885 closed

[2022-10-24 14:34] dennisMeeQ commented on #4993
For those still looking for a solution:
The solution is described here: https://github.com/dependabot/dependabot-core/issues/5226

Short version:
* Do not set up the `dependabot.yml` as described above (by listing each package individually) but by just listing the npm root like so:
[code]
* To trigger dependabot to also properly fix the `package-lock.json`, set `versioning-strategy: increase`

[2022-10-24 14:49] deivid-rodriguez commented on #5926
Actually I think this is expected. Dependabot's behavior is "non conservative", namely, when updating a dependency, it also updates indirect dependencies of it. And I believe `nokogiri` is an indirect dependency of `rspec-rails` (rspec-rails > actionpack > rails-dom-testing > nokogori).

The above behavior is intentional, see https://github.com/dependabot/dependabot-core/issues/2246.

However, I d

[2022-10-24 15:46] danbenton-mojdt commented on #1150
I'm experiencing the same issue of the branch being deleted before the workflow (triggered by the pr being closed) has time to start up

[2022-10-24 16:10] deivid-rodriguez commented on #5949
@zioyero Thanks so much for reporting this, investigating a fix, and starting it. So, you think the issue is not in Dependabot itself after all?

[2022-10-24 16:28] natestemen commented on #5554
Hey @deivid-rodriguez, sorry for the slow response, and apologies for the broken link in my original comment. I tried recreating the issue and unfortunately cannot. I will reopen this if I come across it again.

[2022-10-24 16:28] #5554 closed

[2022-10-24 16:37] zioyero commented on #5949
@deivid-rodriguez no problem! I think the issue is more of an edge case than I originally suspected, but I believe it's still a worthwhile fix to dependabot. Attempting to update dependencies that are ultimately not used by the projects adds noise to dependabot PRs, so I think it's still worthwhile. I'm working on adding a test (the dev container tests are kind of slow to run on my machine) for th

[2022-10-24 16:41] deivid-rodriguez commented on #5554
Thanks for getting back to us and checking this again 💯

[2022-10-24 17:16] jakecoffman commented on #2554
I can't reproduce this error, I think I fixed this upstream earlier this year: https://github.com/emancu/toml-rb/pull/138

Let me know if you're still having issues.

[2022-10-24 17:16] #2554 closed

[2022-10-24 21:09] deivid-rodriguez commented on #3290
We've shipped preliminary support for updating dependencies following PEP621 in pyproject.toml files with #5661.

Of course there may be bugs and missing features, but I'm closing this main issue now and will track any future enhancements as separate issues.

Thanks!

[2022-10-24 21:09] #3290 closed

[2022-10-24 23:37] #5888 closed

[2022-10-25 00:20] zhan9san commented on #3290
@davidism
Thanks for your time
Please allow me to ask a stupid question.

Why it is bad if libraries pin like that?
Why it's better to support for lock files?

[2022-10-25 00:28] ofek commented on #3290
@zhan9san https://iscinumpy.dev/post/bound-version-constraints/

But there's no cause for concern:

[2022-10-25 08:03] staabm opened #5970 "support /my/directory/<anything.yml> for the github-actions ecosystem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

when configuring a custom directory for the github-actions ecosystem, it seems dependabot is searching for a `action.yml` and does not allow me to put any other named file into this directory.

see the error in the screenshot:
![grafik](https://user-images.githubusercontent.com/120441/1977

[2022-10-25 12:05] tyrann0us commented on #5017
Can confirm that #5918 still does not detect newer versions of `ramsey/composer-install` in https://github.com/inpsyde/reusable-workflows/blob/main/.github/workflows/tests-unit-php.yml and other workflow files in this repo.
Let's wait for #5963 then. 🙂

[2022-10-25 13:42] mloberg commented on #5926
I'm having a similar issue, but I'm getting a downgrades from unrelated libraries.

I can't share the repository, but the PR is updating aws-sdk-core from 3.160.0 to 3.164.0. As part of this, it's downgrading an unrelated kubeclient library along with others.

![dependabot-pr](https://user-images.githubusercontent.com/159041/197789413-059b0047-3fb6-48b2-9bd2-43e28cbcb4d0.png)

[2022-10-25 14:30] mloberg commented on #5926
mloberg/dependabot-bundler-downgrade-issue#2 matches the issue I mentioned exactly. The other PRs that were created also match the PRs that were generated and have the same issue where a bunch of unrelated libraries are being changed

[2022-10-25 14:35] deivid-rodriguez commented on #5926
Thank you! I'll have a look!

[2022-10-25 15:25] pavera commented on #5946
I've deployed the fix for this, feel free to re-open if you continue to see issues with zero-install enabled repos.

[2022-10-25 17:41] diguid commented on #5809
Is there an easy way of figuring out the poetry version? I'm not familiar with ruby, so that's making it a lot more difficult than it should be 😬

[2022-10-25 19:02] deivid-rodriguez commented on #5809
I think you can use `run_poetry_command("pyenv exec poetry --version")` and parse the output. Does that help?

[2022-10-25 19:38] gabormagyar commented on #5946
@pavera Thanks for looking at this!

There's one more thing missing that I'd like to report. If packages report that they have build scripts, `yarn install` will unpack them into the `.yarn/unplugged` folder. This is reflected in the `.pnp.cjs` file. More info on this behavior [here](https://yarnpkg.com/advanced/lexicon/#unplugged-package).

Dependabot seems to undo these changes to the `.pnp.cjs`

[2022-10-25 20:57] bdragon opened #5975 "Enable fetching git submodules in cloning file fetchers"
Scenario: Go modules project using the `replace` directive to point to a dependency that is a git submodule of the project repo:

[code]

[code]

Current behavior: Dependabot currently fails to read `my-dep/go.mod` because the file fetcher clones the repository with `--no-recurse-submodules`.

Desired behavior: cloning file fetchers should be able to specify `--recurse-submodules` when appropriate

[2022-10-25 23:01] bryan-aguilar commented on #5757
I am seeing similar issues. [PR](https://github.com/aws-observability/aws-otel-collector/pull/1589) for ref
![image](https://user-images.githubusercontent.com/46550959/197897942-d6cc689f-f817-4634-9bfd-d67cd1a7f25e.png)

[2022-10-26 03:27] xsalefter opened #5976 "Dependabot not ignoring version that not follow semvers semantics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

maven

### Package manager version

maven 3.x

### Language version

java 11

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

https://github.com/killbill/killbill-oss-parent/blob/work-for-release-0.23.x/.github/dependabot.yml#L61

##

[2022-10-26 07:22] aliculPix4D commented on #5925
`python` 3.11 is out so as expected this issue `fixed` itself (for now) and dependabot now proposes the correct update: https://github.com/Pix4D/dependabot-bug-report/pull/2

[2022-10-26 08:10] deivid-rodriguez commented on #5925
Great, I think this is worth keeping open still, right?

[2022-10-26 08:11] aliculPix4D commented on #5925
Yes, my opinion is that this is still worth fixing in the Dependabot code, to prevent this issue occurring again in the future.

[2022-10-26 11:41] bmulholland commented on #5322
[Following instructions for Yarn's v2 upgrade](https://yarnpkg.com/getting-started/migration#step-by-step), which I did shortly after https://github.com/dependabot/dependabot-core/issues/1297 was released, actually upgrades to the latest Yarn version, not v2 (specifically `yarn set version berry`, which currently installs v3.2.4). Further, when committing that, dependabot doesn't throw an appropri

[2022-10-26 12:01] bmulholland commented on #5322
Actually, Yarn v1 seems generally much better supported than v2, where everyone has moved to v3. So the current dependabot support requires several sacrifices.

Beyond typescript, above, `yarn plugin import` breaks on Yarn v2:

[code]

[2022-10-26 12:29] xfix commented on #5322
Dependabot support Yarn v3 (https://github.blog/changelog/2022-10-20-dependabot-can-now-generate-security-and-version-updates-for-yarn-v2-and-v3/), if you have any issues with it, it probably would be a good idea to make a separate issue for it.

[2022-10-26 12:31] char0n opened #5977 "Dependabot corrupts `package-lock.json` when linking forked libraries as local git submodules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

8.11.0

### Language version

Nodejs@16.16.0

### Manifest location and content before the Dependabot update

https://github.com/swagger-api/swagger-editor/blob/2919f3d5b09fcfe46c29f8263075f265aae78116/package-lock.json

### dependabot.yml content

[code]

#

[2022-10-26 12:34] bmulholland commented on #5322
Oh interesting, I thought it was only Yarn v2. Thanks!

[2022-10-26 13:22] pavera commented on #5946
We believe this is caused by our policy on post install scripts. We currently disable post install scripts `yarn config set enableScripts false`. This is something we generally do across all package managers, for security reasons we attempt to run as little 3rd party code as possible. I'll confirm this config does cause the behavior noted and we'll go from there.

[2022-10-26 13:59] bmulholland opened #5978 "Dependabot timing out after Yarn Berry upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn berry

### Package manager version

3.2.4

### Language version

Node 16

### Manifest location and content before the Dependabot update

/package.json

### dependabot.yml content

# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to upd

[2022-10-26 15:31] sgarske opened #5979 ""@dependabot rebase" command recreates PR with new hash for gitsubmodule"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

gitsubmodule

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what y

[2022-10-26 18:19] pavera commented on #5978
@bmulholland thanks for taking the time to submit this issue.  I took a brief look and it does appear to be something around those lines you mentioned.  In order to get access to the logs in `/tmp/<random dir>/pack.log` and further debug the issue I'd need access to your repo.  If you're willing/able to grant that access we'd need a support ticket created via https://support.github.com. The suppor

[2022-10-26 18:35] jeffwidman commented on #5979
I get where you're coming from, but I don't think `@dependabot rebase` is the right move here.

Under the covers `@dependabot rebase` is re-running the job, and not limiting itself to only the current version--it looks for an updated version. I realize this is a bit non-intuitive, and I'm sorry about that.

Are two alternatives are changing the behavior so that it doesn't bump the version, but onl

[2022-10-26 18:35] #5979 closed

[2022-10-26 19:38] sgarske commented on #5979
No worries. Thanks for the information and clarification.  We were already talking about ways to change how we handled it but wanted to raise the question since our expectation was different from how it worked.

[2022-10-27 09:33] merceyz commented on #5946
@pavera If you use the `--mode="skip-build"` flag instead of the config you get the behaviour you're after.

https://yarnpkg.com/cli/install#options-mode%20%230:~:text=skip%2Dbuild,scripts%20at%20all

[2022-10-27 10:23] jessehouwing commented on #2824
Or the ability to use wildcards.
Or that dependabot would recursively search for my manifests.

[2022-10-27 10:49] bmulholland commented on #5978
Sure, filed #1849996

[2022-10-27 19:17] dsemarketer commented on #5812
Ive got the same behavior with yarn and codeartifact in #5441

[2022-10-27 20:37] #5975 closed

[2022-10-27 22:00] jeffwidman commented on #5787
Can you clarify how you're planning to actually use `dependabot-core`? I assume you're not just playing around with random method calls, but actually planning to build something with it.

In general for Ruby code, it's not hard to make it crash easily if you want to, by hitting code paths or feeding inputs nobody expects/uses.

I appreciate your bug reports, but it's actually not our goal to not c

[2022-10-27 23:37] 6f6d6172 commented on #5978
We're seeing similar, but for Bundler. Repositories that used to complete in a reasonable amount of time are now just timing out.

Notice the timestamps: fetching package metadata is no issue but eventually it just... stops, until the container's killed for timing out ~30m later.
[code]

It appears we can't manually trigger dependabot runs any more either (`Insights -> Dependency Graph -> Dependab

[2022-10-28 07:14] jeffwidman commented on #2217
Currently this is buried behind a feature flag for folks on GitHub.com...

We'd like to start slowly rolling it out for everyone, but before I do that, I'd like to test on a few repos to ensure no unexpected issues. I can / will setup a fake test repo, but there's nothing like live data to confirm things.

Anyone watching this issue care to volunteer to have their repo(s) be part of the beta test?

[2022-10-28 07:25] chadlwilson commented on #2217
Hi @jeffwidman Is this intended to support Helm templates? Or only raw K8s YAML?

https://github.com/gocd/helm-chart/tree/master/gocd is a Helm chart, so the deployment YAMLs are templates ([first](https://github.com/gocd/helm-chart/blob/master/gocd/templates/gocd-agent-deployment.yaml), [second](https://github.com/gocd/helm-chart/blob/master/gocd/templates/gocd-server-deployment.yaml), [third but

[2022-10-28 08:07] martinm82 opened #5987 "Workflows containing Jinja2 code result in dependabot parsing errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

github-actions

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what

[2022-10-28 08:32] martinm82 commented on #5987
My previous search was bad. I found now an older issue: https://github.com/dependabot/dependabot-core/issues/5970

[2022-10-28 08:34] martinm82 commented on #5970
I have the same issue. In my case I have bunch of workflows defined in a cookiecutter template folder (see the duplicate I created #5987 )

[2022-10-28 14:10] #3844 closed

[2022-10-28 16:10] danielvdao commented on #5917
@deivid-rodriguez Do you happen to know what the upstream fix was regarding this:

It sounds like that is the expected behavior based on the change you're mentioning because `sorbet-static` doesn't satisfy `ruby` platform as well, but I'd love to understand the full picture.

[2022-10-28 21:00] mlarraz opened #5989 "Ignore path-based gems"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

In a monorepo, you can have a number of gems that are linked to an app via symlink.

Since these gems are effectively unversioned, checking for updates is a waste of time. Given a large enough number of these, checking for updates on these can lead to Dependabot timing out and not getting

[2022-10-30 07:10] ItsSunnyMonster commented on #2027
Is this issue being ignored? It's been nearly 3 years...

[2022-10-30 22:45] pavera commented on #5978
@6f6d6172 your issue is probably a distinct issue. If you have a support ticket already our support escalation process should handle it shortly.

[2022-10-31 00:26] jeffwidman commented on #2217
@chadlwilson this change will support both raw K8s YAML and Helm files, _but only docker image tags_ within those files. As you noted, we'd need a bunch of additional tooling to support actual Helm template inheritance beyond just regex'ing out the docker image tags.

[2022-10-31 04:31] #4691 closed

[2022-10-31 04:38] jeffwidman commented on #4691
I just deployed this feature, many thanks to @jproberts for contributing the PR.

Many variations of version tags are supported, for examples see the unit tests:
https://github.com/dependabot/dependabot-core/blob/b4112ce4639d7eed1e3b2e0792eb7533f7cb125f/github_actions/spec/fixtures/workflow_files/pinned_sources_version_comments.yml#L7-L30

If you hit bugs please let us know.

[2022-10-31 10:33] My-MC opened #6001 "Missing loading `project.optional-dependencies` from `pyproject.toml`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

pip

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

Files that do not load: [pyproject.toml](https://github.com/My-MC/ffmpegwithpy-rust/blob/master/pyproject.toml)

### dependabot.yml content

[

[2022-10-31 11:33] bmulholland commented on #5978
FYI, I've granted support access now

[2022-10-31 14:56] IEvangelist commented on #2804
We'd love this too in the `dotnet/docs` repo, ideally, we could easily configure the disabling of fork PRs. We automatically approve and merge @dependabot PRs, so we added a condition to prevent that but the PRs are still causing our forks to diverge. https://github.com/dotnet/docs/pull/32097

[2022-10-31 15:05] chopeen commented on #2040
You can also configure a custom regex manager - https://github.com/renovatebot/renovate/discussions/10055#discussioncomment-4019611.

[2022-10-31 15:27] markdorison commented on #2999
I updated the [public example repo](https://github.com/ChromaticHQ/dependabot-timeout-demo/) to require Drupal `9.4.4` and I am still seeing Dependabot errors.

<img width="689" alt="CleanShot 2022-10-31 at 11 27 28@2x" src="https://user-images.githubusercontent.com/20355/199045642-ac991c33-fe29-44ab-a7fb-051f56217b58.png">

[2022-10-31 15:29] Gustry commented on #2804
It's true that running in a GH Action makes way more sense to me... At least we can configure manual triggers, choose more CRON options (one every 3 months is enough for me, I don't need a monthly updates), control the name of repository with a "if" ... Thanks for the suggestion

[2022-10-31 17:51] lizthegrey opened #6003 "[berry] ENOENT: no such file or directory when repacking branch build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn berry

### Package manager version

4.0.0-rc.27

### Language version

16.18

### Manifest location and content before the Dependabot update

https://github.com/eve-val/eve-roster/blob/main/package.json

### dependabot.yml content

https://github.com/eve-val/eve-roster/blob/main/.github

[2022-10-31 18:13] lizthegrey commented on #6003
Workaround: checking in the zip file in .yarn/cache works and prevents the need to re-bundle on the fly.

https://github.com/eve-val/eve-roster/pull/1411 did fix the next dependabot run (at a cost, namely that my downstream heroku buildpack then sees at least one file in cache and then does not merge with its own cache)

[2022-10-31 18:49] jeffwidman commented on #6001
Thanks for the report.

Quick question: How do you know the `project.optional-dependencies` aren't loaded? Is there one that is known to be outdated that Dependabot didn't open a PR for?

We only recently merged the PR that added `pyproject.toml` support, so my guess is this isn't so much a bug as simply something that hasn't been added yet, but I wasn't closely involved with that PR so not sure.

[2022-10-31 19:24] pavera commented on #6003
@lizthegrey Thanks for the report! I'm setting up to test. I wonder if it might be because we removed `--mode=update-lockfile` in an attempt to support zero-install repos, but for users without cache checked in, this might be causing issues. At any rate, I'll be investigating and will let you know.

[2022-10-31 20:49] pavera commented on #5978
Thanks @bmulholland. I've been able to run this in the debugger and it looks like the issue is possibly in corepack when it tries to pack a "Yarn Classic" package from source.  We use a proxy to isolate credentials from untrusted code execution, and corepack appears to be hard coded to reach out to https://classic.yarnpkg.com to install yarn v1 and perform the pack operation.  When this happens th

[2022-10-31 21:45] fbrodrigorezino opened #6007 "Same configuration failing in different repositories"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

poetry (pip)

### Package manager version

poetry 1.1.15, 1.2.2

### Language version

Python > 3.8

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus

[2022-10-31 23:37] jeffwidman commented on #6007
Hmm, sounds confusing.

I'm seeing a lot of `404`'s coming back from Artifactory, Pypi, etc in that second job. At first I thought it might be your Artifactory instance, but then the Pypi responses make it more likely it's our infra since it looks like this job is running in the cloud.

Did this just start happening or is it happening for several days/weeks?

[2022-11-01 00:12] lizthegrey opened #6008 "Request to link `@sentry` & `@opentelemetry` dependencies in Node/Yarn ecosystems"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

`@sentry/*` should be all combined into one update. e.g. updating `@sentry/tracing` should also update `@sentry/node` and `@sentry/browser`, otherwise you wind up with two or three updates that fail to type check separately but will work fine if combined:

https://github.com/eve-val/eve-ro

[2022-11-01 00:15] lizthegrey commented on #6008
A rough heuristic I'd propose is that if packages share the same prefix either `@foo/*` or or `foo` or `foo-*` and are being update from: and to: the same version numbers, they should be tried aggregated together.

[2022-11-01 00:25] jeffwidman opened #6009 "Bump Hex package manager to `2.0`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

We had to hold back the Hex package manager to `1.0.1` in https://github.com/dependabot/dependabot-core/pull/6006.

At some point we need to update `Hex` to `2.0.0` and fix that compiler error.

[2022-11-01 00:33] jeffwidman commented on #1286
👋 Have a related ask for any `Hex` / Elixir experts out there.

We  had to pin `Hex` earlier today to `1.0.1` in Dependabot due to a compiler error with the new `2.0.0` release. We obviously would rather stay on newest, but no one on the current Dependabot team is very familiar with the Hex / Elixir ecosystem. Anyone from the broader community want to take a stab at contributing a PR to fix #6009

[2022-11-01 00:48] jeffwidman commented on #6008
Yeah, I hear what you're saying.  That is annoying.

There's a couple of ways to tackle this:
* Have a pre-configured internal lists of packages that bump together... this is non-scalable across the number of ecosystems we support so we'd rather avoid that pain.
* Allow users to configure their own lists of packages that they want bumped together... this is an interesting idea, not sure what it'd

[2022-11-01 03:58] ashkulz commented on #5926
@deivid-rodriguez any luck with figuring this out? We too have the same issue.

[2022-11-01 04:41] jeffwidman commented on #2999
@markdorison thanks for circling back and spending time to put together the example public example. Since it's public, I was able to pull the job runs and it looks like it timed out a bunch of previous days, but the last two days it completed the job, taking ~34 mins the last time.

My guess is that you aren't seeing the job logs because there's 203,980 lines in this job log! 21MB!!

It hit a bunc

[2022-11-01 04:48] jeffwidman commented on #5322
Closing as we now support Yarn v3, as mentioned ☝️.

[2022-11-01 04:48] #5322 closed

[2022-11-01 04:54] jeffwidman commented on #5962
👋 Hey there.

Totally valid request, but probably not something we'll do anytime soon. In the meantime, your best bet is to setup a GitHub action that watches for Dependabot PR's and then adds a follow-on commit running `tapioca gem`. Here's an example action to help you get started hacking: https://github.com/dependabot/fetch-metadata/ although 👈  is probably more complicated than what you're loo

[2022-11-01 04:58] jeffwidman commented on #5977
Sounds like a legit bug.

I'm not sure when we'll be able to prioritize dig into it as this isn't a super common use case, but if you're able to track down in the code a bit further to see where things go sideways it'd certainly be helpful.

You can use the [`dry-run` script within our dev Docker container](https://github.com/dependabot/dependabot-core/#dry-run-script) and then add some `puts` sta

[2022-11-01 06:41] jeffwidman commented on #3880
Closing due to lack of response and suspicion there's another root cause.

[2022-11-01 06:41] #3880 closed

[2022-11-01 06:45] jeffwidman commented on #2454
Closing as a duplicate of #3849.

Bots generally don't need to sign CLA/ECA's... the only question is how to guarantee the commit is coming from an approved bot (which is what #3849 tracks).

[2022-11-01 06:45] #2454 closed

[2022-11-01 07:00] jeffwidman commented on #2774
Closing due to lack of response.

[2022-11-01 07:00] #2774 closed

[2022-11-01 07:01] jeffwidman commented on #2548
Closing due to lack of response.

[2022-11-01 07:01] #2548 closed

[2022-11-01 07:13] jeffwidman commented on #3544
Were you able to get this into the race condition again?

[2022-11-01 07:17] jeffwidman commented on #1888
Closing due to a lack of user response plus this code has been refactored a lot, such as the recent yarn v3 support so really not sure it's even relevant anymore. IF still an issue, comment and we can re-open.

[2022-11-01 07:17] #1888 closed

[2022-11-01 07:23] jeffwidman commented on #3849
Actually, I just checked a commit, and it looks like commit author is now
[code]

That `49699333` ID appears to be consistent across all commits I found from Dependabot, it's the bot ID. So you can key on that, no need for us to try to flip to `dependabot@github.com`...

[2022-11-01 07:23] #3849 closed

[2022-11-01 07:28] jeffwidman commented on #5809
Anything else we can do to unblock you @diguid ?

[2022-11-01 07:53] My-MC commented on #6001
Thanks for the reply.

It can be seen from the following picture that `project.optional-dependencies` is not loaded.
![image](https://user-images.githubusercontent.com/84212641/199182801-e9e4b068-23ce-41ae-9cbb-7976462f73d5.png)

I considered the possibility that I was not following `PEP 621`, but I was able to install it using pip and was able to confirm that the syntax was not there.

I can't pr

[2022-11-01 08:01] jeffwidman commented on #6001
Thanks. I don't doubt you're following `PEP 621`, but we may not yet support this part of it, I don't know.

The screenshot you posted is from the Dependency Graph, which is generated by a completely different code base within GitHub, so we can't use it to ascertain whether Dependabot version update checker is loading the `project.optional-dependencies` bit.

[2022-11-01 08:06] sblask opened #6011 "Dependabot doesn't handle mixed versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

github-actions

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

version: 2

updates:

  - package-ecosystem: github-actions
    directory: /
    schedul

[2022-11-01 08:15] WyriHaximus commented on #3544
Only seen it once or twice, but none of them were reproducible. So closing this issue :+1:

[2022-11-01 08:15] #3544 closed

[2022-11-01 08:18] johanneswuerbach opened #6012 "Go: Support workspaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Golang 1.18 introduced the support for [workspaces](https://go.dev/ref/mod#workspaces) to simplify the management of multiple modules in one repository.

Dependabot could use the `go.work` file to:
* automatically discover all referenced sub-modules
* bump dependencies consistently across

[2022-11-01 08:20] sue445 opened #6013 "make the error message clear when a package is not found in dependabot-gradle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

# Context
I'm using a gradle project with https://github.com/dependabot/dependabot-script  and I'm encountering a strange error.

## build.gradle

[code]

## Error message

https://github.com/dependabot/dependabot-core/blob/v0.212.0/gradle/lib/dependabot/gradle/update_checker/version_finde

[2022-11-01 08:24] fbrodrigorezino commented on #6007
I will name the repository that works Success and the one that does not Fail.

The Success and Fail, they were running side by side.

This is part of the logs of the Success:

[2022-11-01 09:10] driskell commented on #2999
@jeffwidman

Just to check - are you referring to Dependabot doing a walk or Composer? As I understood it, Dependabot runs Composer and Composer's Solver will decide if an update is possible or not. So the effort needed to improve this needs to be in Composer. It'll be worth someone taking the public repository and timing a composer update against individual packages to see what the slow down is.

[2022-11-01 09:13] #6007 closed

[2022-11-01 09:14] fbrodrigorezino commented on #6007
@jeffwidman is correct, it looks like it is something with our infra. I will do some extra investigation here, I'm closing it so you guys don't waste time on something that is not your problem. If my findings guide me to another place I reopen the ticket.

[2022-11-01 11:33] tiagoefmoraes commented on #6009
You can use `Version.InvalidRequirementError` directly from [elixir](https://hexdocs.pm/elixir/Version.InvalidRequirementError.html) instead of `Hex.Version.InvalidRequirementError`

[2022-11-01 12:04] abxhr commented on #1015
Hello!
Any updates on this issue? Would love to see this feature in `dependabot` as it would make the `config.yml` much more neater and easier to maintain

[2022-11-01 12:37] bradenhilton opened #6014 "SHA pinned Action being downgraded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

GitHub Actions

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

https://github.com/twpayne/chezmoi/blob/4748397a0341cd5f6500880ede84fb3b5225d626/.github

[2022-11-01 12:38] jeffwidman commented on #3544
Sounds good. And if you do see it, please let us know, we might be able to track it down.

[2022-11-01 13:13] markdorison commented on #2999
@driskell: Thanks for weighing in! You asked @jeffwidman, not me, but I will throw my .02 cents in here anyway. Feel free to take it with a grain of salt!

Could this be a "yes and.."? I am following along on potential Composer performance improvements PRs (such as [this one](https://github.com/composer/composer/pull/9619) you created) and hoping something like that will make an impact. I want to

[2022-11-01 13:17] bmulholland commented on #5978
Thanks, I've tried that but the job is still timing out. I did get one PR upgrade just now, so the basics are working, but the job seems to take too long to run. Either the timeout needs to be increased, or whatever is slowing down the job needs to be fixed.

[2022-11-01 14:11] jakecoffman commented on #5976
Dependabot is using the dependabot.yml from the default branch which doesn't have the ignore for derby in it: https://github.com/killbill/killbill-oss-parent/blob/master/.github/dependabot.yml

[2022-11-01 14:19] My-MC commented on #6001
Oh, that's right.

I checked and there are updates on maturin and pytest.

Package name | Currently installed version | Latest Version
|-|-|-|
[maturin](https://pypi.org/project/maturin/#history) | 0.13.6 | 0.13.7
[pytest](https://pypi.org/project/pytest/7.2.0/#history) | 7.1.3 | 7.2.0

There is an update like this, but it has not been detected.

[2022-11-01 15:53] pavera commented on #5978
I'm curious how long it takes for you to run `yarn install` on the repo? That is all we're doing during the job, and it does seem to take a long time on the first dependency because of the large number of dependencies.  Once that first install is complete and we've cached the dependencies we get through subsequent dependencies in around 4 minutes each.  It seems the errors you're seeing now are po

[2022-11-01 16:09] #3554 closed

[2022-11-01 16:21] jakecoffman commented on #4249
Submodule cloning was added in https://github.com/dependabot/dependabot-core/pull/5982 so this should be working now!

Let us know if you're seeing any issues with it.

[2022-11-01 16:21] #4249 closed

[2022-11-01 16:58] bmulholland commented on #5978
`yarn install` takes 4s on the repo. If I clobber `node_modules` _and_ clean the yarn cache, it takes exactly 4 minutes on my system. Before the yarn berry upgrade, dependabot was running just fine. I checked its output fairly often for other reasons and never once saw a timeout error. I don't think the project is especially large? It's a pretty standard Nuxt app with a few extra plugins, eslint &

[2022-11-01 18:46] sorentwo commented on #6009
@jeffwidman Seconding the comment from @tiagoefmoraes, Hex doesn't have a public API, and you should use the official [InvalidRequirementError](https://hexdocs.pm/elixir/Version.InvalidRequirementError.html).

[2022-11-01 19:59] martincostello opened #6015 "Support private registries for github-actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

When using dependabot with GitHub Enterprise server where using Actions from github.com is disallowed, dependabot will raise pull requests to update actions to versions that are not available in the appliance.

As a concrete example, GitHub Enterprise Server 3.6 is bundled with actions/set

[2022-11-01 20:10] pavera commented on #5978
I've identified a couple of places where we can speed things up significantly, however, they are at the expense of yarn zero-installs working correctly so we have to be careful to implement the update in a clean way for those that have zero-installs enabled. I'm working on a larger PR to fix this.

Some of the updates are not being created on your repo because somehow `yarn install` is detecting a

[2022-11-01 20:41] pavera commented on #5946
I've begun work on a larger refactor to address this as well as hopefully regain the performance improvements we lost when we removed `--mode=update-lockfile` for those who are not using zero-installs the removal of this option massively degrades performance.

Adding to the complexity, `--mode` is only available in yarn >= 3.

Currently the proposed pseudo code solution looks like:
[code]
Hopefull

[2022-11-01 21:17] merceyz commented on #5946
if yarn >= 2 && yarn < 3

`^2.4.0` has a `--skip-build` flag that you can use (https://github.com/yarnpkg/berry/pull/2064).

You don't need to set `enableScripts` when using the `--mode` flag.

[2022-11-01 21:21] jtbandes commented on #5830
We'd like this too for foxglove/studio. The LFS change has gotten us almost there but we still need a manual step to run `yarn dedupe`: https://github.com/dependabot/dependabot-core/issues/5830

[2022-11-01 21:49] jojomatik commented on #2996
Hi there, I also use dependabot, conventional commits and semantic release.

I use `build(deps):` for updates in production dependencies, this leads to a new minor release in my configuration.

I use `build(deps-dev):` for non production (i.e. development dependencies) such as build tools and linters. These do not trigger a new release.

I've recently enabled dependabot for github actions in some

[2022-11-01 21:51] jojomatik commented on #2996
Another question that I can't really find an answer to in the docs: What exactly does the prefix, does it define the commit type of the conventional commit message? The type and scope? Or does it just switch back to "default" commit messages and prefix that?

[2022-11-01 22:15] jeffwidman commented on #6009
Thanks!

Do either of you want to submit a PR? Since it's just the location of a type, should be very straightforward... the bumping Hex version and changing the pinned location can be done as a separate PR.

No worries if not interested.

[2022-11-01 22:39] jeffwidman commented on #6001
Thanks. I just checked, and it looks like we _do_ attempt to support `project.optional-dependencies`:
https://github.com/dependabot/dependabot-core/blob/868ef7dc2d8d81348626b374a0d2aaf14927e9d9/python/helpers/lib/parser.py#L57-L66

IF you do have interest, the quick thing would be to add a `puts group_dependencies` statement right after line 66 there...  and then run this using the `dry-run` scrip

[2022-11-01 22:54] xsalefter commented on #5976
Ah, Ok thanks.. I'll close this.

[2022-11-01 22:54] #5976 closed

[2022-11-02 10:05] leoamigood commented on #5787
@jeffwidman Good point. I actually don't remember which repo i got this error on. Let's close this issue, i'll reopen with more details if i git it once again. Thank you

[2022-11-02 10:05] #5787 closed

[2022-11-02 11:36] bmulholland commented on #5978
Thanks, @pavera. It looks like there may be several things going on.

1. I had an env var set in Github to force CI=true. IIRC, I did this because the PRs generated by dependabot were running my tests without that env var set, which caused them to fail. I've tried removing this to see what happens.
2. Even without the CI option, the build still times out. Note that I do plan to switch to zero-inst

[2022-11-02 13:12] pavera commented on #5978
Having the repo configured with zero-installs is currently faster than non-zero install configured repos due to having a fully populated cache in the repo. This greatly speeds up `yarn install`.

I'm working on https://github.com/dependabot/dependabot-core/pull/6017 to address the performance issues we can by running in update-lockfile mode when the repo is not configured for zero-installs, this p

[2022-11-02 13:25] bmulholland commented on #5978
That all sounds spot on. Thanks, @pavera.

[2022-11-02 14:07] pimterry opened #6023 "Dependabot created a PR that says it fixes a vulnerability but actually updates no versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus what you

[2022-11-02 17:28] pavera commented on #5946
I've now deployed https://github.com/dependabot/dependabot-core/pull/6017 which I believe should result in correct `--mode` usage. I'm closing this as fixed, please re-open if there are additional zero install issues.

[2022-11-02 17:28] #5946 closed

[2022-11-02 17:30] pavera commented on #5978
I've now deployed https://github.com/dependabot/dependabot-core/pull/6017.  I'll now be working on a small update to fix point # 3.

[2022-11-02 19:14] anthony-c-martin commented on #1303
@greysteil - do you have any technical pointers to share on what a solution would look like? I'd be happy to contribute a fix if there's a clear path forward.

[2022-11-02 20:05] gitfool commented on #1303
You could look at what [Renovate](https://github.com/renovatebot/renovate) does since it already handles package lock files:
https://github.com/renovatebot/renovate/blob/b6670159c4c6c3e6e1b07829604b2c3301f54162/lib/modules/manager/nuget/artifacts.ts#L98
(Or just switch to Renovate.)

[2022-11-02 20:46] deivid-rodriguez commented on #5917
@danielvdao Of course. The relevant changes are https://github.com/rubygems/rubygems/pull/5495, later amended by https://github.com/rubygems/rubygems/pull/5807.

[2022-11-02 20:49] deivid-rodriguez commented on #5926
Hei @ashkulz, I didn't have time yet, hope to look at this tomorrow.

[2022-11-02 21:26] greysteil commented on #1303
I'm not the right person to ask anymore (I'm a PM working across all of GitHub's security products these days, and no longer an expert on Dependabot). @jeffwidman @deivid-rodriguez do either of you have pointers here?

[2022-11-02 22:14] zioyero commented on #5949
@deivid-rodriguez I submitted a Pull Request with a fix for this issue here: #5983

[2022-11-02 23:30] jeffwidman opened #6024 "Dependabot run failing on updater"
The `omnibus` `bundler` Dependabot run:
https://github.com/dependabot/dependabot-core/blob/da8c81fc6c82b76e2371f7578f1b5f879519c824/.github/dependabot.yml#L65-L68

Is currently failing with the following error:
https://github.com/dependabot/dependabot-core/network/updates/495511889

[code]

The pins were a little tricky to track down because they're coming in via chained inheritance, but I _think_

[2022-11-03 01:19] My-MC commented on #6001
I see. So it's not supported by the GitHub bot yet?

Until it is supported, I will try to run it locally using Docker.

[2022-11-03 01:27] jakecoffman commented on #5061
This should be working now with https://github.com/dependabot/dependabot-core/pull/5874. Let us know if you have any issues!

[2022-11-03 01:27] #5061 closed

[2022-11-03 01:27] jeffwidman commented on #6001
It is supported just for some reason it's not working on your repository.
Not sure why. You are welcome to investigate it if you want using the dry
run script I mentioned above.

On Wed, Nov 2, 2022, 6:19 PM My ***@***.***> wrote:

[2022-11-03 07:05] yarinsa opened #6027 "Provide docs about how to setup yarn/berry with dependabot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

Our workflow fails since dependabot is trying to change the lockfile.
I ended up adding to the code something like

[code]

Will be nice to know what is the best practice here

[2022-11-03 10:27] bmulholland commented on #5978
Yeah it's so strange. That command does indeed do what I want, and it's perfect for Dependabot (as the docs note!). But there's no local equivalent: if I want to upgrade something on my system, I want to install it, too. This seems like a pretty major change in approach in Yarn, and they didn't even write about it? I'm just confused.

[2022-11-03 11:05] DominikGM commented on #1582
Vote at https://github.com/orgs/community/discussions/37496  (warming up this old issue as this is the first search-result)

[2022-11-03 11:14] bmulholland commented on #5978
This time it created two PRs, but still timed out. Checking the logs, it failed to update packages that did have an update. I can reproduce this locally, e.g. `yarn up @cypress/webpack-preprocessor@latest --mode=update-lockfile` has no effect. However, a pure `yarn up @cypress/webpack-preprocessor` upgrades the package successfully.

This is really damaging my opinion of yarn. What a mess of incon

[2022-11-03 13:12] deivid-rodriguez commented on #6001
I had a look at this and it was indeed a bug when we were failing to recognize projects as following PEP621 when they only have optional dependencies. It should be fixed by #6032!

[2022-11-03 13:32] anthony-c-martin commented on #1303
Thanks! I've hacked my way through an implementation (PR #6031). @jeffwidman / @deivid-rodriguez - would appreciate some guidance if you've got the time!

[2022-11-03 14:14] My-MC commented on #6001
Oh. Thank you very much.
I hope this PR will be MERGE!

[2022-11-03 14:23] jakecoffman commented on #4404
Yep I think allow is what you were looking for!

[2022-11-03 14:23] #4404 closed

[2022-11-03 14:25] jakecoffman commented on #4873
duplicate of #2310

[2022-11-03 14:25] #4873 closed

[2022-11-03 14:34] nisevi commented on #4404
`allow` worked perfectly! 🚀

[2022-11-03 14:57] #5926 closed

[2022-11-03 14:58] deivid-rodriguez commented on #5926
I pushed a fix for this issue. Commenting `@dependabot recreate` on the incorrect PRs should now fix things. Let me know how that goes!

[2022-11-03 15:00] pavera commented on #5978
Thanks for working through this with me.  I also wonder why we're seeing different behavior as locally I'm unable to reproduce the exact behavior in test repos, but in your repo I definitely saw the same behavior that any attempt with `@latest` produced no effect on the lockfile. I'm going to move on to investigating the peer dependency resolution speed for now as I don't think we want to be updat

[2022-11-03 15:29] deivid-rodriguez commented on #6001
@My-MC Can you try checking for updates now?

[2022-11-03 15:34] jorsmatthys commented on #4327
For us this would be a huge feature.
Our enterprise is migrating everything to GitHub and Azure, and for provisioning - and interacting with cloud infrastructure our developers do nearly _everything_ with reusable workflows. Nearly every repository that we created in GitHub enterprise has reusable workflows. We have a fairly large development community (100+), and we notice that now that now that

[2022-11-03 15:35] pavera commented on #6027
I deployed #6017 yesterday which includes making the same `config set` call before running any `yarn` commands. Can you try again without your change and see if it's working now?

[2022-11-03 15:46] #6001 closed

[2022-11-03 15:54] mloberg commented on #5926
@deivid-rodriguez Things are looking good. Thanks!

[2022-11-03 16:45] jeffwidman commented on #1582
Yeah, this should be re-opened, it got missed back when we had stalebot a long time ago.

I'm not sure we'll do it... as noted above, we have some interest in moving to be more compatible with actions workflow files, but in the meantime this should stay open.

[2022-11-03 16:52] deivid-rodriguez commented on #5824
Hei @leoamigood!

I played around with the snippet you provided a bit but could not reproduce this issue. Your snippet did not load the `OctokitClient` constant, for example, so it was not obvious how to make it run.

It seems that you're using `dependabot-core` as a library, and that falls out of our normal usage, and makes it hard for us to reproduce issues unless a standalone script is provided

[2022-11-03 16:57] #2310 closed

[2022-11-03 17:02] jakecoffman commented on #2310
Build info is now being removed from version identifiers. Thanks for reporting this and for your patience!

[2022-11-03 18:47] diguid commented on #5809
Thanks! I'm working on this PR [here](https://github.com/dependabot/dependabot-core/pull/6036) and I'm unsure about how to implement tests for this and if they're even necessary, but I suppose I should get these answers there in the PR rather than here, right?

[2022-11-03 18:48] deivid-rodriguez commented on #5809
Yes, I can help out in the PR! Thanks for diving into fixing this 💪

[2022-11-03 18:49] jeffwidman commented on #6009
Related fixes:
* https://github.com/dependabot/dependabot-core/pull/6028
* https://github.com/dependabot/dependabot-core/pull/6037
* https://github.com/dependabot/dependabot-core/pull/6026

[2022-11-03 19:28] jameswoodley commented on #2480
Helllo? Is there any work going on on this issue?

[2022-11-04 00:16] nwtgck opened #6039 "Rebase makes title and diff different"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

docker

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

https://github.com/nwtgck/piping-server/blob/a539b15922fa729ea531b7d5228fe5d0877c5201/.github/de

[2022-11-04 03:37] l0b0 opened #6041 ""Malformed version number string 929ab5b" updating nixos/nix image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

Docker

### Package manager version

N/A

### Language version

N/A

### Manifest location and content before the Dependabot update

[code]

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what you actually saw

The following ou

[2022-11-04 04:43] ashkulz commented on #5926
Same here, dependabot was timing out for us for one repo which seems to have been fixed by this as well 🎉

[2022-11-04 05:14] ashkulz commented on #5917
@deivid-rodriguez are there any plans to update dependabot to 2.3.24 to solve the bundler taking too long to resolve issue? We keep our bundler version in sync with Dependabot via GH Actions, as otherwise we tend to forget to update 😅

[2022-11-04 07:51] jeffwidman opened #6044 "Get rid of hardcoded list of python versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

From https://github.com/dependabot/dependabot-core/pull/6043#discussion_r1013705132

There's a hardcoded list of supported python versions here:
https://github.com/dependabot/dependabot-core/blob/69e45277160d970846b3a55cc8429d10c5fd25d0/python/lib/dependabot/python/python_versions

[2022-11-04 07:53] jeffwidman commented on #6041
Is there a public repo that you can repro this on?

[2022-11-04 08:09] deivid-rodriguez commented on #5917
We just got that proposed at #6042, so we will move it forward soon!

[2022-11-04 08:16] jeffwidman opened #6045 "Actions updates failing with error `fatal: '{some version}' does not appear to be a git repository`"
Got an internal report that an actions update is now failing after https://github.com/dependabot/dependabot-core/pull/5951 was deployed.

Logs:
[code]

And here's the line that mentions the `tibdex/github-app-token` action:
[code]

[2022-11-04 08:20] jeffwidman opened #6046 "DRY up Hex install commands"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

According to https://github.com/hexpm/hex/issues/962#issuecomment-1302816217 we don't need to re-install but can pin on the initial install...

[2022-11-04 08:38] jeffwidman opened #6047 "Make Dependabot recursively check folders for Dockerfiles / Helm Charts / K8s files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

While we don't currently support bumping versions of Helm Charts / K8s YAML files, we did recently extend our Docker version updater to check for docker versions in these file formats.

Helm Charts / K8s YAML files are often stored in nested directories.

So I tried specifying a docker sta

[2022-11-04 08:44] jeffwidman opened #6048 "Unable to update docker version in K8s yaml file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

I'm testing the docker version bumps of the k8s yaml file and hit a problem where the update job realizes an update is necessary, but hits a problem when trying to update the YAML file.

Job config:
https://github.com/jeffwidman/secrets-store-csi-driver-provider-azure/blob/c1bfda6

[2022-11-04 08:56] deivid-rodriguez commented on #6045
I got into this same thing yesterday and I suspect it may actually be a problem of https://github.com/dependabot/dependabot-core/pull/5576, and #5951 just made the issue surface. I'll update this when I know more.

[2022-11-04 09:06] jeffwidman opened #6049 "Warning in build logs about configuring ruby flag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

https://github.com/dependabot/dependabot-core/actions/runs/3387907064/jobs/5629872972#step:4:2172
[code]

[2022-11-04 10:09] deivid-rodriguez commented on #2996
So, if I understand correctly, there's two separate feature requests here:

* Improve commit message auto-detection to prioritize PRs from the same ecosystem.
* Provide a development vs production distinction for the Github Actions ecosystem.

Both of them seem reasonable to me.

[2022-11-04 11:13] tiangolo commented on #3290
I just came back here to say THANK YOU @deivid-rodriguez and everyone involved! :hugs:

I'm now getting Dependabot upgrades in my projects with `pyproject.toml` including FastAPI and others :tada:

[2022-11-04 11:13] pavera commented on #6044
I've been looking at reducing our python version matching to just `major.minor` to mostly eliminate the need to install python on the fly. I think this work will also remove the need to track all these python versions, at most we would need to preserve the `major.minor` versions we support if we want to quickly fail for repos that have fallen out of support.

[2022-11-04 11:23] deivid-rodriguez commented on #3290
Thank you for the kind words @tiangolo, we're glad this is turning out useful for your projects 🎉.

[2022-11-04 12:10] jtrein commented on #2165
+1 would be really useful

[2022-11-04 12:36] #5949 closed

[2022-11-04 14:25] AArnott opened #6053 "Does dependabot support GlobalPackageReference for NuGet yet?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I wonder if dependabot recognizes and will upgrade nuget package versions specified on `GlobalPackageReference` items. See more info here: https://learn.microsoft.com/en-us/nuget/consume-packages/central-package-management#global-package-references
It's new for the .NET 7 SDK.

I couldn't

[2022-11-04 14:39] AArnott commented on #6053
Ah! Found it https://github.com/dependabot/dependabot-core/blob/986408e307250fb2e885c838f25f1203d89019da/CHANGELOG.md#L2690

[2022-11-04 14:39] #6053 closed

[2022-11-04 15:42] fcheung commented on #5962
Thanks - that works well enough. If anyone else runs into this, this workflow seems to work well enough for us:

[code]

[2022-11-04 18:29] ramachandran-murugaian-kr commented on #396
I am also facing the same issues with branch name length. We are using harness to deploy our applications and it is allowing only 63 characters for the branch name.

 It would be great if we get the option for max-length

[2022-11-04 18:34] agrobbin commented on #5946
@pavera this seems to mostly be fixed, the only exception is the file permission of `.pnp.cjs`! I'm still seeing it change from `755` to `644`.

[2022-11-04 23:05] jojomatik commented on #2996
Thanks for summarsing @deivid-rodriguez!

The second bullet point is exactly what I want 👍

Are you talking about detecting whether previous commits used `build(deps-dev)` or `ci(deps)`/ `ci(deps-dev)` in the first bullet point? Would that already fulfill your feature request @felipecrs?

[2022-11-05 02:03] jeffwidman commented on #5962
Glad to hear it. Thanks for circling back to share your solution with others.

[2022-11-05 02:04] #5962 closed

[2022-11-05 09:32] deivid-rodriguez commented on #2996
No problem!

For the second point, actually I'm not really sure it actually works, but my idea is that, since Dependabot style auto-detection first looks on commit messages by Dependabot itself, and looks from newest to oldest, I imagine you should also be able to edit the scope in last Dependabot commit message if you want to change the style going forward. But of course in this case, we don't wa

[2022-11-05 13:09] jojomatik commented on #2996
Yeah the first one is definitely more complex.

Should I create a new issue for the second one? Any clue how we'd be able to get the file path in the `production_check` method?

[2022-11-05 15:47] deivid-rodriguez commented on #2996
Actually I'm not sure which one is more complex 😅. Currently production checks only consider dependency groups, not the file where the dependency is specified, so it requires some extra work to support that.

I think it's worth opening a new ticket for this. This does not only apply to Github Actions. For example, in Ruby libraries, in vision production dependencies are the ones defined in a `.gem

[2022-11-05 16:52] jojomatik opened #6057 "Decide between production and development dependencies by the file they are specified in"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I use dependabot, conventional commits and semantic release and usually use `build(deps):` for updates in production dependencies, this leads to a new minor release in my configuration. I use `build(deps-dev):` for non production (i.e. development dependencies) such as build tools and lint

[2022-11-05 16:53] jojomatik commented on #2996
Created #6057, feedback appreciated.

[2022-11-06 06:08] alvindizon commented on #5260
I have encountered this as well. Inspecting the update logs, I've noticed several 404s when dependabot is checking for Android dependency updates. My settings.gradle looks like this:

[code]

[2022-11-06 06:12] alvindizon commented on #5260
Also, this [issue](https://github.com/dependabot/dependabot-core/issues/3286) seems to be similar--dependabot is ignoring settings.gradle. This is a big issue for Android projects that use dependabot, I'm not sure why this hasn't been solved. Maybe time to move renovatebot?

[2022-11-06 06:26] nyetwurk commented on #2511
Any progress on this?

[2022-11-07 04:11] #5146 closed

[2022-11-07 07:57] jeppester commented on #5566
Happened again today with two PRs, but in a private project, so I can unfortunately not reference it.

[2022-11-07 08:09] v3gard commented on #1296
This also applies for [`ag-grid`](https://www.ag-grid.com/). If you get a required update on one of these packages, you need to upgrade all of them at once:
[code]

[2022-11-07 10:44] fjakobs commented on #3702
I'm having the same problem as @jtbandes.

Re-opening the issues since https://github.com/dependabot/dependabot-core/issues/1297 has been closed and the problem persists.

[2022-11-07 11:25] TomNaessens commented on #396
The option to configure maximum branch length has been released here in v0.213.0 (https://github.com/dependabot/dependabot-core/blob/main/CHANGELOG.md#v02130-31-october-2022) and in dependabot-gitlab in version v.0.30.0 (https://gitlab.com/dependabot-gitlab/dependabot/-/releases/v0.30.0).

[2022-11-07 11:26] TomNaessens commented on #3107
For anyone following, `dependabot-gitlab` v0.30.0 is released which contains this option: https://gitlab.com/dependabot-gitlab/dependabot/-/releases/v0.30.0

[2022-11-07 14:36] deivid-rodriguez commented on #3702
Hei @fjakobs!

As @jeffwidman explained, Yarn v2 support has landed recently and that's a significant change over our previous code base. So even if the problem still exists, error logs and other relevant information for us to troubleshoot is likely be different now.

So we'd rather work with a fresh bug report. Could you open a separate ticket following our current bug report template, including

[2022-11-07 15:45] andrewazores opened #6067 "Support for files named `Containerfile` rather than `Dockerfile`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

OCI tooling like podman and buildah supports and suggests the more neutral name `Containerfile`. These use the same syntax as `Dockerfile`. It would be nice if the `docker` ecosystem supported this alternate file name.

[2022-11-07 18:20] beatngu13 commented on #2804
https://github.blog/changelog/2022-11-07-dependabot-pull-requests-off-by-default-for-forks/

[2022-11-07 18:47] hugovk commented on #2804
Great news! So for existing forks, I guess we can either delete/re-create the fork, or click Disable at the fork's `/settings/security_analysis`:

<img width="766" alt="image" src="https://user-images.githubusercontent.com/1324225/200390024-bf2b6f7a-a337-4ef9-a939-0614326c3b02.png">

[2022-11-07 20:22] brrygrdn commented on #2804
👋🏻 Hi folks, as few people have noticed we've [shipped](https://github.blog/changelog/2022-11-07-dependabot-pull-requests-off-by-default-for-forks/) a feature to ensure that forks aren't enabled by default of a `.dependabot.yml` file is present.

Any new forks you create should not become enabled unless change this new setting. For any existing forks that are sending you PRs, just disable it via r

[2022-11-07 20:22] #2804 closed

[2022-11-07 21:00] jeffwidman commented on #1015
Agreed, re-opening as recursive file search is relevant to the K8s files as well:
* https://github.com/dependabot/dependabot-core/issues/6047

[2022-11-07 21:16] Gakk commented on #5916
Just to confirm, in case anyone stumbles onto this case in the future:
The fix definitely did the trick, and dependabot opened new pull requests the day after this change was released 😀👍

[2022-11-07 21:49] deivid-rodriguez commented on #6024
Found this same error while working on something else. #6070 should fix it!

[2022-11-07 23:08] Dreamsorcerer commented on #1015
What I'm confused by, is that Dependabot security updates seem to happen on all dependency files in a repository, but version updates only check the top-level dependency files. Why would they have different capabilities?

[2022-11-07 23:53] osdiab commented on #5946
just received a batch of dependabot updates from 8 hours ago, and they didn't touch my yarn cache file - just updated dependencies in (nested yarn monorepo) package.json files and then fail our CI because we install with `yarn install --immutable`

[2022-11-08 04:30] grdylan opened #6072 "Some things are really difficult to do with how `allow` and `ignore` currently works"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

In my experience, a common requirement in projects I've worked on is to only update dependencies that have changed their minor or patch versions. This makes sense because if packages are following semantic versioning correctly a MINOR version should backwards compatible whereas a MAJOR ver

[2022-11-08 06:45] abxhr commented on #1015
@Dreamsorcerer Exactly. I get it few folks might require the dependabot version updates to be running only in specific places in the repository, but when the requirement increases it is a hassle to configure everything.
It'll be nice to have a parameter or something in the config (*boolean*), which allows the recursive check to be done from the mentioned directory location

[2022-11-08 07:45] deivid-rodriguez commented on #5989
Hei @mlarraz, thanks for this feature request!

Can you elaborate a bit more on this? How do you link gems to an app via symlink? Normally you would use `gem "foo", path: "path/to/gem"` for this, but I'm not aware of performance issues for this kind of dependencies.

[2022-11-08 11:59] deivid-rodriguez commented on #2480
Hello! Unfortunately we don't have any updates to share at the moment. We're working hard on providing a better experience, but we have too many competing priorities. We still hope to be able to allocate some time to fix this in the future.

[2022-11-08 12:41] deivid-rodriguez commented on #2027
Hei, sorry for the lack of updates.

Unfortunately we don't have the capacity right now to implement support for new ecosystems like this one, specially when we lack expertise for the requested ecosystems. We also [paused accepting community contributed ecosystems](https://github.com/dependabot/dependabot-core/blob/4365422e2b742feccb2d3a8da04e382315629ea5/CONTRIBUTING.md#contributing-new-ecosystem

[2022-11-08 14:25] wozzo opened #6076 "Yarn Berry Cache not included in dependabot PRs where cache exists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn

### Package manager version

3.2.x

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus what you actual

[2022-11-08 16:23] agrobbin opened #6081 "Yarn v2/v3 zero-install file permissions are changed"
When doing zero-installs on Yarn v2/v3, the `.pnp.cjs` file permission is changed by Dependabot from `755` to `644`.

@pavera to ensure this subtle bug is not lost, I thought it'd make sense to create a separate issue for it.

_Originally posted by @agrobbin in https://github.com/dependabot/dependabot-core/issues/5946#issuecomment-1303986157_

[2022-11-08 16:30] pavera commented on #6081
Some but not all? That would seem to indicate that our detection of zero installs is non-deterministic somehow. If we detect zero-install (by the presence of a .pnp.cjs file in the repo) we use `skip-build` otherwise we do fall back to using the `enableScripts` setting. I'll need to investigate further how this might be failing.

[2022-11-08 16:32] agrobbin commented on #6081
Sorry, what I meant to say was "in all Dependabot PRs issued this morning". My use of the word "some" was meant to indicate that I got several Dependabot PRs, all of which had this issue. Sorry for the confusion!

[2022-11-08 16:45] pavera commented on #6081
OK, so `skip-build` doesn't seem to preserve the permissions in that case. I'll have to test more and try to find a solution, thanks for creating this issue so it's not lost.

[2022-11-08 17:48] Dreamsorcerer commented on #1015
What I meant is that I'm genuinely confused. Discussion is suggesting that there's a significant piece of work to add this feature (not just a config flag), but the security updates seem to already do it. Are they 2 separate projects without common code or something?

[2022-11-08 17:54] WyriHaximus commented on #3544
Will do :+1:

[2022-11-08 19:15] Nishnha commented on #4669
Hi, this issue should be fixed with https://github.com/dependabot/dependabot-core/pull/5883

Would love if y'all could verify that Dependabot is now working as expected with private registries.

[2022-11-08 19:26] jeffwidman opened #6083 "Add full support for `SNAPSHOT` packages in Maven"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

While debugging a support escalation an engineer noticed that we don't properly update `SNAPSHOT` dependencies in Maven repos.

The root cause of this is that the dependency is specified with just a version, but to actually retrieve the dependency from the registry we must parse the `maven

[2022-11-08 19:31] mlarraz commented on #5989
I actually have an old sample repo set up: https://github.com/mlarraz/dependabot_symlink_test

The app depends on the vendored `foo` gem, which it links to using a symlinked path: https://github.com/mlarraz/dependabot_symlink_test/blob/b1bd1f77e338e98927e6a610d400969c1d1d78a7/app/Gemfile#L3

Dependabot errors on it like so:
<img width="915" alt="image" src="https://user-images.githubusercontent.co

[2022-11-08 19:38] mlarraz commented on #5989
Seperate, but related issue, is that by default Dependabot will error here:
<img width="915" alt="image" src="https://user-images.githubusercontent.com/2575714/200657196-a1cccb2a-5e77-40a7-9924-a91287973b84.png">

due to this line https://github.com/mlarraz/dependabot_symlink_test/blob/b1bd1f77e338e98927e6a610d400969c1d1d78a7/gems/foo/foo.gemspec#L1

While this can be worked around by removing the

[2022-11-08 19:52] andrewazores commented on #6067
An alternate solution would be to allow specification of the full path to the Dockerfile/Containerfile in the dependabot config yaml, rather than specifying the path to the directory that is expected to contain a file named Dockerfile. But this seems like a much broader config change that would impact every ecosystem. Testing for either Dockerfile or Containerfile fits in a narrower scope of just

[2022-11-08 20:00] deivid-rodriguez commented on #5989
I understand. I guess we need to check why that's so slow because even if the dependency is checked, it should be fast for Dependabot to see that there's nothing to do there.

[2022-11-08 20:26] jeffwidman commented on #1015
Sorry for the confusion here.

1. This ticket was originally closed because Dependabot had a restriction of never cloning the repo. That restriction is no longer valid, so we could tackle this. That's why I re-opened it.
2. The flow for security alerts is indeed different. The code which generates the repo's dependency graph at https://github.com/dependabot/dependabot-core/network/dependencies is

[2022-11-08 21:14] deivid-rodriguez commented on #5989
Had a closer look and it seemed easy enough to fix, actually! See #6084.

[2022-11-08 21:31] niqdev commented on #2237
Hi, I don't know you, but I can't keep up with the ArgoCD helm chart updates 🤣 ... and I needed a quick, simple, maintainable, and very flexible solution because some of the versions are declared in the `values.yaml` while other in `Chart.yaml`, so I ended up writing [helm-dependencies-action](https://github.com/hckops/actions#helm-dependencies-action)!

I documented as much as I could in the read

[2022-11-08 21:34] jojomatik commented on #4131
Hi there, I'd also like to see this feature.

My suggestion would be to only show releases that are not tagged as "Pre-release"s. Usually the changelog for the next release contains the combined entries of all previous pre-releases.

One could also omit all lines from pre-releases that are already mentioned in the following real release but that seems wrong to me.

Alternatively it would be possib

[2022-11-08 21:54] onedr0p commented on #2237
@niqdev

Wouldn't Renovatebot solve this issue as well? It's FOSS and [supports Argo](https://docs.renovatebot.com/modules/manager/argocd/) including OCI.

[2022-11-08 22:16] niqdev commented on #2237
@onedr0p 👀  thanks for the link! It definitely covers way way more and it has nothing to compare! The gist of the action is nothing else than a curl request
[code]
and a `sed` substitution, using `jq/yq` in whatever file you need, no matter how is the helm chart and covers *exclusively* yaml files. I suppose for what I need it's more than enough, but I'll definitely look more into it 🙇🏻

[2022-11-08 22:28] #6024 closed

[2022-11-09 07:44] GP-marco commented on #5441
We are facing a similar issue - but not with CodeArtifact but with the Github Packages Registry.

We do have two repos which are depending on the same package.
One repo is doing just fine and is finding the package from our private Github Packages Registry.
The other repo is behaving exactly as you have described.

Both are using the same organization secret.

Not working repo:
[code]

working rep

[2022-11-09 08:15] mbiggs-gresham commented on #4669
Hi, would these changes currently be 'live'? We've just had a security PR raised 10hrs ago and it still contained the wrong urls.

Just to mention we don't have ANY `.yarnrc` or `.npmrc` file checked in to the repo.

[2022-11-09 09:49] bmulholland commented on #5978
@pavera Quick update here: I've been talking about it on the Yarn discord (you can join from their home page). The key takeaway so far is that, with Yarn Modern/Berry/v2+, _if the package.json version value doesn't change, yarn won't update it_. This applies to `latest`, but also any version range that doesn't include the full package version (e.g. "~1.3.5" works, while "<5" won't be upgraded).

F

[2022-11-09 11:36] glensc opened #6090 "Depedabot puts internal warnings to requirements.txt file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

pip

### Package manager version

_No response_

### Language version

Python

### Manifest location and content before the Dependabot update

- https://github.com/Taxel/PlexTraktSync/blob/b50bbaf58dbf0105772068549995253c42158f2a/requirements.txt#L1-L2

### dependabot.yml content

https://gi

[2022-11-09 11:39] deivid-rodriguez commented on #6090
Oh wow. Thanks for this report, I will look at it as soon as possible!

[2022-11-09 12:56] glensc opened #6091 "Dependabot flip-flop with python_full_version/python_version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

pip, pipenv

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus

[2022-11-09 12:59] glensc commented on #6091
my guess is that dependabot is running different versions of pipenv which is causing this.

but pipenv lock hasn't been updated for a while:
- https://github.com/dependabot/dependabot-core/commits/cf448a99d35d7956f4c64b8249029324c9627a91/python/helpers/requirements.txt

I don't know that's the place for the pin that is used to run pip/pipenv updates, but it might be.

[2022-11-09 14:09] fjakobs opened #6092 "yarn2 workspace monorepo: Can't handle `workspace:` dependencies."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn

### Package manager version

3.2.1

### Language version

Node.js 16.x

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what you actually saw

[2022-11-09 14:10] fjakobs commented on #6092
Creating a new ticket instead of re-opening https://github.com/dependabot/dependabot-core/issues/3702

[2022-11-09 15:22] ramachandran-murugaian-kr commented on #396
@TomNaessens Thank you for the update. How do I specific this specific version in depdendabot.yml. I am receiving below error

`The property '#/updates/0/pull-request-branch-name' contains additional properties ["max_length"] outside of the schema when none are allowed
The property '#/updates/1/pull-request-branch-name' contains additional properties ["max_length"] outside of the schema when none

[2022-11-09 15:56] deivid-rodriguez commented on #396
I _think_ the problem is that while the option was added to this library, we're not yet making use of it in the GitHub service, nor have yet exposed any configuration option for it, since that requires a number of internal changes. But this feature is definitely closer now than it was before!

[2022-11-09 15:57] dcsaszar commented on #396
@ramachandran-murugaian-kr @deivid-rodriguez I agree.

To my understanding what @TomNaessens referred to is that the internal branch namer now has the _ability_ to generate branch names of limited length (`branch_name_max_length`). Maybe Tom was implying that a quick solution for this issue would be to _expose and document_ this option to the YAML config (maybe as `pull-request-branch-name.max-len

[2022-11-09 15:58] willnorris commented on #2835
Oh, that would be fantastic if that's the case!  Do you have an example?

[2022-11-09 16:04] kuhnroyal commented on #2835
Only in internal repositories.
<img width="771" alt="Bildschirmfoto 2022-11-09 um 17 04 06" src="https://user-images.githubusercontent.com/1260818/200880129-db8085b5-cc22-48a5-b91c-b55c48bfa6a0.png">

[2022-11-09 16:57] pavera commented on #5781
@Kurt-von-Laven as you've driven at least a few python updates for us (many thanks!) wondering if you'd have an opinion or knowledge around the requirement for us to be running the same patch version of python as the given repo/project?

I'm working on #6079 and from the testing I've done it seems sufficient to match `major.minor` for the python version. This would allow us to both be more perform

[2022-11-09 19:01] pavera commented on #6076
The issue I ran into when we used the existence of the cache folder as a determinant was that on repositories which do not have that folder committed, once we run an update the cache folder is created and so suddenly we detect that we should be updating the cache, which is not what the user wants in the case where the cache folder is not committed. I'll be revisiting this in the next few days as t

[2022-11-09 19:10] kkuk6-dev628 commented on #569
Hi, I also have this issue.
@franktopel, how did you fix?

[2022-11-09 19:15] markdorison commented on #2999
I've been thinking about this more, as I just discovered a _third_ Drupal repo of ours that is now experiencing the timeout/error issue (not counting the [public example](https://github.com/ChromaticHQ/dependabot-timeout-demo/)).

When using a large project like Drupal, it seems nearly inevitable that there are going to be a large number of second-level dependencies that are `update_not_possible`.

[2022-11-09 20:15] aminya commented on #2027
It would be great if Dependantbot can update [the URLs in the FetchContent calls](https://github.com/aminya/project_options#usage) in `CMake`. Currently, that requires manual updates.

[2022-11-09 23:36] jeffwidman commented on #6072
Agreed, this is painful. Rethinking this is a bigger product feature, so I doubt it's something we'll get to soon, but I definitely agree there's some room for improvement whenever we do get to this.

[2022-11-09 23:38] jeffwidman commented on #6091
Thanks for the report. This needs fixing, and your description made me 😄 :

Not sure of root cause, but your hunch sounds reasonable as a starting place.

[2022-11-09 23:39] big-andy-coates opened #6098 "API to trigger dependabot"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

As part of the release process for an organisation, it is useful to run dependabot across all repos prior to releasing, to ensure all 3rd party dependencies are as up to date as possible.

However, I've been unable to find an easy way to trigger a dependabot scan via a cli, api, or http re

[2022-11-09 23:51] EwoutH commented on #2804
@brrygrdn Thanks a lot, this is fantastic news!

I'm curious what happens to existing forks when you add a `dependabot.yml` file for the first time. Initially the file won't be present on the forks, but when a fork is rebased/synced (and thus the `dependabot.yml` file is also added to the fork), what happens in that case?

[2022-11-10 03:19] Kurt-von-Laven commented on #5781
Thanks for reaching out; this sounds like a great change, and I shared my thoughts on #6079.

[2022-11-10 03:49] jduncanator commented on #2804
This works great for actual forks, but doesn't resolve the issue where I'd like to keep a private mirror of a public repository for staging changes in. It would be great if that "disable" button could be extended to all repositories, not just forks.

[2022-11-10 06:09] mccartney commented on #1618
For anyone curious, this gives 404 now.
Web Archive has this post: https://web.archive.org/web/20220125120756/https://www.sameerkulkarni.de/posts/dependabot-with-gradle/

[2022-11-10 07:28] godric3 commented on #4669
I can confirm that last dependabot security PRs use proper(private) registry. We have it specified in `dependabot.yml` and in `.yarnrc`.
Thanks!

[2022-11-10 08:15] mbiggs-gresham commented on #4669
Please can you just confirm. I have a dependabot.yml file configured which is using our organisations username/password stored as a secret (so no organisation user knows the password). Do I also have to have the username/password in the .yarnrc file? If so, I can't do that, as that would mean any user with access to the github repo would also have access to our private nexus/npm repo and could spo

[2022-11-10 08:38] JensMadsen commented on #4419
I see same behaviour as well

[2022-11-10 08:58] godric3 commented on #4669
from my observation it's not needed as our `.yarnrc` constain only `registry` entry

[2022-11-10 16:01] pavera commented on #5978
I've put up #6077 which speeds things up a bit when doing peer dependency checks, I'm still concerned it's too slow but it is a marked improvement. As far as your research and comment thank you! They mention that yarn add does reset the resolution, maybe I'll investigate using that.

Is the confusion here why we would use `yarn up xyz@latest` at all and recommending that we run `yarn up xyz` inste

[2022-11-10 16:08] Nishnha commented on #4669
Yep that's correct.

Since everything is working as expected I'm closing out this issue. If you discover a related problem please open a new issue.

Thanks!

[2022-11-10 16:08] #4669 closed

[2022-11-10 16:25] bmulholland commented on #5978
I don't really understand what the intent is, TBH. For instance, as it stands, setting ranges like "<5.0.0" will never produce an update with `yarn up` or `yarn up package@<5.0.0`. The only way to upgrade is with `yarn up package` -- which will ignore the "<5" entirely. So actually, with that in mind, I don't think you can do that approach without upgrading too aggressively.

I'd suggest jumping o

[2022-11-10 17:28] pavera commented on #5978
I caught up with the discussion on discord, seems the `-R` flag may be the ticket, I'll start testing that now.

[2022-11-10 19:27] deivid-rodriguez commented on #2835
Yes, this was [recently contributed](https://github.blog/changelog/2022-10-31-dependabot-now-updates-comments-in-github-actions-workflows-referencing-action-versions/) by the community! 🎉

Closing this since it's now fixed!

[2022-11-10 19:27] #2835 closed

[2022-11-10 21:14] deivid-rodriguez commented on #4419
I just tried this and it seems to be working as expected.

For example, I created a Dockerfile using

[code]

And it properly upgraded it to

[code]

Maybe I'm misunderstanding the issue reported here?

[2022-11-10 22:54] dhirschfeld commented on #4419
Does it work if you don't include the tag at all?
[code]

[2022-11-10 23:26] deivid-rodriguez commented on #4419
No, that hangs actually, so that must be the issue!

[2022-11-10 23:28] dhirschfeld commented on #4419
Good to know there's  a workaround to include a tag alongside the sha - will have to try that out...

[2022-11-11 02:14] t-tiger commented on #5926
@deivid-rodriguez Thank you so much for the effort!!

[2022-11-11 10:15] stovmascript opened #6107 "Yarn 2 protocols result in Dependabot error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

Yarn 3.1.1

### Language version

Node.js 16.13.2

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what you actuall

[2022-11-11 10:30] stovmascript commented on #6107
I've created a [sample repo](https://github.com/monitora-media/yarn2dependabot), which results in the same error during update:

![image](https://user-images.githubusercontent.com/14262802/201321504-f885cac1-d5fe-4351-af0f-c6ae2a07a824.png)

[code]

[2022-11-11 10:30] brrygrdn commented on #2804
@EwoutH By default, the Fork has Version Updates disabled so the file will not be applied when the fork is synced unless you enable Version Updates via the settings either before or after syncing.

This will be the case for any existing Fork that currently does not have a dependabot.yml file present.

This also applies if you manually add a dependabot.yml file to your Fork rather than sync it from

[2022-11-11 11:06] brrygrdn commented on #2804
@jduncanator Thanks for the feedback, we are discussing extending this setting to all Repositories as we continue to improve our configuration

[2022-11-11 11:15] EwoutH commented on #2804
Thanks for the extensive answer, this was exactly what I was looking for! This means large repositories with many forks can now safely add a Dependabot configuration without triggering a huge influx of PRs on forks.

As a added benefit, it should save GitHub from a lot of CI time :)

[2022-11-11 11:23] DenBond7 opened #6108 "Option to make PRs for a group of dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Hello. I'm an Android Developer. In Android, we have a lot of dependencies that are grouped. It means they should be updated at the same time, not one by one like `Dependabot` does it.

For example, Please look at [these dependencies](https://developer.android.com/jetpack/androidx/releases

[2022-11-11 11:41] uli-noorhakim opened #6109 "Dependabot::DependencyFileNotParseable on valid github action workflow files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

github-actions

### Package manager version

-

### Language version

-

### Manifest location and content before the Dependabot update

[code]

### dependabot.yml content

[code]

### Updated dependency

_No response_

### What you expected to see, versus what you actually saw

Check is suc

[2022-11-11 11:43] TWiStErRob commented on #6108
Duplicate of https://github.com/dependabot/dependabot-core/issues/2203 and https://github.com/dependabot/dependabot-core/issues/1190, tracked in https://github.com/github/roadmap/issues/148

[2022-11-11 11:45] uli-noorhakim commented on #6109
Hmm just found #5453 , I'll be trying it out, and close this issue if it works.

[2022-11-11 11:52] deivid-rodriguez commented on #4419
Just tried that and I got a proper update, maybe it was some transient issue. I'll keep this issue for the sha256 without tag case, but if you can reproduce the other issue reliably, please reach out!

[2022-11-11 11:54] deivid-rodriguez commented on #5926
No problem! :)

[2022-11-11 12:07] uli-noorhakim commented on #6109
fixed using workaround from #5453, basically put `"` around anything with `spaces` and/or have special character like `:` or `*`, even if it's a valid YAML without `"`.

[2022-11-11 12:07] #6109 closed

[2022-11-11 12:15] deivid-rodriguez commented on #6014
@bradenhilton Thanks for letting us know about this, it led to discovering several issues in the way we upgrade sha pinned actions. I will let you know once there's a fix out, so you can test it!

[2022-11-11 14:12] #6014 closed

[2022-11-11 14:12] #6045 closed

[2022-11-11 15:54] deivid-rodriguez opened #6110 "Review and unify shelling-out logic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

Our usage of `Open3.capture2e` which returns the full stdout+stderr of the subprocess can cause bugs where warnings from the package manager could leak into manifest files.

In #6103 I proposed a focused fix for the one instance of this bug we got reported, but this problem is lik

[2022-11-11 16:32] deivid-rodriguez commented on #6090
I deployed a fix for this, commenting `@dependabot recreate` on https://github.com/Taxel/PlexTraktSync/pull/1175, so fix your PR!

[2022-11-11 18:05] #5862 closed

[2022-11-12 01:54] #6041 closed

[2022-11-13 21:55] deivid-rodriguez commented on #4480
Hi @lorengordon!

Could you clarify why you did not expect an update? Were you expecting only update to the sha256 if that changes, but nothing else?

I guess we could somehow support that, but in principle this seems to me like the expected behavior for most?

[2022-11-13 22:01] deivid-rodriguez commented on #4085
Hei! Sorry we didn't get to this before. This will be fixed by #6115!

[2022-11-13 22:02] deivid-rodriguez commented on #5758
I completely forgot about this 🙏! Opened a PR to fix this now at #6115.

[2022-11-13 22:32] deivid-rodriguez commented on #2179
Pretty sure this was actually fixed by https://github.com/dependabot/dependabot-core/pull/5560, so let me close this. If still happening, please reopen!

[2022-11-13 22:32] #2179 closed

[2022-11-13 22:39] deivid-rodriguez commented on #2006
I think this was actually fixed by https://github.com/dependabot/dependabot-core/pull/5560, so let me close this. If still happening, please reopen!

[2022-11-13 22:39] #2006 closed

[2022-11-13 22:45] deivid-rodriguez commented on #4480
Yeah, pretty sure what you are requesting is a duplicate of #1971, so let me close this in favor of that issue.

Also, the good news is that we have the `version-update:semver-major` that should do what you want. The bad news is that it's not yet working but I'm hoping that #6115 will fix it.

Please subscribe to the mentioned issue and PR :)

[2022-11-13 22:45] #4480 closed

[2022-11-13 22:46] deivid-rodriguez commented on #1971
I think the `version-update:ignore-major` ignore configuration should be the right option for this. I expect #6115 to get that working 💪.

[2022-11-13 22:50] deivid-rodriguez commented on #1708
Just tried this and got the expected result I think

[code]

So it sounds that we have fixed this :)

Please reopen if this is not the case 🍻.

[2022-11-13 22:50] #1708 closed

[2022-11-13 23:02] deivid-rodriguez commented on #1604
I think this should be handled by either https://github.com/dependabot/dependabot-core/issues/4329 or https://github.com/dependabot/dependabot-core/issues/5708.

Not sure but I guess we should keep both of the above, because while I consider #4329 a feature request ("I want to get updates for both versions"), #5708 feels more like a bug ("If a tag contains two versions, I get no updates").

This o

[2022-11-13 23:02] #1604 closed

[2022-11-13 23:05] deivid-rodriguez commented on #4078
Hello! I don't understand this feature request very well. Can you describe an example in terms of "original Dockerfile" and "expected updated Dockerfile"? Thanks!

[2022-11-13 23:07] deivid-rodriguez commented on #3933
Hi! Just run into this myself, annoying indeed 😅.

I will provide a PR shortly, stay tuned!

[2022-11-14 05:48] ojab commented on #4078
Syntax sets docker frontend image that is used for `Dockerfile` parsing, all the images are in docker hub https://hub.docker.com/r/docker/dockerfile. So `Dockerfile` with
[code]
after `docker/dockerfile:1.2.2` is released should be updated to
[code]
ideally the same for labs, e. g.
[code]

[2022-11-14 08:13] sigurdm opened #6121 "Support for private repositories for pub"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Support for private repositories for pub

When enabling dependabot support for a pub project there should be a way to configure the credentials for accessing private third-party repositories.

From discussion here: https://github.com/orgs/community/discussions/14200#discussioncomment-40507

[2022-11-14 08:16] sigurdm commented on #6121
Re mirroring:

A third party repository at <url> can be set up to mirror the official repository pub.dev.

In that case one would like to run the resolution with the environment variable `$PUB_HOSTED_URL` set to <url>, that will then be used as the default url for fetching packages.

[2022-11-14 08:25] sigurdm commented on #6121
cc @jonasfj

[2022-11-14 09:55] deivid-rodriguez commented on #4078
Aaaah I see, thanks for clarifying!

[2022-11-14 10:51] flovogt opened #6122 "Allow customizable prefix delimiter in commit_message_options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

In https://github.com/dependabot/dependabot-core/blob/cfeac129f37fceb8964534e481e4d816d9066b36/common/lib/dependabot/pull_request_creator/pr_name_prefixer.rb#L80 the colon is hard coded to be used as a delimiter for the prefix and the rest of the commit message.
There might be commit messa

[2022-11-14 10:52] flovogt commented on #6122
We were able to workaround the omitting option while adding a whitespace after the prefix string.

[code]

Sample project: https://github.com/flovogt/test-lib-gh/blob/main/.github/dependabot.yml

[2022-11-14 11:30] deivid-rodriguez opened #6123 "Flaky spec in `npm_and_yarn` ecosystem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

We have a flaky spec that I think it's frequent enough to warrant a tracking ticket.

https://github.com/dependabot/dependabot-core/actions/runs/3460877944/jobs/5777876307

Copying the output here for convenience in case the log expires

[code]

[2022-11-14 13:43] deivid-rodriguez commented on #6098
Hei! Thanks for the kind words!

I didn't read all in details, but this request _may be_ a duplicate of either https://github.com/dependabot/dependabot-core/issues/2980 or https://github.com/dependabot/dependabot-core/issues/2201?

[2022-11-14 14:21] konstantinwirz commented on #2824
any news on this topic?

[2022-11-14 15:03] devanubis opened #6124 "Pipenv version doesn't support categories"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

pip

### Package manager version

pipenv 2022.10.25

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus what

[2022-11-14 15:29] pavera commented on #6124
We are currently pinned to `2022.4.8` to maintain Python 3.6 support. I believe we made an attempt to allow newer pipenv versions for newer Python versions but were unable to get it to work correctly. I will make another attempt and document the findings here.

[2022-11-14 15:35] lascufa commented on #396
We are also looking forward to a feature which enables the customization of the dependabot branch name. The issue we have is that we create a lot of resources based on the branch name. Our dependabot builds fail, because resource names (e.g. included in domain names, in AWS resources, ...) are reaching the allowed byte limits.

For example a branch name like `dependabot-[unique ID]` where unique I

[2022-11-14 16:20] pavera commented on #6124
@deivid-rodriguez was already working on this: #6104. We have a number of tests that fail due to changes in pipenv args and error output. It looks like we're going to need to match pipenv version with each project since the output (lockfile format and errors) change between versions.

Unfortunately, I don't think this is trivial as each project might use a different method to bootstrap pipenv. Out

[2022-11-14 17:26] jeffwidman commented on #2804
@EwoutH the docs are also open source, feel free to open a PR to improve them. Look on any docs page for the button that says "Make a contribution" to edit that particular page.

[2022-11-14 17:28] jeffwidman commented on #6109
Thanks for circling back to let us know!

[2022-11-14 17:29] rafalp opened #6125 "./bin/docker-dev-shell error: "ERROR: '~ondrej' user or team does not exist.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

MacOS/Docker

### Package manager version

_No response_

### Language version

_No response_

### Manifest location and content before the Dependabot update

_No response_

### dependabot.yml content

_No response_

### Updated dependency

_No response_

### What you expected to see, versus

[2022-11-14 17:32] rafalp commented on #6125
I'm trying to dry-run dependabot locally on my MacOS to debug why it's no longer detecting dependencies for my python package. Readme says to run [bin/docker-dev-shell](https://github.com/dependabot/dependabot-core#dry-run-script) before running the dry-run script, but that one fails on docker image build:

[code]

[2022-11-14 17:59] Snailedlt commented on #2178
Would be neat if directory could take a list or an array of paths too...
maybe something like this?
[code]

[2022-11-14 18:47] mellodev commented on #1736
Is there any active development being done on this feature? It's been open for 2 years now and is the #2 thumbs-up issue now.

[2022-11-14 18:53] jeffwidman opened #6126 "Install Dart 2.18"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

https://github.com/dependabot/dependabot-core/blob/235cd665d940bb1cb200bc2cabf8ec3feaf1c54b/Dockerfile#L261

Dart 2.18 dropped a bit ago, we should bump to it.

[2022-11-14 19:45] jhutchings1 commented on #1736
@mellodev Thanks for checking in. This isn't on our list for this quarter as we deal with more urgent issues, but we will keep you all updated when this is at the top. In the meantime, please see my previous comment on how you can get the benefit of Dependabot alerts for pnpm. https://github.com/dependabot/dependabot-core/issues/1736#issuecomment-1272772849

[2022-11-14 19:54] MartinX3 commented on #1736
@mellodev just migrate to renovabot

They answer issue tickets / discussions quickly, the bot has many features and it almost automatically setup itself.

[2022-11-14 21:02] jeffwidman opened #6130 "Audit code for use of `Open3.capture2e()`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code improvement description

From https://github.com/dependabot/dependabot-core/pull/6103

I've only seen `stdout, _, process = Open3.capture3(env, command)` used in our code, but we should audit the code for any other usages of `Open3.capture2e` to see if we have risks of hitting this in other envs... and if

[2022-11-14 21:06] deivid-rodriguez commented on #6130
I actually opened #6110 which is basically the same thing?

[2022-11-14 21:09] jeffwidman commented on #6130
Ha, so you did! I'm still catching up on notifications and hadn't seen that. Thank you!

[2022-11-14 21:09] #6130 closed

[2022-11-14 21:14] jeffwidman opened #6131 "Validate SHA256Sum for Dart"
As of Dart 2.18 (not sure about earlier) the Dart project publishes SHA256 sums, so we should start validating those as part of our Dart installs:
* https://dart.dev/get-dart/archive
* https://github.com/dependabot/dependabot-core/pull/6129
* https://github.com/dependabot/dependabot-core/pull/6129/files#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557R263

This would make a gr

[2022-11-14 21:59] jeffwidman commented on #6108
Yep, thanks @TWiStErRob !

FWIW, This is definitely on our radar, it's a common request, and hopefully one we tackle in the not-too-distant-future. No promises though.

[2022-11-14 21:59] #6108 closed

[2022-11-15 00:19] yukal opened #6132 "Dependabot unsupported timezone: `"Europe/Kyiv"`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

npm

### Package manager version

6.14.16, 8.11.0, 8.19.2

### Language version

12, 14, 16, 18

### Manifest location and content before the Dependabot update

There is only one package.json file exists at the root of my project
https://github.com/yukal/experimentals/blob/dev/package.json

[2022-11-15 00:29] jeffwidman commented on #5889
Closing in favor of upstream.

[2022-11-15 00:29] #5889 closed

[2022-11-15 01:13] jeffwidman commented on #5917
Can this be closed now that #6042 is merged/deployed?

[2022-11-15 01:14] jeffwidman commented on #6027
@yarinsa nudge re: ☝️ ... does this now work as expected for you?

[2022-11-15 01:30] jeffwidman commented on #4993
Based on ☝️ I'm going to close this.

Given that you're effectively wanting the top-level file to change you need to tell Dependabot to start at that directory level... starting further down the tree won't work.

Many thanks @dennisMeeQ for chiming in here. 🎉

[2022-11-15 01:30] #4993 closed

[2022-11-15 04:27] yarinsa commented on #6027
@jeffwidman didnt got a chance to check it, I will check it today and let you know

[2022-11-15 06:31] jeffwidman commented on #5391
@jonasfj @sigurdm 👋 I'm planning to wire up security updates for Pub in the next few weeks.

Do you have interest/time to create a PR adding support for the smallest update / minimal version required to bump to a non-vulnerable version?

My focus will primarily be on wiring up the plumbing so that security alerts can trigger Dependabot PR's, so it's doubtful I'll have time to add a new version str

[2022-11-15 07:23] jeffwidman commented on #2217
I've enabled the feature flag on 100% of GitHub.com cloud repos, so anyone is now welcome to try this on their repos. If you run into any bugs, please file an issue.

[2022-11-15 07:27] jeffwidman commented on #6048
Resolved by #6096 and #6097

[2022-11-15 07:27] #6048 closed

[2022-11-15 07:49] Tripletri opened #6133 "Directory.Build.props with 'PrivateAssets' set to 'all' raises exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

nuget

### What you expected to see, versus what you actually saw

I am receiving exception while updating dependency.
[code]

### Smallest manifest that reproduces the issue

1. In repo root directory place `Directory.Build.props` with `<PrivateAssets>All</PrivateAssets>` for `PackageRefere

[2022-11-15 07:52] jeffwidman commented on #6047
I did some digging based on some internal alerts and noticed that there are a lot of repos configured for the `docker` check that check the `/` directory but don't have a Dockerfile in there. Given the volume of errors, its clear users are intuitively expecting that even for plain `Dockerfiles` that the check will be recursive.

[2022-11-15 08:22] jeffwidman commented on #6132
I just checked and the internal Dependabot API that handles the config file is using the timezone dataset provided by the Ruby gem: `"tzinfo-data", "1.2022.6"` https://github.com/tzinfo/tzinfo-data/releases/tag/v1.2022.6

It looks like the `Kyiv` spelling landed fairly only in August in `2022b`: https://stackoverflow.com/a/73709276/770425 but

Surprisingly however, the Ruby gem claims to pull in t

[2022-11-15 08:38] jeffwidman commented on #6133
👋 Sorry to hear you're having problems.

Unfortunately that traceback doesn't include any line numbers, so it's unclear which section of code is throwing problems.

Additionally, you're running this against `gitlab`... we're thrilled that that others are able to derive value from this, but support for GitLab is community driven and not something we can invest time into beyond reviewing PR's submit

[2022-11-15 08:51] fromi opened #6134 "Alerts on dependencies that I do not have in my project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

yarn

### Package manager version

yarn 1.22.19

### Language version

Node.js 16.17.1

### Manifest location and content before the Dependabot update

https://github.com/fromi/game-park/blob/master/yarn.lock

### dependabot.yml content

_No response_

### Updated dependency

Prototype pollu

[2022-11-15 10:55] devanubis commented on #6124
We're deploying through docker, so for us we just `pip install --upgrade pipenv` in our Dockerfile and in our CI environment.

[2022-11-15 15:46] TWiStErRob commented on #6108
btw, @jeffwidman, since #1190 is locked, people cannot upvote it anymore! 😞
... and https://github.com/github/roadmap/issues/148 is also restricted to collaborators.
cc @exvuma

[2022-11-15 16:59] Tripletri opened #6139 "Exception if 'Directory.Build.props' contains 'PropertyGroup' named 'PackageReference...'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

nuget

### dependabot.yml content

[code]

### What you expected to see, versus what you actually saw

Dependabot throws `undefined method 'attribute' for nil:NilClass` if `Directory.Build.props` contains `PropertyGroup` named `PackageReference*`. For example:
[code]

### Smallest manifest t

[2022-11-15 17:10] pavera commented on #6081
I've found the issue here, we set the mode on all files as part of the [PR creation](https://github.com/dependabot/dependabot-core/blob/main/common/lib/dependabot/pull_request_creator/github.rb#L196).

Working on a solution now.

[2022-11-15 17:11] Tripletri commented on #6133
I reproduced this bug using GitHub-dependabot #6139

[2022-11-15 17:11] #6133 closed

[2022-11-15 17:11] jeffwidman commented on #1190
Unlocking by request so that folks can upvote this as a feature request.

Feel free to leave comments that meaningfully add to the conversation, but avoid comments like "bump" or "we need this" or "is there an update / ETA?" as they waste everyone else's time.

At this time there is no ETA, but I will say we are _fully_ aware this is a high-value feature, and although it could be quarters or years

[2022-11-15 17:13] jeffwidman commented on #6108
Thanks, I unlocked https://github.com/dependabot/dependabot-core/issues/1190#issuecomment-1315623277, hopefully the conversation stays polite and we can leave it that way.

For the roadmap, well, _exvuma has moved on from GitHub and I don't have access to editing that roadmap issue either, so for now we'll just direct folks to subscribe to #1190.

[2022-11-15 17:15] saiichihashimoto commented on #1190
@jeffwidman definitely agree with not "bumping" the convo but it becomes unavoidable when a stale bot that goes off of activity will close the ticket otherwise.

[2022-11-15 17:15] #1644 closed

[2022-11-15 17:16] patrick91 commented on #1190
I don't think if this has been mentioned already, but I think it would be nice to have grouped updates by “topic”, for example I'd love to get grouped updates for dev dependencies, but not for prod ones. Or a group for types dependencies (for TS and Python)

[2022-11-15 17:17] stevehipwell opened #6140 "Private git registry for GitHub breaks any updates referencing it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Package ecosystem

github-actions, terraform

### Package manager version

n/a

### Language version

n/a

### Manifest location and content before the Dependabot update

n/a

### dependabot.yml content

version: 2

registries:
  github:
    type: git
    url: https://github.com
    username: x-access-token

[2022-11-15 17:41] deivid-rodriguez commented on #1985
Hi, sorry for the delay.

This is probably working fine now, please double check.

If not, what's the original content of the `actions/checkout` line in the workflow?

[2022-11-15 17:44] jeffwidman commented on #6133
Thank you! That's much more helpful/clear, especially with the test repo.

[2022-11-15 17:47] deivid-rodriguez commented on #5421
@yubiuser Can you check again? I think #6052 should've fixed this.

[2022-11-15 17:49] deivid-rodriguez commented on #6011
Hei!

This is a duplicate of https://github.com/dependabot/dependabot-core/issues/3750, and there's a WIP PR that I expect will fix this: #6082.

Please upgrade to the referenced issue and PR for updates, thanks :)

[2022-11-15 17:49] #6011 closed

[2022-11-15 18:39] deivid-rodriguez commented on #6015
Hei! Indeed `github_actions` is not allowed as a type, but Actions are backed by a git repository, so you should be able to configure a `git` source to do what you want.

Let me know how that works!

[2022-11-15 18:41] deivid-rodriguez commented on #5017
#5963 is now ready, so this should get fixed soon 👍.

[2022-11-15 18:50] martincostello commented on #6015
The `uses` documentation doesn’t seem to state that a full GitHub host name can be specified ahead of the repo user|org/name value.

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsuses

That also seems like _a lot_ of additional configuration to have to hardcode the URL of the GHES appliance itself running the jobs into every single step of eve

[2022-11-15 18:54] deivid-rodriguez commented on #6015
Sorry, I didn't explain why I mean correctly. I meant that you should be able to configure a [git registry](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#git) for your GHES instance.

[2022-11-15 19:21] Okeanos commented on #6015
Yeah … I am firmly with @martincostello in spirit. A good user (developer) experience looks way different from is proposed here. The Git repository declaration may be useful as workaround for now but – within a GHES environment – having to constantly work around weird edge cases in Dependabot limitations (see for example #1884, #1959) is really frustrating. Especially because Dependabot is suppose

[2022-11-15 19:44] deivid-rodriguez commented on #6015
Just trying to help here, apologies if my suggestions don't fulfill your expectations.

Please help me understand what's being requested here.

Is it to, instead of writing

[code]

be able to write

[code]
?

[2022-11-15 19:52] martincostello commented on #6015
The built-in Dependabot integration for GHES already doesn't need to be configured with authentication for cloning repositories or raising pull requests, so I wouldn't expect to need to tell it how to authenticate with the GHES appliance itself and could discover for itself whether fetching GitHub Actions from the internet is allowed at all.

Ideally, something as minimal as this _if_ Dependabot n

[2022-11-15 20:06] deivid-rodriguez commented on #6015
Ok!

I completely lack experience on GHES so let me check with the rest of the team and I'll get back 👍.

[2022-11-15 20:14] jsoref commented on #1985
(I'm pretty sure I actively lost the identity of the original request's repository, and I'm not sure I could find one that's currently behind for that action...)

Hi @deivid-rodriguez, here's an example from the last 24 hours (I think):
[code]

This is technically an improvement over the originally reported behavior..

It'd be nice if this change be applied if you could:
[code]
i.e. the floating `

[2022-11-15 20:42] deivid-rodriguez commented on #1985
Is this correct? What's the current version in your workflow?

I created a WIP for the message tweak although not fully sold this is worth changing: https://github.com/dependabot/dependabot-core/pull/6143.

[2022-11-15 20:58] yubiuser commented on #5421
It's actually hard to tell. I've a private test repo with multiple workflows using `actions/checkout` at various different outdated versions. Dependabot created a PR already 1 month ago to update all of the actions to the latest version (`3.1.0`).

However, when I manually trigger a dependabot check I still get this output

[code]

[2022-11-15 21:03] deivid-rodriguez commented on #5421
I that may be because of https://github.com/dependabot/dependabot-core/issues/3750?

[2022-11-15 21:17] jsoref commented on #1985
I don't have a workflow. We're using the `/network/updates/` endpoint.

[2022-11-15 21:24] yubiuser commented on #5421
I think this are two distinct issues. The one you linked happens when multiple instances with different versions are used and dependabot did not check for updates for the lower/lowest version.
However, in my case it's simply returning a false `Latest version` (it's not even the same reference style  - I use tags, it's returning a hash). `61b9e3751b92087fd0b06925ba6dd6314e06f089` is from 2020, wher

[2022-11-15 21:32] big-andy-coates commented on #6098
Thanks @deivid-rodriguez. That second issue looks close.

[2022-11-15 21:32] #6098 closed

[2022-11-15 21:37] big-andy-coates commented on #2980
The limiting factor here is obviously the non-deterministic `update_config_id`.

Would it be possible to make this deterministic?

Maybe accepting an `id` field in the dependabot yml file?

If it's a deterministic url, then it would be easy enough for community members to create GitHub actions, etc.

[2022-11-15 21:54] deivid-rodriguez commented on #1985
Mmmm, I don't get it. Dependabot needs some dependency files to update, it should be picking that v0 from somewhere 😅.

In any case, I see that the action you're using has a [v0 tag](https://github.com/google-github-actions/auth/releases/tag/v0), so this looks correct now!

Closing as fixed, but let me know if you still have issues!

[2022-11-15 21:54] #1985 closed

[2022-11-15 21:57] deivid-rodriguez commented on #5421
Oh, ok, I misunderstood that you were actually using `actions/checkout` in multiple workflows with different outdated versions.

Can you try creating a public repository with the same `checkout` usages so that I can reproduce this?

[2022-11-15 22:03] deivid-rodriguez commented on #6098
We do care about old issues and we'll make sure to post any updates in there 👍.

[2022-11-15 22:03] Plasma commented on #1190
Grouped updates would definitely improve the usefulness of Dependabot, at the moment I’m updating dependencies manually ahead of Dependabots scheduled check to not have many PRs that aren’t mergable on their own, as dependencies rely on each other.

Perhaps an option to specify a set of wildcard namespaces (eg Amazon.*) that cause matching updates to be grouped together.

[2022-11-15 22:23] sirosen commented on #1190
There's a special case of grouped updates which seems simpler than a more configurable and generalized feature.

Many dependency managers, like bundler for ruby or poetry for python, pair "true requirements data" (`Gemfile`, `pyproject.toml`) with a generated lockfile (`Gemfile.lock`, `poetry.lock`) which pins the exact package versions. In this case, the update action could just be to run the rel

[2022-11-15 22:46] jonasfj commented on #5391
Hmm, I'll chat with sigurdm@ when he is back tomorrow.

I think we had a plan to do sometime. But there is lots of balls in the air -- as always. And its been some time.
I don't recall if we figured out how we were supposed to integrate/expose a new upgrade strategy.

@sigurdm as I recall we were thinking of increasing the lower bound constraint in-memory and then doing a downgrade solve.. or some

[2022-11-15 22:48] davidism commented on #1190
Is there somewhere less noisy we can follow if we just want to know when some form of grouped updates is implemented?

[2022-11-15 23:35] nbarbettini commented on #1190
@davidism To my knowledge, this public roadmap item still represents this feature: https://github.com/github/roadmap/issues/148

[2022-11-16 03:36] pavera commented on #5978
Had a chance to do some testing today. It looks like if the version in package.json starts with a non-digit ie 'latest', '^', '~', '<' I should use `-R`, if it starts with a digit I need to run without `-R`. I'll have a PR up shortly to implement this logic. Let me know if you can think of places where this logic falls down? Basically if there is a resolution that needs to take place, I need to ru

[2022-11-16 05:14] jinlinux commented on #1736
Anyone had any luck implementing this? My github action is successful but can't see any snapshot dependecies on the repo.

[code]

[2022-11-16 05:42] jhutchings1 commented on #1736
Is the dependency graph enabled? Happy to take a look if it's a public repo.

[2022-11-16 05:55] jinlinux commented on #1736
Thanks unfortunately it is a private repo.

Dependency graph is enabled and there are dependencies being picked up from package.json.
Not sure where to find the uploaded dependencies or how to troubleshoot it though.

[2022-11-16 06:16] jhutchings1 commented on #1736
Thanks for confirming. It could be an issue with the API. Do you mind opening a support ticket so we can dig into the details privately?

[2022-11-16 06:29] bmulholland commented on #5978
Oh, actually, maybe the use of `-R` should also take into account the [versioning strategy](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#versioning-strategy)? Use `-R` when versioning-strategy is `lockfile-only`, and no `-R` (so it updates package.json) when the versioning strategy isn't that?

[2022-11-16 07:43] yarinsa commented on #6027
Looks good!

[2022-11-16 07:43] #6027 closed

[2022-11-16 12:04] mbiggs-gresham commented on #4669
Can someone please confirm where the `.npmrc` file should actually live in the repo? We have several projects within the same repo. Some java, some react. We place the `.npmrc` file within the react project (/ui subfolder) but we still get PR's raised with the wrong url.

[2022-11-16 12:43] MrKevinWeiss opened #6147 "Support for python VCS package version update triggers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

Hey everyone :wave:

Dependabot seems really great and a nice way to reduce the overhead of using many separate repos.  I have been struggling to find some information on how to resolve python packages that do not exist on pypi.

For example, if I have a `requirement.txt` or `Pipfile` or s

[2022-11-16 16:27] lcooper01 commented on #5758
@deivid-rodriguez
thanks so much for putting together the PR, do you know when its scheduled to be merged ?

[2022-11-16 16:29] deivid-rodriguez commented on #5758
I still want to try tweak it a bit to make it less invasive, will make it as ready after that and once it gets approved I'll merge it.

[2022-11-16 17:58] jsoref opened #6148 "Provide api access for equivalent of :GITHUB_SERVER_URL/:OWNER/:REPO/network/updates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

#3080 asked for a way to bump dependencies.

I'd just like to get access to all of the dependency update logs for my org. -- I hit a bug https://support.github.com/ticket/personal/0/1879837 and it seems the best thing I could do would be to poll all of my org's repositories for the /networ

[2022-11-16 18:19] deivid-rodriguez commented on #4031
Yeah, we believe root cause was fixed but could never reliably reproduce the issue, so we were not fully sure. But nobody has reported this issue again, so I guess we can go ahead and close this. I'll take my chances and do that but feel free to reopen if I'm wrong!

[2022-11-16 18:19] #4031 closed

[2022-11-16 18:24] jsoref commented on #5777
So, w/ https://github.blog/changelog/2022-05-11-default-to-pr-titles-for-squash-merge-commit-messages/
You could select:

- [x] Allow squash merging
        Default message: Default to pull request title

And then use:
[code]

[2022-11-16 18:34] deivid-rodriguez commented on #5917
Yeah, there's still another issue that I mentioned at https://github.com/dependabot/dependabot-core/issues/5917#issuecomment-1282272289, but I'll move that upstream. Thanks for the remainder!

[2022-11-16 18:34] #5917 closed

[2022-11-16 21:23] eli-gc opened #6151 "Don't bump to preview versions of dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature description

I could not find a way to ignore preview versions of dependencies using dependabot for gradle.
The specific package in question is [mssql-jdbc](https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc).

I tried to use various permutations of wildcards in version types in the

[2022-11-16 22:48] jeffwidman commented on #6132
So I found an internal place where we're hardcoding the list of timezones, and that's likely why this isn't getting picked up. I filed an internal ticket for myself to remove the hardcoding... it'll probably take a week or two before I get time to tackle it though.

[2022-11-16 22:58] jeffwidman commented on #6151
You're right this is a bug.

Typically for most ecosystems we try to avoid updating from _normal_ versions to _preview_ versions. Only if you're already on a preview version will dependabot-core resolve to a new preview version.

I suspect this just hasn't been implemented within the dependabot-core code that supports the Gradle ecosystem. At a broader level, our Gradle resolver is mostly Ruby and

[2022-11-16 23:00] jeffwidman commented on #6148
Thanks, this is a very reasonable feature request..

[2022-11-16 23:11] melink14 commented on #5234
Wait, it seems that the 'fix' was to prevent new PRs from being opened when an existing PR was closed/merged.

While that does make this issue obsolete it seems like a move in the wrong direction. Now, with a daily Dependabot run and a limit of one PR at a time, I might never have a fully up-to-date repo. It was easy to automate having dependabot rebase out of date merges so it seems like a big ha

[2022-11-16 23:12] melink14 commented on #4031
It does fix the issue but also makes the 1 PR at a time usecase not useful. Posted full comment at the other issue: https://github.com/dependabot/dependabot-core/issues/5234#issuecomment-1317799375

[2022-11-16 23:19] #6126 closed

[2022-11-16 23:23] melink14 commented on #2323
Since by default Dependabot will automatically rebase out of date PRs, this would probably only work if you also updated Dependabot with `rebase-strategy: "disabled"`

[2022-11-16 23:35] pavera commented on #6147
Unfortunately pip itself has been changed and no longer parses versions from VCS requirements in a `requirements.txt` file. This prevents us from being able to accurately compare versions to determine if an update is needed.

I would recommend investigating `pipenv/Pipfile` or `poetry` though I don't know if those will work either, only that Dependabot does not currently support updating VCS depen